:local .frame {
  border-style: none;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

:local .loadingComponent {
  color: #eeeeee;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
}

:local .panelTitle {
  /* Using important to override the global react-bootstrap style */
  background-color: #fbfbfb !important;
}

:local .panelFooter {
  /* Using important to override the global react-bootstrap style */
  background-color: #fbfbfb !important;
}

:local .tinyLine {
  margin: 0;
  padding: 0;
}
