{% extends "index.html" %}

{% block customcss %}
{% assets filters="scss,cssmin", output="static/css/solutions.min.css", "css/custom/pages/solutions.scss" %}
	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %} 
{% endblock customcss %}

{% block title %}{{ SITENAME }} - {{ gettext('Solutions') }}{% endblock title %}

{% block header %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="ico-left ico ico-solutions">
					Soluciones
				</h1>
			</div>
		</div>
	</div>
{% endblock header %}

{% block content %}

<!-- SVG ..................................................... -->
<div class="hidden">
	<div class="hexagon-white">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 125.35 108.56">
			<polygon points="94.02 0 31.33 0 0 54.28 31.33 108.56 94.02 108.56 125.35 54.28 94.02 0"/>
		</svg>
	</div>
	<div class="hexagon-gradient">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 125.35 108.56">
			<polygon class="svg-gradient" points="94.02 0 31.33 0 0 54.28 31.33 108.56 94.02 108.56 125.35 54.28 94.02 0"/>
		</svg>
	</div>
</div>
<!-- ......................................................... -->

<div class="wrapper">
	
	<!-- OUR SERVICES ............................................ -->

	<section class="our-services">
		<div class="page container">
			<div class="row">
			
				<div class="col-12 col-lg-7">
					<figure class="icon-page">
						<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/figure.png" alt="Servicios" class="img-fluid" />
					</figure>
				</div>
				<div class="col-12 col-lg-5">
					<h1 class="ico ico-top ico-our-services">
						OUR SERVICES
					</h1>
					<p>
						Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias cuando un impresordesconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro.
					</p>
				</div>

			</div>
		</div>
	</section>

	<!-- ......................................................... -->

	<section class="column-services">
		<div class="container">
			<div class="row">
				<div class="row text-center justify-content-center">
					<div class="col-11 col-md-10 col-lg-4 card-column">
						<div class="col-md-12 card card-green">
							<a href="{{ SITEURL }}{{ gettext('/solutions') }}/ethical-hacking-infraestructura">
								<figure class="mar-0-auto">
									<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/home/ico-infraestructure.png" alt="Ethical Hacking de Infraestructura"/>
								</figure>
								<h4>
									ETHICAL HACKING <span>DE INFRAESTRUCTURA</span>
								</h4>
								<p>
									Realizar pruebas sobre la infraestructura que soportan los sistemas (Servicios de red/SO)
								</p>
							</a>
						</div>
					</div>
					<div class="col-11 col-md-10 col-lg-4 card-column">
						<div class="col-md-12 card card-purple">
							<a href="{{ SITEURL }}{{ gettext('/solutions') }}/ethical-hacking-aplicacion">
								<figure class="mar-0-auto">
									<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/home/ico-application.png" alt="Ethical Hacking de Aplicación"/>
								</figure>
								<h4>
									ETHICAL HACKING <span>DE APLICACIÓN</span>
								</h4>
								<p>
									Identificar vulnerabilidades en las aplicaciones (web/móvil) y los servicios (web services) 
								</p>
							</a>
						</div>
					</div>
					<div class="col-11 col-md-10 col-lg-4 card-column">
						<div class="col-md-12 card card-blue">
							<a href="{{ SITEURL }}{{ gettext('/solutions') }}/analisis-codigo-fuente">
								<figure class="mar-0-auto">
									<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/home/ico-code.png" alt="Análisis de código fuente"/>
								</figure>
								<h4>
									ANÁLISIS DE <span>CÓDIGO FUENTE</span>
								</h4>
								<p>
									Detectar problemas de seguridad directamente desde el desarrollo
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ......................................................... -->

	<!-- HOW WE DO IT ............................................ -->

	<section class="how-we-do-it">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center text-white">
						Como lo hacemos
					</h1>
				</div>
			</div>				
			<div class="row justify-content-md-center">
				<div class="column">
					<div class="block text-center">
						<figure>
							<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/column-sector.png" alt="Por sector" />
						</figure>
						<h5>Por sector</h5>
						<p>
							Lorem Ipsum white-box methodology or code review, either on each application.
						</p>
						<a class="btn btn-green display-hwdi-content active" data-display=".by-sector" href="javascript:;">{{ gettext('See more') }}</a>
					</div>
				</div>
				<div class="column">
					<div class="block text-center">
						<figure>
							<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/column-experience.png" alt="Por experiencia" />
						</figure>
						<h5>Por experiencia</h5>
						<p>
							Lorem Ipsum white-box methodology or code review, either on each application.
						</p>
						<a class="btn btn-green display-hwdi-content" data-display=".by-experience" href="javascript:;">{{ gettext('See more') }}</a>
					</div>
				</div>
				<div class="column">
					<div class="block text-center">
						<figure>
							<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/column-methodology.png" alt="Metodología" />
						</figure>
						<h5>Metodología</h5>
						<p>
							Lorem Ipsum white-box methodology or code review, either on each application.
						</p>
						<a class="btn btn-green display-hwdi-content" data-display=".methodology" href="javascript:;">{{ gettext('See more') }}</a>
					</div>
				</div>
			</div>

		</div>
	</section>

	<!-- ......................................................... -->
	
	<div class="how-we-do-it-parent">

		<!-- BY SECTOR ............................................... -->

		<section class="by-sector how-we-do-it-content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center">
							Por sector
						</h1>
					</div>
				</div>		

				<div class="row justify-content-center">
					<div class="col-md-8">
						<div class="row wrapper-xp-icon justify-content-around">
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/financial" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-financial.png" alt="Financiero"/>
									</figure>
									<h4>
										SECTOR <span>FINANCIERO</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/communication" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-communication.png" alt="Comunicaciones" />
									</figure>
									<h4>
										COMUNICACIONES
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/commercial" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-commercial.png" alt="Sector comercial" />
									</figure>
									<h4>
										SECTOR <span>COMERCIAL</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/technology" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-technology.png" alt="Tecnología" />
									</figure>
									<h4>
										TECNOLOGÍA
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/energetic" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-energetic.png" alt="Sector energético"/>
									</figure>
									<h4>
										SECTOR <span>ENERGÉTICO</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/industrial" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-industrial.png" alt="Sector industrial" />
									</figure>
									<h4>
										SECTOR <span>INDUSTRIAL</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/transport" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-transport.png" alt="Sector transporte" />
									</figure>
									<h4>
										SECTOR <span>TRANSPORTE</span>
									</h4>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ......................................................... -->

		<!-- BY EXPERIENCE ........................................... -->

		<section class="by-experience how-we-do-it-content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center">
							Por experiencia
						</h1>
					</div>
				</div>		

				<div class="row justify-content-center">
					<div class="col-md-8">
						<div class="row wrapper-xp-icon justify-content-around">
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis/web-apps" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-web-app.png" alt="Aplicaciones Web"/>
									</figure>
									<h4>
										APLICACIONES <span>WEB</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis/mobile-apps" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-mobile-app.png" alt="Aplicaciones móviles"/>
									</figure>
									<h4>
										APLICACIONES <span>MÓVILES</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis/cloud" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-cloud.png" alt="Cloud"/>
									</figure>
									<h4>
										INFRAESTRUCTURA <span>EN LA NUBE</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis/corporative-infrastructure" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-corporative.png" alt="Infraestructura corporativa"/>
									</figure>
									<h4>
										INFRAESTRUCTURA <span>CORPORATIVA</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis/critical-infrastructure" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-critical.png" alt="Infraestructura crítica"/>
									</figure>
									<h4>
										INFRAESTRUCTURA <span>CRÍTICA</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis/iot" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-iot.png" alt="IOT"/>
									</figure>
									<h4>
										IOT
									</h4>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ......................................................... -->

		<!-- METHODOLOGY ............................................. -->

		<section class="methodology how-we-do-it-content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center">
							Metodología
						</h1>
					</div>
				</div>		

				<div class="row justify-content-center">
					<div class="col-md-8">
						<div class="row wrapper-xp-icon justify-content-around">
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/project-methodology" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-by-project.png" alt="Aplicaciones Web" />
									</figure>
									<h4>
										METODOLOGÍA <span>POR PROYECTO</span>
									</h4>
								</a>
							</div>
							<div class="col-12 col-sm-6 col-lg-4">
								<a href="{{ SITEURL }}{{ gettext('/solutions') }}/concurrent-methodology" class="xp-icon">
									<figure>
										<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/icons-85/icon-concurrent.png" alt="Aplicaciones Móviles" />
									</figure>
									<h4>
										METODOLOGÍA <span>CONCURRENTE</span>
									</h4>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>


	<section class="products">
		<div class="absolute-this">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-5">
						<h1 class="ico ico-top ico-our-services">
							PRODUCTOS
						</h1>
						<p>
							Using a white-box methodology or code review, either 
							on each application or the complete suite of applications
						</p>
						<div class="row">
							<div class="col-md-6">
								<a id="btn-fluidintegrates" href="{{ SITEURL }}{{ gettext('/solutions') }}/products/integrates" class="btn btn-green max-wid-100-p">FluidIntegrates</a>
							</div>
							<div class="col-md-6">
								<a id="btn-fluidasserts" href="{{ SITEURL }}{{ gettext('/solutions') }}/products/asserts" class="btn btn-white text-green max-wid-100-p">FluidAsserts</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="d-flex justify-content-center justify-content-lg-end">
			<div class="col-12 col-lg-6">
				<div class="wrapper-products-carousel">
					<div class="row">
						<div class="col-md-12 pad-0">
							<div id="product-carousel" class="product-carousel owl-carousel owl-theme text-center">
								<div class="item">
									<div class="item-content">
										<div class="graphic">
											<div> 
												<figure>
													<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/products-fluidasserts.png" alt="Fluidintegrates"/>
												</figure>
												<span>FLUIDINTEGRATES</span>
											</div>
										</div>
										<p class="reading">
											Using a white-box methodology or code review, either on each application or the complete suite of applications.
										</p>
									</div>
								</div>
								<div class="item">
									<div class="item-content">
										<div class="graphic">
											<div>
												<figure>
												<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/products-fluidasserts.png" alt="Fluidasserts"/>
												</figure>
												<span>FLUIDASSERTS</span>
											</div>
										</div>
										<p>
											Using a white-box methodology or code review, either on each application or the complete suite of applications.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center text-green ico ico-top ico-testimonials">
						Testimonnials
					</h1>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-10">
					<a class="testimonial-carousel-back" href="javascript:;">
						<figure>
							<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/about-us/carousel-controls-back-green.png" alt="Atrás"/>
						</figure>
					</a>
					<a class="testimonial-carousel-next" href="javascript:;">
						<figure>
							<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/about-us/carousel-controls-next-green.png" alt="Siguiente"/>
						</figure>
					</a>
					<div id="testimonial-carousel" class="testimonial-carousel owl-carousel owl-theme text-white">
						<div class="item">
							<div class="item-content">
								<div class="row"> 
									<div class="col-12 col-lg-2 d-flex align-items-center justify-content-center"> 
										<figure class="picture">
											<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/testimonials/picture-1.jpg" alt="Foto"/>
										</figure>
									</div>
									<div class="col-12 col-lg-10">
										<p>
											FLUID has 15 years of experience providing different types of security services to various companies in the financial, insurance, telecommunications, energy and retail sectors; we have worked with government institutions as well. 
										</p>
										<div class="name">
											<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/testimonials/icon-name.png" alt="Nombre"/>
											Daniel Henao Ramírez
										</div>
										<div class="date">
											<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/testimonials/icon-date.png" alt="Fecha"/>
											2017 / 04 / 04
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="item-content">
								<div class="row"> 
									<div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
										<figure class="picture">
											<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/testimonials/picture-1.jpg" alt="Foto"/>
										</figure>
									</div>
									<div class="col-12 col-lg-10">
										<p>
											FLUID has 15 years of experience providing different types of security services to various companies in the financial, insurance, telecommunications, energy and retail sectors; we have worked with government institutions as well. 
										</p>
										<div class="name">
											<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/testimonials/icon-name.png" alt="Nombre"/>
											Daniel Henao Ramírez
										</div>
										<div class="date">
											<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/testimonials/icon-date.png" alt="Fecha"/>
											2017 / 04 / 04
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="item-content">
								<div class="row"> 
									<div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
										<figure class="picture">
											<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/testimonials/picture-1.jpg" alt="Foto"/>
										</figure>
									</div>
									<div class="col-12 col-lg-10">
										<p>
											FLUID has 15 years of experience providing different types of security services to various companies in the financial, insurance, telecommunications, energy and retail sectors; we have worked with government institutions as well. 
										</p>
										<div class="name">
											<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/testimonials/icon-name.png" alt="Nombre"/>
											Daniel Henao Ramírez
										</div>
										<div class="date">
											<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/testimonials/icon-date.png" alt="Fecha"/>
											2017 / 04 / 04
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page container">
			<div class="row">
				<div class="col-md-7">
					<figure class="icon-page">
						<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/solutions/figure-survey.png" alt="Encuesta"/>
					</figure>
				</div>
				<div class="col-md-5">
					<h1 class="ico ico-top ico-survey">
						ENCUESTA DE<br/>SATISFACCIÓN
					</h1>
					<p>
						Using a white-box methodology or code review, either on each application or the complete suite of applications we detect security issues:
					</p>
					<a href="javascript:;" class="btn btn-green max-wid-100-p">Cuéntanos qué opinas</a>
				</div>
			</div>
		</div>
	</section>

</div>

{% endblock content %}

{% block javascript %}
	<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/owl.carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/custom/solutions.js"></script>
{% endblock javascript %}