{% extends "index.html" %}

{% block title %}{{ SITENAME }}&nbsp;|&nbsp; {{ article.title }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    {% include "navigationbar.html" %}
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
            <a href="/"><img src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png'></a>
    {% endif %}   
        </header>
{% endblock header %}

{% block content %}
    <!-- Post Content -->
  <div id="divarticle">
    <article>
        <h1>{{ article.title }}</h1>
        {% if article.headline %}
            <h3 class="subheading">{{ article.headline }}</h3>
        {% endif %}
        <span class="meta">
            {% for author in article.authors %}
                <img src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/user.png'><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}<br/>
                <img src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/comment.png'><a href="./#disqus_thread">Deja un comentario</a><br/>
                <img src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/folder.png'><a href="/category/{{ article.category }}.html">{{ article.category }}</a><br/>
	        <img src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/calendar2.png'><a href>{{ article.locale_date }}</a><br/>
        </span>
        {% if article.modified %}
            <span class="meta">Updated on {{ article.locale_modified }}</span>
        {% endif %}
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
        {{ article.content }}	
 
 <p><img id="imgwriter" src="/images/authors/{{article.writer}}.png">
  <strong class="writer">
    <a href="{{ SITEURL }}/{{ article.author.url }}"><span>{{article.name}}</span></a>
  </strong><br>{{article.about1}}
  <br>{{article.about2}}
</p>
		
<hr>
{% if article.share_post and article.status != 'draft' %}
<section>
    <p id="post-share-links">
	<h4>Compártelo:</h4>	
        <a href="{{article.share_post['linkedin']}}" target="_blank" title="Haz click para compartir en Linkedin"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social-media/linkedin.png"/></a>
        <a href="{{article.share_post['twitter']}}" target="_blank" title="Haz click para compartir en Twitter"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social-media/twitter.png"/></a>
        <a href="{{article.share_post['facebook']}}" target="_blank" title="Haz click para compartir en Facebook"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social-media/facebook.png"/></a>
        <a href="{{article.share_post['google-plus']}}" target="_blank" title="Haz click para compartir en Google Plus"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social-media/gplus.png"/></a>
        <a href="javascript:window.print()" target="_self" title="Haz click para imprimir"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social-media/print.png"/></a>
    </p>
</section>		
{% endif %}
<hr>
 {% if article.related_posts %}		
<h4>Relacionado</h4>
<section class="related">
    <table><tr>
    {% for related_post in article.related_posts %}
        <td>	
	  <img src="{{ SITEURL }}/{{ related_post.featured_image }}"> 
	  <a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a>
	</td>
    {% endfor %}
    </tr></table>
</section>
{% endif %}
<hr>
 {% if article.tags %}
 <section>
        <div class="tags">
            <p>{% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
            {% if not loop.last %}&nbsp;&nbsp;{% endif %}{% endfor %}</p>
        </div>
</section>
{% endif %}
<br />
<table class="next" id="tblnext">
 <tr>
 {% if article.prev_article %}
     <td id="prev">
        <div><a href="{{ SITEURL }}/{{ article.prev_article.url}}">
             << {{ article.prev_article.title }}
		</a></div>
     </td>
 {% endif %}
 {% if article.next_article %}
     <td id="next">
         <div><a href="{{ SITEURL }}/{{ article.next_article.url}}">
             {{ article.next_article.title }} >>
		 </a></div>
      </td>
 {% endif %}
</table>
<br /><br />		
<hr id="hrcoments">
{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
        <div class="comments">
            <h3>Haz un comentario</h3>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '{{ DISQUS_SITENAME }}';
                var disqus_identifier = '{{ article.url }}';
                var disqus_url = '{{ SITEURL }}/{{ article.url }}';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the comments.</noscript>
        </div>
    {% endif %}
	</article>
        </div>	
{% endblock content %}

