{% extends "index.html" %}

{% block title %}{{ SITENAME }}&nbsp;|&nbsp; {{ article.title }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    {% include "navigationbar.html" %}
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header"> <!--style="background-image: url('/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
            <a href="../../"><img src="../../{{ THEME_STATIC_DIR }}/images/fluid.png"></a>
    {% endif %}   
        </header>
{% endblock header %}

{% block content %}
    <!-- Post Content -->
  <div id="divarticle">
    <article>
        <h1>{{ article.title }}</h1>
        {% if article.headline %}
            <h3 class="subheading">{{ article.headline }}</h3>
        {% endif %}
        <span class="meta">
            {% for author in article.authors %}
                <img src="../../{{ THEME_STATIC_DIR }}/images/user.png"><a href="../../{{ author.url }}">{{ author }}</a>
            {% endfor %}<br/>
                <img src="../../{{ THEME_STATIC_DIR }}/images/comment.png"><a href="./#disqus_thread">{{ gettext('Comment') }}</a><br/>
                <img src="../../{{ THEME_STATIC_DIR }}/images/folder.png"><a href="../../category/{{ article.category }}.html">{{ article.category }}</a><br/>
	        <img src="../../{{ THEME_STATIC_DIR }}/images/calendar2.png"><a>{{ article.locale_date }}</a><br/>
        </span>
        {% if article.modified %}
            <span class="meta">{{ gettext('Updated on') }} {{ article.locale_modified }}</span>
        {% endif %}
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
        {{ article.content }}	
 
 <p><img id="imgwriter" src="../../images/authors/{{ article.writer }}.png">
  <strong class="writer">
    <a href="../../{{ article.author.url }}"><span>{{article.name}}</span></a>
  </strong><br>{{article.about1}}
  <br>{{article.about2}}
</p>

{% if article.share_post and article.status != 'draft' %}
<section>
         <!-- Go to www.addthis.com/dashboard to customize your tools -->
           <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a37e74c4b1448ce"></script>
</section>		
{% endif %}

 {% if article.related_posts %}		
<h4>{{ gettext('Related') }}</h4>
<section class="related">
    <table><tr>
    {% for related_post in article.related_posts %}
        <td>	
	  <img src="../{{ related_post.slug }}/{{ related_post.featured_image }}"><br> 
	  <a href="../../{{ related_post.url }}">{{ related_post.title }}</a>
	</td>
    {% endfor %}
    </tr></table>
</section>
{% endif %}
<hr>
 {% if article.tags %}
 <section>
        <div class="tags">
            <p>{% for tag in article.tags %}
            <a href="../../{{ tag.url }}">{{ tag | escape }}</a>
            {% endfor %}</p>
        </div>
</section>
{% endif %}
<br />
<table class="next" id="tblnext">
 <tr>
 {% if article.prev_article %}
     <td id="prev">
        <div><a href="../../{{ article.prev_article.url}}">
             << {{ article.prev_article.title }}
		</a></div>
     </td>
 {% endif %}
 {% if article.next_article %}
     <td id="next">
         <div><a href="../../{{ article.next_article.url}}">
             {{ article.next_article.title }} >>
		 </a></div>
      </td>
 {% endif %}
</table>
<br /><br />		
  {% if DISQUS_SITENAME and SITEURL %}
    <hr id="hrcoments">
      <div class="comments">
        <h3>{{ gettext('Leave a comment') }}</h3>
        <div id="disqus_thread"></div>
        {% if DEFAULT_LANG == "es" %}
          <script type="text/javascript">
            var disqus_config = function () {
              this.page.identifier = "{{ article.slug }}";
              this.page.url = "{{ SITEURL }}/{{ article.url }}";
              this.language = "es_AR";
            };
            (function() {
              var d = document, dsq = d.createElement('script');
              dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              dsq.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(dsq);
            })();
          </script>
        {% else %}
          <script type="text/javascript">
            var disqus_config = function () {
              this.page.identifier = "{{ article.slug }}";
              this.page.url = "{{ SITEURL }}/{{ article.url }}";
            };
            (function() {
              var d = document, dsq = d.createElement('script');
              dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              dsq.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(dsq);
            })();
          </script>
        {% endif %}
      </div>
      <script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
  {% endif %}
  </article>
</div>	
{% endblock content %}

