<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
        {% if GOOGLE_SITE_VERIFICATION %}
            <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}">
        {% endif %}        
	<title>{% block title %}{{ SITENAME }}{% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{% endif %}{% endblock title %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://secure.gravatar.com/blavatar/f82913ee12d603d8a6a348614916a1d9?s=32" sizes="16x16" />
        <link rel="icon" type="image/x-icon" href="https://secure.gravatar.com/blavatar/f82913ee12d603d8a6a348614916a1d9?s=32" sizes="16x16" />
        <link rel="apple-touch-icon-precomposed" href="https://secure.gravatar.com/blavatar/f82913ee12d603d8a6a348614916a1d9?s=114" />
    {% for name,link in SOCIAL if name in ['rss', 'rss-square'] %}
        <link href="{{ link }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% else %}
        {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
    {% endfor %}
	<!-- Custom sass-->
	{% assets filters="sass, cssmin", output="static/css/bootstrap.min.css", "css/bootstrap.sass" %}
	 	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}
	{% assets filters="sass, cssmin", output="static/css/clean-blog.min.css", "css/clean-blog.sass" %}
	 	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}        
        <!-- Code highlight color scheme -->
        {% if COLOR_SCHEME_CSS %}
            <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
        {% else %}
            <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/darkly.css" rel="stylesheet">
        {% endif %}

        {% if CSS_OVERRIDE %}
            <!-- CSS specified by the user -->
            <link href="{{ SITEURL }}/{{ CSS_OVERRIDE }}" rel="stylesheet">
        {% endif %}
	<!-- sass by user-->
	{% assets filters="sass", output="static/css/menu.css", "css/menu.sass" %}
	 <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}
	{% assets filters="sass", output="static/css/footer.css", "css/footer.sass" %}
	 <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}
	{% assets filters="sass", output="static/css/image.css", "css/article.sass" %}
	 <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}

        <!-- Custom Fonts -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock head %}

	{% block opengraph %}
            {% for admin in FACEBOOK_ADMINS %}
                <meta property="fb:admins" content="{{ admin }}" >
            {% endfor %}
            {% for LOC in LOCALE %}
                <meta property="og:locale" content="{{ LOC }}">
            {% endfor %}
		<meta property="og:site_name" content="{{ SITENAME }}">
	{% endblock opengraph %}
    {% block twitter_card %}
        {% for name,link in SOCIAL if name in ['twitter'] %}
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
            <meta name="twitter:title" content="{{ SITENAME }}">
            <meta name="twitter:description" content="{{ SITESUBTITLE|default('View the blog.') }}">
            {% if HEADER_COVER %}
                <meta name="twitter:image" content="{{ SITEURL }}/{{ HEADER_COVER }}">
            {% else %}
                <meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
            {% endif %}
        {% endfor %}
    {% endblock twitter_card %}
    {% if FAVICON %}
    <link rel="icon" href="/{{FAVICON}}">
    {% endif %}
</head>

<body>
    <!-- Navigation -->
	
    {% block header %}{% endblock header %}
	
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>   
    <!-- Footer --> 
	<br />
	{% include 'footer.html' %}  
	
    <!-- jQuery -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
    <!-- js barra de menu -->	
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/menu.js"></script> 
    {% if not DISABLE_CUSTOM_THEME_JAVASCRIPT %}
        <!-- Custom Theme JavaScript -->
      <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/clean-blog.min.js"></script>
    {% endif %}

    {% include 'analytics.html' %}
    {% include 'disqus_script.html' %}
</body>

</html>
