<div>
  <table class="table">
    <tr>
      <td><h2>Metodología</h2></td>
    </tr>
    <tr>
      <td><img src="https://fluidsignal.files.wordpress.com/2016/11/metodologia.png?w=840" class="imgethical"></td>      
    </tr>
    <tr>
      <td><h2>Criterio</h2></td>
    </tr>
    <tr>
      <td><img src="https://fluidsignal.files.wordpress.com/2016/11/criterio.png?w=840" class="imgethical"></td>
    </tr>
  </table>
     <table class="table" id="tblent">
    <tr>
      <td colspan="4"><h2>Entregables</h2></td>
    </tr>
    <tr class="trent">
      <td class="ent"><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_presentacion.png?w=60" class="imgentregable"><h3>Informe Ejecutivo</h3></td>
      <td class="ent"><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_perfiles.png?w=60" class="imgentregable"><h3>Informe Técnico</h3></td>
      <td class="ent"><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_documentacion.png?w=60" class="imgentregable"><h3>Carpeta con Soluciones</h3></td>
      <td class="ent"><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_identificar.png?w=60" class="imgentregable"><h3>Carpeta con Evidencias</h3></td>
    </tr>
    <tr>
      <td class="ent2"><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_presentacion.png?w=60" class="imgentregable"><h3>Informe Ejecutivo</h3></td>
      <td class="tdent">Este informe es un análisis gerencial (modo presentación) del número de vulnerabilidades, su criticidad y afectación teniendo en cuenta el impacto que representa cada una sobre los objetivos de negocio de la organización.</td>
      <td class="ent2"><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_perfiles.png?w=60" class="imgentregable"><h3>Informe Técnico</h3></td>
      <td class="tdent">El informe describe de forma detallada cada uno de los resultados hallados durante la ejecución de las pruebas.</td>
      <td class="ent2"><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_documentacion.png?w=60" class="imgentregable"><h3>Carpeta con Soluciones</h3></td>
      <td class="tdent">PDF que contiene el paso a paso de como se remedian las vulnerabiliades encontradas en la prueba.</td>
      <td class="ent2"><img src="https://fluidsignal.files.wordpress.com/2016/11/icono_identificar.png?w=60" class="imgentregable"><h3>Carpeta con Evidencias</h3></td>
      <td class="tdent">GIF o Videos Animados donde se demuestra la explotación de la vulnerabilidad. Nunca se reporta una vulnerabilidad que no sea explodata.</td>
    </tr>
  </table>
</div>   
