<div>
  <table class="table">
    <tr>
      <td><h2>{{ gettext('Methodology') }}</h2></td>
    </tr>
    <tr>
      <td><img src="{{ SITEURL }}/images/pages/{{ gettext('methodology.png') }}?w=840" class="imgethical"></td>      
    </tr>
    <tr>
      <td><h2>{{ gettext('Criteria') }}</h2></td>
    </tr>
    <tr>
      <td><img src="{{ SITEURL }}/images/pages/{{ gettext('criteria.png') }}?w=840" class="imgethical"></td>
    </tr>
  </table>
     <table class="table" id="tblent">
    <tr>
      <td colspan="4"><h2>{{ gettext('Deliverables') }}</h2></td>
    </tr>
    <tr class="trent">
      <td class="ent"><img src="{{ SITEURL }}/images/pages/icono_presentacion.png?w=60" class="imgentregable"><h3>{{ gettext('Executive Report') }}</h3></td>
      <td class="ent"><img src="{{ SITEURL }}/images/pages/icono_perfiles.png?w=60" class="imgentregable"><h3>{{ gettext('Technical Report') }}</h3></td>
      <td class="ent"><img src="{{ SITEURL }}/images/pages/icono_documentacion.png?w=60" class="imgentregable"><h3>{{ gettext('Solution Folder') }}</h3></td>
      <td class="ent"><img src="{{ SITEURL }}/images/pages/icono_identificar.png?w=60" class="imgentregable"><h3>{{ gettext('Evidence Folder') }}</h3></td>
    </tr>
    <tr>
      <td class="ent2"><img src="{{ SITEURL }}/images/pages/icono_presentacion.png?w=60" class="imgentregable"><h3>{{ gettext('Executive Report') }}</h3></td>
      <td class="tdent">{{ gettext('This report is a managerial analysis (as a presentation) of the number of vulnerabilities, their criticity and affectation, taking into account the risk each one of them poses on the business objectives of the organization') }}.</td>
      <td class="ent2"><img src="{{ SITEURL }}/images/pages/icono_perfiles.png?w=60" class="imgentregable"><h3>{{ gettext('Technical Report') }}</h3></td>
      <td class="tdent">{{ gettext('This report thoroughly describes each one of the results found during the execution of the tests') }}.</td>
      <td class="ent2"><img src="{{ SITEURL }}/images/pages/icono_documentacion.png?w=60" class="imgentregable"><h3>{{ gettext('Solution Folder') }}</h3></td>
      <td class="tdent">{{ gettext('PDF describing, step by step, how to fix the vulnerabilities found during the test') }}.</td>
      <td class="ent2"><img src="{{ SITEURL }}/images/pages/icono_identificar.png?w=60" class="imgentregable"><h3>{{ gettext('Evidence Folder') }}</h3></td>
      <td class="tdent">{{ gettext('GIF or Animated Videos where the exploitation of the vulnerability is shown. A vulnerability that is not exploited is never roported') }}.</td>
    </tr>
  </table>
</div>   
