<div class="footer">
  <div id="divlogo">
    <img src="{{ SITEURL }}/images/pages/logo.png">
  </div>
  <div id="divsocial">
    <a href="https://twitter.com/fluidsignal"><img src="{{ SITEURL }}/theme/images/social-media/twitterwhite.png"></a>
    <a href="https://www.facebook.com/fluidsignal/"><img src="{{ SITEURL }}/theme/images/social-media/facebookwhite.png"></a>
    <a href="https://plus.google.com/+FluidLa"><img src="{{ SITEURL }}/theme/images/social-media/gpluswhite.png"></a>
    <a href="https://co.linkedin.com/in/fluidsignal"><img src="{{ SITEURL }}/theme/images/social-media/linkedinwhite.png"></a>
    <a href="https://www.youtube.com/user/fluidsignal"><img src="{{ SITEURL }}/theme/images/social-media/youtubewhite.png"></a>
  </div>
    <nav id="navfoot" class="" role="">
      <table id="tbsite2">
        <tr>
          <th><h3>{{ gettext('About Us') }}</h3></th>
          <th><h3>{{ gettext('Services') }}</h3></th>
        </tr>
        <tr>
          <td>
            <a href="https://{{ gettext('fluid.la') }}">{{ gettext('Home') }}</a><br>
            <a href="https://fluid.la/{{ gettext('#lp-pom-block-965') }}">{{ gettext('Benefits') }}</a><br>
            <a href="https://fluid.la/{{ gettext('#lp-pom-block-876') }}">{{ gettext('Clients') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('location') }}/">{{ gettext('Location') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('publications') }}/">{{ gettext('Publications') }}</a><br>
            <a href="https://fluid.la/{{ gettext('#lp-pom-block-11') }}">{{ gettext('Contact Us') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('terms-use') }}/">{{ gettext('Terms of Use') }}</a>
          </td>
          <td>
            <a href="{{ SITEURL }}/{{ gettext('ethical-hacking-application') }}/">{{ gettext('Application Hacking') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('ethical-hacking-infrastructure') }}/">{{ gettext('Network Hacking') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('source-code-analysis') }}/">{{ gettext('Code Analysis') }}</a>
          </td>
        </tr>
        <tr>
          <th><h3>Blog</h3></th>
          <th><h3>{{ gettext('Careers') }}</h3></th>
        </tr>
        <tr>
          <td>
            <a href="{{ SITEURL }}/">{{ gettext('Home') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('style') }}/">{{ gettext('Style') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('topics') }}/">{{ gettext('Topics') }}</a><br>
            <a href="{{ SITEURL }}/tags.html">{{ gettext('Tags') }}</a><br>
            <a href="{{ SITEURL }}/authors.html">{{ gettext('Authors') }}</a>
          </td>
          <td>
              <a href="{{ SITEURL }}/{{ gettext('careers') }}/">{{ gettext('Selection') }}</a><br>
              <a href="{{ SITEURL }}/{{ gettext('reasons') }}/">{{ gettext('Reasons') }}</a><br>
              <a href="{{ SITEURL }}/{{ gettext('positions') }}/">{{ gettext('Positions') }}</a><br>
              <a href="{{ SITEURL }}/{{ gettext('terms-selection') }}/">{{ gettext('Terms') }}</a><br>
              <a href="https://fluid.la/forms/aplicacion">{{ gettext('Application') }}</a>
          </td>
        </tr>
      </table>
      <table id="tbsite4">
        <tr>
          <th><h3>{{ gettext('About Us') }}</h3></th>
          <th><h3>{{ gettext('Services') }}</h3></th>
          <th><h3>Blog</h3></th>
          <th><h3>{{ gettext('Careers') }}</h3></th>
        </tr>
        <tr>
          <td>
            <a href="https://{{ gettext('fluid.la') }}">{{ gettext('Home') }}</a><br>
            <a href="https://fluid.la/{{ gettext('#lp-pom-block-965') }}">{{ gettext('Benefits') }}</a><br>
            <a href="https://fluid.la/{{ gettext('#lp-pom-block-876') }}">{{ gettext('Clients') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('location') }}/">{{ gettext('Location') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('publications') }}/">{{ gettext('Publications') }}</a><br>
            <a href="https://fluid.la/{{ gettext('#lp-pom-block-11') }}">{{ gettext('Contact Us') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('terms-use') }}/">{{ gettext('Terms of Use') }}</a>
          </td>
          <td>
            <a href="{{ SITEURL }}/{{ gettext('ethical-hacking-application') }}/">{{ gettext('Application Hacking') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('ethical-hacking-infrastructure') }}/">{{ gettext('Network Hacking') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('source-code-analysis') }}/">{{ gettext('Code Analysis') }}</a>
          </td>
          <td>
            <a href="{{ SITEURL }}/">{{ gettext('Home') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('style') }}/">{{ gettext('Style') }}</a><br>
            <a href="{{ SITEURL }}/{{ gettext('topics') }}/">{{ gettext('Topics') }}</a><br>
            <a href="{{ SITEURL }}/tags.html">{{ gettext('Tags') }}</a><br>
            <a href="{{ SITEURL }}/authors.html">{{ gettext('Authors') }}</a>
          </td>
          <td>
              <a href="{{ SITEURL }}/{{ gettext('careers') }}/">{{ gettext('Selection') }}</a><br>
              <a href="{{ SITEURL }}/{{ gettext('reasons') }}/">{{ gettext('Reasons') }}</a><br>
              <a href="{{ SITEURL }}/{{ gettext('positions') }}/">{{ gettext('Positions') }}</a><br>
              <a href="{{ SITEURL }}/{{ gettext('terms-selection') }}/">{{ gettext('Terms') }}</a><br>
              <a href="https://fluid.la/forms/aplicacion">{{ gettext('Application') }}</a>
          </td>
        </tr>
      </table>    
    </nav>
</div>
