<div class="footer">
    <nav id="navfoot" class="" role="">
        <ul id="ulfoot" class="">
            <li id="" class="lifoot"><a href="{{ SITEURL }}/pages/ubicacion/">Ubicación</a></li>
            <li id="" class="lifoot"><a href="{{ SITEURL }}/pages/facts/">FACTS</a></li>
            <li id="" class="lifoot"><a href="{{ SITEURL }}/pages/empleos/">Empleos</a></li>
            <li id="" class="lifoot"><a href="{{ SITEURL }}/pages/publicaciones/">Publicaciones</a></li>   
        </ul>      
    </nav>
</div>
