<div class="footer">
    <nav id="navfoot" class="" role="">
        <ul id="ulfoot" class="">
            <li id="" class="lifoot"><a href="{{ SITEURL }}/pages/location/">Ubicación</a></li>
            <li id="" class="lifoot"><a href="{{ SITEURL }}/pages/facts/">Hechos</a></li>
            <li id="" class="lifoot"><a href="{{ SITEURL }}/pages/jobs/">Empleos</a></li>
            <li id="" class="lifoot"><a href="{{ SITEURL }}/pages/publications/">Publicaciones</a></li>   
        </ul>      
    </nav>
</div>
