<br />
<table id="tbborder">
  <tbody>
    <tr>
      <td class="tdborder" id="tdmax">
        <div>
          <table id="tblocation">
            <tbody>
              <tr>
                <th class="thlocation">
                  <h1>Medellín</h1> 
                </th>
                <th class="thlocation">
                  <h1>Bogotá</h1>    
                </th>
                <th class="thlocation">
                  <h1>North Carolina</h1>  
                </th>             
              </tr>
              <tr>
                <td class="tdlocation">
                  <span>Land line: +57 (4) 444-26-37 </span> 
                  <span><br />Mobile: +57 314 878 1246<br /></span>
                  <span>Carrera 43A N 8 Sur 15<br /></span>
                  <span>Oviedo Tower,<br /></span>
                  <span>Office 513,<br /></span>
                  <span>Postal Code 050022</span><br />
                  <span>Poblado, Medellín, Colombia.<br /></span>        
                </td>
                <td class="tdlocation">
                  <span>
                    <span>Land line: +57 (1) 466-16-73</span>
                    <span><br />Mobile: +57 314 653 3428<br />
                      <span>Calle 66 N 11 &#8211; 50</span><br />
                      <span>Villorio Building,</span><br />
                      <span>Office 502<br />
                        <span>Postal Code 110231</span><br />
                        <span>Chapinero, Bogotá, Colombia.</span>
                      </span>
                    </span>
                </td>
                <td  class="tdlocation">&nbsp;</p>
                 <p>Mobile: +1 919 208 8180</p>
                 <p><span><span>720 Kershaw Lane</span></span></p>
                 <p><span>Postal Code 27520</span><br />
                   <span>Clayton, North Carolina, USA.</span>               
                </td>
              </tr>
              <tr>
               <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.017382793927!2d-75.575175!3d6.196992!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0xa4cb42bcd405aaa9!2sFLUID by Fluidsignal Group S.A.!5e0!3m2!1ses-419!2sco!4v1479481032938"></iframe></div></td>
               <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.54207243669146!2d-74.06245082616806!3d4.6522531784673795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000:0x8a8a31638d9d838c!2sSTILOS INN!5e0!3m2!1ses-419!2sus!4v1426863981222"></iframe></div></td>
               <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.0427653363668!2d-78.47764368474202!3d35.65131798020127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0xf0edb2219bbbef8e!2sFLUID by Fluidsignal Group S.A.!5e0!3m2!1ses!2s!4v1479484458173"></iframe></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
      <td class="tdborder" id="tdresponsive">
        <div>
          <table id="tblocation">
            <tbody>
              <tr>
                <th class="thlocation">
                  <h1>Medellín</h1> 
                </th>
              </tr>
              <tr>
                <td class="tdlocation">
                  <span>Land line: +57 (4) 444-26-37 </span> 
                  <span><br />Mobile: +57 314 878 1246<br /></span>
                  <span>Carrera 43A N 8 Sur 15<br /></span>
                  <span>Oviedo Tower,<br /></span>
                  <span>Office 513,<br /></span>
                  <span>Postal Code 050022</span><br />
                  <span>Poblado, Medellín, Colombia.<br /></span>       
                </td>
              </tr>
                 <tr>
               <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.017382793927!2d-75.575175!3d6.196992!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0xa4cb42bcd405aaa9!2sFLUID by Fluidsignal Group S.A.!5e0!3m2!1ses-419!2sco!4v1479481032938"></iframe></div></td>
              </tr>
                <tr>
                  <th class="thlocation">
                  <h1>Bogotá</h1>    
                </th>
              </tr>
              <tr>
                 <td class="tdlocation">
                  <span>
                    <span>Land line: +57 (1) 466-16-73</span>
                    <span><br />Mobile: +57 314 653 3428<br />
                      <span>Calle 66 N 11 &#8211; 50</span><br />
                      <span>Villorio Building,</span><br />
                      <span>Office 502<br />
                        <span>Postal Code 110231</span><br />
                        <span>Chapinero, Bogotá, Colombia.</span>
                      </span>
                    </span>
                </td>
              </tr>
              <tr>
                <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.54207243669146!2d-74.06245082616806!3d4.6522531784673795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000:0x8a8a31638d9d838c!2sSTILOS INN!5e0!3m2!1ses-419!2sus!4v1426863981222"></iframe></div></td>
              </tr>
              <tr>
                <th class="thlocation">
                  <h1>North Carolina</h1>  
                </th>
              </tr>
              <tr>
                <td  class="tdlocation">&nbsp;</p>
                 <p>Mobile: +1 919 208 8180</p>
                 <p><span><span>720 Kershaw Lane</span></span></p>
                 <p><span>Postal Code 27520</span><br />
                   <span>Clayton, North Carolina, USA.</span>               
                </td>
              </tr>
              <tr>
                <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.0427653363668!2d-78.47764368474202!3d35.65131798020127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0xf0edb2219bbbef8e!2sFLUID by Fluidsignal Group S.A.!5e0!3m2!1ses!2s!4v1479484458173"></iframe></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
