{% extends "index.html" %}

{% block title %}{{ SITENAME }}&nbsp;|&nbsp; {{ page.title }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    {% include "navigationbar.html" %}
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
            <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png"></a>
    {% endif %}   
        </header>
{% endblock header %}

{% block content %}   
   <div id="divpage">         
     <article>
       <h1>{{ page.title }}</h1>
       {{ page.content }}
       {% if page.eth %}
         {% if page.location %}
           {% include 'location.html' %}
         {% endif %}
       {% else %}
         {% include 'ethical.html' %}
       {% endif %}
       <section>
         <!-- Go to www.addthis.com/dashboard to customize your tools -->
         <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a37e74c4b1448ce"></script>
       </section>
     </article>
   </div>     
    
{% endblock content %}
