{% extends "index.html" %}

{% block title %}{{ SITENAME }}&nbsp;|&nbsp; {{ page.title }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    {% include "navigationbar.html" %}
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
            <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png"></a>
    {% endif %}   
        </header>
{% endblock header %}

{% block content %}   
   <div id="divpage">         
     <article>
       <h1>{{ page.title }}</h1>
       {{ page.content }}
       {% if page.eth %}
         {% if page.location %}
           {% include 'location.html' %}
         {% endif %}
       {% else %}
         {% include 'ethical.html' %}
       {% endif %}
       <section>
         <!-- Go to www.addthis.com/dashboard to customize your tools -->
         <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a37e74c4b1448ce"></script>
       </section>
<br /><br />		
<hr id="hrcoments">
    {% if DISQUS_SITENAME and SITEURL %}
        <div class="comments">
            <h3>Haz un comentario</h3>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '{{ DISQUS_SITENAME }}';
                var disqus_identifier = '{{ page.slug }}';
                var disqus_url = '{{ SITEURL }}/{{ page.url }}';
                (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, dsq = d.createElement('script');
                  dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                  dsq.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(dsq);
                })();
            </script>
        </div>
        <script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
    {% endif %}
{% endblock content %}
