{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block header %}
    {% include "navigationbar.html" %}
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
            <a href="{{ SITEURL }}"><img src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png'></a>
    {% endif %}   
        </header>
{% endblock header %}

{% block content %}
    <div id="divpage">
      <article>
        <h1>TAGS:</h1>
        <div id="preamble">
          <div class="ulist" id="authorlist">
            <ul>
              {%- for tag, articles in tags|sort %}
                  <li>
                    <a href="{{ SITEURL }}/{{ tag.url }}">
                    <p>{{ tag }} ({{ articles|count }})</p>
                    </a>
                  </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </article>
    </div>
{% endblock content %}
