:global .g-btn {
  color: #333;
  border: 1px solid transparent;
  border-color: #ccc;
}

:global .g-a,
:global .g-a:hover,
:global .g-a:focus,
:global .g-a:visited {
  color: #333;
  text-decoration: none;
}

:global .questionBtn {
  border: 0 !important;
  color: #ff3435;
}

:global .questionBtn:hover {
  background-color: unset !important;
  color: #272727 !important;
}

:global .panel-cb {
  border-color: #ddd;
}

:global .panel-ch {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

:global .g1 {
  border: 1px solid transparent;
  border-color: #ddd;
  height: 402px;
}

:global .g2 {
  border: 1px solid transparent;
  border-color: #ddd;
  height: 242px;
}

:global .g3 {
  border: 1px solid transparent;
  border-color: #ddd;
  height: 162px;
}

:global .upload-file {
  margin-right: 40px;
  margin-left: 40px;
}

@media (max-width: 479px) {
  :global .upload-file {
    margin-top: 20px;
  }
}

.noResize {
  resize: none;
  min-height: 100px !important;
}

:local .no-data {
  color: lightgray;
  font-size: 40px;
  text-align: center;
}

/* Custom functions */

:global .b--sb,
:global .b--sb:active,
:global .b--sb:focus,
:global .b--sb:hover {
  border: none !important;
}

:global .b--switch {
  border-color: #d9534f;
}

:global .b--switch:hover {
  border-color: #ac2925;
}

:global .bg-lbl-green {
  background-color: #c2ffd4;
  color: #009245;
}

:global .bg-lbl-yellow {
  background-color: #ffbf00;
}

:global .bg-sb,
:global .bg-sb:active,
:global .bg-sb:focus,
:global .bg-sb:hover {
  background: transparent !important;
}

:global .bg-switch {
  background-color: #d9534f;
}

:global .bg-switch:hover {
  background-color: #c9302c;
}

:global .checkbox-mh {
  min-height: calc(1.5em + 0.75rem + 2px);
}

:global .fs-checkbox {
  font-size: 12px;
}

:global .green-checkbox {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

:global .green-checkbox:hover {
  background-color: #3faf3f;
  border-color: #3faf3f;
}

:global .red-checkbox {
  background-color: #d9534f;
  border-color: #d9534f;
}

:global .red-checkbox:hover {
  background-color: #c9302c;
  border-color: #c9302c;
}

:global .grid {
  display: grid;
}

:global .menu-grid {
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

:global .noresize {
  resize: none;
}

:global .orgred {
  color: #ff3435;
}

:global .ph1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

:global .svg-box20 svg {
  width: 20px !important;
  height: 20px !important;
}

:global .switch-mh {
  min-height: calc(1.5em + 0.75rem + 2px);
}

:global .w-fit-content {
  width: fit-content;
}

:global .ws-pre-wrap {
  white-space: pre-wrap;
}

/* Custom media */

@media (min-width: 768px) {
  :global .w-45-ns {
    width: 45%;
  }
}
