:global(.btn:active, .btn.active) {
  outline: 0;
  box-shadow: none;
}

:global(.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default) {
  color: #555;
  background-color: #ededed;
  border-color: #c5c5c5;
}

html,
body,
:global(#root) {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

a {
  color: #ff3435;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

label {
  font-weight: 400;
}

:global div.row.react-bootstrap-table-pagination {
  display: flex;
}

:global div.row.react-bootstrap-table-pagination > div {
  width: 50%;
}

:global div.row.react-bootstrap-table-pagination > div + div {
  width: 50%;
}

:global .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 18px 0;
  margin-top: -50px;
  border-radius: 0;
}

:global .pagination > li {
  display: inline;
}

:global .a-relative a {
  position: relative;
}

:global .a-pv a {
  padding-bottom: 10px;
  padding-top: 10px;
}

:global .a-ph a {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

:global .a-gray a {
  color: #666;
}

:global .a-db a {
  display: block;
}

:global .a-bg-white a {
  background-color: #fff;
}

:global .badge-size {
  font-size: 7px;
}

:local .tab > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  color: #666;
}

:local .no-data span {
  font-size: 80px;
}

:global .pagination > li > a,
:global .pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ff3435;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

:global .paPoint {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

:global .pagination > .active > a,
:global .pagination > .active > span {
  background-color: #ff3435;
  z-index: 3;
  color: #fff;
  border-color: #ff3435;
  cursor: default;
}

:global .pagination > li:first-child > a,
:global .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

:global .pagination > li:last-child > a,
:global .pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:global .pagination > li > a:hover,
:global .pagination > li > span:hover,
:global .pagination > li > a:focus,
:global .pagination > li > span:focus {
  z-index: 2;
  color: #e71d1d;
  background-color: #eee;
  border-color: #ddd;
}

:global .breadcrumb > li + li > a:active,
:global .breadcrumb > li + li > a:focus,
:global .breadcrumb > li + li > a:hover {
  color: #272727 !important;
}

:global .pagination > .active > a:hover,
:global .pagination > .active > span:hover,
:global .pagination > .active > a:focus,
:global .pagination > .active > span:focus {
  background-color: #ff3435;
  z-index: 3;
  color: #fff;
  border-color: #ff3435;
  cursor: default;
}

:global .breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

:global .breadcrumb > li + li::before {
  color: #ccc;
  content: "/\00a0";
  padding: 0 2px;
}

:global .btn {
  border-radius: 0;
}

:global .g-btn {
  color: #333;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ccc;
}

:global .g-a,
:global .g-a:hover,
:global .g-a:focus,
:global .g-a:visited {
  color: #333;
  text-decoration: none;
}

:global .questionBtn {
  border: 0 !important;
  color: #ff3435;
}

:global .questionBtn:hover {
  background-color: unset !important;
  color: #272727 !important;
}

.light-fg {
  color: #fff;
}

.lightBg {
  background-color: #fff;
}

.dark-bg {
  background-color: #272727;
}

.primary-bg {
  background-color: #ff3435;
}

:global .panel-c {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  box-shadow: 0.1px 6px 24px -16px rgba(0, 0, 0, 0.75);
  height: 98px;
}

:global .panel-c:hover {
  height: auto;
}

:global .panel-cb {
  border-color: #ddd;
}

:global .panel-cf {
  color: #333;
  background-color: #f5f5f5;
  border-top: 1px solid transparent;
  border-color: #ddd;
  height: 0;
  display: none;
  transition: all 1s ease-out;
}

:global .panel-ch {
  color: #333;
  background-color: #f5f5f5;
  border-bottom: 1px solid transparent;
  border-color: #ddd;
}

:global .g1 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  height: 402px;
}

:global .g2 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  height: 242px;
}

:global .g3 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  height: 162px;
}

:global .suscribeDropdownBtn {
  width: 260px;
}

:global .split-button > div > button {
  background: transparent !important;
  border: none;
  color: #ff3435;
  font-size: 18px;
  font-weight: bold;
  box-shadow: none !important;
  text-transform: capitalize;
}

:global .split-button > div > button + button + div > button {
  font-size: 18px !important;
  text-transform: capitalize;
  max-height: 500px !important;
  min-width: auto;
}

:global .split-button > div > button:active,
:global .split-button > div > button:focus,
:global .split-button > div > button:hover {
  color: #272727 !important;
  background: transparent !important;
}

:global .split-button > div > button:active,
:global .split-button > div > button:focus {
  outline: none !important;
  box-shadow: none !important;
}

:global .splitItems {
  background-color: #fff;
  border: solid 1px;
  border-color: #ddd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #333;
  display: none;
  margin-top: 5px;
  position: absolute;
  width: 117px;
  overflow: auto;
  max-height: 50vh;
  z-index: 1;
}

:global .table-btn {
  margin-left: -7px;
  margin-bottom: -10px;
}

:global .upload-file {
  margin-right: 40px;
  margin-left: 40px;
}

@media (max-width: 479px) {
  :global .table-btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 479px) {
  :global .upload-file {
    margin-top: 20px;
  }
}

:global .well {
  min-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 6px 24px -16px rgba(0, 0, 0, 0.75);
}

.text {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px !important;
}

.title {
  font-family: Montserrat, sans-serif;
}

.textarea {
  display: block;
  width: 100%;
  height: 44px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #777;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eaeaea;
  border-radius: 0.1;
  box-shadow: inset 0.1 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.disabled {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.noResize {
  resize: none;
  min-height: 100px !important;
}

:local .no-data {
  color: lightgray;
  font-size: 40px;
  text-align: center;
}

:local .tab {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  :local .tab {
    display: table-cell;
    width: 1%;
  }

  :local .tab > a {
    margin-bottom: 0;
  }
}

:local .tabsContainer {
  width: 100%;
  margin-bottom: 0.1;
  padding-left: 0.1;
  list-style: none;
  border-bottom: 1px #eee solid;
  -webkit-box-shadow: 0.1px 6px 24px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.1px 6px 24px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0.1px 6px 24px -16px rgba(0, 0, 0, 0.75);
}

:local .tabContent {
  background: #fff;
  padding-top: 10px;
}

:local .active {
  background-color: #eee !important;
}

/* Custom functions */

:global .b--bd[disabled],
:global .b--bd[disabled]:hover {
  border-color: #dfdfdf;
}

:global .b--bd[disabled] svg path {
  fill: #919191 !important;
  stroke: #919191 !important;
}

:global .b--bd[disabled] svg circle {
  stroke: #919191 !important;
}

:global .b--bh:hover {
  border-color: #ff3435;
}

:global .b--bh:hover:not([disabled]) svg path {
  fill: #fff !important;
  stroke: #fff !important;
}

:global .b--bh:hover svg circle {
  stroke: #fff !important;
}

:global .b--orgred {
  border-color: #ff3435;
}

:global .b--salmon {
  border-color: #f2dede;
}

:global .b--sb,
:global .b--sb:active,
:global .b--sb:focus,
:global .b--sb:hover {
  border: none !important;
}

:global .b--switch {
  border-color: #d9534f;
}

:global .b--switch:hover {
  border-color: #ac2925;
}

:global .bg-bd[disabled],
:global .bg-bd[disabled]:hover {
  background-color: #fafafa;
}

:global .btn-pa {
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
}

:global .bg-btn {
  background-color: #fff;
}

:global .bg-bh:active,
:global .bg-bh:focus,
:global .bg-bh:hover {
  background-color: #ff3435;
  color: #fff;
}

:global .bg-lbl-gray {
  background-color: #707070;
}

:global .bg-lbl-green {
  background-color: #259800;
}

:global .bg-lbl-red {
  background-color: #f22;
}

:global .bg-lbl-yellow {
  background-color: #ffbf00;
}

:global .bg-ns {
  background-color: #525a5c !important;
}

:global .bg-ne {
  background-color: #ff3435 !important;
}

:global .bg-orgred {
  background-color: #ff3435;
}

:global .bg-salmon {
  background-color: #f2dede;
}

:global .bg-sb,
:global .bg-sb:active,
:global .bg-sb:focus,
:global .bg-sb:hover {
  background: transparent !important;
}

:global .bg-size4 {
  background-size: 4rem 4rem;
}

:global .bg-switch {
  background-color: #d9534f;
}

:global .bg-switch:hover {
  background-color: #c9302c;
}

:global .green-switch {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

:global .green-switch:hover {
  background-color: #3faf3f;
  border-color: #3faf3f;
}

:global .red-switch {
  background-color: #d9534f;
  border-color: #d9534f;
}

:global .red-switch:hover {
  background-color: #c9302c;
  border-color: #c9302c;
}

:global .checkbox-mh {
  min-height: calc(1.5em + 0.75rem + 2px);
}

:global .fs-checkbox {
  font-size: 12px;
}

:global .green-checkbox {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

:global .green-checkbox:hover {
  background-color: #3faf3f;
  border-color: #3faf3f;
}

:global .red-checkbox {
  background-color: #d9534f;
  border-color: #d9534f;
}

:global .red-checkbox:hover {
  background-color: #c9302c;
  border-color: #c9302c;
}

:global .cr-switch {
  font-size: 10px;
}

:global .bottom-9 {
  bottom: 9rem;
}

:global .bottom-15 {
  bottom: 15rem;
}

:global .burgundy {
  color: #a94442;
}

:global .cna-bd[disabled],
:global .cna-bd[disabled]:hover {
  cursor: not-allowed;
}

:global .color-ah:hover {
  color: #fff;
}

:global .color-bd[disabled],
:global .color-bd[disabled]:hover {
  color: #919191;
}

:global .color-bh:hover {
  color: #fff;
}

:global .f2-5 {
  font-size: 1.75rem;
}

:global .grid {
  display: grid;
}

:global .img-box {
  height: 100px;
  width: 100px;
}

:global .l-50 {
  left: 50%;
}

:global .left--100 {
  left: -100%;
}

:global .left-5 {
  left: 5rem;
}

:global .mb10 {
  margin-bottom: 10rem;
}

:global .menu-grid {
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

:global .meter-shadow {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

:global .ml40 {
  margin-left: 40%;
}

:global .modalh-bb {
  border-bottom: 1px solid #e5e5e5;
}

:global .modalf-bt {
  border-top: 1px solid #e5e5e5;
}

:global .montserrat {
  font-family: 'Montserrat', sans-serif;
}

:global .mt-3-25 {
  margin-top: 3.25rem;
}

:global .nav-active-bg {
  background-color: #eee !important;
}

:global .noresize {
  resize: none;
}

:global .o-bd[disabled],
:global .o-bd[disabled]:hover {
  opacity: 1;
}

:global .orgred {
  color: #ff3435;
}

:global .pa1-5 {
  padding: 1.5rem;
}

:global .pb-animation {
  animation: progress-bar-stripes 2s linear infinite;
}

:global .pb-bi {
  background-image:
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
}

:global .ph1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

:global .pb-transition {
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

:global .pv2-5 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

:global .r-50 {
  right: 50%;
}

:global .right3 {
  right: 3rem;
}

:global .sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

:global .su-c::before {
  content: '\e682';
}

:global .su-dib::before {
  display: inline-block;
}

:global .su-icon::before {
  font-family: 'Pe-icon-7-stroke', sans-serif;
}

:global .su-icon:hover {
  opacity: 0.8;
}

:global .su-icon-f::before {
  font-size: 4rem;
}

:global .su-v-mid::before {
  vertical-align: mid;
}

:global .svg-box svg {
  width: 16px !important;
  height: 16px !important;
}

:global .svg-box20 svg {
  width: 20px !important;
  height: 20px !important;
}

:global .switch-mh {
  min-height: calc(1.5em + 0.75rem + 2px);
}

:global .switch-transition {
  transition: left 0.35s;
  -webkit-transition: left 0.35s;
}

:global .tc-bb {
  border-bottom: 1px #eee solid;
}

:global .tc-shadow {
  box-shadow: 0.1px 6px 24px -16px rgba(0, 0, 0, 0.75);
}

:global .top9-9 {
  top: 9.9rem;
}

:global .vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

:global .w-200 {
  width: 200%;
}

:global .w-45 {
  width: 45%;
}

:global .w-fit-content {
  width: fit-content;
}

:global .ws-pre-wrap {
  white-space: pre-wrap;
}

:global .ww-break-word {
  word-wrap: break-word;
  word-break: break-all;
}

/* Custom media */

@media (min-width: 768px) {
  :global .w-45-ns {
    width: 45%;
  }

  :global .w-85-ns {
    width: 85%;
  }
}

@media (min-width: 903px) {
  :global .top5-5 {
    top: 5.5rem !important;
  }
}

@media (min-width: 1149px) {
  :global .top5-5-find {
    top: 5.5rem !important;
  }
}

:global .b--mid-light-gray {
  border-color: #ddd;
}

:global .filter.select-filter {
  color: #272727;
}

:global .filter.text-filter {
  color: #272727;
}

:global .filter {
  display: block;
  margin: auto;
}

:global .react-bootstrap-table .row-expand-slide-appear-active {
  transition: max-height 1s ease !important;
}

:global .react-bootstrap-table .row-expand-slide-exit-active {
  transition: max-height 0.2s ease !important;
}
