/* Custom functions */

:global .red-checkbox {
  background-color: #d9534f;
  border-color: #d9534f;
}

:global .red-checkbox:hover {
  background-color: #c9302c;
  border-color: #c9302c;
}

:global .grid {
  display: grid;
}

:global .menu-grid {
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

:global .noresize {
  resize: none;
}

:global .orgred {
  color: #ff3435;
}

:global .ph1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

:global .svg-box20 svg {
  width: 20px !important;
  height: 20px !important;
}

:global .switch-mh {
  min-height: calc(1.5em + 0.75rem + 2px);
}

:global .w-fit-content {
  width: fit-content;
}

:global .ws-pre-wrap {
  white-space: pre-wrap;
}

/* Custom media */

@media (min-width: 768px) {
  :global .w-45-ns {
    width: 45%;
  }
}
