# SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>
#
# SPDX-License-Identifier: MPL-2.0

[importlinter]
  root_packages =
    postgres_client
    tests

[importlinter:contract:dag]
  name = tests_dag
  type = layers
  layers =
    tests
    postgres_client
