# Sort order is:
#  *
#  .
#  [a-zA-Z] (caseless)

/**/*.class
/**/*.egg-info
/**/*.interp
/**/*.tokens
/**/.coverage*
/**/.skims
/**/.venv
/coverage*
/docs/skims
/dist
/poetry.lock
/skims.*.svg
/static/parsers/antlr/.gradle
/static/parsers/antlr/build/
/static/parsers/antlr/gradle/wrapper
/static/parsers/antlr/gradlew
/static/parsers/antlr/src/main/java/parse/Java9*
/test/**/*.yaml.json
