# Sort order is:
#  *
#  .
#  [a-zA-Z] (caseless)

/**/*.egg-info
/**/.coverage*
/**/.skims
/**/.venv
/ast/build/
/ast/gradle/wrapper
/ast/gradlew
/coverage*
/docs/skims
/dist
/poetry.lock
/skims.*.svg
