# Sort order is:
#  *
#  .
#  [a-zA-Z] (caseless)

/**/*.class
/**/*.egg-info
/**/*.interp
/**/*.tokens
/**/.coverage*
/**/.skims
/**/.venv
/coverage*
/docs/skims
/dist
/poetry.lock
/skims.*.svg
/static/ast/.gradle
/static/ast/build/
/static/ast/gradle/wrapper
/static/ast/gradlew
/static/ast/src/main/java/ast/Java9*
