[importlinter]
include_external_packages = True
root_packages=
  aws
  benchmark
  cli
  config
  core
  html_
  http_headers
  integrates
  lib_apk
  lib_http
  lib_path
  lib_root
  lib_ssl
  model
  nvd
  parse_cfn
  parse_common
  parse_hcl2
  parse_java_properties
  parse_json
  sast
  sast_transformations
  sast_symbolic_evaluation
  sast_syntax_readers
  serialization
  state
  test_helpers
  utils
  zone

[importlinter:contract:dag]
  name = Direct Acyclic Graph
  type = layers
  layers =
    # You can alter the order of this list
    # The only requirement is that all packages are specified
    #
    # You may want to check with ./m skims-structure that there are no
    # cycles, otherwise there is no order of this list that adhere to the contract
    test_helpers
    cli
    core
    lib_apk
    lib_http
    lib_root
    lib_path
    lib_ssl
    parse_cfn
    integrates
    sast
    sast_symbolic_evaluation
    sast_transformations
    sast_syntax_readers
    state
    serialization
    parse_hcl2
    aws
    benchmark
    config
    zone
    nvd
    http_headers
    utils
    model
    parse_common
    parse_java_properties
    parse_json
    html_
