{% extends "default.html" %}

<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
  <meta name="description"
        content="{{ article.description }}">
  <meta name="keywords"
        content="{{ article.keywords }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ article.url }}cover.png">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if article.title|length < 23 %}
{{ article.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if article.title|length < 11 %}
{{ article.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ article.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}
  <link rel="canonical"
        href="{{ SITEURL }}/{{ article.url }}">
{% endblock canonical %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-banner ml-auto mr-auto">
      <ul class="dib list w-100">
        <li class="dib mt0">
          <a class="c-fluid-gray hv-fluid-rd no-underline"
             href="{{ SITEURL }}/">
            <strong>Home</strong>
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hv-fluid-rd no-underline"
             href="{{ SITEURL }}/">
            Blog
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hv-fluid-rd no-underline"
             href="{{ SITEURL }}/">
            {{ article.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<div class="bg-graylight">
  <div class="roboto internal mw-banner ml-auto mr-auto roboto bg-white ph5-l ph4 pt5-l pt4 pb5">
    <h1 class="roboto f2 fw6 tc">{{ article.title }}</h1>
    {{ article.content }}
  </div>
</div>
{% endblock content %}
