{% extends "index.html" %}
{% block meta %}
  <meta name="description"
        content="{{ article.description }}">
  <meta name="keywords"
        content="{{ article.keywords }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ article.url }}cover.png">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if article.title|length < 23 %}
{{ article.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if article.title|length < 11 %}
{{ article.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ article.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}
  <link rel="canonical"
        href="{{ SITEURL }}/{{ article.url }}">
{% endblock canonical %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw9 ml-auto mr-auto">
      <ul class="dib list w-auto mh3-l pl0-l pl3 ml1">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/blog/">
            Blog
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            {{ article.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div class="bg-graylight">
  <div
    class="coverm cover-s h-auto justify-center items-center flex bg-center mw-banner ml-auto mr-auto">
    <div class="w-100 center">
      <div class="w-100">
        <img loading="lazy" src="{{ SITEURL }}/{{ article.url}}{{ article.image }}"
             alt="{{ article.alt }}"
             class="w-100 db">
      </div>
    </div>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="bg-graylight">
  <div class="roboto internal mw-banner ml-auto mr-auto roboto bg-white ph4-l ph3 pt4 pb5">
    <h1 class="roboto tc">{{ article.title }}</h1>
    {% if article.subtitle %}
    <!-- Article subtitle -->
      <span class="db tc c-fluid-bk b f3 mt0">{{ article.subtitle }}</span>
    {% endif %}
    <div class="lh-2">
      {{ article.content }}
    </div>
    <div class="w-100 tl-l tc pt6-l pt5 mw6-m ml-auto mr-auto">
      <img loading="lazy" class="w4 br-100 dib-l"
      src="{{ SITEURL }}/images/authors/{{ article.writer }}.png"
      alt="Author picture">
      <div class="dib-l tl v-top ph3">
        <!-- Author -->
        <p class="c-fluid-bk fw4 f-key-features mv0 pv1">Author:
          {% for author in article.authors %}
            <a class="c-fluid-gray hover-black no-underline"
                href="{{ SITEURL }}/{{ author.url }}">
                {{ author }}
            </a><br/>
          {% endfor %}
          </p>
          <!-- Category -->
          <p class="c-fluid-bk fw4 f-key-features mv0 pv1">Category:
            <a class="c-fluid-gray hover-black no-underline"
              href="{{ SITEURL }}/{{ article.category.url }}">
              {{ article.category|replace("-", " ") }}
            </a><br/>
          </p>
          <!-- Tags -->
          <p class="c-fluid-bk fw4 f-key-features mv0 pv1">Tags:
          {% for tag in article.tags %}
            {% if loop.last %}
              <a class="c-fluid-gray hover-black no-underline"
                  href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a><br/>
            {% else %}
              <a class="c-fluid-gray hover-black no-underline"
                  href="{{ SITEURL }}/{{ tag.url }}">{{ tag }},&nbsp;</a>
            {% endif %}
          {% endfor %}
          </p>
          <p class="c-fluid-bk fw4 f-key-features mv0 pv1">Date:
            <span class="c-fluid-gray">{{ article.locale_date }}</span>
          </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
