{% extends "base.html" %}

{% block meta %}
  <meta name="description"
        content="Here you can find the list of categories used to classify the articles of
        the blog. They are all related to the field of Information Security and
        may range from an opinion related to a certain topic, or a solution to a
        challenge, all the way to just general information">
  <meta name="keywords"
        content="Category, Classify, Articles, Blog, Information, Security">
{% endblock meta %}

{% block title %} Categories | {{ SITENAME }}{% endblock %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/blog/">
{% endblock canonical %}

{% block breadcrumb%}
<!-- navcontent-container -->
<div class="pv0">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw9 ml-auto mr-auto">
      <ul class="dib list w-auto mh5-l pl0-l pl3 ml1">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
              href="{{ SITEURL }}/blog/">Blog</a>
        </li>
        <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href="{{ SITEURL }}/blog/categories/">
            Categories
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}
{% block content %}
  <div class="divpage internal roboto">
    <article class="ma-auto tl-ns tc mw8">
      <h1 class="tc">Categories:</h1>
      <div class="ml6-l ml4-m">
        <ul class="fluid-bullet three-columns-l two-columns-m bullet-inside">
          {% for category, articles in categories|sort %}
            <li class="pv2">
              <a href="{{ SITEURL }}/{{ category.url }}"
                   rel="bookmark">
                <p class="di ttc">
                   {{ category.name|replace("-", " ") }} ({{ articles|count }})
                </p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </article>
  </div>
{% endblock content %}
