<div class="overflow-hidden relative ma-auto w-90 dn-ns pb4">
  <div class="customer-carousel">
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo01.png"
          alt="RSA logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo01.png"
          alt="Mazda logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo03.png"
          alt="Manpower logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo04.png"
          alt="Kometsales logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo05.png"
          alt="Payvalida logo">
      </a>
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo06.png"
          alt="Libera logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo07.png"
          alt="Berkeley logo">
    </div>
    <div class="slide mh2 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo08.png"
        alt="Bancolombia logo">
    </div>
    <div class="slide mh2 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo09.png"
        alt="Avianca logo">
    </div>
        <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo01.png"
          alt="RSA logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo01.png"
          alt="Mazda logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo03.png"
          alt="Manpower logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo04.png"
          alt="Kometsales logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo05.png"
          alt="Payvalida logo">
      </a>
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo06.png"
          alt="Libera logo">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo07.png"
          alt="Berkeley logo">
    </div>
    <div class="slide mh2 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo08.png"
        alt="Bancolombia logo">
    </div>
    <div class="slide mh2 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo09.png"
        alt="Avianca logo">
    </div>
  </div>
</div>
