<div class="overflow-hidden relative ma-auto w-90 dn-ns pb4">
  <div class="customer-carousel">
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo01.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo02.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo03.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo04.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo05.png"
          alt="{{ gettext('Header-img-alt') }}">
      </a>
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo06.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo07.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo08.png"
        alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo09.png"
        alt="{{ gettext('Header-img-alt') }}">
    </div>
        <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo01.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo02.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo03.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo04.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo05.png"
          alt="{{ gettext('Header-img-alt') }}">
      </a>
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo06.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo07.png"
          alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo08.png"
        alt="{{ gettext('Header-img-alt') }}">
    </div>
    <div class="slide mh2 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo09.png"
        alt="{{ gettext('Header-img-alt') }}">
    </div>
  </div>
</div>
