{% extends "base.html" %}

<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
<meta name="description"
      content="{{ page.description }}">
<meta name="keywords"
      content="{{ page.keywords }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block content %}
<div class="db-ns dn">
  {% include "location.html" %}
</div>

{% endblock content %}
