{% extends "base.html" %}

<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
<meta name="description"
      content="{{ gettext('Landing-metadescription') }}.">
<meta name="keywords"
      content="{{ gettext('Landing-keywords')}}.">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block header %}
<div
  class="continuous-bg bg-banner-sz coverm cover-s h5-l h4 justify-center items-center flex mt3-l bg-center">
  <div class="w-100 center">
    <h1 class="white fw4 f3 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
    <h2 class="white f3-l f5-m f6 fw4 roboto tc ma0">
      {{ gettext('Continuous-Header-msg') }}
    </h2>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="tc pt5-l pt4">
  <nav>
    <a
      class="c-fluid-bk f6 roboto fw4 pointer no-underline bb mr3"
      href="{{ SITEURL }}/use-cases/continuous/">
      Continuous Hacking
    </a>
    <a
      class="c-fluid-gray f6 roboto no-underline fw4 hv-fluid-bk pointer link"
      href="#">
      One-Shot Hacking
    </a>
  </nav>
</div>
<div class="w-100 tc pv4 mv4">
  <img
    class="h5"
    src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/service-continuous.png"
    alt="{{ gettext('Header-img-alt') }}">
</div>
<div class="use-cases tc roboto w-100 center c-lightblack">
  {{ page.content }}
</div>

{% assets output="static/js/dynClasses.min.js", "js/tmp/dynClasses.min.js" %}
<script type="text/javascript"
        src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock content %}
