<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<div class="mw9 flex-l ml-auto ml-auto mr-auto mb5-l mb5-m mb4 pt4-ns pt2">
  <!-- company logo -->
  <div class="pt1 pt4-l pl2-l w-33-l">
    <div>
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/footer-logo.png"
        alt="Fluid Attacks logo" class="w2-5 fl ml5 pl3 nl3-l mr0-l db-l dn">
      <div class="ml4-l w6 mr-auto ml-auto tl-l tc">
        <p class="c-fluid-bk roboto b f-footer mv0 ml3 db-l dn">Ready to start with Fluid Attacks?</p>
        <span class="c-fluid-bk roboto b f3 mt0 mh2 dn-l db pb4">
          <div class="w2-5 dib"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/footer-logo.png"
            alt="Fluid Attacks logo"></div>
          Ready to start?</span>
        <div class="dib-l dn ml3">
          <a class="roboto fw1 fl f4 no-underline c-fluid-bk hv-fluid-dkred pb5"
             href="{{ SITEURL }}/contact-us/">
            <img
            class="w1 relative pt2 ml2 fr"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
            alt="Young hacker smiling">
            Contact Us
          </a>
        </div>
        <div class="dn-l dib tc w-100-s w-100-m pb4">
          <a class="roboto fw1 f5 no-underline c-fluid-bk hv-fluid-dkred"
             href="{{ SITEURL }}/contact-us/">
            <span class="br2 bannerbt hv-bt-fluid-rd ph5 pv2 bt-trans white b roboto pointer mt2">
               Contact Fluid Attacks
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="pb4 w-70-l w-100 ml0-l tr-l tc db-l dn nowrap overflow-x-auto">
    <div class="pt4-l b dib v-top tl mh2">
      <div class="lh-2">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/use-cases/continuous/" >
          Use Cases
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/use-cases/continuous/">
          Continuous Hacking
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/use-cases/one-shot/">
          One-shot Hacking
        </a><br>
      </div>
    </div>
    <div class="pt4-l b dib v-top tl mh2">
      <div class="lh-2">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/products/" >
          Products
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/products/integrates/">
          Integrates
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/products/drills/">
          Drills
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/products/forces/">
          Forces
        </a><br>
      </div>
    </div>
    <div class="pt4-l b dib v-top tl mh2">
      <div class="lh-2">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/careers/" >
          Careers
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/careers/openings/">
          Openings
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/careers/terms/">
          Terms
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/careers/knowledge-test/">
          Knowledge Test
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/careers/technical-challenges/">
          Technical Challenges
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/careers/non-technical-challenges/">
          Non-Technical Challenges
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
        href="{{ SITEURL }}/careers/immersion/">
          Immersion
        </a><br>
      </div>
    </div>
    <div class="pt4-l b dib v-top tl mh2">
      <div class="lh-2">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/about-us/" >
          About Us
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/use-cases/certifications">
          Certifications
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/use-cases/differentiators/">
          Differentiators
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/values/">
          Values
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/reviews/">
          Reviews
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
        href="#">
          Resources
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
        href="{{ SITEURL }}/events/">
          Events
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
        href="{{ SITEURL }}/people/">
          People
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
        href="{{ SITEURL }}/partners/">
          Partners
        </a><br>
      </div>
    </div>
    <div class="pt4-l b dib v-top tl mh2">
      <div class="lh-2">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/blog/" >
          Blog
        </a><br>
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          FAQ
        </a><br>
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
        href="https://community.fluidattacks.com/" >
          Community
        </a><br>
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
        href="{{ SITEURL }}/contact-us/" >
          Contact
        </a><br>
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          Newsletter
        </a><br>
      </div>
    </div>
  </div>
</div>
<div class="mb0-l mb0-m mb3 ph3">
  <div class="tc nb3">
    <p class="c-fluid-gray b f6 fw2 roboto">Copyright © 2020 Fluid Attacks, We hack your software. All rights reserved.</p>
  </div>
  <!-- status bar -->
  <div class="h2 bg-white b tc mb3">
    <a class="c-fluid-bk f6 fw2 no-underline mt2 roboto pl3 hv-fluid-dkred"
       href="http://status.fluidattacks.com/">
       Service status
    </a>
    <span class="c-fluid-gray f6"> - </span>
    <a class="c-fluid-bk f6 fw2 mt2 roboto no-underline hv-fluid-dkred"
       href="{{ SITEURL }}/terms-use/">
       Terms of Use
    </a>
  </div>
</div>
