<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<div class="mw9 flex-l ml-auto ml-auto mr-auto mb5-l mb5-m mb4 pt4-ns pt2">
  <!-- company logo -->
  <div class="pt1 pt4-l pl4-l w-40-ns mr-auto ml-auto">
    <div>
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/footer-logo.png"
        alt="{{ gettext('Footer-logo-1') }}" class="w2-5 fl ml5 pl3 nl3-ns nt2 mr0-ns mr2">
      <div class="ml4-l ml4-m">
        <p class="c-fluid-bk roboto b f-footer mv0 ml1 db-ns dn">Ready to start with Fluid Attacks?</p>
        <p class="c-fluid-bk roboto b f3 mt0 ml2 dn-ns db pb4">Ready to start?</p>
        <div class="dib-ns dn ml1">
          <a class="roboto fw1 fl f4 no-underline c-fluid-bk hv-fluid-dkred pb5" href="#">
            <img
            class="w1 relative pt2 ml2 fr"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
            alt="{{ gettext('Header-img-alt') }}">
            Contact Us
          </a>
        </div>
        <div class="dn-ns dib tc w-100-s w-100-m pb4">
          <a class="roboto fw1 f5 no-underline c-fluid-bk hv-fluid-dkred" href="#">
            <span class="br2 bannerbt hv-bt-fluid-rd bt-pd footer-bt bt-trans white b roboto pointer mt2">
               Contact Fluid Attacks
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="pb4 flex-ns flex-wrap w-60 dn center ml0-l">
    <div class="pt4-l b mh1-l">
      <div class="ma-auto-l">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/use-cases/continuous/" >
          Use Cases
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="{{ SITEURL }}/use-cases/continuous/">
          Continuous Hacking
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="{{ SITEURL }}/use-cases/one-shot/">
          One-shot Hacking
        </a><br>
      </div>
    </div>
    <div class="pt4-l b mh1-l">
      <div class="ma-auto-l ml2">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="#" >
          Products
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Integrates
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Drills
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Forces
        </a><br>
      </div>
    </div>
    <div class="pt4-l b mh4-l">
      <div class="ma-auto-l ml2">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="#" >
          Careers
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Openings
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Terms
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Knowledge Test
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Challenges
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
        href="#">
          Immersion
        </a><br>
      </div>
    </div>
    <div class="pt4-l b mh0-l">
      <div class="ma-auto-l ml2">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="#" >
          About Us
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Certifications
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Diferentiators
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Values
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
          href="#">
          Reviews
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
        href="#">
          Resources
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
        href="#">
          Events
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
        href="#">
          People
        </a><br>
        <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk"
        href="#">
          Partners
        </a><br>
      </div>
    </div>
    <div class="pt4-l b ml4-l ml2">
      <div class="ma-auto-l ml2-l">
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="#" >
          Blog
        </a><br>
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          FAQ
        </a><br>
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          Community
        </a><br>
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          Contact
        </a><br>
        <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          Newsletter
        </a><br>
      </div>
    </div>
  </div>
</div>
<div class="mb0-l mb0-m mb3">
  <div class="tc nb3">
    <p class="c-fluid-gray b f6 fw2 roboto">{{ gettext('Footer-copyright-msg') }}</p>
  </div>
  <!-- status bar -->
  <div class="h2 bg-white b tc mb3">
    <a class="c-fluid-bk f6 fw2 no-underline mt2 roboto pl3 hv-fluid-dkred"
       href="http://status.fluidattacks.com/">
       {{ gettext('Footer-stat-msg-1') }}
    </a>
    <span class="c-fluid-gray f6"> - </span>
    <a class="c-fluid-bk f6 fw2 mt2 roboto no-underline hv-fluid-dkred"
       href="{{ SITEURL }}/{{ gettext('Footer-status-link-1') }}/">
       {{ gettext('Footer-stat-msg-2') }}
    </a>
  </div>
</div>
