{% extends "base.html" %}

<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
  <meta name="description"
        content="Here you can find all the articles published to the blog, which may
        address an opinion, a solution to a challenge, or just general
        information, all related to the field of Information Security.">
  <meta name="keywords"
        content="Articles, Blog, Opinion, Challenge, Information, Security">
{% endblock meta %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/blog/index.html">
{% endblock canonical %}

{% block title %}
Blog | {{ SITENAME }}
{% endblock title %}


{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-banner ml-auto mr-auto">
      <ul class="dib list w-100">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
              href=".">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block content %}
 <!-- Div Index -->
 <div class="roboto flex-ns flex-wrap-ns justify-between-m pt5 pb3 pl2 pr0 bg-graylight">
  <!-- Blog Posts -->
  {% for article in articles_page.object_list %}
    <div
      class="br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns w-100 w-75-m w-30-l ma-auto bg-white">
      {% if  article.featured_image %}
        <img src="{{ SITEURL }}/blog/{{ article.slug }}{{ article.featured_image }}"
             alt="{{ article.alt }}"
             class="br3 br--top">
      {% endif %}
      <!-- Article Preview: Title, Description, Author, Tags ... -->
      <div class="h-34em-l h-27-vl ph4">
        <a href="{{ SITEURL }}/{{ article.url }}"
           rel="bookmark"
           title="Permalink to {{ article.title|striptags }}"
           class="no-underline">
          <!-- Title -->
          <h1 class="post-title c-fluid-bk mb0 tc hv-fluid-rd lh-solid">
            {{ article.title }}
          </h1>
        </a>
        {% if article.subtitle %}
          <!-- Subtitle -->
          <h4 class="c-fluid-bk tc b mb0">
            {{ article.subtitle }}
          </h4>
        {% endif %}<br/>
        <div class='post-info tl pl2'>
          <!-- Author -->
          <p class="c-fluid-bk fw4 f-key-features mv0">Author:
          {% for author in article.authors %}
            <a class="c-fluid-gray hover-black no-underline"
               href="{{ SITEURL }}/{{ author.url }}">
               {{ author }}
            </a><br/>
          {% endfor %}
          </p>
          <!-- Category -->
          <p class="c-fluid-bk fw4 f-key-features mv0">Category:
            <a class="c-fluid-gray hover-black no-underline"
              href="{{ SITEURL }}/{{ article.category.url }}">
              {{ article.category|replace("-", " ") }}
            </a><br/>
          </p>
          <!-- Tags -->
          <p class="c-fluid-bk fw4 f-key-features mv0">Tags:
          {% for tag in article.tags %}
            {% if loop.last %}
              <a class="c-fluid-gray hover-black no-underline"
                 href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a><br/>
            {% else %}
              <a class="c-fluid-gray hover-black no-underline"
                 href="{{ SITEURL }}/{{ tag.url }}">{{ tag }},&nbsp;</a>
            {% endif %}
          {% endfor %}
          </p>
        </div>
        <!-- Summary -->
        <p class="article-summary f5 pl2 mt0 pt1 mt2 mb0 overflow-hidden ">
          {% if article.has_summary %}
            {{ article.summary }}
          {% elif article.summary %}
            {{ article.summary|striptags|truncate(100) }}
          {% endif %}
        </p>
        <br><br>
        <!-- Read More Button -->
        <div class="divread bottom-2 pb3 tc">
          <span class="br2 bannerbt hv-bt-fluid-rd ph4-l ph5 pv2 bt-trans white b roboto pointer">
            <a href="{{ SITEURL }}/{{ article.url }}"
               class="b f5 no-underline white">
               Read More
            </a>
          </span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
  <!-- Pager -->
    <ul class="pager mt3 mb3">
      <li class="next di">
        {% if articles_page.has_previous() %}
          <a class="c-fluid-bk roboto hv-fluid-dkred"
             href= "{{ SITEURL }}/{{ articles_previous_page.url }} ">
             &lt; Previous
          </a>
        {% endif %}
        {% for page_num in range(articles_paginator.num_pages) %}
          {% if loop.first %}
            <a href='{{ SITEURL }}/blog/index.html'
               class="{{ 'current b' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto hv-fluid-dkred pr3 pl3">
               {{ page_num + 1 }}
            </a>
          {% else %}
            <a href='{{ SITEURL }}/blog/index{{ page_num + 1 }}.html'
               class="{{ 'current b' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto hv-fluid-dkred pr3 pl3">
               {{ page_num + 1 }}
            </a>
          {% endif %}
        {% endfor %}
        {% if articles_page.has_next() %}
          <a class="c-fluid-bk roboto hv-fluid-dkred"
             href="{{ SITEURL }}/{{ articles_next_page.url }} " >
             Next &gt;
          </a>
        {% endif %}
      </li>
    </ul>
    <br/>
{% endif %}
{% endblock content %}
