{% extends "base.html" %}

<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
  <meta name="description"
        content="Here you can find all the articles published to the blog, which may
        address an opinion, a solution to a challenge, or just general
        information, all related to the field of Information Security.">
  <meta name="keywords"
        content="Articles, Blog, Opinion, Challenge, Information, Security">
{% endblock meta %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/blog/index.html">
{% endblock canonical %}

{% block title %}
Blog | {{ SITENAME }}
{% endblock title %}

{% block content %}

{% endblock content %}
