{% extends "base.html" %}

<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
<meta name="description"
      content="We are a company specialized in Ethical Hacking over Applications and
      Infrastructure. We are hackers who develop our own tools and exploits,
      with the aim of identifying all the vulnerabilities of your applications
      and report them as soon as possible.">
<meta name="keywords"
      content="{Fluid Attacks, Ethical Hacking, Vulnerability, Diagnosis, Application, Infrastructure.">
{% endblock meta %}

{% block title %}Home | {{ SITENAME }}{% endblock title %}

{% block header %}

<div class="flex-ns flex-wrap-ns justify-between-m banner-bg bg-banner-sz coverm cover-s h50-l h6-m h40-s mb5 pb5">
  <div class="ba1 mb3 relative dt-ns mt0-ns pr3-ns pl3-ns pt3 ma-auto pt6-l pt4 mw9 ml-auto mr-auto">
    <!-- Banner Image-->
    <div class="fr-l w-45-l w100-m w90-s tc ml-auto mr-auto">
      <img class="new-banner"
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/turbine-main.png"
      alt="Young hacker smiling">
    </div>
    <!-- Banner title and text -->
    <div class="fl-l w-50-l w100-m w90-s mt3-l center pt0-ns pt4">
      <p class="c-fluid-bk fheader-l f-6-m fheader-s fw9 tl tc-m neue ma0">PENTEST</p>
      <p class="c-fluid-bk roboto fw8 lh2 f-sub ma0 tl tc-m w-auto-ns nt4-ns">
        FOR YOUR SOFTWARE DEVELOPMENT LIFE CYCLE
      </p>
      <!-- Get a Demo button -->
      <div class="tl-l tc pt2-ns pt5">
        <a class="no-underline" href="https://fluidattacks.com/integrates">
          <span class="dib br2 bannerbt hv-bt-fluid-rd ph4-l ph5 pv2 bt-trans white b roboto pointer mt2">
              Get a Demo
          </span>
        </a>
      </div>
      <!-- End Demo button -->
    </div>
  </div>
</div>

{% endblock header %}

{% block content %}

<div class="mw9 center h6 pv5 mv5">
  <div class="tl pl3-l pr0-l">
    <h1 class="c-fluid-bk center roboto w-100 tc ph3-ns ph3 f1-l f2 lh-solid">
      How Continuous Hacking Works
    </h1>
  </div>
  <div class="pl3-l pr0-l dib w-100">
    <div class="ph3-l pt6-l w-20-l w-100 tc h3 w-100 fr-l nowrap">
      <ul class="list pl0 tl-l tc">
        <li class="db-l dib ph3">
          <input type="radio" id="op1" class="dn" name="menu1" checked />
          <label class="index1 c-fluid-gray f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="op1">
            <img
            class="line-menu w2-l w1 h1 fl-l nl-3 pt2 pr2-l pr3 relative"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/line-menu.svg"
            alt="Young hacker smiling">1. Integrates</label>
        </li>
        <li class="db-l dib ph3">
          <input type="radio" id="op2" class="dn" name="menu1"/>
          <label class="index2 c-fluid-gray f6 roboto no-underline fw3 hv-fluid-dkred pointer" for="op2">
            <img
            class="line-menu w2-l w1 h1 fl-l nl-3 pt2 pr2-l pr3 relative"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/line-menu.svg"
            alt="Young hacker smiling">2. Drills</label>
        </li>
        <li class="db-l dib ph3">
          <input type="radio" id="op3" class="dn" name="menu1"/>
          <label class="index3 c-fluid-gray f6 roboto no-underline fw3 hv-fluid-dkred pointer" for="op3">
            <img
            class="line-menu w2-l w1 h1 fl-l nl-3 pt2 pr2-l pr3 relative"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/line-menu.svg"
            alt="Young hacker smiling">3. Forces</label>
        </li>
      </ul>
    </div>
    <div class="fixes w-80-l w-100 mh0-l ph3-l center fl">
      <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <h2 class="roboto f2 strong mv0">
            The Platform Element
          </h2>
        </li>
        <li>
          <h3 class="roboto fw1 f3 mt0">
            Control the Process to Achieve Remediation
          </h3>
        </li>
        <li>
          <a class="no-underline" href="{{ SITEURL }}/products/integrates/">
            <p class="c-fluid-bk roboto fw1 tl f4 lh-2">
              <strong class="b">Integrates</strong> is a platform that stores vulnerabilities and gives you
              access to their evidence in different phases and in real-time.
              You can easily and quickly classify and prioritize them,
              define their treatments, and check the status and progress of their
              remediation.
            </p>
          </a>
        </li>
      </ul>
      <ul class="list fr center w-50-l w-100 ph0-l ph3">
        <li>
          <a href="{{ SITEURL }}/products/integrates/">
            <img
            class="fr"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/product-fixes.png"
            alt="Young hacker smiling">
          </a>
        </li>
      </ul>
    </div>
    <div class="drills w-80-l w-100 mh0-l ph3-l center dn fl">
      <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <h2 class="roboto strong f2 mv0">
            The Human Element
          </h2>
        </li>
        <li>
          <h3 class="roboto f3 fw1 mt0">
            Continuous Detection of Vulnerabilities
          </h3>
        </li>
        <li>
          <a class="no-underline" href="{{ SITEURL }}/products/drills">
            <p class="c-fluid-bk roboto fw1 tl f4 lh-2">
              <strong class="b">Drills</strong>, through human creativity and intelligence, finds deep and zero-day
              vulnerabilities during software development. Forget about false positives and get detailed evidence,
              accurate attack vectors, and critical information extraction.
            </p>
          </a>
        </li>
      </ul>
      <ul class="list fr center w-50-l w-100 ph0-l ph3">
        <li>
          <a class="no-underline" href="{{ SITEURL }}/products/drills/">
            <img
            class="fr"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/product-drills.png"
            alt="Young hacker smiling">
          </a>
        </li>
      </ul>
    </div>
    <div class="forces w-80-l w-100 mh0-l ph3-l center dn fl">
      <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <h2 class="roboto f2 strong mv0">
            The Robot Element
          </h2>
        </li>
        <li>
          <h3 class="roboto f3 fw1 mt0">
            Break the Build to Force Remediation
          </h3>
        </li>
        <li>
          <a class="no-underline" href="{{ SITEURL }}/products/forces/">
            <p class="c-fluid-bk roboto fw1 tl f4 lh-2">
              <strong class="b">Forces</strong>, making use of human skills for the creation of
              exploits, breaks your build to force remediation of
              confirmed deep vulnerabilities, re-opened vulnerabilities,
              and new peripheral vulnerabilities.
              It can also verify your post-deploy production status.
            </p>
          </a>
        </li>
      </ul>
      <ul class="list fr center w-50-l w-100 ph0-l ph3">
        <li>
          <a class="no-underline" href="{{ SITEURL }}/products/forces/">
            <img
            class="fr"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/product-forces.png"
            alt="Young hacker smiling">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Use Cases -->
<div class="mw9 center h6 pv5 mv5">
  <div class="tl fr-l w-40-l">
    <h1 class="c-fluid-bk center roboto w-100 tl-l tc f2 mb0 pb4">
      Use Cases
    </h1>
    <div class="continuous dn-l">
      <ul class="list tc w-40-l w-100 ph2">
        <li>
          <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/use-cases/service-continuous.png"
          alt="Young hacker smiling">
        </li>
      </ul>
    </div>
    <div class="oneshot dn">
      <ul class="list tc w-40-l w-100 ph2 dn-l">
        <li>
          <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/use-cases/service-one-shot.png"
          alt="Young hacker smiling">
        </li>
      </ul>
    </div>
    <ul class="list pl0-ns pl3 tl tc-m ma0">
      <li class="pr2 di">
        <input type="radio" id="op5" class="dn" name="menu2" checked />
        <label class="index5 c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="op5">
          Continuous Hacking
        </label>
      </li>
      <li class="ph2 di">
        <input type="radio" id="op6" class="dn" name="menu2"/>
        <label class="index6 c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="op6">
          One-Shot Hacking
        </label>
      </li>
    </ul>
  </div>
  <div class="pl3-l pr0-l dib w-100">
    <div class="continuous w-100 mh0-l ph3-l center fl">
      <ul class="list fl center w-40-l w-100 ph2 db-l dn">
        <li>
          <img
          class="fr-l"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/use-cases/service-continuous.png"
          alt="Young hacker smiling">
        </li>
      </ul>
      <ul class="list fr-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <p class="roboto fw1 tl f3-ns f5 lh-2">
            All vulnerabilities and security issues are continuously
            detected and reported during the entire software development cycle.
            Fluid Attacks runs comprehensive testing, detecting all
            vulnerabilities with no false positives.
          </p>
        </li>
        <li class="pt4">
          <div class="dib">
            <a class="no-underline pr4 b roboto dib-l dn"
               href="{{ SITEURL }}/use-cases/continuous/">
              <span class="br2 bg-white bc-fluid-red ba hv-fluid-rd hv-fluid-bd ph4 pv2 bt-trans c-dkred pointer mt2">
                Learn More
              </span>
            </a>
          </div>
          <div class="dib tc w-auto-l w-100">
            <a class="roboto fw1 f5 no-underline c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/contact-us/">
              <span class="br2 bannerbt hv-bt-fluid-rd ph4-l ph5 pv2 bt-trans white b roboto pointer mt2">
                  Get a Demo
              </span>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="oneshot w-100 mh0-l ph3-l center dn fl">
      <ul class="list fl center w-40-l w-100 ph2 db-l dn">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/use-cases/service-one-shot.png"
          alt="Young hacker smiling">
        </li>
      </ul>
      <ul class="list fr-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <p class="roboto fw1 tl f3-ns f5 lh-2">
            Fluid Attacks detects and reports all vulnerabilities within one
            specific version of your application. All existing vulnerabilities
            are detected, with no false positives.
          </p>
        </li>
        <li class="pt4">
          <div class="dib">
            <a class="no-underline pr4 b roboto dib-l dn"
               href="{{ SITEURL }}/use-cases/one-shot/">
              <span class="br2 bg-white bc-fluid-red ba hv-fluid-rd hv-fluid-bd ph4 pv2 bt-trans c-dkred pointer mt2">
                Learn More
              </span>
            </a>
          </div>
          <div class="dib tc w-auto-l w-100">
            <a class="roboto fw1 f5 no-underline c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/contact-us/">
              <span class="br2 bannerbt hv-bt-fluid-rd ph4-l ph5 pv2 bt-trans white b roboto pointer mt2">
                  Get a Demo
              </span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- About us section -->
<div class="mw9 center h6 pt6 pb6-ns mt5">
  <div class="tl fl-l w-40-l">
    <h1 class="c-fluid-bk center roboto w-100 tl-l tc f1-ns lh3 pl3-l ph3">
      Worldwide Hacking Experts
    </h1>
  </div>
  <div class="pl3-l pr0-l dib w-100 pb4">
    <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
      <li>
        <p class="roboto fw1 tl f3-ns f5 lh-2 mt2">
          Since 2001, Fluid Attacks has been developing cybersecurity products
          and providing solutions for clients in industries like technology,
          banking, finance, healthcare, insurance, airlines, and retail.
          Fluid Attacks’ 70 security experts work closely with organizations to
          ensure that their systems’ vulnerabilities are recognized and closed
          at DevOps speed.
        </p>
      </li>
      <li class="pv4">
        <a class="feature-button-r roboto fw1 fl-l fr tracked-1 f3 no-underline c-lightblack hv-fluid-dkred" href="#">
          <img
          class="w1 fr relative pt2 mt1 ml2"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
          alt="Young hacker smiling">
          Read more
        </a>
      </li>
    </ul>
    <ul class="list w-60-l w-70-m w-100 pl6-l flex-l dn center mt4">
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo01.png"
          alt="RSA logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo02.png"
          alt="Mazda logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo03.png"
          alt="Manpower logo">
      </li>
    </ul>
    <ul class="list w-60-l w-70-m w-100 pl6-l flex-l dn center">
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo04.png"
          alt="Kometsales logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo05.png"
          alt="Payvalida logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo06.png"
          alt="Libera logo">
      </li>
    </ul>
    <ul class="list w-60-l w-70-m w-100 pl6-l flex-l dn center">
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo07.png"
          alt="Berkeley logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo08.png"
          alt="Young hacker smiling">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo09.png"
          alt="Young hacker smiling">
      </li>
    </ul>
  </div>
  {% include "clients-carousel.html" %}
</div>
<div class="asap-bg asap-bg-s coverm cover-s justify-center items-center flex bg-center nb3">
  <p class="white f2-ns f3 tc roboto b mv0">
    We Find All Vulnerabilities and Report Them ASAP
  </p>

</div>
{% include "location.html" %}
{% endblock content %}
