{% extends "base.html" %}

<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
<meta name="description"
      content="{{ gettext('Landing-metadescription') }}.">
<meta name="keywords"
      content="{{ gettext('Landing-keywords')}}.">
{% endblock meta %}

{% block title %}{{ gettext('Landing-title') }} | {{ SITENAME }}{% endblock title %}

{% block header %}

<div class="flex-ns flex-wrap-ns justify-between-m banner-bg bg-banner-sz coverm cover-s h50-l h6-m h40-s">
  <div class="ba1 mb3 relative dt-ns mt0-ns pr3-ns pl3-ns pt3 ma-auto pt6-l pt4 mw9 ml-auto mr-auto">
    <!-- Banner Image-->
    <div class="fr-l w-45-l w100-m w90-s center">
      <img class="new-banner"
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/turbine-main.png"
      alt="{{ gettext('Header-img-alt') }}">
    </div>
    <!-- Banner title and text -->
    <div class="fl-l w-45-l w100-m w90-s mt3-l center">
      <p class="fheader-l f-6-m fheader-s fw9 neue ma0">{{ gettext('Header-title-2') }}</p>
      <p class="c-fluid-bk roboto b f4 mt2 tl w-auto-ns ph0">{{ gettext('Header-msg') }}</p>
      <!-- Get a Demo button -->
      <span class="fl br2 bannerbt hv-bt-fluid-rd bt-pd bt-trans white b roboto pointer mt2"
          onclick="window.location='{{ SITEURL }}/services/'">
          Learn more
      </span>
      <!-- End Demo button -->
    </div>
  </div>
</div>

{% endblock header %}

{% block content %}

<div class="mw9 center h6 pb5">
  <div class="tl">
    <h1 class="center roboto w-100 tl-l tc ph5-ns ph3 f2-ns f4">
      How Continuous Hacking Works
    </h1>
  </div>
  <div class="pl3-l pr0-l dib w-100">
    <div class="ph4-l pt6-l w-15-l w-100-s tc h-auto-l h3 mw9-m w-100-m fr-l">
      <ul class="list pl0 tl-l tc">
        <li class="ph2 db-l di ph2">
          <input type="radio" id="op1" class="dn" name="menu1" checked />
          <label class="index1 c-fluid-gray f6 roboto no-underline fw3 hv-fluid-dkred pointer" for="op1">
            <img
            class="line-menu w2-l w1 fl nl4 pt3 pr2 relative"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/line-menu.svg"
            alt="{{ gettext('Header-img-alt') }}">1. Fixes</label>
        </li>
        <li class="ph2 db-l di ph2">
          <input type="radio" id="op2" class="dn" name="menu1"/>
          <label class="index2 c-fluid-gray f6 roboto no-underline fw3 hv-fluid-dkred pointer" for="op2">
            <img
            class="line-menu w2-l w1 fl nl4 pt3 pr2 relative"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/line-menu.svg"
            alt="{{ gettext('Header-img-alt') }}">2. Skims</label>
        </li>
        <li class="ph2 db-l di ph2">
          <input type="radio" id="op3" class="dn" name="menu1"/>
          <label class="index3 c-fluid-gray f6 roboto no-underline fw3 hv-fluid-dkred pointer" for="op3">
            <img
            class="line-menu w2-l w1 fl nl4 pt3 pr2 relative"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/line-menu.svg"
            alt="{{ gettext('Header-img-alt') }}">3. Drills</label>
        </li>
        <li class="ph2 db-l di ph2">
          <input type="radio" id="op4" class="dn" name="menu1"/>
          <label class="index4 c-fluid-gray f6 roboto no-underline fw3 hv-fluid-dkred pointer" for="op4">
            <img
            class="line-menu w2-l w1 fl nl4 pt3 pr2 relative"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/line-menu.svg"
            alt="{{ gettext('Header-img-alt') }}">4. Forces</label>
        </li>
      </ul>
    </div>
    <div class="fixes w-80-l w-100 mh0-l ph3-l center fl">
      <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <h2 class="roboto fw4">
            Fixes
          </h2>
        </li>
        <li>
          <h3 class="roboto fw4">
            Facilitates the Management of Vulnerabilities
          </h3>
        </li>
        <li>
          <p class="roboto fw1 tl f5-ns f7 lh-2">
            Fixes is a platform that stores vulnerabilities and gives
            you access to their evidence in different phases and in
            real-time. You can easily and quickly classify and
            prioritize them, define their treatments, and check the
            status and progress of their remediation.
          </p>
        </li>
      </ul>
      <ul class="list fr center w-50-l w-100 pl0-l">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/product-fixes.png"
          alt="{{ gettext('Header-img-alt') }}">
        </li>
      </ul>
    </div>
    <div class="skims w-80-l w-100 mh0-l ph3-l center dn fl">
      <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <h2 class="roboto fw4">
            Skims
          </h2>
        </li>
        <li>
          <h3 class="roboto fw4">
            Automates the search of superficial<br>
            vulnerabilities
          </h3>
        </li>
        <li>
          <p class="roboto fw1 tl f5-ns f7 lh-2">
            Look for deterministic and peripheral vulnerabilities.
            Skims helps in the construction of exploits that break the
            build. It is executable in phases of pre-commit,
            CI time and post-deploy (CI compatible).
            Skims works for code (SAST), applications (DAST),
            infrastructure and cloud (AWS, Azure)
            and can be executed unlimited times.
          </p>
        </li>
      </ul>
      <ul class="list fr center w-50-l w-100 pl0-l">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/product-skims.png"
          alt="{{ gettext('Header-img-alt') }}">
        </li>
      </ul>
    </div>
    <div class="drills w-80-l w-100 mh0-l ph3-l center dn fl">
      <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <h2 class="roboto fw4">
            Drills
          </h2>
        </li>
        <li>
          <h3 class="roboto fw4">
            Finds deep vulnerabilities
          </h3>
        </li>
        <li>
          <p class="roboto fw1 tl f5-ns f7 lh-2">
            Drills, through human creativity and intelligence, finds
            deep and zero-day vulnerabilities during software
            development. Forget about false positives and get detailed
            evidence, accurate attack vectors, and log extraction.
          </p>
        </li>
      </ul>
      <ul class="list fr center w-50-l w-100 pl0-l">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/product-drills.png"
          alt="{{ gettext('Header-img-alt') }}">
        </li>
      </ul>
    </div>
    <div class="forces w-80-l w-100 mh0-l ph3-l center dn fl">
      <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <h2 class="roboto fw4">
            Forces
          </h2>
        </li>
        <li>
          <h3 class="roboto fw4">
            Obliges the remediation of vulnerabilities
          </h3>
        </li>
        <li>
          <p class="roboto fw1 tl f5-ns f7 lh-2">
            Forces, making use of human skills for the creation of
            exploits, breaks your build to force remediation of
            confirmed deep vulnerabilities, re-opened vulnerabilities,
            and new peripheral vulnerabilities.
            It can also verify your post-deploy production status.
          </p>
        </li>
      </ul>
      <ul class="list fr center w-50-l w-100 pl0-l">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/product-forces.png"
          alt="{{ gettext('Header-img-alt') }}">
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Use Cases -->
<div class="mw9 center h6 pb5">
  <div class="tl fr-l w-40-l">
    <h1 class="center roboto w-100 tl-l tc f2-ns f4">
      Use Cases
    </h1>
    <ul class="list pl0 tl-l tc">
      <li class="ph2 di">
        <input type="radio" id="op5" class="dn" name="menu2" checked />
        <label class="index5 c-fluid-gray f6 roboto no-underline fw3 hv-fluid-dkred pointer" for="op5">
          Continuous Hacking
        </label>
      </li>
      <li class="ph2 di">
        <input type="radio" id="op6" class="dn" name="menu2"/>
        <label class="index6 c-fluid-gray f6 roboto no-underline fw3 hv-fluid-dkred pointer" for="op6">
          One-Shot Hacking
        </label>
      </li>
      <li class="ph2 di">
        <input type="radio" id="op7" class="dn" name="menu2"/>
        <label class="index7 c-fluid-gray f6 roboto no-underline fw3 hv-fluid-dkred pointer" for="op7">
          Vulnerabilities Management
        </label>
      </li>
    </ul>
  </div>
  <div class="pl3-l pr0-l dib w-100">
    <div class="continuous w-100 mh0-l ph3-l center fl">
      <ul class="list fl center w-40-l w-100 pl0-l">
        <li>
          <img
          class="fr-l"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/service-continuous.png"
          alt="{{ gettext('Header-img-alt') }}">
        </li>
      </ul>
      <ul class="list fr-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <p class="roboto fw1 tl f5-ns f7 lh-2">
            All vulnerabilities and security issues are continuously
            detected and reported during the entire software development cycle.
            Fluid Attacks runs comprehensive testing, detecting all
            vulnerabilities with no false positives.
          </p>
        </li>
        <li class="pt4">
          <a class="roboto fw1 fr f5 no-underline c-fluid-bk hv-fluid-dkred" href="#">
            <img
            class="w1 fr relative pt1 ml2"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
            alt="{{ gettext('Header-img-alt') }}">
            Learn more
          </a>
        </li>
      </ul>
    </div>
    <div class="oneshot w-100 mh0-l ph3-l center dn fl">
      <ul class="list fl center w-40-l w-100 pl0-l">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/service-one-shot.png"
          alt="{{ gettext('Header-img-alt') }}">
        </li>
      </ul>
      <ul class="list fr-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <p class="roboto fw1 tl f5-ns f7 lh-2">
            Fluid Attacks detects and reports all vulnerabilities within one
            specific version of your application. All existing vulnerabilities
            are detected, with no false positives.
          </p>
        </li>
        <li class="pt4">
          <a class="roboto fw1 fr f5 no-underline c-fluid-bk hv-fluid-dkred" href="#">
            <img
            class="w1 fr relative pt1 ml2"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
            alt="{{ gettext('Header-img-alt') }}">
            Learn more
          </a>
        </li>
      </ul>
    </div>
    <div class="manager w-100 mh0-l ph3-l center dn fl">
      <ul class="list fl center w-40-l w-100 pl0-l">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/service-manager.png"
          alt="{{ gettext('Header-img-alt') }}">
        </li>
      </ul>
      <ul class="list fr-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
        <li>
          <p class="roboto fw1 tl f5-ns f7 lh-2">
            Fluid Attacks stores your system’s vulnerabilities and gives you
            access to their evidence in different phases of the development life
            cycle and in real-time.
            You can classify and prioritize them, define their treatments,
            and check the status and progress of their remediation.
          </p>
        </li>
        <li class="pt4">
          <a class="roboto fw1 fr f5 no-underline c-fluid-bk hv-fluid-dkred" href="#">
            <img
            class="w1 fr relative pt1 ml2"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
            alt="{{ gettext('Header-img-alt') }}">
            Learn more
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- About us section -->
<div class="mw9 center h6 pb5">
  <div class="tl fl-l w-40-l">
    <h1 class="center roboto w-100 tl-l tc f2-ns f4 pl3-l">
      Worldwide Hacking Experts
    </h1>
  </div>
  <div class="pl3-l pr0-l dib w-100">
    <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
      <li>
        <p class="roboto fw1 tl f5-ns f7 lh-2">
          Since 2001, Fluid Attacks has been developing cybersecurity products
          and providing solutions for clients in industries like technology,
          banking, finance, healthcare, insurance, airlines, and retail.
          Fluid Attacks’ 70 security experts work closely with organizations to
          ensure that their systems’ vulnerabilities are recognized and closed
          at DevOps speed.
        </p>
      </li>
      <li class="pv4">
        <a class="roboto fw1 fl f5 no-underline c-fluid-bk hv-fluid-dkred" href="#">
          <img
          class="w1 fr relative pt1 ml2"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
          alt="{{ gettext('Header-img-alt') }}">
          Read more
        </a>
      </li>
    </ul>
    <ul class="list w-60-l w-70-m w-100 pl6-l flex center">
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo01.png"
          alt="{{ gettext('Header-img-alt') }}">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo02.png"
          alt="{{ gettext('Header-img-alt') }}">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo03.png"
          alt="{{ gettext('Header-img-alt') }}">
      </li>
    </ul>
    <ul class="list w-60-l w-70-m w-100 pl6-l flex center">
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo04.png"
          alt="{{ gettext('Header-img-alt') }}">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo05.png"
          alt="{{ gettext('Header-img-alt') }}">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo06.png"
          alt="{{ gettext('Header-img-alt') }}">
      </li>
    </ul>
    <ul class="list w-60-l w-70-m w-100 pl6-l flex center">
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo07.png"
          alt="{{ gettext('Header-img-alt') }}">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo08.png"
          alt="{{ gettext('Header-img-alt') }}">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo09.png"
          alt="{{ gettext('Header-img-alt') }}">
      </li>
    </ul>
  </div>
</div>
<!-- Location -->
<div class="bg-dk-red mb4 pb3">
  <div class="mb3 mw9 tc mr-auto ml-auto flex-l flex-wrap pv4 pv0-ns w-100-l w-60-m">
    <div class="flex-l ma0-ns pa0-ns w-40-l h4-l">
      <ul class="list pv4-l pv2 ph2 pl4-ns center">
        <li><p class="white f-title-l f-title-m f4-s tl-ns roboto b">Fluid Attacks Offices</p></li>
      </ul>
    </div>
    <div class="flex-l ma0-ns pa0-ns w-auto-ns w-70-ns">
      <ul class="list pv4-l pt2 pv1 ph4-l ph2 mh4">
        <li>
          <p class="white f-title-l f-title-m f4-s tl roboto">United States</p>
        </li>
        <li>
          <p class="white ma-auto tl f7 f6-ns fw2 roboto lh-2">
            795 Folsom Street, 1st Floor<br>
            San Francisco, CA.<br>
            94107<br>
            +1.415.404.2154<br>
          </p>
        </li>
      </ul>
      <ul class="list pv4-l pt2 pv1 ph4-l ph2 mh4">
        <li>
          <p class="white f-title-l f-title-m f4-s tl roboto">Colombia</p>
        </li>
        <li>
          <p class="white ma-auto tl f6-ns f7 fw2 roboto lh-2">
            Carrera 19 N 84 - 17<br>
            Almaru Country Building, 204<br>
            Antiguo Country, Bogotá <br>
            +57.300.216.8029 <br>
          </p>
        </li>
      </ul>
      <ul class="list pv4-l pt2 pv1 ph4-l ph2 mh4">
        <li>
          <p class="c-dkred f-title-l f-title-m f4-s roboto db-l dn">Colombia</p>
        </li>
        <li>
          <p class="white ma-auto tl f7 f6-ns fw2 roboto mb4 lh-2">
            Carrera 43 N 9 Sur - 195 <br>
            Square Building, 736 <br>
            El Poblado, Medellín <br>
            +57.300.216.8029 <br>
          </p>
        </li>
      </ul>
      <div class="dn-ns tc">
        <span class="bg-white contact-pd c-dkred b roboto pointer mt2 ba bc-fluid-red"
              onclick="window.location='{{ SITEURL }}/contact-us/'">
              Contact us today
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
