<!-- Location -->
<div class="bg-dk-red mb4 pb3">
  <div class="mb3 mw9 tc mr-auto ml-auto flex-l flex-wrap pv4 pv0-ns w-100-l w-60-m">
    <div class="flex-l ma0-ns pa0-ns w-35-l h4-l">
      <ul class="list pv4-l pv2 ph4 mh4">
        <li><p class="white f-title-l f-title-m f4-s tl-ns roboto b">Fluid Attacks Offices</p></li>
      </ul>
    </div>
    <div class="flex-l ma0-ns pa0-ns w-auto-ns w-70-ns w6 mr-auto ml-auto">
      <ul class="list pv4-l pt2 pv1 ph4-l ph2 mh4">
        <li>
          <p class="white f-title-l f-title-m f4-s tl ph2 roboto">United States</p>
        </li>
        <li>
          <p class="white ma-auto tl f5 fw2 roboto lh-2 ph2">
            795 Folsom Street, 1st Floor<br>
            San Francisco, CA.<br>
            94107<br>
            +1.415.404.2154<br>
          </p>
        </li>
      </ul>
      <ul class="list pv4-l pt2 pv1 ph4-l ph2 mh4">
        <li>
          <p class="white f-title-l f-title-m f4-s tl ph2 roboto">Colombia</p>
        </li>
        <li>
          <p class="white ma-auto tl f5 fw2 roboto lh-2 ph2">
            Carrera 19 N 84 - 17<br>
            Almaru Country Building, 204<br>
            Antiguo Country, Bogotá <br>
            +57.300.216.8029 <br>
          </p>
        </li>
      </ul>
      <ul class="list pv4-l pt2 pv1 ph4-l ph2 mh4">
        <li>
          <p class="c-dkred f-title-l f-title-m f4-s roboto db-l dn">Colombia</p>
        </li>
        <li>
          <p class="white ma-auto tl f5 fw2 roboto lh-2 ph2">
            Carrera 43 N 9 Sur - 195 <br>
            Square Building, 736 <br>
            El Poblado, Medellín <br>
            +57.300.216.8029 <br>
          </p>
        </li>
      </ul>
      <div class="dn-ns tc">
      </div>
    </div>
  </div>
</div>
