<div class="b relative w-100 z-5 h4-l mw9 mr-auto ml-auto ">
  <div class="cssmenu bg-white lh-solid h-menu-s cover shadow-menu mv-menu">
    <ul class="list ma0 pa0 overflow-hidden h4">
      <li class="fl">
        <a class="db tc pa1 no-underline" href="{{ SITEURL }}/">
          <img class="w5-l w-logo ml5-l ml3 mv2 absolute"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo-menu-new.svg" alt="Young hacker smiling">
        </a>
      </li>
      <li class="relative fr mr-13-l mt-menu mr-3-s mv4-l mv3 pv3-l pv-4-m">
        <a class="db tc pa1 no-underline c-fluid-bk f5-ns f6 fw4 menu-txt-trans roboto hv-fluid-rd nt-menu"
           href="https://fluidattacks.com/integrates">
          LOGIN
        </a>
      </li>
      <li class="relative fr mt-menu mr4 mv4-l pv3-l pv-4-m">
        <a class="db-l dn tc pa1 no-underline c-fluid-bk f5 fw4 menu-txt-trans roboto hv-fluid-rd nt-menu"
           href="{{ SITEURL }}/contact-us/">
          CONTACT
        </a>
      </li>
      <li class="fr">
        <input type="checkbox" id="op" class="dn" />
        <div class="lower w1 absolute right-small mr6-l">
          <label for="op" class="w2-l w1 absolute right-small pointer z-100 mv4-l pv2-l mv3 pv-4-m">
            <img class="lower-img mt-menu-bt" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/menu.svg"
              alt="Young hacker smiling">
            </label>
        </div>
        <div class="overlay overlay-hugeinc bg-white fixed w-100 h-100 top-0 left-0 z-100 overflow-y-auto">
          <label for="op" class="w1 nt1 absolute right-small top-2 pointer mr6-l">
            <img class="lower-img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cross.png"
              alt="Young hacker smiling">
          </label>
          <nav class="h-50 relative tc t-50 ty-50 ">
            <ul class="o-40 menu-trans dib h-100 list ma0 pa0 relative tl w5">
              <div class="products-menu h-maxcontent">
                <li class="db">
                  <input class="dn" type="radio" name="menu3" id="products-title">
                  <label for="products-title" class="pointer hv-fluid-rd f3 c-fluid-bk fw3 menu-txt-trans roboto">
                    Products <div class="dib w1"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-down.svg" alt="arrow down"></div></label>
                  </a>
                  <div class="products-list dn">
                    <ul class="list">
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto pv"
                           href="{{ SITEURL }}/products/integrates/">
                            Integrates
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/products/drills/">
                            Drills
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/products/forces/">
                            Forces
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </div>
              <div class="usecases-menu h-maxcontent">
                <li class="db">
                  <input class="dn" type="radio" name="menu3" id="usecases-title">
                  <label for="usecases-title" class="pointer hv-fluid-rd f3 c-fluid-bk fw3 menu-txt-trans roboto">
                    Use Cases <div class="dib w1"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-down.svg" alt="arrow down"></div></label>
                  </a>
                  <div class="usecases-list dn">
                    <ul class="list">
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/use-cases/continuous/">
                          Continuous Hacking
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/use-cases/one-shot/">
                           One-shot Hackng
                          </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </div>
              <li class="db h2">
                <a href="#" class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">About Us</a>
              </li>
              <li class="db h2 mb5">
                <a href="#" class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">Blog</a>
              </li>
              <li class="db h2">
                <a href="{{ SITEURL }}/contact-us/"
                   class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">Contact</a>
              </li>
              <li class="db h2">
                <a href="#" class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">Careers</a>
              </li>
              <li class="db h2">
                <a href="#" class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">FAQ</a>
              </li>
              <li class="db h2">
                <a href="#" class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">Community</a>
              </li>
              <li>
                <!-- social media -->
                <div class="divsocial flex justify-center pt4 pb3">
                  <a class="pr3" href="https://twitter.com/fluidattacks">
                    <img class="grow-large hv-fluid-rd w2 grayscale" src="{{ SITEURL }}/theme/images/social-media/twitter.png"
                      alt="Twitter logo">
                  </a>
                  <a class="pr3" href="https://www.facebook.com/Fluid-Attacks-267692397253577/">
                    <img class="grow-large hv-fluid-rd w2 grayscale" src="{{ SITEURL }}/theme/images/social-media/facebook.png"
                      alt="Facebook logo">
                  </a>
                  <a class="pr3" href="https://www.linkedin.com/company/fluidattacks/">
                    <img class="grow-large hv-fluid-rd w2 grayscale" src="{{ SITEURL }}/theme/images/social-media/linkedin.png"
                      alt="Linkedin logo">
                  </a>
                  <a class="pr3" href="https://www.youtube.com/user/fluidsignal">
                    <img class="grow-large hv-fluid-rd w2 grayscale" src="{{ SITEURL }}/theme/images/social-media/youtube.png"
                      alt="Youtube logo">
                  </a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </li>
    </ul>
  </div>
</div>
