.makes: &makes
  tags: [autoscaling]
  image: "${CI_REGISTRY_IMAGE}/makes"
  needs: []
  interruptible: true
  script:
    - ./m "${CI_JOB_NAME% *}"
  variables:
    GIT_DEPTH: 5

.makes_commit_pattern: &makes_commit_pattern '$CI_COMMIT_TITLE =~ /^(all|makes)/'

.makes_in_dev_branch: &makes_in_dev_branch
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *makes_commit_pattern

.makes_in_master_branch: &makes_in_master_branch
  resource_group: "${CI_JOB_NAME}"
  rules:
    - if: '$CI_COMMIT_BRANCH != "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *makes_commit_pattern

.makes_in_schedule_users_rotate_even: &makes_in_schedule_users_rotate_even
  rules:
    - if: '$CI_PIPELINE_SOURCE != "schedule"'
      when: never
    - if: '$makes_users_rotate_even != "defined"'
      when: never
    - when: always

.makes_in_schedule_users_rotate_odd: &makes_in_schedule_users_rotate_odd
  rules:
    - if: '$CI_PIPELINE_SOURCE != "schedule"'
      when: never
    - if: '$makes_users_rotate_odd != "defined"'
      when: never
    - when: always

makes.aws-sso.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.aws-sso.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.ci.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.ci.config:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.ci.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.compute.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.compute.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.dns.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.dns.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.doc.deploy.dev:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: deploy-app
  script: ./m makes.doc.deploy dev
  environment:
    name: doc/${CI_COMMIT_REF_NAME}
    url: https://doc-dev.fluidattacks.com/${CI_COMMIT_REF_NAME}/

makes.doc.deploy.prod:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-app
  script: ./m makes.doc.deploy prod
  environment:
    name: doc/${CI_COMMIT_REF_NAME}
    url: https://doc.fluidattacks.com/

makes.doc.infra.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.doc.infra.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.secrets.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.secrets.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.test.makes:
  <<: *makes
  <<: *makes_in_master_branch
  stage: test-code

makes.users.airs.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.airs.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.airs.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.airs.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.users.asserts.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.asserts.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.asserts.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.asserts.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.users.forces.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.forces.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.forces.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.forces.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.users.integrates.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.integrates.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.integrates.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.integrates.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.users.melts.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.melts.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.melts.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.melts.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.users.observes.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.observes.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.observes.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.observes.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.users.makes.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.makes.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.makes.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.makes.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.users.services.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.services.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.services.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.services.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.users.skims.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.skims.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.skims.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.skims.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.users.sorts.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.users.sorts.rotate.even:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_even
  stage: rotation

makes.users.sorts.rotate.odd:
  <<: *makes
  <<: *makes_in_schedule_users_rotate_odd
  stage: rotation

makes.users.sorts.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra

makes.vpc.apply:
  <<: *makes
  <<: *makes_in_master_branch
  stage: deploy-infra

makes.vpc.test:
  <<: *makes
  <<: *makes_in_dev_branch
  stage: test-infra
