$fluid-light-gray: rgba(241, 241, 241, 1);

.rep-img {
  border: 1px solid $fluid-light-gray;
  box-shadow: -3px -2px 5px $fluid-light-gray;
  width: 95%;
}

.imgwriter {
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 90px;
  width: 90px;
}
