$darkgray: rgba(102, 102, 102, 1);
$darkblue: rgba(29, 79, 114, 1);
$lightblue: rgba(0, 133, 161, 1);
$lightgray: rgba(211, 211, 211, 1);
$tagblue: rgba(27, 117, 187, 1);
$white: rgba(255, 255, 255, 1);

@mixin next-prev {
  display: inline-block;
  vertical-align: top;
  width: 40%;

  div {
    background: $darkblue;
    padding: 5px;
    width: fit-content;
  }

  a {
    color: $white;

    &:hover {
      color: $lightblue;
    }
  }
}

@mixin blank-cell {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.divarticle {
  background-color: $white;
  border-top: 3px solid $darkblue;
  margin: 10px 21px;
  padding: 25px;

  article {
    h1 {
      margin: 20px 0 10px;
    }

    .subtitle {
      display: block;
      font-size: 25px;
      font-style: italic;
      text-align: center;
    }
  }
}

.meta-table {
  border-collapse: collapse;
  margin: 15px 0;
}

.meta-data {
  @include blank-cell;
  display: block;

  a {
    font-size: 17px;
    margin-left: 5px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    top: 3px;
  }

  p {
    display: inline;
    font-size: 17px;
    margin-left: 5px;
    position: relative;
    top: 3px;
  }
}

.imgwriter {
  border-radius: 45px;
  float: left;
  height: 90px;
  width: 90px;
}

.authorinfo {
  border-collapse: collapse;
  left: 10px;
  position: relative;
  top: 5px;
  width: 80%;

  td {
    @include blank-cell;

    p {
      margin: 0;
    }
  }
}

.related {
  display: inline-table;
  text-align: center;
  width: 32%;

  img {
    margin: 10px 0;
  }
}

.tags {
  overflow: hidden;

  a {
    background-color: $tagblue;
    color: $white;
    float: left;
    margin: 0 5px 40px 0;
    padding: 5px 10px;
    text-transform: capitalize;
  }
}

.prev-article {
  @include next-prev;
  margin-right: 18%;

  div {
    margin-right: auto;
  }
}

.next-article {
  @include next-prev;

  div {
    margin-left: auto;
  }
}

@media (min-width: 640px) {
  .divarticle {
    margin: 10px 25px;
  }

  .meta-table {
    background-color: $white;
    border-collapse: separate;
    border-spacing: 10px;
    display: table;
    width: 100%;
  }

  .meta-data {
    display: table-cell;
    text-align: center;
    width: 25%;
  }

  .next-article,
  .prev-article {
    a {
      font-size: 21px;
    }
  }
}
