$darkblue: rgba(29, 79, 114, 1);
$darkgray: rgba(102, 102, 102, 1);
$fluid-black: rgba(39, 39, 39, 1);
$fluid-dark-red: rgba(203, 50, 51, 1);
$fluid-gray: rgba(176, 176, 176, 1);
$fluid-light-gray: rgba(241, 241, 241, 1);
$fluid-red: rgba(255, 52, 53, 1);
$lightblue: rgba(0, 133, 161, 1);
$lightgray: rgba(211, 211, 211, 1);
$lightergray: rgba(238, 238, 238, 1);
$shadowgray: rgba(170, 170, 170, 1);
$textblack: rgba(48, 48, 48, 1);
$tooltipblack: rgba(68, 68, 68, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

// Tachyons custom classes:

.bg-fluid-red { background-color: $fluid-red;}
.bg-fluid-gray { background-color: $fluid-gray;}
.bg-fluid-lightgray { background-color: $lightergray; }
.bg-fluid-black { background-color: $fluid-black; }
.minw-100 { min-width: 100%; }
.ma-auto { margin: auto; }
.w-32 { width: 32%; }
.montsy { font-family: 'Montserrat'; }
.sans-pro { font-family: 'Source Sans Pro'; }
.mono { font-family: 'Overpass Mono', monospace; }
.c-fluid-bk { color: $fluid-black; }
.c-fluid-red { color: $fluid-red; }
.c-fluid-gray { color: $fluid-gray; }
.c-fluid-dkblue { color: $darkblue; }
.grayscale { filter: grayscale(100);}
.hv-fluid-dkred { &:hover { color: $fluid-dark-red;} }
.hv-fluid-bk { &:hover { color: $fluid-black;} }
.fluid-bullet { list-style-image: url('../../images/bullet2.png');}
.h-banner { height: 15em; }
.w-banner { width: 20em; }
.minh-nav { min-height: 5em; }
.h-search { height: 2.5em; }
.w6 { width: 19em; }

// Tachyons custom responsive classes
//Large screens
@media screen and (min-width: 60em) {
  .h-28em-l { height: 28em; }
  .h-banner-l { height: 20em; }
}

//Very large screens
@media screen and (min-width: 150em) {
  .h-auto-vl { height: auto; }
}
// End Tachyons

@mixin hn {
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1;
  margin: 20px 0 10px;
}

@mixin cell($padding) {
  border: 1px solid $fluid-gray;
  font-size: 21px;
  padding: $padding;

  p {
    margin: 10px 0;
  }
}

.col-lg-8,
.col-md-10 {
  text-align: center;
  width: 100%;
}

.navcontent-container {
  box-shadow: 0 5px 5px $fluid-light-gray;
  padding: 0 25px;
}

.navcontent-info {
  display: flex;
  margin: auto;
  max-width: 95ch;
}

.list-title {
  background-color: $white;
  border-top: 3px solid $darkblue;
  margin: 10px 20px 0;
  padding: 20px;
  width: auto;
}

h1 {
  @include hn;
  font-size: 34px;
}

h2 {
  @include hn;
  font-size: 30px;
}

h3 {
  @include hn;
  font-size: 24px;
}

h4 {
  @include hn;
  font-size: 18px;
}

a {
  color: $darkblue;

  &:hover {
    color: $fluid-dark-red;
  }

  .tooltip {
    color: $darkblue;

    &:hover {
      color: $lightblue;
    }
  }
}

.listingblock,
.literalblock {
  margin: 15px 0;
}


.imageblock,
.videoblock {
  margin: 15px 0;
  text-align: center;
}

.fluid-qanda {
  li,
  ol {
    font-style: italic;
    list-style-type: none;
  }
}

ol {
  font-size: 18px;
  padding-left: 28px;
}

p {
  font-size: 18px;
  line-height: 29.75px;
  margin: 0;
  text-align: left;

  strong {
    color: $textblack;
    font-weight: bold;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  display: block;
  overflow: auto;

  td,
  th {
    background-color: $white;
  }
}

ul {
  padding-left: 0;

  li {
    margin-top: -10px;
  }
}

.ulist {
  margin-top: 15px;
  padding-left: 20px;

  p {
    margin-top: 15px;
  }
}

.hrcoments {
  border-top: 3px solid $darkblue;
}

.anchor-sign {
  &::before {
    content: '\0023';
  }
 }

.tableblock {
  margin: 15px auto;

  th {
    @include cell(20px);
    text-align: center;
  }

  td {
    @include cell(10px);
  }

  .anchor {
    top: -50vh;
  }
}

.tfoot {
  font-weight: bold;
}

.frame-topbot {
  td,
  th {
    border-left-style: hidden;
    border-right-style: hidden;
  }
}

.frame-sides {
  td,
  th {
    border-bottom-style: hidden;
    border-top-style: hidden;
  }
}

.frame-none {
  td,
  th {
    border-style: hidden;
  }
}

.tb-row,
.tb-col {
  display: inline;

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
}

.subp {
  p {
    left: 4%;
    position: relative;
    text-align: left;
  }
}

.tb-ppl {
  display: table;

  td,
  th {
    border: 0;
  }

  p {
    text-align: center;
  }

  img {
    border-radius: 50%;
    filter: grayscale(100%);
  }

  h3 {
    text-align: center;
    vertical-align: top;
  }

}

.img-ppl {
  img {
    border-radius: 50%;
    filter: grayscale(100%);
    width: 300px;
  }
}

//scss-lint:disable NestingDepth
.tb-alt {
  display: table;
  text-align: center;

  a {
    color: $fluid-black;

    &:hover {
      color: $fluid-dark-red;
    }
  }

  td {
    &:last-child {
      border-top-style: hidden;
    }

    p {
      text-align: center;
    }
  }

  tr {
    &:first-child {
      td {
        &:first-child {
          border-top-style: hidden;
        }
      }
    }

    &:last-child {
      td {
        &:last-child {
          border-bottom-style: hidden;
        }
      }
    }
  }

  img {
    max-width: 250px;
  }
}
//scss-lint:enable NestingDepth

.tb-responsive {
  td,
  th {
    display: block;
    margin: -1px;
  }
}

.title {
  color: $darkgray;
  font-size: 16px;
}

.dlist {
  dt {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    margin-top: 0;
  }
}

.hdlist {
  font-size: 18px;

  table {
    margin: 0;

    td {
      border-top: 0;
      padding: 0;
      vertical-align: middle;
    }
  }

  .hdlist1 {
    font-weight: bold;
  }
}

.qlist {
  margin: 15px 0;

  li {
    margin-bottom: 20px;

    li {
      margin-bottom: 0;
    }
  }

  p {
    margin-top: 0;
  }
}

.preamble {
  font-size: 21px;
}

.tagcloud {
  li {
    display: inline-block;

    a {
      font-family: monospaced;
      text-transform: capitalize;
    }
  }
}

.tag-1 {
  font-size: 190%;
}

.tag-2 {
  font-size: 160%;
}

.tag-3 {
  font-size: 130%;
}

.tb-fluid {
  th {
    background-color: $darkblue;
    color: $white;
  }

  tr {
    &:nth-child(even) {
      background-color: $lightgray;
    }

    &:nth-child(odd) {
      background-color: $lightergray;
    }
  }

  td {
    background-color: unset;
    border-color: $white;
  }
}

.post-heading {
  margin: auto;
  max-width: 95ch;
}


.tooltip {
  border-bottom: 1px dotted $darkgray;
  color: $black;
  position: relative;

  &:hover {
    color: $black;

    .tooltip-text {
      opacity: 1;
      visibility: visible;
    }
  }
}

.tooltip-text {
  background-color: $tooltipblack;
  box-shadow: 5px 5px 40px $shadowgray;
  color: $white;
  font-size: 15px;
  line-height: 16px;
  max-width: 280px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 25px;
  transition: opacity .3s;
  visibility: hidden;
  width: max-content;
  z-index: 3;
}

.admonitionblock {
  .icon {
    img {
      min-width: 48px;
    }
  }

  .content {
    font-size: 18px;
    line-height: 29.75px;
  }
}

//scss-lint:disable ImportantRule
.at-expanding-share-button[data-position=bottom-right] {
  bottom: 90px !important;
  right: 26px !important;
}
//scss-lint:enable ImportantRule

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 675px) {
  //scss-lint:disable NestingDepth
  .tb-alt {
    text-align: left;

    h2 {
      margin-bottom: 25px;
    }

    td {
      height: 320px;

      &:last-child {
        border-top-style: solid;
      }

      p {
        text-align: left;
      }
    }

    tr {
      &:first-child {
        td {
          border-top-style: hidden;
        }
      }

      &:last-child {
        td {
          border-bottom-style: hidden;
        }
      }
    }
  }
//scss-lint:enable NestingDepth
}

@media (min-width: 770px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 34px;

  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 21px;
  }

  .title {
    font-size: 18px;
  }

  .olist {
    ol {
      font-size: 21px;
    }
  }

  p {
    font-size: 20px;
  }

  .admonitionblock {
    .content {
      font-size: 21px;
    }
  }
}

@media(min-width: 980px) {
  .at-expanding-share-button-desktop {
    display: none;
  }

  .navcontent-info,
  article {
    max-width: 120ch;
  }
}

@media print {
  .menubar,
  .comments,
  .ent2,
  .footer,
  hr,
  .tblnext,
  .tdresponsive {
    display: none;
  }

  .tdborder {
    display: table-cell;
  }
}
