$font: 'Source Sans Pro';
$darkblue: rgba(29, 79, 114, 1);
$darkgray: rgba(102, 102, 102, 1);
$fluid-black: rgba(39, 39, 39, 1);
$fluid-dark-red: rgba(203, 50, 51, 1);
$fluid-gray: rgba(176, 176, 176, 1);
$fluid-light-gray: rgba(241, 241, 241, 1);
$fluid-red: rgba(255, 52, 53, 1);
$lightblue: rgba(0, 133, 161, 1);
$lightgray: rgba(211, 211, 211, 1);
$lightergray: rgba(238, 238, 238, 1);
$shadowgray: rgba(170, 170, 170, 1);
$textblack: rgba(48, 48, 48, 1);
$tooltipblack: rgba(68, 68, 68, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

// Tachyons custom classes:

.bg-fluid-red { background-color: $fluid-red;}
.bg-fluid-gray { background-color: $fluid-gray;}
.bg-fluid-lightgray { background-color: $lightergray; }
.bg-fluid-black { background-color: $fluid-black; }
.minw-100 { min-width: 100%; }
.ma-auto { margin: auto; }
.w-32 { width: 32%; }
.montsy { font-family: 'Montserrat'; }
.c-fluid-bk { color: $fluid-black; }
.c-fluid-red { color: $fluid-red; }
.c-fluif-gray { color: $fluid-gray; }
.grayscale { filter: grayscale(100);}
.hv-fluid-dkred { &:hover { color: $fluid-dark-red;} }
.hv-fluid-bk { &:hover { color: $fluid-black;} }
.fluid-bullet { list-style-image: url('../../images/bullet2.png');}
.h-banner { height: 15em; }
.w-banner { width: 20em; }
.minh-nav { min-height: 5em; }
.h-search { height: 2.5em; }

// Tachyons custom responsive classes
//Large screens
@media screen and (min-width: 60em) {
  .h-28em-l { height: 28em; }
  .h-banner-l { height: 20em; }
}

//Very large screens
@media screen and (min-width: 150em) {
  .h-auto-vl { height: auto; }
}
// End Tachyons

@mixin hn {
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1;
  margin: 20px 0 10px;
}

@mixin anchor-size($size, $bottom, $left) {
  .anchor-sign {
    bottom: $bottom;
    font-size: $size;
    margin-left: $left;
  }
}

@mixin quo-lit-block {
  border: 1px solid $lightgray;
  border-left: 3px solid $darkblue;
  font-size: 16px;
  overflow: auto;
  padding: 15px 10px;
}

@mixin cell($padding) {
  border: 1px solid $fluid-gray;
  font-size: 21px;
  padding: $padding;

  p {
    margin: 10px 0;
  }
}

html {
  font-family: $font;
}

body {
  background-color: $white;
  line-height: 1.42857143;
  margin: 0;
}

.col-lg-8,
.col-md-10 {
  text-align: center;
  width: 100%;
}

.navcontent-container {
  box-shadow: 0 5px 5px $fluid-light-gray;
  padding: 0 25px;
}

.navcontent-info {
  display: flex;
  margin: auto;
  max-width: 95ch;
}

.breadcrumb {
  font-family: 'Montserrat';
  font-size: 14px;
  text-align: left;
  text-transform: capitalize;
  width: 65%;

  a {
    color: $fluid-black;

    &:hover {
      color: $fluid-dark-red;
    }
  }

  ul {
    display: inline-block;
    list-style: none;
    width: 100%;

    li {
      display: inline-block;
      margin-top: 0;
    }
  }

  span {
    color: $fluid-red;
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
  }
}

.list-title {
  background-color: $white;
  border-top: 3px solid $darkblue;
  margin: 10px 20px 0;
  padding: 20px;
  width: auto;
}

h1 {
  @include hn;
  @include anchor-size(20px, 6px, -15px);
  font-size: 34px;
}

h2 {
  @include hn;
  @include anchor-size(18px, 5px, -12px);
  font-size: 30px;
}

h3 {
  @include hn;
  @include anchor-size(15px, 4px, -10px);
  font-size: 24px;
}

h4 {
  @include hn;
  @include anchor-size(12px, 4px, -8px);
  font-size: 18px;
}

a {
  color: $darkblue;
  text-decoration: none;

  &:hover {
    color: $fluid-dark-red;
  }

  .tooltip {
    color: $darkblue;

    &:hover {
      color: $lightblue;
    }
  }
}

.listingblock,
.literalblock {
  margin: 15px 0;
}


.imageblock,
.videoblock {
  margin: 15px 0;
  text-align: center;
}

.loweralpha {
  list-style-type: lower-alpha;
}

.upperalpha {
  list-style-type: upper-alpha;
}

.lowerroman {
  list-style-type: lower-roman;
}

.upperroman {
  list-style-type: upper-roman;
}

.fluid-qanda {
  li,
  ol {
    font-style: italic;
    list-style-type: none;
  }
}

ol {
  font-size: 18px;
  padding-left: 28px;
}

p {
  font-size: 18px;
  line-height: 29.75px;
  margin: 0;
  text-align: left;

  strong {
    color: $textblack;
    font-weight: bold;
  }

  .monospaced {
    background-color: $fluid-light-gray;
    border-radius: 5px;
    font-family: 'Overpass Mono', monospace;
    font-size: 16px;
    overflow-wrap: break-word;
    padding: 3px 5px;
    vertical-align: middle;
    word-break: break-word;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  display: block;
  overflow: auto;

  td,
  th {
    background-color: $white;
  }
}

ul {
  padding-left: 0;

  li {
    margin-top: -10px;
  }
}

.ulist {
  margin-top: 15px;
  padding-left: 20px;

  p {
    margin-top: 15px;
  }
}

.quoteblock {
  @include quo-lit-block;
  color: $darkgray;
  font-style: italic;
  margin: 15px 0;
  text-align: center;
}

pre {
  @include quo-lit-block;
}

.hrcoments {
  border-top: 3px solid $darkblue;
}

article {
  margin: 0 auto;
  max-width: 95ch;
  text-align: left;

  h1 {
    margin: 20px 0 30px;
    text-align: center;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

.anchor-sign {
  color: $lightgray;
  font-weight: 400;
  position: relative;

  &::before {
    content: '\0023';
  }
}

.tableblock {
  margin: 15px auto;

  th {
    @include cell(20px);
    text-align: center;
  }

  td {
    @include cell(10px);
  }

  .anchor {
    top: -50vh;
  }
}

.tfoot {
  font-weight: bold;
}

.frame-topbot {
  td,
  th {
    border-left-style: hidden;
    border-right-style: hidden;
  }
}

.frame-sides {
  td,
  th {
    border-bottom-style: hidden;
    border-top-style: hidden;
  }
}

.frame-none {
  td,
  th {
    border-style: hidden;
  }
}

.halign-left {
  p {
    text-align: left;
  }
}

.halign-center {
  p {
    text-align: center;
  }
}

.halign-right {
  p {
    text-align: right;
  }
}

.valign-right {
  p {
    vertical-align: right;
  }
}

.valign-top {
  p {
    vertical-align: top;
  }
}

.valign-left {
  p {
    vertical-align: left;
  }
}

.tb-row,
.tb-col {
  display: inline;

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
}

.tb-location-hq {
  left: 14%;
  overflow-x: hidden;
  position: relative;
  right: 14%;

  th,
  td {
    border: 0;
    width: 665px;
  }

  iframe {
    height: auto;
    width: 310px;
  }

  p {
    left: 28%;
    position: relative;
    text-align: left;
  }

  li {
    display: inline;
  }

  h3 {
    text-align: center;
  }
}

.tb-location-branch {
  display: inline;
  left: 14%;
  position: relative;
  right: 14%;


  th,
  td {
    border: 0;
  }

  iframe {
    height: auto;
    width: 310px;
  }

  p {
    left: 10%;
    position: relative;
    text-align: left;
  }

  li {
    display: inline;
  }

  h3,
  h4 {
    text-align: center;
  }
}

.subp {
  p {
    left: 4%;
    position: relative;
    text-align: left;
  }
}

.tb-ppl {
  display: table;

  td,
  th {
    border: 0;
  }

  p {
    text-align: center;
  }

  img {
    border-radius: 50%;
    filter: grayscale(100%);
  }

  h3 {
    text-align: center;
    vertical-align: top;
  }

}

.img-ppl {
  img {
    border-radius: 50%;
    filter: grayscale(100%);
    width: 300px;
  }
}

//scss-lint:disable NestingDepth
.tb-alt {
  display: table;
  text-align: center;

  a {
    color: $fluid-black;

    &:hover {
      color: $fluid-dark-red;
    }
  }

  td {
    &:last-child {
      border-top-style: hidden;
    }

    p {
      text-align: center;
    }
  }

  tr {
    &:first-child {
      td {
        &:first-child {
          border-top-style: hidden;
        }
      }
    }

    &:last-child {
      td {
        &:last-child {
          border-bottom-style: hidden;
        }
      }
    }
  }

  img {
    max-width: 250px;
  }
}
//scss-lint:enable NestingDepth

.tb-responsive {
  td,
  th {
    display: block;
    margin: -1px;
  }
}

.title {
  color: $darkgray;
  font-size: 16px;
}

.dlist {
  dt {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    margin-top: 0;
  }
}

.hdlist {
  font-size: 18px;

  table {
    margin: 0;

    td {
      border-top: 0;
      padding: 0;
      vertical-align: middle;
    }
  }

  .hdlist1 {
    font-weight: bold;
  }
}

.qlist {
  margin: 15px 0;

  li {
    margin-bottom: 20px;

    li {
      margin-bottom: 0;
    }
  }

  p {
    margin-top: 0;
  }
}

.big {
  font-size: 2em;
  }

.small {
  font-size: .6em;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

.paragraph {
  margin-bottom: 20px;
}

.preamble {
  font-size: 21px;
}

.tagcloud {
  li {
    display: inline-block;

    a {
      font-family: monospaced;
      text-transform: capitalize;
    }
  }
}

.tag-1 {
  font-size: 190%;
}

.tag-2 {
  font-size: 160%;
}

.tag-3 {
  font-size: 130%;
}

.tb-fluid {
  th {
    background-color: $darkblue;
    color: $white;
  }

  tr {
    &:nth-child(even) {
      background-color: $lightgray;
    }

    &:nth-child(odd) {
      background-color: $lightergray;
    }
  }

  td {
    background-color: unset;
    border-color: $white;
  }
}

.post-heading {
  margin: auto;
  max-width: 95ch;
}


.tooltip {
  border-bottom: 1px dotted $darkgray;
  color: $black;
  position: relative;

  &:hover {
    color: $black;

    .tooltip-text {
      opacity: 1;
      visibility: visible;
    }
  }
}

.tooltip-text {
  background-color: $tooltipblack;
  box-shadow: 5px 5px 40px $shadowgray;
  color: $white;
  font-size: 15px;
  line-height: 16px;
  max-width: 280px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 25px;
  transition: opacity .3s;
  visibility: hidden;
  width: max-content;
  z-index: 3;
}

.admonitionblock {
  .icon {
    img {
      min-width: 48px;
    }
  }

  .content {
    font-size: 18px;
    line-height: 29.75px;
  }
}

.description {
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.subtitle {
  display: block;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

//scss-lint:disable ImportantRule
.at-expanding-share-button[data-position=bottom-right] {
  bottom: 90px !important;
  right: 26px !important;
}
//scss-lint:enable ImportantRule

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 675px) {
  //scss-lint:disable NestingDepth
  .tb-alt {
    text-align: left;

    h2 {
      margin-bottom: 25px;
    }

    td {
      height: 320px;

      &:last-child {
        border-top-style: solid;
      }

      p {
        text-align: left;
      }
    }

    tr {
      &:first-child {
        td {
          border-top-style: hidden;
        }
      }

      &:last-child {
        td {
          border-bottom-style: hidden;
        }
      }
    }
  }
//scss-lint:enable NestingDepth
}

@media (min-width: 770px) {
  h1 {
    font-size: 42px;

    .anchor-sign {
      bottom: 15px;
    }
  }

  h2 {
    font-size: 34px;

    .anchor-sign {
      bottom: 11px;
    }
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 21px;

    .anchor-sign {
      bottom: 3px;
    }
  }

  .title {
    font-size: 18px;
  }

  .olist {
    ol {
      font-size: 21px;
    }
  }

  p {
    font-size: 20px;

    .monospaced {
      font-size: 18px;
    }
  }

  .admonitionblock {
    .content {
      font-size: 21px;
    }
  }
}

@media(min-width: 960px) {
  .side {
    width: 75%;
  }

  .sidetable {
    background: $white;
    border: 5px solid $darkblue;
    height: 100%;
    overflow-y: scroll;
    padding: 0 40px 30px 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;

    .active {
      font-weight: bold;
    }
  }

  .side-scrolled {
    top: 55px;
  }
}

@media(min-width: 980px) {
  .at-expanding-share-button-desktop {
    display: none;
  }

  .navcontent-info,
  article {
    max-width: 120ch;
  }
}

@media print {
  .menubar,
  .comments,
  .ent2,
  .footer,
  hr,
  .tblnext,
  .tdresponsive {
    display: none;
  }

  .tdborder {
    display: table-cell;
  }
}

@media screen and (max-width: 510px) {
  .breadcrumb {
    font-size: 11px;
    text-align: none;
    width: 50%;
  }
}

@media screen and (max-width:700px) {
  .tb-location-branch {

    td,
    th {
      display: block;
    }

    p {
      left: 28%;
    }
  }
}

@media screen and (max-width: 980px) {
  .tb-location-hq {
    left: 3%;
    right: 0%;
  }

  .tb-location-branch {
    left: 3%;
    right: 0%;
  }
}


@media screen and (max-width: 725px) {

  .tb-location-hq {
    left: 0;
    right: 0%;

  }

  .tb-location-branch {
    left: 0;
    right: 0%;
  }
}

@media screen and (max-width: 540px) {
  .tb-location-branch {
    p {
      left: 15%;
    }
  }

  .tb-location-hq {
    p {
      left: 15%;
    }
  }
}
