$black: rgba(0, 0, 0, 1);
$fluid-black: rgba(39, 39, 39, 1);
$fluid-dark-red: rgba(203, 50, 51, 1);
$fluid-gray: rgba(176, 176, 176, 1);
$fluid-red: rgba(255, 52, 53, 1);
$white: rgba(255, 255, 255, 1);

.defends-category {
  background-color: $white;
  border: 0;
  border-top: 1px solid $fluid-gray;
  color: $black;
  display: flex;
  width: 100%;

  &::after {
    color: $fluid-black;
    content: '\02795';
    font-size: 25px;
    margin: 17px 20px 0;
    text-align: right;
    width: 100%;
  }

  &:hover {
    cursor: pointer;

    &::after {
      color: $fluid-black;
    }
  }

  &.active {
    &::after {
      content: '\2796';
    }
  }
}

.defendspanel {
  background-color: $white;
  margin-bottom: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;

  a {
    color: $fluid-black;

    &:hover {
      color: $fluid-dark-red;
    }

    h3 {
      margin-left: 30px;
    }

  }
}
