@font-face {
  font-family: 'Montserrat Extrabold';
  src: url('../../fonts/montserrat-extrabold.ttf') format('truetype'),
       url('../../fonts/montserrat-extrabold.otf') format('opentype'),
       url('../../fonts/montserrat-extrabold.eot') format('embedded-opentype'),
       url('../../fonts/montserrat-extrabold.woff') format('woff'),
       url('../../fonts/montserrat-extrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../../fonts/montserrat-light.ttf') format('truetype'),
       url('../../fonts/montserrat-light.otf') format('opentype'),
       url('../../fonts/montserrat-light.eot') format('embedded-opentype'),
       url('../../fonts/montserrat-light.woff') format('woff'),
       url('../../fonts/montserrat-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Light';
  src: url('../../fonts/source-sans-light.ttf') format('truetype'),
       url('../../fonts/source-sans-light.otf') format('opentype'),
       url('../../fonts/source-sans-light.eot') format('embedded-opentype'),
       url('../../fonts/source-sans-light.woff') format('woff'),
       url('../../fonts/source-sans-light.woff2') format('woff2'),
       url('../../fonts/source-sans-light.svg') format('svg');
}

@font-face {
  font-family: 'Source Sans Light Italic';
  src: url('../../fonts/source-sans-light-italic.ttf') format('truetype'),
       url('../../fonts/source-sans-light-italic.otf') format('opentype'),
       url('../../fonts/source-sans-light-italic.eot') format('embedded-opentype'),
       url('../../fonts/source-sans-light-italic.woff') format('woff'),
       url('../../fonts/source-sans-light-italic.woff2') format('woff2'),
       url('../../fonts/source-sans-light-italic.svg') format('svg');
}
