$fluid-black: rgba(67, 67, 67, 1);
$footerblack: rgba(51, 51, 51, 1);
$fluid-red: rgba(247, 60, 57, 1);
$white: rgba(255, 255, 255, 1);

.divlogo {
  margin: 0 0 10px;
  padding: 30px 0 0 10px;
  text-align: center;
}

.divcompany {
  display: inline-block;
  vertical-align: top;
}

.divsocial {
  text-align: center;

  img {
    &:hover {
      background-color: $fluid-red;
      border-radius: 15px;
    }
  }
}

.footer {
  background-color: $fluid-black;
  padding: 0 0 20px;
  text-align: center;
}

.navfoot {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.colfoot {
  width: 50%;

  a {
    color: $white;
    font-size: 18px;
    font-weight: bold;

    &:hover {
      color: $fluid-red;
    }
  }
}

.status-div {
  background-color: $footerblack;
  color: $white;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
}

.status-link {
  color: $white;

  &:hover {
    color: $fluid-red;
  }
}

@media (min-width: 480px) {
  .colfoot {
    width: 33%;
  }
}

@media (min-width: 900px) {
  .colfoot {
    width: 16%;
  }
}

@media (min-width: 1080px) {
  .footer {
    display: flex;
  }

  .navfoot {
    margin-left: 10px;
    width: 100%;
  }
}
