$lightgray: rgba(211, 211, 211, 1);
$darkblue: rgba(29, 79, 114, 1);
$lightblue: rgba(0, 133, 161, 1);
$white: rgba(255, 255, 255, 1);

.aautor {
  font-size: 15px;
  text-transform: capitalize;
}

.article-summary {
  font-size: 16px;
  margin: 20px 0 30px;
}

.divindex {
  margin: 10px 21px 0;

  .subtitle {
    color: $darkblue;
    display: block;
    font-style: italic;
  }
}

.divread {
  bottom: 40px;
  position: absolute;

  .button {
    color: $white;
    font-size: 16px;
    padding: 15px 21px;

    &:hover {
      color: $lightblue;
    }
  }
}

.consult {
  margin-left: -20px;
  width: 100%;
}

.next {
  a {
    background-color: $white;
    border-radius: 15px;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 25px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $lightblue;
      color: $white;
    }
  }
}

.pager {
  margin: 0;
  padding-left: 0;

  li {
    display: inline;
  }
}

.post-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;

  .anchor-sign {
    bottom: 3px;
  }
}

.blog-post {
  background-color: $white;
  border-top: 3px solid $darkblue;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

@media (min-width: 640px) {
  .divindex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .blog-post {
    width: 49%;
  }

  .post-title {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  .divindex {
    justify-content: unset;
  }

  .blog-post {
    width: 32%;

    &:nth-child(3n + 1) {
      margin-right: 2%;
    }

    &:nth-child(3n + 3) {
      margin-left: 2%;
    }
  }
}
