$lightgray: rgba(211, 211, 211, 1);
$darkblue: rgba(29, 79, 114, 1);
$lightblue: rgba(0, 133, 161, 1);
$white: rgba(255, 255, 255, 1);

.aautor {
  font-size: 15px;
  text-transform: capitalize;
}

.article-summary {
  font-size: 16px;
  margin: 20px 0 30px;
}

.divindex {
  margin: 10px 21px 0;
}

.divread {
  bottom: 45px;
  position: absolute;

  .button {
    color: $white;
    padding: 15px 21px;

    &:hover {
      color: $lightblue;
    }
  }
}

.next {
  a {
    background-color: $white;
    border-radius: 15px;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 25px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $lightblue;
      color: $white;
    }
  }
}

.pager {
  margin: 0;
  padding-left: 0;

  li {
    display: inline;
  }
}

.post-title {
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.tbnormal {
  background-color: $lightgray;
  border-spacing: 0;
  margin-top: 0;
}

.tbresponsive {
  background-color: $lightgray;
  display: none;
  margin-top: 0;
}

.tdview {
  border-bottom: 25px solid $lightgray;
  display: block;
  margin: 0;
  padding: 30px;
  position: relative;
  width: 100%;
}

@media (min-width: 640px) {
  .divindex {
    margin: 10px 0 0;
  }

  .post-title {
    font-size: 20px;
  }

  .tbnormal {
    display: none;
  }

  .tbresponsive {
    border-spacing: 25px 0;
    display: block;
  }

  .tdview {
    display: table-cell;
    padding: 20px;
    width: 50%;
  }
}

@media (min-width: 960px) {
  .tbnormal {
    border-spacing: 25px 0;
    display: block;
  }

  .tbresponsive {
    display: none;
  }

  .tdview {
    width: 33%;
  }
}
