$fluid-black: rgba(39, 39, 39, 1);
$fluid-red: rgba(255, 52, 53, 1);
$fluid-gray: rgba(239, 239, 239, 1);
$fluid-gray-2: rgba(152, 152, 152, 1);
$fluid-dark-gray: rgba(200, 200, 200, 1);
$white: rgba(255, 255, 255, 1);

p {
  font-size: 23px;
}

.home {
  h1 {
    color: $fluid-red;
  }

  .benefit-header {
    margin: 40px auto;
    width: 100%;

    h1 {
      color: $white;
    }

    span {
      color: $fluid-red;
    }
  }
}

.purpose-sec {
  background-color: $white;
  background-image: url('../../images/purpose-mail.png');
  background-size: 100% 100%;
  height: 350px;
  padding-top: 100px;
}

.purpose-txt {
  float: left;
  width: 55%;

  p {
    margin-left: 150px;
    margin-right: 150px;
    text-align: right;
  }

  h1 {
    margin-right: 150px;
    text-align: right;
  }
}

.purpose-img {
  align-items: center;
  display: block;
  float: left;
  padding-bottom: 10px;
  width: 15%;

  p {
    margin-bottom: 10px;
    text-align: center;
  }

  img {
    height: 100px;
    width: 100px;
  }

}

.services {
  background-color: $fluid-black;
  padding: 20px 0;

  h1,
  h2,
  h3 {
    color: $white;
    }

  p {
    color: $white;
    text-align: center;

    strong {
      color: $white;
    }
  }
}

.serv-offer {
  display: flex;
  flex-wrap: wrap;
}

.filler-serv {
  width: 25%;
}

.serv {
  float: left;
  margin-bottom: 20px;
  width: 25%;

  a {
    color: $white;
    margin: auto;

    &:hover {
      color: $fluid-red;
    }
  }

  img {
    height: 130px;
    width: 130px;
  }
}


.tecniques-sec {
  background-image: url('../../images/testing.png');
  background-size: 100% 100%;
  height: 350px;
  padding-top: 70px;


  h1 {
    margin-right: 120px;
    text-align: right;

  }

  p {
    margin-left: 250px;
    margin-right: 120px;
    text-align: right;
  }

  ul {
    list-style-image: url('../../images/bullet.svg');
    padding-top: 30px;
    text-align: left;
  }
}

.tecniques {
  float: left;
  width: 50%;
}

.product-header {
  margin: 40px auto;
  width: 100%;

  h1 {
    color: $fluid-red;
  }

  p {
    text-align: center;
  }
}

.products {
  align-items: center;
  background-color: $fluid-gray;
  clear: both;
  content: '';
  display: table;
  padding-bottom: 30px;
  width: 100%;

}

.product {
  float: left;
  padding: 5px;
  width: 50%;


  span {
    color: $fluid-black;
    display: block;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
  }

  p {
    margin-bottom: 10px;
    text-align: center;
  }
}

.testing {
  background-image: url('../../images/bkgnd-testing.png');
  background-size: 100% 100%;
  padding: 10px 5px;

  p {
    padding-top: 10px;
    text-align: center;
  }

  h4 {
    padding-bottom: 30px;
    padding-top: 40px;
  }
}

.firstcell {
  font-family: 'Source Sans Pro';
  font-size: 14px;
}

.tbl-testing {
  display: inline-table;
  font-family: 'Source Sans Pro';
  font-size: 25px;
  margin: auto;
  text-align: center;

  img {
    height: auto;
    width: 18px;
  }

  th {
    border-right: solid 2px $fluid-dark-gray;
    font-weight: normal;
    height: 10px;
    padding: 5px 45px;
  }

  td {
    border-right: solid 2px $fluid-dark-gray;
    font-weight: normal;
    height: 10px;
    padding: 5px 45px;
  }
}

.graytd {
  background-color: $fluid-gray;
}

.tst-ftr-1 {
  display: block;
  float: left;
  font-family: 'Source Sans Pro';
  height: 180px;
  padding-left: 25%;
  padding-top: 10px;
  width: 50%;

  p {
    font-size: 16px;
    line-height: 85%;
    text-align: left;
  }

  strong {
    font-weight: bolder;
  }
}

.tst-ftr-2 {
  display: block;
  float: left;
  font-family: 'Source Sans Pro';
  height: 180px;
  padding-left: 8%;
  padding-top: 10px;
  width: 50%;

  p {
    font-size: 16px;
    line-height: 85%;
    text-align: left;
  }

  strong {
    font-weight: bolder;
  }
}

.tst-dev {
  float: left;
  margin-left: 9%;
  margin-right: 1%;
  padding-bottom: 40px;
  padding-top: 15px;
  width: 40%;

  .item-drk-gray {
    background-color: $fluid-gray-2;
    border-radius: 20px 0;
    color: $white;
    float: left;
    margin: 13px;
    padding-bottom: 20px;
    padding-top: 15px;
    width: 100px;
  }

  .redline {
    border-bottom: hidden;
    border-top: 1px dashed $fluid-red;
  }
}

.tst-ops {
  float: left;
  margin-left: 1%;
  margin-right: 9%;
  padding-bottom: 40px;
  padding-top: 15px;
  width: 40%;

  .item-gray {
    background-color: $fluid-gray;
    border-radius: 20px 0;
    color: $fluid-black;
    float: left;
    margin: 13px;
    padding-bottom: 20px;
    padding-top: 15px;
    width: 100px;
  }

  .blackline {
    border-bottom: hidden;
    border-top: 1px dashed $fluid-black;
  }
}

.fluid-grph-rght {
  border-top: 1px solid $fluid-gray-2;
  float: left;
  margin-right: 9%;
  padding-bottom: 30px;
  padding-top: 20px;
  width: 41%;

  img {
    float: left;
    padding-right: 8px;
    width: 130px;
  }
}

.fluid-grph-lft {
  border-top: 1px solid $fluid-gray-2;
  float: left;
  margin-left: 9%;
  padding-bottom: 30px;
  padding-top: 20px;
  width: 41%;

  img {
    float: left;
    padding-right: 8px;
    width: 130px;
  }
}

.smlltxt {
  font-size: 17px;
}

.itmntxt {
  float: left;
  padding-top: 12px;
  width: 100px;

  .item-drk-gray {
    margin: 0;
  }

  .item-gray {
    margin: 0;
  }
}

.imgntxt {
  float: left;
  margin: 0;
  width: 130px;
}

.benefits {
  background-color: $fluid-black;
  clear: both;
  content: '';
  display: table;
  padding: 20px 90px 30px;
  width: 100%;
}

.benefit {
  float: left;
  padding: 0;
  width: 20%;

  span {
    color: $fluid-red;
    display: block;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: bold;
  }

  p {
    color: $white;
    font-size: 17px;
    line-height: normal;
    margin: 0 30px;
    text-align: center;

    strong {
      color: $white;
    }
  }

  img {
    height: 170px;
    width: 170px;
  }
}

.benefit-ftr {
  background-color: $fluid-black;
  padding-bottom: 40px;
  padding-top: 15px;
  width: 100%;

  p {
    color: $white;
    font-size: 25px;
    text-align: center;
  }

  span {
    color: $fluid-red;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: bold;
  }

  img {
    height: 17px;
    width: 17px;
  }
}

.customers {
  background-color: $white;
  padding: 20px;

  p {
    text-align: center;
  }

  img {
    height: auto;
    margin: 20px;
    width: 200px;
  }
}

.contact-sec {
  background-color: $fluid-gray;
  background-image: url('../../images/contact.png');
  background-size: 85% 100%;
  border-color: $white;
  border-style: solid;
  border-width: 0 0 10px;
  height: 300px;
}

.contact-txt {
  float: left;
  padding-right: 90px;
  padding-top: 70px;
  width: 70%;

  .button {
    background-color: $fluid-red;
    border-radius: 12px;
    float: right;
    font-size: 18px;
    margin-bottom: 40px;
    margin-right: 60px;
    margin-top: 30px;
    padding: 15px 21px;
  }

  p {
    margin-left: 110px;
    margin-right: 60px;
    text-align: right;
  }

}

.contact-img {
  float: left;
  padding-top: 70px;
  width: 30%;

  img {
    display: block;
    height: auto;
    margin-left: 30px;
    width: 230px;
  }
}

@media screen and (max-width: 1100px) {
  .filler-serv {
    width: 15%;
  }

  .serv {
    width: 35%;
  }
}

@media (min-width: 540px) {
  .serv {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 34px;
      margin: auto 10px;
      text-align: left;
    }
  }
}

@media (min-width: 860px) {

  .services {
    p {
      margin: 20px auto;
      width: 65%;
    }
  }

  .cstmr-msg {
    margin: 10px auto;
    width: 65%;
  }
}

@media (min-width: 980px) {
  .smalltable {
    display: none;
  }
}

@media (max-width: 980px) {

  .tecniques-sec {
    background-image: none;

    h1 {
      margin: 0;
      text-align: center;
    }

    p {
      margin: auto 10px;
      text-align: center;
    }

    ul {
      display: inline-block;
    }
  }

  .tecniques {
    width: 100%;
  }

  .testing {
    background-image: none;
  }

  .bigtable {
    display: none;
  }
}

@media screen and (max-width: 850px) {

  .filler-serv {
    width: 0;
  }

  .serv {
    width: 50%;
  }

  .product {
    width: 100%;
  }

  .purpose-sec {
    background-color: $white;
    background-image: none;
    padding-top: 50px;
  }

  .purpose-txt {
    width: 100%;

    h1 {
      margin: 0;
      text-align: center;
    }

    p {
      margin: 0;
      text-align: center;
    }

  }

  .purpose-img {
    padding-top: 30px;
    width: 33.33%;
  }

  .benefit {
    width: 50%;
  }

  .benefit:last-child {
    width: 100%;
  }

  .contact-sec {
    background-image: none;
    border-style: none;
    max-width: 100%;
  }

  .contact-txt {
    background-color: $fluid-gray;
    padding: 10px 5px 25px;
    width: 50%;

    p {
      margin: 15px 5px 20px;
      padding: 0;
      text-align: center;
    }

    .button {
      float: none;
      margin: 18px 10px 10px;
    }
  }

  .contact-img {
    background-color: $fluid-gray;
    padding: 40px auto 25px;
    width: 50%;
  }

  .tst-ftr-1 {
    display: inline-block;
    float: none;
    height: auto;
    padding: 0;
    text-align: center;
    width: 100%;

    p {
      text-align: center;
    }
  }

  .tst-ftr-2 {
    display: inline-block;
    float: none;
    height: auto;
    padding: 0;
    width: 100%;

    p {
      text-align: center;
    }
  }
}

@media screen and (max-width: 430px) {

  .tbl-testing {
    font-size: 20px;

    th {
      padding: 8px;
    }

    td {
      padding: 8px;
    }
  }

  .services {
    display: inline-block;

    h1 {
      margin-top: 30px;
    }

    p {
      margin: auto 10px;
    }
  }

  .tecniques-sec {
    ul {
      text-align: center;
    }
  }

  .purpose-sec {
    background-color: $white;
    background-image: none;
    padding-top: 50px;
  }

  .purpose-txt {
    width: 100%;

    h1 {
      margin: 0;
      text-align: center;
    }

    p {
      margin: 0;
      text-align: center;
    }
  }

  .purpose-img {
    background-color: $white;
    padding-top: 30px;
    width: 100%;
  }

  .testing {
    background-image: none;
  }

  .benefits {
    padding: 20px auto;
  }

  .benefit {
    width: 100%;

    p {
      margin: 0;
    }

    h1 {
      margin: 0;
    }
  }
}


@media screen and (max-width: 575px) {
  .serv {
    width: 100%;
  }

  .itmntxt {

    .item-drk-gray {
      margin-left: 10px;
    }

    .item-gray {
      margin-left: 10px;
    }
  }

}

@media screen and (max-width: 704px) {

  .contact-sec {
    background-image: none;
    border-style: none;
    height: auto;
  }

  .contact-txt {
    background-color: $fluid-gray;
    padding: auto 5px 60px;
    width: 100%;

    p {
      margin: 25px 5px 20px;
      padding: auto 5px 20px;
      text-align: center;
    }

    .button {
      float: none;
      margin: 5px 10px 20px;

    }
  }

  .contact-img {
    max-height: 0%;
    max-width: 0%;
  }
}
