$fluid-black: rgba(39, 39, 39, 1);
$fluid-gray: rgba(176, 176, 176, 1);
$fluid-red: rgba(255, 52, 53, 1);
$transparent: rgba(0, 0, 0, 0);
$white: rgba(255, 255, 255, 1);

@mixin link {
  color: $white;
  display: block;
}

@mixin menu-bars {
  content: '';
  left: 30px;
  position: absolute;
  width: 25px;
}

@mixin menu-cross {
  background: $white;
  top: 35px;
  width: 25px;
}

@mixin submenu-plus {
  background: $white;
  content: '';
  position: absolute;
}

.menubar {
  font-family: 'Montserrat';
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.menu-logo {
  position: absolute;
  text-align: center;
  top: 15px;
  width: 100%;

  img {
    position: relative;
    width: 30px;
    z-index: 2;
  }
}

.searchbar {
  position: absolute;
  right: 10px;
  top: 20px;

  .search-box {
    border: 2px solid $fluid-gray;
    border-radius: 5px;
    height: 45px;
    position: absolute;
    right: 35px;
    top: -8px;
    transform: translateY(-80px);
    transition: transform ease 500ms;
    widows: 240px;
    z-index: 3;
  }

  img {
    position: relative;
    width: 25px;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }
  }
}

.search {
  &:focus-within {
    .search-box {
      transform: translateY(0);
    }
  }
}

.cssmenu {
  background: $fluid-black;
  line-height: 1;
}

.menu-button {
  border-bottom: 2px solid $white;
  cursor: pointer;
  min-height: 72px;
  position: relative;
  z-index: 1;

  &::before {
    @include menu-bars;
    background: $white;
    height: 2px;
    top: 28px;
  }

  &::after {
    @include menu-bars;
    border-bottom: 2px solid $white;
    border-top: 2px solid $white;
    height: 9px;
    top: 35px;
  }

  &.menu-opened {
    border-bottom: 0;

    &::before {
      @include menu-cross;
      transform: rotate(-45deg);
    }

    &::after {
      @include menu-cross;
      border: 0;
      height: 2px;
      transform: rotate(45deg);
    }
  }
}

.m-closed,
.sm-closed {
  display: none;
}

.m-opened {
  display: block;
  margin: 0;
  max-height: 75vh;
  overflow-y: auto;

  li {
    border-bottom: 1px solid $fluid-gray;
    display: block;
    margin: 0 30px;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.active {
  img {
    display: none;
  }
}

.submenu-button {
  cursor: pointer;
  height: 60px;
  position: absolute;
  right: 0;
  width: 45px;

  &.submenu-opened {

    &::before {
      display: none;
    }

    &::after {
      background: $white;
    }
  }

  &::before {
    @include submenu-plus;
    height: 20px;
    right: 22px;
    top: 20px;
    width: 3px;
  }

  &::after {
    @include submenu-plus;
    height: 3px;
    right: 13px;
    top: 28px;
    width: 20px;
  }
}

.m-link {
  @include link;
  font-size: 20px;
  letter-spacing: 1px;
  min-height: 60px;
  padding: 20px 10px 17px;
}

.sm-opened {
  display: block;
  position: relative;

  li {
    height: 61px;
    margin: 0;

    &:first-child {
      border-top: 1px solid $fluid-gray;
    }
  }
}

.sm-link {
  @include link;
  font-size: 20px;
  height: 100%;
  padding: 20px 0 0 40px;
  width: 100%;
}

.header {
  background-color: $fluid-black;

  img {
    max-height: 500px;
    max-width: 460px;
    padding-top: 16px;
    width: 50%;
  }

  ul {
    list-style-image: url('../../images/bullet2.png');
    text-align: left;
  }

  li {
    color: $white;
    font-family: 'Montserrat';
    margin: 10px 0;
  }
}

.fluidicon {
  background-image: url('../../images/selected.svg');
  background-size: 100% 100%;
  height: 30px;
  margin-right: 125px;
  padding-top: 35px;
  position: absolute;
  right: 0;
  width: 30px;
}

.header-title {
  max-width: 550px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 50%;

  h1 {
    color: $white;
    line-height: 60%;
    margin-left: -15px;

  }

  .header-red {
    color: $fluid-red;
  }

  p {
    color: $white;
    font-size: 17px;
    margin-left: -15px;
    }

  strong {
    color: $white;
  }
}

@media (min-width: 480px) {
  .header-title {

    h1 {
      font-size: 18px;
    }

    p {
      display: block;
    }
  }
}

@media (min-width: 600px) {
  .header-title {

    h1 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (min-width: 680px) {
  .header-title {
    padding-left: 30px;
  }

}

@media (min-width: 720px) {
  .header-title {
    h1 {
      font-size: 28px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 840px) {
  .header-title {
    padding-top: 65px;

    h1 {
      font-size: 34px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (min-width: 860px) {

  .header {
    height: 350px;

    img {
      padding-top: 70px;
    }
  }

  .menu-logo {
    left: 10px;
    width: unset;
  }

  .searchbar {
    top: 23px;
  }

  .search {
    display: inline-block;
    margin-left: 20px;
  }

  .cssmenu {
    height: 72px;
    padding-left: 50px;

    a {
      font-size: 16px;

      &:hover {
        color: $white;
      }
    }
  }

  .m-opened {
    height: 72px;
    max-height: unset;
    overflow-y: unset;

    li {
      border-bottom: 0;
      display: inline-block;
      margin: 0;
      min-height: 72px;
      padding-top: 7px;
      width: auto;

      &:hover {
        background-color: $fluid-red;
      }
    }
  }

  .has-sub {
    a {
      padding-right: 15px;
    }

    &:hover {
      ul {
        background: $fluid-black;
        display: block;
        margin-top: 4px;
      }

      &::before {
        display: none;
      }
    }
  }

  .active {
    img {
      display: block;
      float: right;
      margin: -44px 3px 0 0;
      width: 10px;
    }
  }

  .m-link {
    &:hover {
      background-color: $transparent;
    }
  }

  .menu-button,
  .submenu-button {
    display: none;
  }

  .sm-opened {
    display: none;
    left: -20px;
    position: absolute;

    li {
      min-height: 60px;
      min-width: 260px;
      padding-top: 0;

      &:first-child {
        border-top: 0;
      }
    }
  }
}

@media (min-width: 980px) {
  .header-title {

    h1 {
      font-size: 38px;
    }

    .header-red {
      font-size: 36px;
    }

    p {
      font-size: 19px;
    }

    li {
      font-size: 15px;
    }
  }
}

@media (min-width: 1100px) {
  .header-title {

    h1 {
      font-size: 42px;
    }

    .header-red {
      font-size: 36px;
    }
  }

  .header {
    height: 375px;
    width: 100%;

    img {
      padding-left: 12px;
      padding-top: 75px;
    }
  }
}

@media (min-width: 1280px) {
  .header {
    img {
      padding-top: 100px;
    }
  }

  .header-title {
    p {
      margin-top: 20px;
      width: 80%;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    padding-left: 0;

    img {
      margin-left: 10%;
    }
  }

  .header-title {
    margin-right: 10%;
    padding-top: 80px;
  }
}

@media screen and (max-width: 1300px) {

  .fluidicon {
    width: 0%;
  }
}

@media screen and (max-width: 930px) {

  .header-title {

    margin-left: 40px;

    li {
      font-size: 13px;
      margin: 3px auto;
    }

    img {
      padding-top: 50px;
    }

  }
}

@media screen and (max-width: 859px) {

  .header-title {
    padding-top: 80px;
  }

  .header {
    padding-top: 100px;

    img {
      padding-bottom: 30px;
    }
  }
}

@media screen and (max-width: 720px) {

  .header-title {

    li {
      font-size: 12px;
      margin: 3px auto;
    }
  }
}

@media screen and (max-width: 680px) {

  .header-title {
    margin-right: 0;
    padding-left: 30px;
    padding-top: 100px;

    ul {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {

  .header-title {
    padding-top: 85px;

    h1 {
      font-size: 16px;
    }

    .header-red {
      font-size: 16px;
    }
  }
}


@media screen and (max-width: 380px) {

  .header-title {
    padding-left: 0;
    padding-top: 115px;

    h1 {
      line-height: 1.5;
      margin: 0 auto;
    }

    p {
      display: none;
    }

    img {
      padding-bottom: 40px;
    }

  }
}
