$fluid-black: rgba(39, 39, 39, 1);
$fluid-dark-red: rgba(203, 50, 51, 1);
$fluid-darker-red: rgba(139, 34, 35, 1);
$fluid-red: rgba(255, 52, 53, 1);
$transparent: rgba(0, 0, 0, 0);
$transparentblack: rgba(0, 0, 0, .5);
$white: rgba(255, 255, 255, 1);

@mixin link {
  color: $white;
  display: block;

  &:hover {
    background-color: $fluid-red;
    color: $white;
  }
}

@mixin menu-pseudo {
  content: '';
  position: absolute;
  width: 20px;
}

@mixin active-pseudo {
  background: $white;
  top: 35px;
  width: 18px;
}

@mixin sm-pseudo {
  background: $white;
  content: '';
  position: absolute;
}

.cssmenu {
  background: $fluid-black;
  line-height: 1;
}

.m-closed,
.sm-closed {
  display: none;
}

.m-link {
  @include link;
  font-size: 16px;
  letter-spacing: 1px;
  min-height: 60px;
  padding: 22px 10px 17px;
}

.m-opened {
  display: block;
  margin: 0;
  padding: 0;

  li {
    display: block;
    line-height: 1;
    margin-top: 0;
    min-height: 60px;
    position: relative;
    width: 100%;
  }
}

.menu-button {
  border-bottom: 2px solid $white;
  cursor: pointer;
  min-height: 72px;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: $fluid-red;
  }

  &::before {
    @include menu-pseudo;
    background: $white;
    height: 2px;
    top: 29px;
  }

  &::after {
    @include menu-pseudo;
    border-bottom: 2px solid $white;
    border-top: 2px solid $white;
    height: 8px;
    top: 35px;
  }

  &.menu-opened {
    &::before {
      @include active-pseudo;
      transform: rotate(-45deg);
    }

    &::after {
      @include active-pseudo;
      border: 0;
      height: 2px;
      transform: rotate(45deg);
    }
  }
}

.sm-link {
  @include link;
  font-size: 15px;
  height: 100%;
  letter-spacing: 0;
  padding: 24px 30px 0 25px;
  width: 100%;
}

.sm-opened {
  border-top: 1px solid $white;
  display: block;
  padding: 0;
  position: relative;

  li {
    background: $fluid-black;
    border-bottom: 1px solid $white;
    height: 61px;
  }
}

.submenu-button {
  border-bottom: 1px solid $white;
  border-left: 1px solid $white;
  cursor: pointer;
  display: block;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;

  &:hover {
    background: $fluid-red;
  }

  &.submenu-opened {
    background: $fluid-red;

    &::before {
      display: none;
    }

    &::after {
      background: $white;
    }
  }

  &::before {
    @include sm-pseudo;
    height: 10px;
    right: 22px;
    top: 26px;
    width: 2px;
  }

  &::after {
    @include sm-pseudo;
    height: 2px;
    right: 18px;
    top: 30px;
    width: 10px;
  }
}

.fluid-logo {
  float: left;
  left: 2px;
  margin-right: 20px;
  position: relative;
  top: 20px;
  width: 100px;
  z-index: 2;
}

.menubar {
  font-family: 'Montserrat';
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  padding-top: 72px;

  img {
    width: 100%;
  }
}

.header-title {
  position: absolute;
  right: 0;
  top: 16%;
  width: 50%;

  h1 {
    color: $white;
    font-size: 16px;
    margin: 0;
  }

  .header-red {
    color: $fluid-red;
  }

  p {
    color: $white;
    display: none;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 5px;
  }
}

@media (min-width: 400px) {
  .fluid-logo {
    top: 10px;
    width: 150px;
  }
}

@media (min-width: 480px) {
  .header-title {
    top: 12%;

    h1 {
      font-size: 18px;
    }

    p {
      display: block;
    }
  }
}

@media (min-width: 600px) {
  .header-title {
    top: 14%;

    h1 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (min-width: 720px) {
  .header-title {
    h1 {
      font-size: 28px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 840px) {
  .header-title {
    top: 15%;

    h1 {
      font-size: 34px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (min-width: 900px) {
  .cssmenu {
    height: 72px;
  }

  .has-sub {
    a {
      padding-right: 25px;
    }

    &:hover {
      ul {
        background: $white;
        display: block;
        margin-top: 4px;
      }

      &::before {
        display: none;
      }
    }
  }

  .m-opened {
    border-bottom: 2px solid $white;
    border-top: 0;
    height: 72px;

    li {
      border-top: 0;
      display: inline-block;
      min-height: 70px;
      padding-top: 7px;
      width: auto;

      &:hover {
        background-color: $fluid-red;
      }
    }
  }

  .m-link {
    &:hover {
      background-color: $transparent;
    }
  }

  .menu-button,
  .submenu-button {
    display: none;
  }

  .sm-opened {
    border-top: 0;
    display: none;
    left: -20px;
    position: absolute;

    li {
      border-bottom: 0;
      margin-top: 1px;
      min-height: 61px;
      min-width: 260px;
      padding-top: 0;
    }
  }

  .fluid-logo {
    left: 6px;
  }
}

@media (min-width: 980px) {
  .header-title {

    h1 {
      font-size: 38px;
    }

    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 1100px) {
  .header-title {
    top: 18%;

    h1 {
      font-size: 42px;
    }
  }
}

@media (min-width: 1280px) {
  .header-title {
    width: 40%;

    p {
      margin-top: 20px;
      width: 80%;
    }
  }
}
