$darkblue: rgba(29, 79, 114, 1);
$fluid-black: rgba(39, 39, 39, 1);
$fluid-dark-red: rgba(145, 0, 14, 1);
$fluid-red: rgba(255, 52, 53, 1);
$green: rgba(0, 128, 0, 1);
$lightblue: rgba(0, 133, 161, 1);
$lightgray: rgba(211, 211, 211, 1);
$titleblack: rgba(48, 48, 48, 1);
$white: rgba(255, 255, 255, 1);

@mixin table-border {
  border: 1px solid $lightgray;
  padding: .3em .6em;
}

.tbborder {
  border-spacing: 0;
  margin-bottom: 5%;
  table-layout: fixed;
  width: 100%;
}

.tdborder {
  @include table-border;
  height: 750px;
}

.tdresponsive {
  @include table-border;
  display: table-cell;
}

.divpage {
  padding: 25px;

  .subtitle {
    position: relative;
    top: -20px;
  }
}

.tdmax {
  display: none;
}

.itemlist {
  margin-left: 30%;

  p {
    margin-top: 10px;
    text-transform: capitalize;
  }
}

@media (min-width: 480px) {
  .itemlist {
    margin-left: 15%;

    ul {
      column-count: 2;
      list-style-position: inside;
      text-align: left;

      li {
        margin-top: 0;
      }

      p {
        display: inline;
      }
    }
  }
}

@media (min-width: 905px) {
  .tdresponsive {
    display: none;
  }

  .tdmax {
    border: 1px solid $lightgray;
    display: table-cell;
    padding: 10px;
  }

  .itemlist {
    margin-left: 10%;

    ul {
      column-count: 3;
    }
  }
}
