### inicio del archivo ###
ServerRoot "/etc/apache2"
#
Mutex file:${APACHE_LOCK_DIR} default
#
PidFile ${APACHE_PID_FILE}
#
Timeout 300
#
KeepAlive On
#
MaxKeepAliveRequests 100
#
KeepAliveTimeout 15
#
<IfModule mpm_prefork_module>
    StartServers         20 
    MinSpareServers      10 
    MaxSpareServers      50 
    ServerLimit		 4096
    MaxClients           1024
    MaxRequestsPerChild  0
</IfModule>
#
<IfModule mpm_worker_module>
    StartServers          2
    MaxClients           30
    MinSpareThreads      15
    MaxSpareThreads      45 
    ThreadsPerChild      25
    MaxRequestsPerChild   0
</IfModule>
#
User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}
#
AccessFileName .htaccess
#
<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
</Files>
#
HostnameLookups Off
#
LogLevel {{ log_level }}
#
Include mods-enabled/*.load
Include mods-enabled/*.conf
Include /etc/apache2/ports.conf
#
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" vhost_combined
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
#
ErrorLog {{ error_log }}
CustomLog {{ custom_log }} vhost_combined
#
ErrorDocument 403 {{ error_page }}
#
Include /etc/apache2/sites-enabled/
# Disable insecure protocols
SSLProtocol all -TLSv1 -SSLv2 -SSLv3
#
ServerName {{ servername }} 
# Disable insecure headers
ServerTokens ProductOnly
ServerSignature Off
