:local .dropdownButton {
  border: solid 1px;
  border-radius: 0 !important;
  cursor: pointer;
  font-size: 16px !important;
  white-space: normal;
}

:local .dropdownButton,
:local .dropdownButton:focus {
  background-color: #fff;
  border-color: #ff3435;
  color: #ff3435;
  outline: none;
}

:local .dropdownButton:hover {
  background-color: #ff3435;
  border-color: #ff3435;
  color: #fff;
}

:local .dropdownButton:active,
:local .dropdownButton:active:focus {
  background-color: #8e1616;
  border-color: #8e1616;
  color: #fff;
  outline: none;
}

:local .dropdownButton:active:hover {
  background-color: #ff3435;
  border-color: #ff3435;
  color: #fff;
}

:local .dropdownButton:active svg path {
  fill: #fff !important;
  stroke: #fff !important;
}

:local .dropdownButton[disabled],
:local .dropdownButton[disabled]:hover {
  background-color: #fafafa;
  border-color: #dfdfdf;
  color: #919191;
  opacity: 1;
}

:local .dropdownButton svg {
  width: 16px !important;
  height: 16px !important;
}

:local .dropdownButton[disabled] svg path {
  fill: #919191 !important;
  stroke: #919191 !important;
}

:local .dropdownButton:hover:not([disabled]) svg path {
  fill: #fff !important;
  stroke: #fff !important;
}

:local .dropdownButton[disabled] svg circle {
  stroke: #919191 !important;
}

:local .dropdownButton:hover:not([disabled]) svg circle {
  stroke: #fff !important;
}

:local .itemsContainer {
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #333;
  margin-left: -17px;
  margin-top: 17px;
  width: 101%;
  word-break: normal;
}

:local .dropdownButton:hover :local .itemsContainer {
  display: block;
}

:local .menuItem {
  background: transparent;
  font-size: small;
  border-color: #fff;
  cursor: pointer;
}

:local .menuItem:hover {
  background-color: #ff3435;
  border-color: #ff3435;
  color: #fff;
}
