:local .dropdownButton {
  background-color: transparent;
  border-color: #ff3435;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  color: #ff3435;
  font-weight: 400;
  margin-left: 12px;
  padding: 10px 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}

:local .dropdownButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

:local .dropdownButton:hover {
  background-color: #ff3435;
  border-color: #ff3435;
  color: white;
  cursor: pointer;
}

:local .itemsContainer {
  background-color: #f4f4f6;
  border: solid 1px;
  border-color: #ddd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #333;
  display: none;
  margin-left: -17px;
  margin-top: 5px;
  max-width: 1172px;
  max-height: 827px;
  overflow: auto;
  width: 101%;
  word-break: normal;
}

:local .dropdownButton:hover :local .itemsContainer {
  display: block;
}

:local .menuItem {
  background: transparent;
  font-size: small;
  border-color: #fff;
  cursor: pointer;
}

:local .menuItem:hover {
  background-color: #ff3435;
  border-color: #ff3435;
  color: #fff;
}
