.makes: &makes
  tags: [ci]
  image: "${CI_REGISTRY_IMAGE}/makes"
  needs: []
  interruptible: true
  script:
    - ./m "${CI_JOB_NAME% *}"
  variables:
    GIT_DEPTH: 5

.observes_commit_pattern: &observes_commit_pattern '$CI_COMMIT_TITLE =~ /^(all|observes)/'

.observes_in_dev_branch: &observes_in_dev_branch
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *observes_commit_pattern

.observes_in_master_branch: &observes_in_master_branch
  resource_group: "${CI_JOB_NAME}"
  rules:
    - if: '$CI_COMMIT_BRANCH != "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *observes_commit_pattern

makes.test.observes:
  <<: *makes
  <<: *observes_in_master_branch
  stage: test-code

observes.job.infra.apply:
  <<: *makes
  <<: *observes_in_master_branch
  stage: deploy-infra

observes.job.infra.test:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: test-infra

observes.lint.code-etl:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.dif-gitlab-etl:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.job-last-success:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.paginator:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.postgres-client:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.service-batch-stability:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.service-migrate-tables:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.singer-io:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.streamer-gitlab:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.streamer-zoho-crm:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.tap-csv:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.tap-delighted:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.tap-formstack:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.tap-mailchimp:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.tap-mixpanel:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.lint.target-redshift:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: lint-code

observes.scheduled.dynamodb-forces-etl:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_dynamodb_forces_on_aws]
  interruptible: false

observes.scheduled.dynamodb-integrates-etl:
  <<: *makes
  tags: [ci-large]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_dynamodb]
  interruptible: false

observes.scheduled.dynamodb-integrates-etl-vulns:
  <<: *makes
  tags: [ci-large]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_dynamodb_vulns]
  interruptible: false

observes.scheduled.job.batch-stability:
  <<: *makes
  only:
    refs: [schedules]
    variables: [$observes_batch_stability]
  stage: analytics
  tags: [ci]
  interruptible: false

observes.scheduled.job.code-etl-compute-bills:
  <<: *makes
  only:
    refs: [schedules]
    variables: [$observes_code_compute_bills]
  stage: analytics
  tags: [ci]
  interruptible: false

observes.scheduled.job.delighted-etl:
  <<: *makes
  tags: [ci-large]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_delighted_etl]
  interruptible: false

observes.scheduled.job.dynamodb-centralize:
  <<: *makes
  tags: [ci-large]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_dynamodb_centralize]
  interruptible: false

observes.scheduled.job.mailchimp-etl:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_mailchimp_etl]
  interruptible: false

observes.scheduled.job.mixpanel-integrates-etl:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_mixpanel_integrates]
  interruptible: false

observes.scheduled.job.tap-zoho-analytics:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_zoho]
  interruptible: false

observes.scheduled.job.timedoctor-backup:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_timedoctor_backup]
  interruptible: false

observes.scheduled.job.timedoctor-etl:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_timedoctor]
  interruptible: false

observes.scheduled.job.timedoctor-refresh-token:
  <<: *makes
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_timedoctor_refresh_token]
  interruptible: false

observes.scheduled.job.toe-files-etl:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_services_toe]
  interruptible: false

observes.scheduled.job.zoho-crm-etl.fluid:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_zoho_crm]
  interruptible: false

observes.scheduled.job.zoho-crm-prepare.fluid:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_zoho_crm_prepare]
  interruptible: false

observes.scheduled.on-aws.code-etl-amend:
  <<: *makes
  only:
    refs: [schedules]
    variables: [$observes_code_amend_authors_on_aws]
  stage: analytics
  tags: [ci]
  interruptible: false

observes.scheduled.on-aws.code-etl-mirror:
  <<: *makes
  only:
    refs: [schedules]
    variables: [$observes_code_mirror_all_groups_to_s3_on_aws]
  stage: analytics
  tags: [ci]
  interruptible: false

observes.scheduled.on-aws.code-etl-upload:
  <<: *makes
  only:
    refs: [schedules]
    variables: [$observes_code_upload_all_groups_on_aws]
  stage: analytics
  tags: [ci]
  interruptible: false

observes.scheduled.on-aws.dif-gitlab-etl:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_gitlab_on_aws]
  interruptible: false

observes.scheduled.on-aws.formstack-etl:
  <<: *makes
  tags: [ci]
  stage: analytics
  only:
    refs: [schedules]
    variables: [$observes_formstack]
  interruptible: false

observes.test.code-etl:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: test-code

observes.test.dif-gitlab-etl:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: test-code

observes.test.singer-io:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: test-code

observes.test.streamer-gitlab:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: test-code

observes.test.tap-csv:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: test-code

observes.test.tap-mailchimp:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: test-code

observes.test.tap-mixpanel:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: test-code

observes.test.target-redshift:
  <<: *makes
  <<: *observes_in_dev_branch
  stage: test-code
