.with_nix: &with_nix
  tags: [autoscaling]
  image: "${CI_REGISTRY_IMAGE}/nix:${CI_JOB_NAME}"
  needs: []
  script:
    - ./build.sh "${CI_JOB_NAME% *}"
  interruptible: true

.asserts_commit_pattern: &asserts_commit_pattern '$CI_COMMIT_TITLE =~ /^(all|asserts)/'

.in_dev_branch_asserts: &in_dev_branch_asserts
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *asserts_commit_pattern

.in_master_branch_asserts: &in_master_branch_asserts
  rules:
    - if: '$CI_COMMIT_BRANCH != "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *asserts_commit_pattern

asserts_lint_code:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: lint-code

asserts_lint_code_bandit:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: lint-code

asserts_lint_tests:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: lint-code

asserts_infra_secret_management_test:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-infra

asserts_infra_secret_management_deploy:
  <<: *with_nix
  <<: *in_master_branch_asserts
  stage: deploy-infra

# For some reason our innovation account is empty!
#   disabling until we recreate it or found how to revert changes
.asserts_test_api_cloud_aws_api:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_cloud_aws_new:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_cloud_aws_cloudformation:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_cloud_aws_terraform:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_cloud_azure:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_cloud_gcp:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

.asserts_test_api_cloud_kubernetes:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_db_mssql:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_db_mysql:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_db_postgres:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_format:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code
  tags: [autoscaling-large]

.asserts_test_api_helper:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_iot:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_core:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_csharp:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_docker:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_dotnetconfig:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_html:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_java:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_javascript:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_php:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_python:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_rpgle:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_lang_times:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_ot:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_dns:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_ftp:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

.asserts_test_api_proto_git:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_graphql:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

.asserts_test_api_proto_http:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_ldap:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_rest:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_smb:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_smtp:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_ssh:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_ssl:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_proto_tcp:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_sca:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_syst:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_api_utils:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_test_output:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code

asserts_build:
  <<: *with_nix
  <<: *in_dev_branch_asserts
  stage: test-code
  artifacts:
    paths: [asserts/asserts-release/]

asserts_release_pypi:
  <<: *with_nix
  <<: *in_master_branch_asserts
  stage: deploy-infra

asserts_release_docker_hub:
  <<: *with_nix
  <<: *in_master_branch_asserts
  stage: deploy-app
  needs: [asserts_release_pypi]

asserts_documentation:
  <<: *with_nix
  <<: *in_master_branch_asserts
  stage: deploy-app
