if test -z "${DEV_ENV:-}"; then
  echo
  echo "In order to load development environments please run one of:"
  echo
  echo "  $ export DEV_ENV=integratesBack"
  echo
  echo "And then run:"
  echo
  echo "  $ direnv allow"
  echo
  echo "Now re-open your code editor and start developing"
else
  m . "/dev/${DEV_ENV}" \
    && source "${HOME}/.makes/out-dev-${DEV_ENV}/template"
fi
