function main {
  local outputs=(
    integratesBack
  )

  : && echo \
    && echo Please enter the number of the development environment you wish to load: \
    && echo \
    && export PS3=">>> " \
    && select output in "${outputs[@]}"; do
      if test -n "${output}"; then
        m . "/dev/${output}" \
          && source "${HOME}/.makes/out-dev-${output}/template" \
          && return 0 \
          || return 1
      fi
    done
}

main "${@}"
