function main {
  local outputs=(
    none
    forces
    integratesBack
    melts
    skims
  )

  : && echo \
    && echo Please enter the number \
      of the development environment \
      you wish to load. \
    && echo Once the environment has finished loading, \
      open/restart your code editor. \
    && echo You can reload the environment at any moment with: $ direnv allow \
    && echo \
    && PS3=">>> " \
    && select output in "${outputs[@]}"; do
      if test "${output}" = none; then
        return 0
      elif test -n "${output}"; then
        m . "/dev/${output}" \
          && source "${HOME}/.makes/out-dev-${output}/template" \
          && return 0 \
          || return 1
      else
        echo Unrecognized option, please enter a valid number
      fi
    done
}

main "${@}"
