# Python
*.pyc

# Bundle
.bundle
Gemfile.lock

# Nodejs
node_modules
package-lock.json

# Terraform
.terraform/
*.tfstate

# Build system
/build/coverage
/build/provisioners/test.nix
/coverage.xml
/dump.rdb
/geckodriver.log
/lambda/.venv.*
/TEMP_FD
/test
/test.py
/.coverage*
