*.pyc
pelican/
output/
pelican-plugins/
webtest.sh
.babel.cfg.swp
messages.mo
cache/
venv/*
*.md5

# Bundler
Gemfile.lock

# npm
node_modules/
package-lock.json

# Commitlint
commitlint.config.js
parser-preset.js

# Webpack
theme/2014/static/js/tmp/
