endpoint_url = 'https://gitlab.com'
platform = 'gitlab'


[syntax]
  regex = '^(airs|all|asserts|common|docs|forces|integrates|makes|melts|observes|reviews|skims|sorts|teaches)\\(\w*)\((\w*)\):\s(#[1-9]\d*)(.\d+)?\s(.*)$'
  user_regex = '^[A-Z][a-z]+ [A-Z][a-z]+$'
  [syntax.match_groups]
    product = 1
    type = 2
    scope = 3
    issue = 4
    issue_part = 5
    title = 6


[tests]

  [tests.pr_message_syntax]
    fail = true
    close_pr = true
    config = "makes/foss/modules/all/lint-git-commit-msg-config.js"
    parser = "makes/foss/modules/all/lint-git-commit-msg-parser.js"

  [tests.branch_equals_to_user]
    fail = true
    close_pr = true

  [tests.pr_max_commits]
    fail = false
    close_pr = false
    max_commits = 1

  [tests.commits_user_syntax]
    fail = true
    close_pr = true

  [tests.pr_user_syntax]
    fail = true
    close_pr = true

  [tests.close_issue_directive]
    fail = false
    close_pr = false

  [tests.pr_only_one_product]
    fail = true
    close_pr = true

  [tests.pr_under_max_deltas]
    fail = true
    close_pr = true
    max_deltas = 100
    repo_path = '.'

  [tests.most_relevant_type]
    fail = true
    close_pr = true
    [tests.most_relevant_type.relevances]
      rever = 1
      feat = 2
      perf = 3
      fix = 4
      refac = 5
      test = 6
      style = 7

  [tests.all_pipelines_successful]
    fail = true
    close_pr = true
    job_name = 'makes.review-mr'
