# Default approvers
* @mnorenaatfluid @aroldanatfluid @acuberosatfluid @jrestrepoatfluid @ralvarezatfluid

# Front approvers
/front/ @dacevedoatfluid @mnorenaatfluid
/mobile/ @dacevedoatfluid @mnorenaatfluid
