# Exclude everything by default
global-exclude *

# Include the installer
include setup.py

# Include Python source files
recursive-include fluidasserts *.py
recursive-include fluidasserts/static *.lst

# Include configuration files
include conf/README.rst

# Include build folder
graft build-src

# Include test folder
graft test
