:local .badge {
  position: absolute;
  background-color: #ff3435 !important;
  margin-left: 0.5rem;
  margin-right: 0.1rem;
}

:local .sm {
    font-size: 0.8rem !important;
}

:local .md {
    font-size: 1.1rem !important;
}

@media (min-width: 768px) {
  :local .position {
    top: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1180px) {
  :local .position {
    right: 10%;
  }
}
