:global .btn-lbitbucket {
  background-color: #0747a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global .btn-lbitbucket:hover {
  background-color: #053276;
}

:global .btn-lgoogle {
  background-color: #fff;
  border: solid 1px #e9e9ed !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global .btn-lgoogle:hover {
  background-color: #e9e9ed;
}

:global .btn-lazure {
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global .btn-lazure:hover {
  background-color: #0063cc;
}
