<system.web>
  <httpModules>
    <!-- any other modules above -->
    <addname="SessionManagerModule"type="Core.SessionManagerModule, Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=TYPEYOURKEYHERE" />
  </httpModules>
</system.web>
<system.webServer>
  <modulesrunAllManagedModulesForAllRequests="true">
    <!-- any other modules above -->
    <addname="SessionManagerModule"type="Core.SessionManagerModule, Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=TYPEYOURKEYHERE" />
  </modules>
</system.webServer>
