$darkgray: rgba(102, 102, 102, 1)
$darkblue: rgba(29, 79, 114, 1)
$lightgray: rgba(211, 211, 211, 1)
$tagblue: rgba(27, 117, 187, 1)
$white: rgba(255, 255, 255, 1)

.content
  text-align: center

.imageblock
  text-align: center

.title
  color: $darkgray
  font-size: 15px
  text-align: center

.divarticle
  background-color: $white
  border-top: 3px solid $darkblue
  margin: 10px 21px
  padding: 25px

  article
    margin: 0 auto
    max-width: 95ch
    text-align: left

  h1
    margin: 20px 0 30px
    text-align: center

.meta-table
  border-collapse: collapse

.meta-data
  border: 0
  display: block
  margin: 0
  padding: 0
  width: 100%

  a
    font-size: 17px
    margin-left: 5px
    position: relative
    text-align: center
    text-transform: capitalize
    top: 3px

  p
    display: inline
    font-size: 17px
    margin-left: 5px
    position: relative
    top: 3px

.imgwriter
  border-radius: 45px
  float: left
  height: 90px
  width: 90px

.authorinfo
  border-collapse: collapse
  left: 10px
  position: relative
  top: 5px
  width: 80%

  td
    border: 0
    padding: 0
    width: 100%

    p
      margin: 0

.writer
  color: $darkblue

.sect-related
  text-align: left

.related
  display: inline-table
  text-align: center
  width: 32%

  img
    margin: 10px 0

.tags
  a
    background-color: $tagblue
    color: $white
    float: left
    margin: 0 5px 40px 0
    padding: 5px 10px
    text-transform: capitalize

.article-nav
  margin-top: 60px

.prev-article
  background-color: $darkblue
  display: inline-table
  margin-right: 15%
  padding: 5px
  width: 40%

  a
    color: $white

.next-article
  background-color: $darkblue
  display: inline-table
  padding: 5px
  width: 40%

  a
    color: $white

@media (min-width: 640px)
  .divarticle
    margin: 10px 25px

  .meta-table
    background-color: $white
    border-collapse: separate
    border-spacing: 10px
    display: table
    width: 100%

  .meta-data
    display: table-cell
    text-align: center
    width: 25%

  .next-article,
  .prev-article
    a
      font-size: 21px

@media (min-width: 770px)
  .prev-article
    background-color: $white
    margin-right: 18%
    padding: 0
    text-align: left

    a
      background-color: $darkblue
      padding: 5px

  .next-article
    background-color: $white
    padding: 0
    text-align: right

    a
      background-color: $darkblue
      padding: 5px
