.kb-category
  background-color: white
  border: none
  border-top: 3px solid #1e4f72
  color: black
  display: flex
  width: 100%
  &:hover
    cursor: pointer
    text-decoration: none
    &:after
      color: black

.kbpanel
  background-color: white
  max-height: 0
  overflow: hidden
  transition: max-height 0.2s ease-out
  margin-bottom: 15px
  a h3
    color: #1e4f72
    margin-left: 30px

.kb-category:after
  content: '\02795'
  font-size: 25px
  text-align: right
  margin-top: 17px
  width: 100%
  margin-right: 20px

.kb-category.active:after
  content: "\2796"

.kb-category.active:hover:after
  color: black
