$lightgray: rgba(221, 221, 221, 1)
$titleblack: rgba(48, 48, 48, 1)

.arabic
  li
    p
      margin: 15px 0

.imgentregable
  vertical-align: middle

.imgethical
  display: block
  height: auto
  max-width: 100%

.maps
  border: 1px solid $lightgray
  display: table-cell
  padding: .3em .6em
  vertical-align: inherit

  iframe
    border: 0
    height: 300px
    margin-bottom: 25px
    margin-top: 15px
    max-width: 100%
    width: 400px

.table,
.tblent
  border: 0

  td
    border: 0
    padding: 10px 0

.tbborder
  border-spacing: 0
  margin-bottom: 5%
  table-layout: fixed
  width: 100%
    
.tblocation
  height: auto
  table-layout: fixed
  width: 100%

  th
    border: 1px solid $lightgray
    padding: .3em .6em
    text-align: center
    width: 60px

    h1
      color: $titleblack
      font-style: normal
      font-weight: 400

.tdborder
  border: 1px solid $lightgray
  height: 750px
  padding: .3em .6em

.tdent
  text-align: left
  vertical-align: top
  width: 25%

.tdlocation
  border: 1px solid $lightgray
  display: table-cell
  padding: .3em .6em
  text-align: center
  vertical-align: inherit

  span
    font-size: medium
    line-height: 1.3846em

  p
    margin-bottom: 1.5em

.tdresponsive
  border: 1px solid $lightgray
  display: none
  padding: 10px

.sect1
  font-size: 15px

  ul
    li
      margin-top: -15px

    p

      margin-left: 0

  h3
    font-size: 20px

.ulist
  margin-top: 15px
  padding-left: 20px

  ul
    padding-left: 0
