.with_nix: &with_nix
  tags: [autoscaling]
  image: "${CI_REGISTRY_IMAGE}/nix:${CI_JOB_NAME}"
  needs: []
  script:
    - ./build.sh "${CI_JOB_NAME% *}"
  interruptible: true

.serves_commit_pattern: &serves_commit_pattern '$CI_COMMIT_TITLE =~ /^(all|serves)/'

.serves_in_dev_branch: &serves_in_dev_branch
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *serves_commit_pattern

.serves_in_master_branch: &serves_in_master_branch
  rules:
    - if: '$CI_COMMIT_BRANCH != "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *serves_commit_pattern

.serves_in_schedule_rotate_keys_user_provision: &serves_in_schedule_rotate_keys_user_provision
  rules:
    - if: '$CI_PIPELINE_SOURCE != "schedule"'
      when: never
    - if:  '$serves_in_schedule_rotate_keys_user_provision == null'
      when: never
    - when: always

serves_test_lint_code:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: lint-code

serves_test_infra_autoscaling_ci:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_infra_compute:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_infra_dns:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_infra_aws_sso:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_infra_fluid_vpc:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_infra_certificates:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_infra_secret_management:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_asserts:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_services_dev:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_services_prod:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_integrates:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_skims_dev:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_skims_prod:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_airs:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_serves:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_melts:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra

serves_test_user_provision_observes:
  <<: *with_nix
  <<: *serves_in_dev_branch
  stage: test-infra
serves_apply_infra_autoscaling_ci:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_infra_compute:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_infra_dns:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_infra_aws_sso:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_infra_fluid_vpc:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_infra_secret_management:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_infra_certificates:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_config_autoscaling_ci:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_asserts:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_services_dev:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_services_prod:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_integrates:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_skims_dev:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_skims_prod:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_airs:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_serves:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_melts:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_apply_user_provision_observes:
  <<: *with_nix
  <<: *serves_in_master_branch
  stage: deploy-infra

serves_rotate_keys_user_provision_asserts:
  <<: *with_nix
  <<: *serves_in_schedule_rotate_keys_user_provision
  stage: rotation

serves_rotate_keys_user_provision_services_dev:
  <<: *with_nix
  <<: *serves_in_schedule_rotate_keys_user_provision
  stage: rotation

serves_rotate_keys_user_provision_services_prod:
  <<: *with_nix
  <<: *serves_in_schedule_rotate_keys_user_provision
  stage: rotation

serves_rotate_keys_user_provision_integrates:
  <<: *with_nix
  <<: *serves_in_schedule_rotate_keys_user_provision
  stage: rotation

serves_rotate_keys_user_provision_airs:
  <<: *with_nix
  <<: *serves_in_schedule_rotate_keys_user_provision
  stage: rotation

serves_rotate_keys_user_provision_serves:
  <<: *with_nix
  <<: *serves_in_schedule_rotate_keys_user_provision
  stage: rotation

serves_rotate_keys_user_provision_melts:
  <<: *with_nix
  <<: *serves_in_schedule_rotate_keys_user_provision
  stage: rotation

serves_rotate_keys_user_provision_observes:
  <<: *with_nix
  <<: *serves_in_schedule_rotate_keys_user_provision
  stage: rotation
