.makes: &makes
  tags: [autoscaling]
  image: "${CI_REGISTRY_IMAGE}/makes"
  needs: []
  interruptible: true
  script:
    - ./m "${CI_JOB_NAME% *}"
  variables:
    GIT_DEPTH: 5

.reviews_commit_pattern: &reviews_commit_pattern '$CI_COMMIT_TITLE =~ /^(all|reviews)/'

.reviews_in_dev_branch: &reviews_in_dev_branch
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *reviews_commit_pattern

makes.test.reviews:
  <<: *makes
  <<: *reviews_in_dev_branch
  stage: test-code
