apiVersion: v1
kind: Namespace
metadata:
  name: $PROJECT
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: $PROJECT-review
  namespace: $PROJECT
automountServiceAccountToken: false
imagePullSecrets:
  - name: gitlab-reg
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: review
  namespace: $PROJECT
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
      - secrets
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - certmanager.k8s.io
    resources:
      - certificates
      - issuers
    verbs:
      - create
      - delete
      - get
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
  - apiGroups:
      - extensions
    resources:
      - deployments
      - ingresses
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: $PROJECT-binding
  namespace: $PROJECT
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: review
subjects:
  - kind: ServiceAccount
    name: $PROJECT-review
    apiGroup: ""
