/*
 * SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>
 *
 * SPDX-License-Identifier: MPL-2.0
 */

:local .emptyChart {
  color: black;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

:local .frame {
  border-style: none;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

:local .loadingComponent {
  color: #eee;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  line-height: 1;
}

:local .tinyLine {
  margin: 0;
  padding: 0;
}

:local .titleBar {
  color: #333;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  text-align: left;
}

:local .buttonSize {
  min-width: 100%;
}

:local .dropdownFilter {
  border-radius: 0 !important;
  cursor: pointer;
  white-space: normal;
}

:local .childrenContainer {
  min-width: 100%;
  word-break: normal;
}

:local .dropdownFilter:hover :local .childrenContainer {
  background-color: #eee;
  display: block;
}
