:local .emptyChart {
  color: black;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

:local .frame {
  border-style: none;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

:local .loadingComponent {
  color: #eee;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  line-height: 1;
}

:local .tinyLine {
  margin: 0;
  padding: 0;
}

:local .titleBar {
  color: #333;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  text-align: left;
}
