:local .modalDialog {
  width: 600px;
}

:local .modal {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  height: fit-content;
  width: 600px;
}

@media (max-width: 650px) {
  :local .modal {
    width: 100%;
  }

  :local .modalDialog {
    width: 100%;
  }
}

:local .bgModal {
  background-color: #000;
  opacity: 0.5;
}
