//scss-lint:disable IdSelector, SelectorFormat
$black: rgba(0, 0, 0, 1);
$blue: rgba(83, 150, 234, 1);
$blue2: rgba(25, 116, 186, 1);
$darkblue: rgba(29, 79, 114, 1);
$fluid-red: rgba(255, 52, 53, 1);
$greenyellow: rgba(173, 255, 47, 1);
$lightblue: rgba(0, 133, 161, 1);
$lightgray: rgba(211, 211, 211, 1);
$middleblack: rgba(85, 85, 85, 1);
$white: rgba(255, 255, 255, 1);

@mixin foot-box {
  border: 1px solid $lightgray;
  border-radius: 15px;
  color: $black;
  margin-right: 7px;
  padding: 10px 17px 11px;
  text-align: center;
}

#tipue_search_input,
#tipue_search_foot_boxes {
  font: 300 18px/1 'Roboto', sans-serif;
  padding-left: 10px;
}

#tipue_search_results_count,
#tipue_search_warning,
.tipue_search_content_url,
.tipue_search_content_debug,
.tipue_search_related_text {
  font: 300 18px/1.7 'Roboto', sans-serif;
}

.tipue_search_content_bold,
.tipue_search_related_bold {
  font-weight: 400;
}

#tipue_search_content {
  text-align: left;
}

#tipue_search_results_count {
  color: $black;
  text-align: center;
}

#tipue_search_warning {
  color: $black;
  margin: 7px 0;

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: $middleblack;
    }
  }
}

.tipue_search_content_title {
  color: $middleblack;
  font-size: 30px;
  margin-left: 0;
  margin-top: 15px;

  a {
    color: $darkblue;
    text-decoration: none;

    &:hover {
      color: $lightblue;
    }
  }
}

.tipue_search_content_url {
  display: none;
}

.tipue_search_content_text {
  color: $black;
  font-size: 18px;
  hyphens: auto;
  margin-top: 5px;
  text-align: left;
  word-wrap: break-word;
}

.tipue_search_content_bold {
  color: $black;
}

.tipue_search_content_debug {
  color: $black;
  margin: 5px 0;
}

.tipue_search_related_title {
  color: $black;
  margin: 26px 0 7px;
}

.tipue_search_related_cols {
  columns: 230px 2;
}

#tipue_search_foot {
  margin: 50px 0 20px;
}

#tipue_search_foot_boxes {
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: center;

  a {
    @include foot-box;
    background-color: $white;
    text-decoration: none;

    &:hover {
      background-color: $lightgray;
    }
  }

  li {
    display: inline-flex;
    list-style: none;
    margin: 5px 0 0;
    padding: 0;

    &.current {
      @include foot-box;
      background: $lightgray;
    }
  }
}

@media (min-width: 770px) {
  .tipue_search_content_title {
    font-size: 34px;
  }

  .tipue_search_content_text {
    font-size: 21px;
  }
}
