files:
    "/etc/cron.d/login_update":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 1 * * * root /usr/local/bin/login_update.sh

    "/usr/local/bin/login_update.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            docker logout
            aws ecr get-login >> login.sh && sh login.sh && rm login.sh
            docker stop watchtower
            docker rm watchtower
            docker run -d --name watchtower -v /root/.docker/config.json:/config.json -v /var/run/docker.sock:/var/run/docker.sock v2tec/watchtower -i 60

            exit 0
