<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graphic</title>

    <!-- Include C3 -->
    <link href="{{ c3css }}" rel="stylesheet">
    <script src="{{ c3js }}"></script>

    <!-- Include D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>

    <!-- Include graphic generator -->
    <link href="{{ url_for('static', path='/styles/graphic.css') | replace('http', 'https') }}" rel="stylesheet" type="text/css"  media="screen"/>
    <script src="{{ url_for('static', path=generator_src) | replace('http', 'https') }}"></script>

    <!-- Include Data Document -->
    <pre id="args" hidden>
      {{ args | tojson }}
    </pre>
  </head>
  <body onload="load()">
    <div id="root"></div>
  </body>
</html>
