// Color Variables
$black-gray: rgba(92, 92, 92, 1);
$blue-gray: rgba(92, 92, 112, 1);
$button-red: rgba(191, 38, 38, 1);
$hovered-red: rgba(255, 52, 53, 1);
$darker-blue: rgba(28, 28, 34, 1);
$dark-shadow: rgba(176, 176, 176, 0.3);
$fluid-black: rgba(39, 39, 39, 1);
$fluid-red: rgba(255, 52, 53, 1);
$fluid-gray: rgba(176, 176, 176, 1);
$fluid-dark-red: rgba(203, 50, 51, 1);
$light-gray: rgba(249, 249, 249, 1);
$lighter-gray: rgba(238, 238, 238, 1);
$near-white: rgba(246, 246, 246, 1);
$shadow-gray: rgba(176, 176, 176, 0.1);
$soft-black: rgba(0, 0, 0, 0.1);
$soft-gray: rgba(211, 211, 211, 1);
$white: rgba(255, 255, 255, 1);
$white-gray: rgba(230, 228, 228, 1);
$whiter-gray: rgba(241, 241, 241, 1);

// Rules
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Background Colors
.bg-button-red { background-color: $button-red; }
.bg-darker-blue { background-color: $darker-blue; }
.bg-lightgray { background-color: $light-gray; }

// Background Images
.bg-continuous { background-image: url('../images/services/continuous/main-continuous-hacking.png'); }
.bg-one-shot { background-image: url('../images/services/one-shot/main-one-shot.png'); }
.bg-solutions { background-image: url('../images/bg-solutions.png'); }
.banner-bg { background-image: url('../images/cover-main.png'); }
.products-bg { background-image: url('../images/products/cover-products.png'); }
.integrates-bg { background-image: url('../images/products/integrates/cover-integrates.png'); }
.drills-bg { background-image: url('../images/products/drills/drills-cover.png'); }
.forces-bg { background-image: url('../images/products/devsecops/cover-forces.png'); }
.rules-bg { background-image: url('../images/products/rules/cover-rules.png'); }
.skims-bg { background-image: url('../images/products/skims/cover-skims.png'); }
.thank-you-bg { background-image: url('../images/contact-us/bg-thank-you-page.png'); }
.contact-bg { background-image: url('../images/contact-us/bg-contact.png'); }
.careers-main-bg { background-image: url('../images/careers/cover-careers.png'); }
.resources-bg { background-image: url('../images/resources/resources-main.png'); }
.error-bg { background-image: url('../images/bg-error.png');}
.blog-bg { background-image: url('../images/blog-banner.png');}
.people-bg { background-image: url('../images/about-us/people/cover-people.png'); }
.about-us-bg { background-image: url('../images/about-us/cover-about-us.png'); }
.certifications-bg { background-image: url('../images/about-us/certifications/cover-certifications.png'); }
.differentiators-bg { background-image: url('../images/about-us/differentiators/cover-differentiators.png'); }
.values-bg { background-image: url('../images/about-us/values/cover-values.png'); }
.reviews-bg { background-image: url('../images/about-us/reviews/cover-reviews.png'); }
.events-bg { background-image: url('../images/about-us/events/cover-events.png'); }
.partners-bg { background-image: url('../images/partners/cover-partners.png'); }
.security-bg { background-image: url('../images/security/cover-security.png'); }
.comparative-bg { background-image: url('../images/services/comparative/cover-comparative.png'); }
.asserts-bg { background-image: url('../images/asserts/cover-asserts.png'); }
.asm-bg { background-image: url('../images/categories/cover-asm.png'); }
.sast-bg { background-image: url('../images/categories/cover-sast.png'); }
.dast-bg { background-image: url('../images/categories/cover-dast.png'); }
.iast-bg { background-image: url('../images/categories/cover-iast.png'); }
.sca-bg { background-image: url('../images/categories/cover-sca.png'); }
.re-bg { background-image: url('../images/categories/cover-sre.png'); }
.ptaas-bg { background-image: url('../images/categories/cover-ptaas.png'); }
.clients-bg { background-image: url('../images/about-us/clients/cover-clients.png'); }
.bg-quote1 { background-image: url('../images/bg-quote1.png'); }
.bg-quote2 { background-image: url('../images/bg-quote2.png'); }
.bg-quote3 { background-image: url('../images/bg-quote3.png'); }
.bg-menu-services { background-image: url('../images/menu/bg-menu-services.png'); }
.bg-menu-solutions { background-image: url('../images/menu/bg-menu-solutions.png'); }
.bg-menu-systems { background-image: url('../images/menu/bg-menu-systems.png'); }
.bg-menu-aboutus { background-image: url('../images/menu/bg-menu-aboutus.png'); }

// Box Shadow Classes
.bs-btm-h-10 { box-shadow: 0 10px 10px $shadow-gray; }

// Color classes
.bc-black-gray { border-color: $black-gray; }
.bc-fluid-red { border-color: $button-red; }
.bc-hovered-red { border-color: $hovered-red; }
.c-black-gray { color: $black-gray; }
.c-blue-gray { color: $blue-gray; }
.c-dkred { color: $button-red; }
.c-fluid-bk { color: $fluid-black; }
.c-fluid-gray { color: $fluid-gray; }
.c-hovered-red { color: $hovered-red; }

// Fonts
.roboto { font-family: 'Roboto', sans-serif; }
.neue { font-family: neue-haas-grotesk-display, sans-serif; }

// Font Sizes
.f-1125 { font-size: 1.125rem; }
.f-18 { font-size: 1.125rem; }
.f-375 { font-size: 3.75rem; }
.fheader { font-size: 2.25rem; }

// Height Classes
.h-5 { height: 5rem; }
.h-29 { height: 29rem; }
.h-banner { height: 350px; }
.h-navbar { height: 6.5rem; }
.h-section { height: 50rem; }

// Hover changes classes
.hv-fluid-black { &:hover { color: $fluid-black;} }
.hv-bd-fluid-red { &:hover { border-color: $hovered-red;} }
.hv-bg-fluid-rd { &:hover { background-color: $hovered-red; } }
.hv-fluid-rd { &:hover { color: $hovered-red; } }
.hv-fluid-dkred { &:hover { color: $fluid-dark-red;} }
.hv-grow { &:hover { transform: scale(1.05); } }
.hv-rotate-360 { &:hover { transform: rotate(360deg); } }

// Line Heights
.lh-2 { line-height: 2; }

// Margin classes
.nt-5 { margin-top: -5px; }

// Padding classes
.ph-body { padding: 0 1.875rem; }
.pa-50 { padding: 50%; }

// Transitions
.t-all-5 { transition: all 0.5s; }
.t-all-3-eio { transition: all 0.3s ease-in-out;}
.t-tf-6-eio { transition: transform 0.6s ease-in-out; }

// Width and Max Width classes
.mw-1366 { max-width: 1366px; }

// Media queries

// Big screen sizes
@media screen and (min-width: 60em) {
  .bg-banner-sz { background-size: 100% 100%; }
  .mw-20 { max-width: 20rem; }
  .ph-body { padding: 0 3.75rem; }
}

// Medium screen sizes
@media screen and (min-width: 30em) and (max-width: 60em) {
  .fheader { font-size: 3.5rem; }
}

// Small screen sizes
@media screen and (max-width: 30em) {
  .cover-s { background-size: cover; }
}

// Animations
.fadein { animation: fadein 0.5s; }

.underlined-animated::after {
  border-bottom: 4px solid $hovered-red;
  content: '';
  display: block;
  transition: width 0.5s;
  width: 30%;
}

.underlined-animated:hover::after {
  width: 60%;
}


.solutions-index:hover .solutions-content {
  display: block;
}

.usecases-index:hover .usecases-content {
  display: block;
}

// Custom elements

.usecases-content,
.solutions-content {
  background-color: $light-gray;
  box-shadow: 0 20px 20px $dark-shadow;
  display: none;
  min-width: 160px;
  position: absolute;

  a {
    color: $fluid-black;
    display: block;
    float: none;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;

    &:hover {
      color: $fluid-red;
    }
  }
}

.breadcrumb {
  background-color: $fluid-black;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0;
  padding-top: 0;
}

// stylelint-disable-next-line selector-class-pattern
.breadcrumb__list {
  font-size: 0.75rem;
  margin: 5px auto !important;
  max-width: 1366px;
  padding: 15px 1.875rem !important;
  text-align: left;

  @media screen and (min-width: 60em) {
    font-size: 0.875rem;
    padding: 15px 3.75rem !important;
  }
}

// stylelint-disable-next-line selector-class-pattern
.breadcrumb__link {
  color: $fluid-gray;
  &:hover { color: $white; }
}

// stylelint-disable-next-line selector-class-pattern
.breadcrumb__separator {
  color: $fluid-gray;
}

.internal {
  font-weight: 600;
  text-align: left;

  b,
  strong {
    font-weight: 600;
  }

  code {
    background-color: $lighter-gray;
    border-radius: 3px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
  }

  // Disabling this rule is necessary due to stylelint not recognizing the element as valid
  // stylelint-disable-next-line selector-no-qualifying-type
  code.hljs {
    font-family: monospace;
    font-size: 16px;
    font-weight: 400;
    padding: 30px;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0;
  }

  a:not(.link-hvred):not(.button-rules):not(.button-white):not(.button-asserts) {
    border-bottom: 1px solid $fluid-gray;
    color: $fluid-black;
    font-weight: 400;
    text-decoration: none;
  }

  .sub-btn {
    font-weight: 100;
  }

  .button-rules {
    background-color: $button-red;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      background-color: $hovered-red;
      color: #fff;
    }
  }

  p {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .imageblock .content img {
    display: block;
    margin: auto;
  }

  .imageblock .title {
    font-size: 0.875rem;
    font-weight: 400;
    padding-bottom: 4rem;
    text-align: center;
  }

  blockquote {
    background-color: $near-white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding: 1.5rem;
  }

  table.tableblock {
    border-collapse: collapse;
    border-color: $soft-black;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    display: block;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
    width: max-content;

    thead {
      background-color: $white-gray;
      font-size: 1.125rem;

      th {
        padding: 2rem;
        text-align: center;
      }
    }

    tbody {
      vertical-align: top;
    }

    tbody tr {
      background-color: $soft-gray;
    }

    tbody tr:nth-child(even) {
      background-color: $whiter-gray;
    }

    tbody td {
      padding: 2rem;
    }
  }

  pre {
    overflow-y: hidden;
    white-space: pre;
  }
}

.basic-link {
  border-bottom: 1px solid $fluid-gray;
  color: $fluid-black;
  font-weight: 400;
  text-decoration: none;
}

.solution-benefits {
  .sect2 {
    margin-left: auto;
    margin-right: auto;
    min-height: 420px;
    padding: 0 2rem;
    vertical-align: top;
    width: 400px;

    h3 {
      color: $fluid-black;
      font-size: 24px;
      font-weight: 700;
    }

    p {
      color: $fluid-black;
      font-size: 18px;
      font-weight: 300;
      line-height: 36px;
    }
  }
}

.solution-benefits .sect2 h3::after {
  border-bottom: 4px solid $hovered-red;
  content: '';
  display: block;
  width: 30%;
}

.counter-container {
  height: 18.125rem;
  width: 18.125rem;
}

.services-features { .sect2 { min-height: 720px !important; } }
