{% extends "base.html" %}

<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
<meta name="description"
      content="{{ page.description }}">
<meta name="keywords"
      content="{{ page.keywords }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block header %}
<div
  class="forces-bg bg-banner-sz coverm cover-s banner-height justify-center items-center flex mt3-l bg-center">
  <div class="w-100 center">
    <h1 class="white fw4 f1 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="tc pt3">
  <ul class="pl0">
    <li class="dib pr4-l pr3-m pr2">
      <a href="{{ SITEURL }}/products/integrates/"
         class="c-fluid-gray f4 roboto no-underline fw3">
        1. Integrates
      </a>
    </li>
    <li class="dib pr4-l pr3-m pr2">
      <a href="{{ SITEURL }}/products/drills/"
      class="c-fluid-gray f4 roboto no-underline fw3">
        2. Drills
      </a>
    </li>
    <li class="dib">
      <img class="w1 h1 nbs"
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/line-menu.svg"
        alt="Young hacker smiling">
      <a href="{{ SITEURL }}/products/forces/"
      class="c-lightblack f4 roboto fw4 pointer no-underline">
        3. Forces
      </a>
    </li>
  </ul>
</div>
<div class="tc roboto w-100 center c-lightblack pb6">
  <p class="tl fw1 w-40-l w-50-m w90-s center f3 lh-2">
    <b class="fw7">Forces</b> can be included as part of a continuous integration
    pipeline. Thus, any changes to the Target of Evaluation (ToE) can be
    continuously tested against the closing of confirmed vulnerabilities.
    Forces can be included in CI/CD (Continuous Integration/Continuous
    Deployment) environments as a security gate, and performs Dynamic and Static
    Application Security Testing (DAST - SAST) and dynamic testing of many
    protocols (DXST).
  </p>
  <div class="tc pt4">
    <a class="roboto fw1 f5 no-underline c-fluid-bk hv-fluid-dkred" href="#">
      <span class="br2 bannerbt hv-bt-fluid-rd bt-pd contact-pd bt-trans white b roboto pointer mt2">
          Get a Quote
      </span>
    </a>
  </div>
</div>
<div class="w-100 center">
  <h1 class="c-lightblack b f-benefits roboto tc ma0">
    Key Benefits
  </h1>
</div>

<div class="mw9 center pb5">
  <div class="carousel overflow-y-hidden overflow-x-auto w-auto pa2 nowrap pv5"
       id="carousel">
    <div class="item-carousel ml4-l ml6 mr4 pa0 dib v-top">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/forces-1.png"
        alt="Young hacker smiling">
        <p class="roboto fw1 c-lightblack f5 lh-2">
          Support vulnerabilities closing when <br>
          Forces breaks the build.
        </p>
    </div>
    <div class="item-carousel mh4 pa0 dib v-top">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/forces-2.png"
        alt="Young hacker smiling">
        <p class="roboto fw1 c-lightblack f5 lh-2">
          Identify the status of known vulnerabilities <br>
          on your system.
        </p>
    </div>
    <div class="item-carousel mh4 pa0 dib v-top">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/forces-3.png"
        alt="Young hacker smiling">
        <p class="roboto fw1 c-lightblack f5 lh-2">
          Recognize the exact moment a <br>
          vulnerability appeared.
        </p>
    </div>
    <div class="item-carousel mh4 pa0 dib v-top">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/forces-4.png"
        alt="Young hacker smiling">
        <p class="roboto fw1 c-lightblack f5 lh-2">
          Confidence to deploy changes to <br>
          production without known vulnerabilities.
        </p>
    </div>
    <div class="item-carousel mh4 pa0 dib v-top">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/forces-5.png"
        alt="Young hacker smiling">
        <p class="roboto fw1 c-lightblack f5 lh-2">
          Interactive cycle of vulnerability closing.
        </p>
    </div>
  </div>
  <div class="w5 h-cont-bar bg-fluid-lightgray center mw5 br4 ba bc-lightergray">
    <div class="h-bar w1 bg-dk-red mw5 br4" id="progress-bar"></div>
  </div>
  <div class="w-100 roboto tc pv6">
    <h1 class="c-lightblack b f2 roboto tc ma0">
      Vulnerabilities Tested
    </h1>
    {{ page.content }}
    </div>
    <div class="w-100 roboto tc pb6">
    <img
      class="w6"
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/datasheet-forces.png"
      alt="Young hacker smiling">
      <h1 class="c-lightblack f2-l fw7 tc f3 center roboto">
        Want to know more about Fluid Attacks?
      </h1>
      <h2 class="f2-l fw1 tc f4 w6-ns center roboto w-90">
        Download Data Sheet  <span><a href="#"><img class="w2-ns w1" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/download.svg" alt="Young hacker smiling"></a></span>
      </h2>
    </div>
</div>
{% assets output="static/js/progressBar.min.js", "js/tmp/progressBar.min.js" %}
<script type="text/javascript"
        src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
{% assets output="static/js/carousel.min.js", "js/tmp/carousel.min.js" %}
<script type="text/javascript"
        src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock content %}
