<VirtualHost *:{{ http_port }}>
    ServerName {{ servername }}
    ServerAdmin {{ server_admin }}
    Options  +Indexes +Multiviews +FollowSymLinks
        
    RewriteEngine On

    RequestHeader unset X-Forwarded-Host
    RequestHeader unset X-Forwarded-For
    RequestHeader unset X-Forwarded-Server

    #Pagina WEB
      RewriteRule ^/web(.*)$    http://{{ web_bucket }}/web$1    [P,L]
      ProxyPassReverse /web     http://{{ web_bucket }}/web

      RewriteRule ^/sitemap.xml$  http://{{ web_bucket }}/web/sitemap.xml    [P,L]
      ProxyPassReverse /sitemap.xml  http://{{ web_bucket }}/web/sitemap.xml
    
      RewriteRule ^/robots.txt$    http://{{ web_bucket }}/web/robots.txt    [P,L]
      ProxyPassReverse /robots.txt    http://{{ web_bucket }}/web/robots.txt   
    
      RewriteCond %{HTTP:Accept-Language} ^es       [NC]
      RewriteRule ^/$       http://{{ web_bucket }}/web/es/        [P,L]
        
      RewriteRule ^/$       http://{{ web_bucket }}/web/en/        [P,L]
      RewriteRule ^/(.*)    http://{{ web_bucket }}/web/en/$1      [P,L]

      ErrorDocument 500 {{ error500_page }}

      ErrorLog {{ error_log }}
      CustomLog {{ custom_log }} combined

    # Configuración SSL
      SSLEngine on
      SSLProxyEngine on
      SSLProxyVerify none
      SSLProxyCheckPeerCN off
      SSLProxyCheckPeerName off
      SSLProxyCheckPeerExpire off
      SSLCertificateFile    /etc/ssl/certs/fluidattackscom.crt
      SSLCertificateKeyFile /etc/ssl/private/fluidla.key

      <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
      </FilesMatch>
      <Directory /usr/lib/cgi-bin>
        SSLOptions +StdEnvVars
      </Directory>
</VirtualHost>
