<IfModule mod_ssl.c>
<VirtualHost *:{{ https_port }}>
    ServerName fluidattacks.com
    Options  +Indexes +Multiviews +FollowSymLinks
	ServerAdmin {{ server_admin }}

    # Sitemap
        RewriteRule ^/sitemap.xml$                https://fluidattacks.com/web/sitemap.xml    [P,L]
	    ProxyPassReverse /sitemap.xml  https://fluidattacks.com/web/sitemap.xml
    
    # Robot
        RewriteRule ^/robots.txt$                https://fluidattacks.com/web/robots.txt    [P,L]
	    ProxyPassReverse /robots.txt  https://fluidattacks.com/web/robots.txt       

    # Moodle
        RewriteRule ^/courses(.*)                http://fluidattacks.com:8080$1     [P,L]
        ProxyPassReverse /courses http://fluidattacks.com:8080

        <Location "/courses">
          ProxyErrorOverride On
          ErrorDocument 404 {{ error_page }}
        </Location>

    # Favicon KB
	    Substitute "s|type=\"image/x-icon\".*href=\".*|type=\"image/x-icon\" href=\"https://app.knowledgeowl.com/app/image/id/54f110f97cb829fd677b23d4/n/favicon_fluid.png\">|i"
	    Substitute "s|<a href=\"//kb.fluidattacks.com/help/article/link/|<a href=\"//fluidattacks.com/help/article/link/|i"

    # Formstack
        RewriteRule ^/forms(.*)                https://fluidsignal.formstack.com/forms$1     [P,L]
        ProxyPassReverse /forms https://fluidsignal.formstack.com/forms

        <Location "/forms">
          ProxyErrorOverride On
          ErrorDocument 404 {{ error_page }}
        </Location>

    #Integrates
        RewriteEngine on
        RewriteRule ^/integrates(.*)$           https://fluidattacks.com:8000/$1        [P,L]
        ProxyPassReverse /integrates https://fluidattacks.com:8000
        RewriteRule ^/assets(.*)$           https://fluidattacks.com:8000/assets$1        [P,L]
        ProxyPassReverse /assets https://fluidattacks.com:8000/assets
        RewriteRule ^/oauth(.*)$           https://fluidattacks.com:8000/oauth$1        [P,L]
        ProxyPassReverse /oauth https://fluidattacks.com:8000/oauth
        RewriteRule ^/index(.*)$           https://fluidattacks.com:8000/index$1        [P,L]
        ProxyPassReverse /index https://fluidattacks.com:8000/index
        RewriteRule ^/registration(.*)$           https://fluidattacks.com:8000/registration$1        [P,L]
        ProxyPassReverse /registration https://fluidattacks.com:8000/registration
        RewriteRule ^/errors$           https://fluidattacks.com/integrates/error401        [P,L]
        ProxyPassReverse /errors https://fluidattacks.com/integrates/error401

        <Location "/integrates">
            Header always set WWW-Authenticate "OAuth realm=\"Access to FLUIDIntegrates\" charset=\"UTF-8\""
            Header always set Strict-Transport-Security "max-age=31536000"
            Header always set X-XSS-Protection "1; mode=block"
            Header always set X-Permitted-Cross-Domain-Policies "master-only"
            Header always set X-Content-Type-Options "nosniff"
            Header always set Pragma "no-cache"
            Header always set Expires "0"
            Header always set Content-Security-Policy "script-src 'self' 'unsafe-inline' *.mxpnl.com *.cloudflare.com *.intercomcdn.com *.intercom.io *.pingdom.net;"
            Header always unset Server
            ProxyErrorOverride On
            ErrorDocument 404 {{ error_page }}
        </Location>

    # KB - Knowledgeowl
	    Header edit Location ^http://kb.fluidattacks.com(.*)$ https://fluidattacks.com$1
        Header edit Set-Cookie kb.fluidattacks.com fluidattacks.com
        RewriteRule ^/kb$           http://kb.fluidattacks.com/help/readerlogin        [P,L]
        ProxyPassReverse /kb http://kb.fluidattacks.com/help/readerlogin
        RewriteRule ^/help(.*)           http://kb.fluidattacks.com/help$1        [P,L]
        ProxyPassReverse /help http://kb.fluidattacks.com/help

    # Blog
        RewriteRule ^/web(.*)$           http://{{ web_bucket }}/web$1        [P,L]
        ProxyPassReverse /web http://{{ web_bucket }}/web

        Substitute "s|http://blog.fluidattacks.com/|https://fluidattacks.com/web/|i"

        Substitute "s|http://fluidattacks.com/(.*)|https://fluidattacks.com/$1|i"
    ErrorLog {{ error_log }}
    CustomLog {{ custom_log }} combined
	LogLevel {{ log_level }}

    #Pagina WEB
        RewriteEngine on
        RewriteRule ^/$         {{ landing }} [P]
        RewriteRule ^/(.*)           {{ landing }}$1        [P]
        ProxyPassReverse / {{ landing }}
        ErrorDocument 401 {{ error_page }}
        ErrorDocument 401 {{ error401_page }}
	    ErrorDocument 405 {{ error401_page }}
        ErrorDocument 500 {{ error500_page }}

    # Configuración SSL
	    SSLEngine on
	    SSLProxyEngine on
        SSLProxyVerify none
        SSLProxyCheckPeerCN off
	    SSLProxyCheckPeerName off
	    SSLProxyCheckPeerExpire off
	    SSLCertificateFile    /etc/ssl/certs/fluidattackscom.crt
	    SSLCertificateKeyFile /etc/ssl/private/fluidla.key

	<FilesMatch "\.(cgi|shtml|phtml|php)$">
		SSLOptions +StdEnvVars
	</FilesMatch>
	<Directory /usr/lib/cgi-bin>
		SSLOptions +StdEnvVars
	</Directory>

	BrowserMatch ".*MSIE.*" \
	nokeepalive ssl-unclean-shutdown \
	downgrade-1.0 force-response-1.0

</VirtualHost>
</IfModule>