<VirtualHost *:{{ http_port }}>
        ServerName fluid.com.co
        ServerAlias *.fluid.com.co
        ServerAdmin {{ server_admin }}
        Options  +Indexes +Multiviews +FollowSymLinks
        Redirect / {{ mainsite }}
        ErrorLog {{ error_log }}
        CustomLog {{ custom_log }} combined
</VirtualHost>
