[mypy]
# The current python implementation have some missing generics.
# For example asyncio.Queue is not generic but mypy thinkgs it is.
#
# Disabling because doing this is a runtime syntax error:
#   var: asyncio.Queue[str]
disallow_any_generics = false
# Some third party libraries have untyped classes.
#
# Disabling to avoid doing:
#   class SkimsClass(ThirdPartyClassWithoutTyping)  # type: ignore
disallow_subclassing_any = false
# Some third party libraries are untyped.
#
# Disabling them to avoid doing:
#   third_party_function()  # type: ignore
disallow_untyped_calls = false
# Some third party libraries are untyped.
#
# Disabling to avoid doing:
#   @third_party_lib_decorator  # type: ignore
disallow_untyped_decorators = false
# Sometimes mypy do not find libraries and that's not an error condition
# as long as the runtime interpreter does
ignore_missing_imports = true
strict = true

warn_return_any = false



exclude = (?x)(
    api
    | app
    | authz
    | batch
    | billing
    | cli
    | comments
    | context
    | custom_exceptions
    | custom_types
    | dataloaders
    | db_model
    | decorators
    | dynamodb
    | events
    | forces
    | findings
    | group_access
    | group_comments
    | groups
    | machine
    | mailer
    | names
    | newutils
    | notifications
    | organizations
    | organizations_finding_policies
    | redis_cluster
    | redshift
    | reports
    | resources
    | roots
    | s3
    | schedulers
    | sessions
    | settings
    | subscriptions
    | tags
    | toe
    | unreliable_indicators
    | users
    | vulnerabilities
    | vulnerability_files
    )

follow_imports = normal
