<VirtualHost *:{{ http_port }}>
        ServerName fluid.la
        ServerAdmin {{ server_admin }}
        Options  +Indexes +Multiviews +FollowSymLinks
        Redirect / {{ mainsite }}
        ErrorLog /var/log/apache2/error.log
        CustomLog /var/log/apache2/access.log combined
</VirtualHost>

