# SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>
#
# SPDX-License-Identifier: MPL-2.0

[importlinter]
  root_package = tap_git

[importlinter:contract:dag]
  name = root_dag
  type = layers
  layers =
    metrics
    dags
    os_tools
  containers =
    tap_git
