/*
 * SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>
 *
 * SPDX-License-Identifier: MPL-2.0
 */

:local .ico-google {
  height: 1.5rem;
}

:local .link-default {
  text-decoration: underline;
  color: #272727;
}

:local .link-default:hover {
  color: #ff3435;
}

:local .text-color {
  color: #272727;
  line-height: 1.15;
}

:local .logo {
  max-width: 100%;
  min-width: 100%;
}
