{% extends "new_layouts/common.html" %}
{% from 'new_layouts/components/forms.html' import banner_project, go_to_button %}

{% block layout %}
<div class="container">
  {% include 'new_layouts/components/logo_header.html' %}
  {{ banner_project('Access Granted') }}

  <div style="padding: 30px 0 !important;">
    <p>Good news!</p>
    <p>You have been invited to access our <strong>Attack Surface Manager</strong>.</p>
    <p>
      Please confirm your access and check vulnerabilities related to the group <strong>"{{ project }}
      - {{ project_description }}"</strong>, by clicking the following button:
    </p>
    <br />
    {{ go_to_button('Confirm access', project_url) }}
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
  </div>

  {% include 'new_layouts/components/footer.html' %}
</div>
{% endblock %}
