{% extends "layouts_new/common.html" %}
  {% from 'layouts_new/components/forms.html' import go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts_new/components/dark_logo_header.html' %}

      <div class="main-content">
        <h2>{{ name }},</h2>
        <p>
          You can find several visualizations and figures relevant
          for proper cybersecurity management in the analytics sections
          in our <strong>ARM Platform</strong>. You can find these in several levels:
        </p>
        <div class="data-container">
          <ul class="big-list-icon">
            <li>
              Organization
            </li>
            <li>
              Group
            </li>
            <li>
              Portfolio
            </li>
          </ul>
        </div>
        <p>
          Below, you can see two examples of the
          information provided in these sections:
        </p>
        <p>
          <strong>
            Total risk exposure, measured in
            <a href="https://docs.fluidattacks.com/about/faq/#adjustment-by-severity" rel="noopener noreferrer" target="_blank">CVSSF</a>:
          </strong>
        </p>
        <div class="mb1">
          <img alt="analytic image" class="w-100"
            src="https://res.cloudinary.com/fluid-attacks/image/upload/v1663190711/notifications/analytics/analytic-image.png"
            style="display:block;">
        </div>
        <p>
          <strong>Total number of vulnerabilities, to date.</strong>
        </p>
        <div class="mb1">
          <img alt="total vulnerabilities image" class="w-100"
            src="https://res.cloudinary.com/fluid-attacks/image/upload/v1663190710/notifications/analytics/total-vulns.png"
            style="display:block;">
        </div>
        <p>
          A glimpse into what else you can find, is below
        </p>
        <div class="mb1">
          <img alt="analytics video" class="w-100"
            src="https://res.cloudinary.com/fluid-attacks/image/upload/v1663190750/notifications/analytics/analytics-improved.gif"
            style="display:block;">
        </div>
        {{ go_to_button('Go to Analytics', analytics_link, 'primary-button') }}
        <p class="mt1">
          To know more, visit our documentation
          <a href="https://docs.fluidattacks.com" rel="noopener noreferrer" target="_blank">here</a>.
        </p>
        <p class="mt1">
          <strong>Questions or comments?</strong> You can always contact us at
          <a href="mailto:help@fluidattacks.com">help@fluidattacks.com</a>
        </p>
        <p>Thanks for trying Continuous Hacking!</p>
        <p><br/>Regards, <strong>Fluid Attacks Team.</strong></p>
      </div>
      {% include 'layouts_new/components/footer.html' %}

    </div>
  {% endblock %}
