{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_group, go_to_button, analytics_image, charts_report_button %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_group('Analytics') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      Below you'll find the Analytics report for {{ report_entity }} <strong>{{ report_subject }}</strong>,
      sent as part of your {{ frequency_lower }} subscription, the report will be available for 7 days:
    </p>
    <p></p>
    {{ analytics_image(image_src, 1200) }}
    <br />
    <p>
      You are receiving this email because you are subscribed to {{ frequency_title }}
      report in {{ report_subject_title }}.
      You can modify the notifications frequency or disable them by visiting this
      <a href="{{ live_report_url }}" target="_blank" rel="noopener noreferrer" style="color: #ff3435;">
        link
      </a>.
    </p>
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
      <table style="width: 50%; margin: auto;">
        {{ charts_report_button('Download', image_src) }}
        {{ charts_report_button('Live', live_report_url) }}
      </table>
    <br />
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
