<!--
SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>

SPDX-License-Identifier: MPL-2.0
-->

{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_group %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {% include 'layouts/components/arm_banner.html' %}
      {{ banner_group('Comments Report') }}
      <div class="main-content">
        <p>Hi {{ name }},</p>
        <p>Below is a short report of your last comments in the ARM:</p>
        {% for group_name, group_data in groups_data.items() %}
        <br />
        <h4>{{ group_name.upper() }}</h4>
        <br />
        <p>
          {%- if group_data["group_comments"] -%}
          <strong>Group Comments:</strong>
          <ul>
            {% for group_comment in group_data["group_comments"] %}
            <li>
              <strong>{{ group_comment["date"] }}</strong> {{ group_comment["name"] }}
              posted a {{ group_comment["type"] }}:<br />
              <em>{{ group_comment["comment"] }}</em>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {%- if group_data["event_comments"].keys() %}
          <strong>Event Comments:</strong>
          <ul>
            {% for event_id, event_data in group_data["event_comments"].items() %}
            <li>
              <strong>Event#{{ event_id }}:</strong>
              <ul>
              {% for event_comment in event_data %}
                <li>
                  <strong>{{ event_comment["date"] }}</strong> {{ event_comment["name"] }}
                  posted a {{ event_comment["type"] }}:<br />
                  <em>{{ event_comment["comment"] }}</em>
                </li>
              {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {%- if group_data["finding_comments"].keys() %}
          <strong>Finding Comments:</strong>
          <ul>
            {% for finding_type, finding_data in group_data["finding_comments"].items() %}
            <li>
              <strong>{{ finding_type }}:</strong>
              <ul>
              {% for finding_comment in finding_data %}
                <li>
                  <strong>{{ finding_comment["date"] }}</strong> {{ finding_comment["name"] }}
                  posted a {{ finding_comment["type"] }}:<br />
                  <em>{{ finding_comment["comment"] }}</em>
                </li>
              {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </p>
        {% endfor %}
        <p>
          Regards,<br />
          Fluid Attacks Team
        </p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
