{% extends "layouts/fluid_attacks.html" %}
{% from 'layouts/components/forms.html' import main_image %}
{% block content %}
<p>Hello {{ name }},</p>
{{ main_image('https://gallery.mailchimp.com/a32e6c9ce2902c975d3ea510c/images/5586366d-5e3a-4a48-9fb9-18d303282ae8.gif', 176) }}
<p>Talent: <strong>{{ analyst_email }}</strong></p>
<p>Project: <strong>{{ project }}</strong></p>
<p>Finding: <strong>{{ finding_name }}</strong></p>
<p>ID: <strong>{{ finding_id }}</strong></p>
<p>Justification: <strong>{{ justification }}</strong></p>
{% endblock %}