{% extends "new_layouts/common.html" %}
{% from 'new_layouts/components/forms.html' import banner_finding %}

{% block layout %}
<div class="container">
  {% include 'new_layouts/components/logo_header.html' %}
  {{ banner_finding('Finding Deleted') }}

  <div style="padding: 30px 0 !important;">
    <p>Hello {{ name }},</p>
    <div style="padding-left: 2rem !important;">
      <p>Talent:
        <strong>
          <a href="mailto:{{ analyst_email }}" target="_blank" rel="noopener" style="color: #ff3435;">
            {{ analyst_email }}
          </a>
        </strong>
      </p>
      <p>Group: <strong>{{ project }}</strong></p>
      <p>Finding: <strong>{{ finding_name }}</strong></p>
      <p>ID: <strong>{{ finding_id }}</strong></p>
      <p>Justification: <strong>{{ justification }}</strong></p>
    </div>
    <p>Regards,<br>
      Fluid Attacks Team</p>
  </div>

  {% include 'new_layouts/components/footer.html' %}
</div>
{% endblock %}
