{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_finding %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_finding('Type of vulnerability Deleted') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <div style="padding-left: 2rem !important;">
      <p><strong>Talent</strong>:
        <strong>
          <a href="mailto:{{ hacker_email }}" target="_blank" rel="noopener noreferrer" style="color: #ff3435;">
            {{ hacker_email }}
          </a>
        </strong>
      </p>
      <p><strong>Group</strong>: {{ group }}</p>
      <p><strong>Type of vulnerability</strong>: {{ finding_name }}</p>
      <p><strong>ID</strong>: {{ finding_id }}</p>
      <p><strong>Justification</strong>: {{ justification }}</p>
    </div>
    <p>Regards,<br>
      Fluid Attacks Team</p>
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
