{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_news %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/dark_logo_header.html' %}
  {% include 'layouts/components/arm_banner.html' %}
  {{ banner_news('API Deprecation Notice') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      As part of the ARM's continuous evolution, the following deprecated
      elements are nearing the end of their six month phase-out window, and
      therefore will be <strong>removed</strong> from our API next month:
    </p>
    {% for object, fields in deprecations.items() %}
    <div class="row">
      <div class="column left" style="width: 30%; text-align: center;">
        Of <strong>{{ object }}</strong>:
      </div>
      <div class="column right" style="width: 70%; text-align: center;">
        {{ fields }}
      </div>
    </div>
    {% endfor %}
    <br>
    <p>
      If your product is consuming any of the aforementioned API elements in
      its queries, we encourage you to update them before the planned removal
      takes effect <strong>next month</strong>.
      For more information, you can check the
      <a href="https://app.fluidattacks.com/api"
         target="_blank" rel="noopener noreferrer"
         style="color: #ff3435;">
         ARM API docs
      </a>.
    </p>
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
    <br />
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
