{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_news %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_news('Deprecation Notice') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      As part of the continuous evolution of the ASM API the following elements
      will be phased out and <strong>removed</strong> next month:
    </p>
    {% for key, val in deprecations.items() %}
    {{ key }}: {{ val }} <br>
    {% endfor %}
    <p>
      Remember to check and adjust your queries if you're using any of the
      aforementioned elements.
    </p>
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
    <br />
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
