{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_news %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_news('API Deprecation Notice') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      As part of the ASM's continuous evolution, the following deprecated
      elements are nearing the end of their six month phase-out window, and
      therefore will be <strong>removed</strong> from our API next month:
    </p>
    <table aria-label="Deprecated Table" style="width: 75%; margin: auto;">
      <tr>
        <th scope="col">
          Object
        </th>
        <th scope="col">
          Field/Values to be removed soon
        </th>
      </tr>
      {% for object, fields in deprecations.items() %}
      <tr> <td><strong>{{ object }}</strong></td> <td>{{ fields }}</td> </tr>
      {% endfor %}
    </table>
    <br>
    <p>
      If your product is consuming any of the aforementioned API elements in
      its queries, we encourage you to update them before the planned removal
      takes effect <strong>next month</strong>.
      For more information, you can check the
      <a href="https://app.fluidattacks.com/api"
         target="_blank" rel="noopener noreferrer"
         style="color: #ff3435;">
         ASM API docs
      </a>.
    </p>
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
    <br />
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
