{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_group %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/dark_logo_header.html' %}
  {% include 'layouts/components/arm_banner.html' %}
  {{ banner_group('File Update') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      A file has been {{ state }} in group <strong>{{ group_name }}</strong>
      by <strong>{{ responsible }}</strong> as {{ user_role }}.
    </p>
    <p>
      <strong>File:</strong> {{ file_name }}.<br>
      <strong>Description:</strong> {{ file_description }}.<br>
      <strong>Moment:</strong> {{ report_date }}.
      {% if uploaded_date %}
        <strong>Uploaded date:</strong> {{ uploaded_date }}
        ({{ uploaded_days_to_date }} days).
      {% endif %}
    </p>
    <p></p>
    <p>Regards,<br>Fluid Attacks Team</p>
    <br />
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
