{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import header, go_to_button %}

{% block layout %}
<div class="container">
  {{ header(
    'You have reached day 21!',
    'Want to continue enjoying the Machine Plan free trial?'
  ) }}

  <div class="main-content">
    <p>Hi, {{ name }},</p>
    <p>
      Your Machine Plan free trial expires today ({{ expires_date }}).<br>
      What do you want to do next?
    </p>
    <ul class="big-list-icon" style="padding: 1.5rem; line-height: 30px;">
      <li>
        Follow <a href="{{ extend_link }}" rel="noopener noreferrer" target="_blank">this link</a>
        to extend your free trial for 9 days.
      </li>
      <li>
        Enter your payment details <a href="{{ payment_link }}" rel="noopener noreferrer" target="_blank">here</a>
        to confirm your Machine Plan (automatic testing) subscription immediately.
      </li>
      <li>
        Request an appointment <a href="{{ appointment_link }}" rel="noopener noreferrer" target="_blank">here</a>
        with one of our consultants to learn about our comprehensive
        Squad Plan (automatic and manual testing).
      </li>
      <li>
        Click <a href="{{ cancel_link }}" rel="noopener noreferrer" target="_blank">here</a>
        to cancel your free trial now.
      </li>
      <li>
        You do nothing, and we delete your group once the free trial expires.
      </li>
    </ul>
    <p>Best regards,</p>
    <p>Fluid Attacks Team</p>
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
