{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_share, go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {{ banner_share('Report Available') }}
      <div class="main-content">
        <h2>Hello {{ name }},</h2>
        <p>
          You can download the <u>{{ filetype }} Report</u> you requested on group
          <strong>{{ groupname }}</strong> on {{ date }} at {{ time }}
          by clicking the link below.
          The link will be <strong>available for the next hour</strong>.
        </p>
        {{ go_to_button('Download Report', filelink, 'primary-button') }}
        <p><br/>Regards, <strong>Fluid Attacks Team.</strong></p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
    <div class="unsubscribe">
      This email was sent to
      <a
        href="mailto:{{ mailto }}"
        rel="noopener noreferrer"
        target="_blank"
      >
        {{ mailto -}}
      </a>
      |
      <a
        href='{%- raw -%}{{unsub}}{%- endraw -%}'
        rel="noopener noreferrer"
        target="_blank"
      >
      Unsubscribe from this list
      </a>
    </div>
  {% endblock %}
