{% extends "layouts_new/common.html" %}
  {% from 'layouts_new/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts_new/components/dark_logo_header.html' %}

      {{ banner_share('Group Alert') }}
      <div class="main-content">
        <h2>Hello, {{ name }}:</h2>
        <p>
          {% if attempt %}
          An attempt to delete the <strong>{{ group }}</strong> group
          from <strong>{{ organization }}</strong> has been started
          {% else %}
          The group <strong>{{ group }}</strong> has been {{ state }}
          from <strong>{{ organization }}</strong>
          {% endif %}
          by
          <strong><a
            href="mailto:{{ responsible }}"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #ff3435;"
          >
            {{ responsible -}}
          </a></strong>:
        </p>
        <div class="data-container">
          <p>
            <strong>Date:</strong><br/>{{ date }}<br/><br/>
            <strong>Type:</strong><br/>{{ subscription.capitalize() }}<br/><br/>
            <strong>Reason:</strong><br/>{{ reason }}
            {%- if comments -%}
            <br/><br/>
            <strong>Comment:</strong><br/>{{ comments }}
            {% endif %}
          </p>
        </div>
        <p><br/>Regards, <strong>Fluid Attacks Team.</strong></p>
      </div>
      {% include 'layouts_new/components/footer.html' %}

    </div>
  {% endblock %}
