{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_finding, go_to_button, findings_area %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_finding('Findings to Verify') }}

  <div style="padding: 30px 0 !important;">
    <p>Hello {{ name }},</p>
    <p>
      These are the findings that have not been <strong>verified</strong> yet:
    </p>
    {{ findings_area(findings) }}
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
