{% extends "new_layouts/common.html" %}
{% from 'new_layouts/components/forms.html' import banner_news, go_to_button, text_area %}

{% block layout %}
<div class="container">
  {% include 'new_layouts/components/logo_header.html' %}
  {{ banner_news('New Comment') }}

  <div style="padding: 30px 0 !important;">
    <p>Hello {{ name }},</p>
    <p>
      <a href="mailto:{{ user_email }}" target="_blank" rel="noopener" style="color: #ff3435;">{{ user_email }}</a> has
      {% if parent == '0' %} made {% else %} replied to {% endif %}
      {% if comment_type == 'observation' %} an observation {% else %} a comment {% endif %} on
      {% if comment_type != 'project' %} finding <strong>{{ finding_name }}</strong> of {% endif %}
      group <strong>{{ project }}</strong>:
    </p>
    {{ text_area(comment) }}
    <br />
    {{ go_to_button('Go to comment', comment_url) }}
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
  </div>

  {% include 'new_layouts/components/footer.html' %}
</div>
{% endblock %}
