{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_news, go_to_button, text_area %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_news('Consulting') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      <a href="mailto:{{ user_email }}" target="_blank" rel="noopener noreferrer" style="color: #ff3435;">
        {{ user_email }}
      </a> has
      {% if parent == '0' %} made {% else %} replied to {% endif %}
      {% if comment_type == 'observation' %} an observation on type of vulnerability
      {% else %} a comment on{% endif %}
      {% if comment_type != 'group' %} <strong>{{ finding_name }}</strong> of {% endif %}
      group <strong>{{ group }}</strong>:
    </p>
    {{ text_area(comment) }}
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
    {{ go_to_button('Go to comment', comment_url) }}
    <br />
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
