{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_group %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_group('Enumeration Digest') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      Today were enumerated {{ today_enumerated_count }} and
      verified {{ today_verified_count }} fields, by {{ responsible }}:
    </p>
    <p>
      {% if groups %}
        {% for group, fields in groups.items() %}
          <strong>{{ group }}</strong>:
          {{ fields["enumerated_count"] }} enumerated,
          {{ fields["verified_count"] }} verified.<br />
        {% endfor %}
      {% endif %}
      <br />
      {{ enumerated_variation }} variation in enumerated and
      {{ verified_variation }} in verified inputs from yesterday
    </p>
    <p>Regards,<br />Fluid Attacks Team</p>
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
