{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_project, go_to_button %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_project('Report Available') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      You can download your {{ filetype }} report requested on group <strong>{{ projectname }}</strong>
      on {{ date }} at {{ time }} by clicking the following button:
    </p>
    {{ go_to_button('Go to report', filelink) }}
    <p></p>
    <p>
      This link will be available for the next <strong>hour</strong>.
    </p>
    <p>
      The passphrase for your {{ filetype }} report will be sent to your mobile device,
      make sure you have enabled the notifications and the background task to get the passphrase.
    </p>
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
