{% extends "layouts_new/common.html" %}
  {% from 'layouts_new/components/forms.html' import banner_share %}
  {% block layout %}
    <div class="container">
      {% include 'layouts_new/components/dark_logo_header.html' %}

      {{ banner_share('Inactivity Alert') }}
      <div class="main-content">
        <h2>Hey {{ name }}!</h2>
        <p>
          Three weeks have passed since you last used the ARM.
          Sign in now and see what's new!
        </p>
        <p><br/>Regards, <strong>Fluid Attacks Team</strong></p>
      </div>
      {% include 'layouts_new/components/footer.html' %}

    </div>
  {% endblock %}
