<!--
SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>

SPDX-License-Identifier: MPL-2.0
-->

{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_group, go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {% include 'layouts/components/arm_banner.html' %}
      {{ banner_group('Root Status') }}
      <div class="main-content">
        <p>Hi {{ name }},</p>
        <p>
          {% if not is_failed %}
            {% if cloning_time_delta %}
          After {{ cloning_time_delta }}
            {% endif %}
          your repo <strong>{{ root_nickname }}</strong> in
          <strong>{{ group }}</strong> is clonning again.<br><br>
            {% if last_clone_date %}
          <strong>Last cloning date:</strong> {{ last_clone_date }}
              {% if days_to_clone %}
          ({{ days_to_clone }} days ago).
              {% endif %}<br>
            {% endif %}
          {% else %}
          The root <strong>{{ root_nickname }}</strong> from the group
          <strong>{{ group }}</strong> has failed <strong>cloning</strong>
          {{ report_date }}.
          {% endif %}
        </p>
        <p>
          Regards,<br>
          Fluid Attacks Team
        </p>
        {{ go_to_button('Go to scope', scope_url, 'primary-button') }}
        <p style="font-size: 13px !important; margin-top: 3rem !important; line-height : 150%;">
          <strong>More information about:</strong><br>
          <strong>ID:</strong> {{ root_id }}<br>
          <strong>Creation Date:</strong> {{ root_creation_date }}<br>
          <strong>Last modified by:</strong> {{ modified_by }}.
        </p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
