{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_group, go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {% include 'layouts/components/arm_banner.html' %}
      {{ banner_group('Treatment Expiration Alert') }}
      <div class="main-content">
        <p>Hi {{ name }},</p>
        <p>
          The temporary acceptance period for the
          following vulnerabilities in the group <strong>{{ group }}</strong>
          is about to end:
        </p>
        <p>
          <strong>Type:</strong> {{ finding }}<br>
          <strong>Vulnerabilities:</strong>
          <ul>
          {% for key, value in locations.items() %}
            <li>{{ key }} ({{- value["vuln_count"] }}
            {%- if value["vuln_count"] == 1 %}
            vulnerability
            {%- else %}
            vulnerabilities
            {%- endif -%})
            </li>
          {% endfor %}
          </ul>
        </p>
        <p>
          Regards,<br>
          Fluid Attacks Team
        </p>
        {{ go_to_button('View Vulnerability', finding_link, 'primary-button') }}
        <br />
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
