{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_finding, go_to_button, text_area %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/dark_logo_header.html' %}
  {% include 'layouts/components/arm_banner.html' %}
  {{ banner_finding('Treatment Alert') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      A permanent treatment {{ approve_state }} in the group <strong>{{ group }}</strong>
      {% if responsible %}by <strong>{{ responsible }}</strong> as {{ user_role }}{% endif %}:
    </p>
    <p style="margin-bottom: 0px;">
      <strong>Date</strong>: {{ date }}.<br>
      <strong>Type</strong>: {{ finding }}.<br>
      <strong>Location</strong>: {{ location }}.<br>
      <strong>Justification</strong>: {{ justification }}.<br>
    </p>
    {% if not is_approved %}
      <p style="margin-bottom: 0px;">
        <Strong>Waiting for approval from</Strong>:
      </p>
      <ul style="margin-top: 10px;line-height: 30px;margin-bottom: 2rem;">
        {% for manager in managers_email %}
          <li>{{ manager }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <p></p>
    <p>Regards,<br />
      Fluid Attacks Team</p>
    {{ go_to_button('Go to type of vulnerability', finding_link, 'primary-button') }}
    <br />
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
