<!--
SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>

SPDX-License-Identifier: MPL-2.0
-->

{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_finding, go_to_button %}

{% block layout %}
  <div class="container">
{% include 'layouts/components/dark_logo_header.html' %}
{% include 'layouts/components/arm_banner.html' -%}
{{ banner_finding('Draft Rejected') }}
    <div class="main-content">
      <p>Hi {{ name }},</p>
      <p>
        Draft <strong>{{ draft_title }}</strong>
        for the group <strong>{{ group }}</strong>, submitted by
        <strong><a
          href="mailto:{{ analyst_mail }}"
          target="_blank"
          rel="noopener noreferrer"
          style="color: #ff3435;">
          {{ analyst_mail -}}
        </a></strong>
        has been rejected by
        <strong><a
          href="mailto:{{ reviewer_mail }}"
          target="_blank" rel="noopener noreferrer"
          style="color: #ff3435;">
          {{ reviewer_mail -}}
        </a></strong>.
        Therefore, its status has changed to not submitted.
      </p>
      <p>Regards,<br>
        Fluid Attacks Team</p>
      {{ go_to_button('Go to draft', draft_url, 'primary-button') }}
      <br />
    </div>
    {% include 'layouts/components/footer.html' %}
  </div>
{% endblock %}
