{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_group, go_to_button, text_area %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_group('Root Updated') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      The root with the nickname <strong>{{ root_nickname }}</strong>
      from the group <strong>{{ group_name }}</strong> has been changed by
      <strong>{{ responsible }}</strong>:
    </p>
    <div style="line-height: 30px;">
      {% for key, value in new_root_content.items() %}
        <strong>
        {% if key == "gitignore" %}
          Exclusions
        {% elif key == "url" %}
          URL
        {% else %}
          {{ key.replace('_', ' ').capitalize() }}
        {% endif %}
        </strong>:
        {% if key in ["url", "gitignore"]%}
          <div class="row">
          	<div class="column left">
              from:
          	</div>
            <div class="column right">
              {% if key == "url" %}
                <a href="{{ old_state[key] }}" target="_blank" rel="noopener noreferrer">{{ old_state[key] }}</a>
              {% else %}
                {{ old_state[key] }}
              {% endif %}
          	</div>
          </div>
          <div class="row" style="margin-bottom:1rem !important;">
          	<div class="column left">
              to:
          	</div>
            <div class="column right">
              {% if key == "url" %}
                <a href="{{ value }}" target="_blank" rel="noopener noreferrer">{{ value }}</a>
              {% else %}
                {{ value }}
              {% endif %}
          	</div>
          </div>
        {% else %}
          <u>from</u> {{ old_state[key] }} <u>to</u> {{ value }} <br>
        {% endif %}
      {% endfor %}
    </div>
    <p></p>
    <p>Regards,<br>Fluid Attacks Team</p>
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
