{% extends "layouts_new/common.html" %}
  {% from 'layouts_new/components/forms.html' import banner_magnifying, go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts_new/components/dark_logo_header.html' %}

      {{ banner_magnifying('Policies Updated') }}
      <div class="main-content">
        <p>Hi {{ name }},</p>
        <p>
          The policies for the organization <strong>{{ entity_name }}</strong>
          have been updated by
          <strong><a
            href="mailto:{{ responsible }}"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #ff3435;"
          >
            {{ responsible -}}
          </a></strong>:
        </p>
        <div class="data-container">
          <p>
            <strong>Date:</strong><br/>{{ date }}<br/><br/>
            <strong>Policies:</strong>
            <ul class="big-list-icon">
              {% for key, val in policies_content.items() %}
              <li>
                {{ key }}:
                <em>from</em> {{ val["from"] }}
                <em>to</em> {{ val["to"] }}
              </li>
              {% endfor %}
            </ul>
          </p>
        </div>
        {{- go_to_button('Go to policies', policies_link, 'primary-button') }}
        <p><br/>Regards, <strong>Fluid Attacks Team.</strong></p>
      </div>
      {% include 'layouts_new/components/footer.html' %}

    </div>
  {% endblock %}
