{% extends "layouts/common.html" %}
{% from 'layouts/components/forms.html' import banner_finding, go_to_button, text_area %}

{% block layout %}
<div class="container">
  {% include 'layouts/components/logo_header.html' %}
  {{ banner_finding('Treatment Updated') }}

  <div class="main-content">
    <p>Hello {{ name }},</p>
    <p>
      The treatment of the following vulnerabilities in finding <strong>{{ finding }}</strong>,
      in group <strong>{{ group }}</strong>, has been changed by <strong>{{ responsible }}</strong>
      to <strong>{{ treatment }}</strong>:
    </p>
    {{ text_area(vulnerabilities) }}
    <p></p>
    <p>Regards,<br>
      Fluid Attacks Team</p>
    {{ go_to_button('Go to finding', finding_link) }}
    <br />
  </div>

  {% include 'layouts/components/footer.html' %}
</div>
{% endblock %}
