<!--
SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>

SPDX-License-Identifier: MPL-2.0
-->

{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_group %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {% include 'layouts/components/arm_banner.html' %}
      {{ banner_group('Services Updated') }}
      <div class="main-content">
        <p>Hi {{ name }},</p>
        <p>
          Services in the group <strong>{{ group_name }}</strong>
          have been updated by
          <strong><a
            href="mailto:{{ responsible }}"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #ff3435;"
          >
            {{ responsible -}}
          </a></strong>:
        </p>
        <p>
          <strong>Date:</strong> {{ report_date }}<br>
          {% for key, value in group_changes.items() %}
            {% if key not in ["Name", "ASM"] %}
          <strong>{{ key }}:</strong>
              {% if key in ["Comments", "Reason"] %}
          {{ value }}<br>
              {% else %}
                {% if value["from"] == value["to"] %}
          {{ value["to"] }}<br>
                {% else %}
          <em>from</em> {{ value["from"] }}
          <em>to</em> {{ value["to"] }}<br>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </p>
        <p>
          Regards,<br>
          Fluid Attacks Team
        </p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
