{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import banner_group %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      {% include 'layouts/components/arm_banner.html' %}
      {{ banner_group('Temporary Treatment Alert') }}
      <div class="main-content">
        <p>Hi {{ name }},</p>
        <p>
          These are vulnerabilities whose temporary acceptance period
          is close to expiring:
        </p>
        <p>
        {% for group_name, group_data in groups_data.items() %}
          {%- if group_data["group_expiring_findings"] -%}
            {% for finding_id, vulnerabilities in group_data["group_expiring_findings"].items() %}
            <strong>
              <a
                href="https://app.fluidattacks.com/orgs/{{- group_data['org_name'].lower() -}}/groups/{{- group_name.lower() -}}/vulns/{{- finding_id.lower() -}}/locations"
                rel="noopener noreferrer"
                target="_blank"
              >
                {{ group_name.capitalize() }} - {{ group_data['finding_title'] }}
              </a>
            </strong>
          <ul>
              {% for vulnerability, days_remaining in vulnerabilities.items() %}
            <li>
              {{ vulnerability }} ({{ days_remaining }} days remaining)
            </li>
              {% endfor %}
          </ul>
            {% endfor %}
          {% endif %}
        {% endfor %}
        </p>
        <p>
          Regards,<br />
          Fluid Attacks Team
        </p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
