{% extends "base.html" %}

<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
<meta name="description"
      content="The purpose of this page is to present the products offered by
      Fluid Attacks, which focus on helping customers in the security testing
      process, aiming to improve their experience and allowing us to keep close
      contact with them. Our star products are Integrates and Asserts.">
<meta name="keywords"
      content="Fluid Attacks, Products, Ethical Hacking, Pentesting, Security,
      Information.">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block header %}
<div
  class="careers-main-bg bg-banner-sz coverm cover-s banner-height justify-center items-center flex mt3-l bg-center">
  <div class="w-100 center">
    <h1 class="white fw4 f3 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
    <h2 class="white f3-l f5-m f6 fw3 roboto tc ma0">
      Carefully read each section below and make sure you understand it. Do not skip
      any sections.
    </h2>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="menu-careers tc pt5-l pt4 nowrap overflow-x-auto mh3">
  <nav>
    <a
      class="c-fluid-gray f4-l f6 roboto no-underline fw4 hv-fluid-bk pointer link mr4"
      href="#">
      Openings
    </a>
    <a
      class="c-fluid-gray f4-l f6 roboto no-underline fw4 hv-fluid-bk pointer link mr4"
      href="#">
      Terms
    </a>
    <a
      class="c-fluid-gray f4-l f6 roboto no-underline fw4 hv-fluid-bk pointer link mr4"
      href="#">
      Knowledge Test
    </a>
    <a
      class="c-fluid-gray f4-l f6 roboto no-underline fw4 hv-fluid-bk pointer link mr4"
      href="#">
      Challenges
    </a>
    <a
      class="c-fluid-gray f4-l f6 roboto no-underline fw4 hv-fluid-bk pointer link"
      href="#">
      Immersion
    </a>
  </nav>
</div>
{% endblock content %}
