<!--
 SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>

 SPDX-License-Identifier: MPL-2.0
-->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <access sslFlags="None" />
            <!-- <access sslFlags="Ssl" /> -->
        </security>
    </system.webServer>
</configuration>
