<!--
 SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>

 SPDX-License-Identifier: MPL-2.0
-->
<configuration>
    <system.web>
        <compilation
            defaultLanguage="c#"
            debug="false"
        />
        <customErrors mode="On"/>
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
