<VirtualHost *:80>
        ServerAdmin webmaster@localhost
        Redirect / https://fluid.la/
	ErrorLog /var/log/apache2/error.log
        CustomLog /var/log/apache2/access.log combined
</VirtualHost>

