<IfModule mod_ssl.c>
<VirtualHost *:{{ https_port }}>
    ServerName fluid.la
    Options  +Indexes +Multiviews +FollowSymLinks

	ServerAdmin {{ server_admin }}

    # Sitemap
	ProxyPass /sitemap.xml	https://s3.amazonaws.com/fluidserves/sitemap/sitemap.xml
	ProxyPassReverse /sitemap.xml  https://s3.amazonaws.com/fluidserves/sitemap/sitemap.xml

    # Moodle
	ProxyPass /courses http://fluid.la:8080
        ProxyPassReverse /courses http://fluid.la:8080

    # Favicon KB
	Substitute "s|type=\"image/x-icon\".*href=\".*|type=\"image/x-icon\" href=\"https://app.knowledgeowl.com/app/image/id/54f110f97cb829fd677b23d4/n/favicon_fluid.png\">|i"
	Substitute "s|<a href=\"//kb.fluid.la/help/article/link/|<a href=\"//fluid.la/help/article/link/|i"

   # Blog
        Substitute "s|<ul id=\"menu-menu-superior\" class=\"main-navigation-menu\">|<img src=\"https://fluidsignal.files.wordpress.com/2015/02/fluid-footer.png\" width=215 height=41 class=\"logo-fluid\" /><ul id=\"menu-menu-superior\" class=\"main-navigation-menu\">|i"
        Substitute "s|<nav id=\"footer-links\" class=\"footer-navigation navigation clearfix\" role=\"navigation\">|<img src=\"https://fluidsignal.files.wordpress.com/2015/02/fluid-footer.png\" width=215 height=41 class=\"logo-fluid-footer\" /><nav id=\"footer-links\" class=\"footer-navigation navigation clearfix\" role=\"navigation\">|i"
       
    # Lineas de negocio
        Redirect /consulting {{ mainsite }}
        Redirect /testing {{ mainsite }}
        Redirect /intelligence {{ mainsite }}

    # Formstack
        ProxyPass /forms https://fluidsignal.formstack.com/forms
        ProxyPassReverse /forms https://fluidsignal.formstack.com/forms

    #Integrates
        ProxyPass /integrates http://fluidintegrates.us-east-1.elasticbeanstalk.com
        ProxyPassReverse /integrates http://fluidintegrates.us-east-1.elasticbeanstalk.com

    # KB - Knowledgeowl
	Header edit Location ^http://kb.fluid.la(.*)$ https://fluid.la$1
        Header edit Set-Cookie kb.fluid.la fluid.la
        ProxyPass /kb http://kb.fluid.la/help/readerlogin
        ProxyPassReverse /kb http://kb.fluid.la/help/readerlogin
        ProxyPass /help http://kb.fluid.la/help
        ProxyPassReverse /help http://kb.fluid.la/help
	
    # Blog
        ProxyPass /blog https://blog.fluid.la
        ProxyPassReverse /blog https://blog.fluid.la
	AddOutputFilterByType INFLATE;SUBSTITUTE;DEFLATE text/html text/plain text/xml
	Substitute "s|http://|https://|i"
        
	ErrorLog /var/log/apache2/error.log
	LogLevel warn
	CustomLog /var/log/apache2/ssl_access.log combined

    #Pagina WEB
        RewriteEngine on
        RewriteRule ^/es(.*)$           {{ landing }}es$1        [P]
        RewriteRule ^/$         {{ landing }}en/landing/ [P]
        RewriteRule ^/clkn/(.*)$                {{ landing }}clkn/$1     [P]
        RewriteRule ^/en(.*)$           {{ landing }}en$1        [P]
        ProxyPassReverse /es {{ landing }}es
        ProxyPassReverse /en {{ landing }}en
        ProxyPassReverse / {{ landing }}en/landing/
	ErrorDocument 404 {{ error_page }}

    # Configuración SSL
	SSLEngine on
	SSLProxyEngine on
	SSLCertificateFile    /etc/ssl/certs/fluidla.crt
	SSLCertificateKeyFile /etc/ssl/private/fluidla.key

	<FilesMatch "\.(cgi|shtml|phtml|php)$">
		SSLOptions +StdEnvVars
	</FilesMatch>
	<Directory /usr/lib/cgi-bin>
		SSLOptions +StdEnvVars
	</Directory>

	BrowserMatch ".*MSIE.*" \
	nokeepalive ssl-unclean-shutdown \
	downgrade-1.0 force-response-1.0

</VirtualHost>
</IfModule>

