<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName fluid.la
    Options  +Indexes +Multiviews +FollowSymLinks

	ServerAdmin webmaster@localhost

    # Moodle
	ProxyPass /courses http://fluid.la:8080
        ProxyPassReverse /courses http://fluid.la:8080

    # Favicon KB
	Substitute "s|type=\"image/x-icon\".*href=\".*|type=\"image/x-icon\" href=\"https://app.knowledgeowl.com/app/image/id/54f110f97cb829fd677b23d4/n/favicon_fluid.png\">|i"
	Substitute "s|<a href=\"//kb.fluid.la/help/article/link/|<a href=\"//fluid.la/help/article/link/|i"
        
    # Lineas de negocio
        Redirect /consulting https://fluid.la/
        Redirect /testing https://fluid.la/
        Redirect /intelligence https://fluid.la/

    # Formstack
        ProxyPass /forms https://fluidsignal.formstack.com/forms
        ProxyPassReverse /forms https://fluidsignal.formstack.com/forms

    #Integrates
        ProxyPass /integrates http://fluidintegrates.us-east-1.elasticbeanstalk.com
        ProxyPassReverse /integrates http://fluidintegrates.us-east-1.elasticbeanstalk.com

    # KB - Knowledgeowl
	Header edit Location ^http://kb.fluid.la(.*)$ https://fluid.la$1
        Header edit Set-Cookie kb.fluid.la fluid.la
        ProxyPass /kb http://kb.fluid.la/help/readerlogin
        ProxyPassReverse /kb http://kb.fluid.la/help/readerlogin
        ProxyPass /help http://kb.fluid.la/help
        ProxyPassReverse /help http://kb.fluid.la/help
	
    # Blog
        ProxyPass /blog https://blog.fluid.la
        ProxyPassReverse /blog https://blog.fluid.la
	AddOutputFilterByType INFLATE;SUBSTITUTE;DEFLATE text/html text/plain text/xml
	Substitute "s|http://|https://|i"
        
	ErrorLog /var/log/apache2/error.log
	LogLevel warn
	CustomLog /var/log/apache2/ssl_access.log combined
   	
	RewriteRule ^/services(.*)$		http://web.fluid.la/$1	[P]
	RewriteRule ^/$		http://web.fluid.la/	[P]
	RewriteRule ^/clkn/(.*)$		http://web.fluid.la/clkn/$1	[P]
	ProxyPass / http://web.fluid.la/
        ProxyPassReverse /services http://web.fluid.la
        ProxyPassReverse / http://web.fluid.la/

    # Configuración SSL
	SSLEngine on
	SSLProxyEngine on
	SSLCertificateFile    /etc/ssl/certs/fluidla.crt
	SSLCertificateKeyFile /etc/ssl/private/fluidla.key

	<FilesMatch "\.(cgi|shtml|phtml|php)$">
		SSLOptions +StdEnvVars
	</FilesMatch>
	<Directory /usr/lib/cgi-bin>
		SSLOptions +StdEnvVars
	</Directory>

	BrowserMatch ".*MSIE.*" \
	nokeepalive ssl-unclean-shutdown \
	downgrade-1.0 force-response-1.0

</VirtualHost>
</IfModule>

