# SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>
#
# SPDX-License-Identifier: MPL-2.0

[importlinter]
root_packages=
  analytics
  api
  app
  authz
  azure_repositories
  batch
  batch_dispatch
  billing
  cli
  dataloaders
  decorators
  event_comments
  finding_comments
  context
  custom_exceptions
  db_model
  dynamodb
  events
  findings
  forces
  unreliable_indicators
  group_access
  group_comments
  groups
  mailer
  newutils
  notifications
  organizations
  organizations_finding_policies
  redshift
  remove_stakeholder
  reports
  roots
  s3
  schedulers
  sessions
  settings
  subscriptions
  tags
  toe
  stakeholders
  verify
  vulnerability_files
  vulnerabilities

[importlinter:contract:dag]
  name = Direct Acyclic Graph
  type = layers
  layers =
    cli
    app
    schedulers
    api
    batch_dispatch
    remove_stakeholder
    unreliable_indicators
    billing
    forces
    reports
    toe
    groups
    group_comments
    events
    vulnerability_files
    findings
    organizations_finding_policies
    vulnerabilities
    roots
    notifications
    event_comments
    finding_comments
    subscriptions
    analytics
    tags
    decorators
    organizations
    mailer
    stakeholders
    group_access
    authz
    batch
    newutils
    sessions
    redshift
    dataloaders
    azure_repositories
    db_model
    dynamodb
    s3
    verify
    settings
    custom_exceptions
    context
