# List of ignored files/dirs by the new linter

**/*.*
**/*.css.d.ts
**/*.d.ts
!src/components/About/**
!src/components/Avatar/**
!src/components/Logo/**
!src/components/Preloader/**
!src/utils/notifications.ts
!src/app.tsx
!src/index.spec.tsx
