@import '../mixins';

.icon-page {
  left: -134px;
  position: absolute;
  top: -144px;
}

.why-fluid {
  background: url('../../images/pages/about-us/bg-whyfluid.png');
  background-position: left top;
  background-repeat: repeat-y;
  background-size: 67%;
  margin-bottom: 30px;
  padding: 140px 0;
  position: relative;

  h1 {
    font-size: 25px;
    letter-spacing: 5px;
  }

  &::after {
    background: $base;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 34%;
  }

}

.wrapper-reasons-carusel {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 34%;
}

.reasons-carousel-controls {
  bottom: 22px;
  display: table;
  margin-left: -120px;
  position: absolute;
  width: 240px;
  z-index: 9;

  a {
    color: $white;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 8px;
    margin: 0 30px;

    &.green-arrow {
      color: $green;
    }

    figure {
      margin-bottom: 20px;
    }
  }
}

.reasons-carousel {
  display: block;
  left: -230px;
  position: absolute;
  right: 0;

  .owl-item {
    transform: scale(.8, .8);
    transition: transform .3s;

    &.active {
      transform: scale(1, 1);
    }
  }

  .item {
    position: relative;
    width: 470px;

    img {
      margin: auto;
    }

    svg {
      polygon {
        fill: $white;
      }
    }

    .item-content {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      figure {
        margin-bottom: 0;
        padding-bottom: 30px;
        position: relative;

        &::after {
          @include bottom-green-line(auto);
        }
      }
    }
  }
}

.us-carousel {

  figure {
    height: 315px;
    margin: auto;
    width: 315px;
  }

  .name {
    color: $blue;
    font-family: 'raleway-bold';
    letter-spacing: 2px;
  }

  p {
    line-height: 22px;
    margin: 20px auto;
    max-width: 250px;
  }

  .icon-team {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    width: auto;
  }
}

.us-carousel-back {
  left: -30px;
  position: absolute;
  top: 145px;
  z-index: 9;
}

.us-carousel-next {
  position: absolute;
  right: -30px;
  top: 145px;
  z-index: 9;
}

.accordion {

  .card {
    margin: 25px 0;
    padding: 0;

    &::after {
      display: none;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .card-header {
    background: none;
    border: 0;
    padding: 20px;
    padding-left: 100px;
    text-transform: uppercase;

    &.double-line {
      padding: 9px 20px 9px 100px;
    }

    a {
      color: $gray-4;
      display: block;
      font-family: 'raleway-medium';
      font-size: 15px;
      letter-spacing: 2px;
    }

    span {
      background: url('../../images/global/accordion-span.png');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      color: $white;
      display: block;
      font-family: 'raleway-bold';
      font-size: 45px;
      height: 62px;
      left: 0;
      line-height: 55px;
      padding-right: 10px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 90px;
    }

    strong {
      font-family: 'raleway-bold';
    }
  }

  .card-body {
    padding: 10px 50px 50px 100px;

    p {
      color: $gray-4;
      font-size: 16px;
      line-height: 30px;
    }
  }
}
