@import '../mixins';

header {
  background-image: url('../../images/pages/contact-us/cover.jpg');
  padding: 75px 0 45px;
}

.wrapper {
  background: $base;
  margin: 0;
}

.offices {
  list-style: none;

  li {
    display: inline-block;
    margin: 0 5px;

    &::after {
      color: $white;
      content: '/';
      float: right;
      margin-left: 10px;
    }

    &:last-child {

      &::after {
        display: none;
      }
    }

    a {
      color: $white;
      font-family: 'raleway-medium';
      font-size: 11px;
      letter-spacing: 5px;
      text-transform: uppercase;

      &.active {
        color: $green;
      }
    }
  }
}

.form-group  {
  margin: 30px 0;
}

.input-group {
  border: 1px solid $white;
  border-radius: 5px;
  box-shadow: 0 0 20px $shadow-softness;

  input {
    border: 0;
    padding: 10px;
  }
}

.input-group-addon {
  &:not(:last-child) {
    background: $white;
    border: 0;
    color: $blue;
    font-family: 'raleway-bold';
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.form-check {

  label {
    color: $gray-4;
    font-family: 'raleway-medium';
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 25px;
  }
}

.map {
  @include diagonal-gradient($blue, $blue-2);
  color: $white;
  margin-top: 200px;
  padding-bottom: 80px;

  h3 {
    color: $green;
    letter-spacing: 5px;
    margin: 40px 0;
  }

  p {
    font-family: 'raleway-light';
    margin: 10px 0;
    max-width: 310px;
  }

  .g-map {
    margin-top: -200px;

    .iframe {
      border-radius: 5px;
      box-shadow: 0 0 50px $shadow-hard;
      height: 335px;
      margin-bottom: 60px;
      overflow: hidden;
      padding: 0;
    }
  }
}
