@import '../mixins';

header {
  background-image: url('../../images/pages/content/cover.png');
}

.col-white {
  background: $white;
  border-radius: 5px;
  padding: 60px;
}

.success-cases {
  background: $white;
  margin: 50px 0;
  padding: 80px 0 40px;
  text-align: center;
}

.icon-mobile-app {
  float: left;
  margin-left: -130px;
  margin-top: -60px;
}

.icon-security {
  position: absolute;
  right: -105px;
  top: -75px;
}

.icon-security-2 {
  position: absolute;
  right: -105px;
  top: 0;
}

.brands-carousel {
  margin: 60px 0 0;

  .item {

    img {
      margin: auto;
      width: auto;
    }
  }
}

.brands-carousel-back {
  left: -70px;
  position: absolute;
  top: 88px;
  z-index: 9;
}

.brands-carousel-next {
  position: absolute;
  right: -70px;
  top: 88px;
  z-index: 9;
}

.card-column {

  .card {

    &::before {
      color: $white;
      font-family: 'raleway-bold';
      font-size: 25px;
      padding-top: 5px;
      text-align: center;
    }

    &.text-1 {
      &::before {
        content: '1';
      }
    }

    &.text-2 {
      &::before {
        content: '2';
      }
    }

    &.text-3 {
      &::before {
        content: '3';
      }
    }

    &.text-4 {
      &::before {
        content: '4';
      }
    }

    &.text-5 {
      &::before {
        content: '5';
      }
    }

    &.text-6 {
      &::before {
        content: '6';
      }
    }
  }
}

.col-lg-5 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-lg-6 {
  flex: 0 0 48%;
  max-width: 48%;
}

.objectives {
  padding-bottom: 0;

  .sectionbody {
    display: flex;
    justify-content: space-between;
  }
}

.criteria {
  padding-top: 0;
}
