# Default approvers
* @dsalazaratfluid @jrestrepoatfluid @kamadoatfluid @ralvarezatfluid

# Front approvers
/integrates/front/ @dacevedoatfluid @jrestrepoatfluid @kamadoatfluid
/integrates/mobile/ @dacevedoatfluid @jrestrepoatfluid @kamadoatfluid

# Integrates back authz approvers
/integrates/django-apps/integrates-back-async/backend/authz/ @jrestrepoatfluid @kamadoatfluid

# Linter approvers
/build/include/linter-jobs.sh @kamadoatfluid @jrestrepoatfluid
/integrates/app/static/graphics/.eslintrc @kamadoatfluid @jrestrepoatfluid
/integrates/front/.eslintignore @kamadoatfluid @jrestrepoatfluid
/integrates/front/.eslintrc.json @kamadoatfluid @jrestrepoatfluid
/integrates/front/tslint.json @kamadoatfluid @jrestrepoatfluid
/integrates/mobile/tslint.json @kamadoatfluid @jrestrepoatfluid

# Product approvers
/build/ @drestrepoatfluid @dsalazaratfluid @jrestrepoatfluid @kamadoatfluid @ralvarezatfluid
/forces/ @drestrepoatfluid @jrestrepoatfluid @kamadoatfluid
/observes/ @drestrepoatfluid @jrestrepoatfluid @kamadoatfluid
/skims/ @drestrepoatfluid @jrestrepoatfluid @kamadoatfluid @ralvarezatfluid
/sorts/ @jrestrepoatfluid @kamadoatfluid @acuberosatfluid
/airs/ @opradoatfluid @jrestrepoatfluid @kamadoatfluid @ralvarezatfluid
/.gitlab* @drestrepoatfluid @dsalazaratfluid @jrestrepoatfluid @kamadoatfluid @ralvarezatfluid
