# Default approvers
* @dsalazaratfluid @jrestrepoatfluid @kamadoatfluid @mnorenaatfluid @ralvarezatfluid

# Front approvers
/integrates/front/ @dacevedoatfluid @mnorenaatfluid @jrestrepoatfluid @kamadoatfluid
/integrates/mobile/ @dacevedoatfluid @mnorenaatfluid @jrestrepoatfluid @kamadoatfluid

# Back approvers
/integrates/django-apps/integrates-back-async/backend/authz/ @jrestrepoatfluid @mnorenaatfluid @kamadoatfluid

# Linter approvers
/build/include/linter-jobs.sh @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/integrates/app/static/graphics/.eslintrc @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/integrates/front/.eslintignore @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/integrates/front/.eslintrc.json @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/integrates/front/tslint.json @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/integrates/mobile/tslint.json @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid

/forces/ @drestrepoatfluid @jrestrepoatfluid @kamadoatfluid
/skims/ @drestrepoatfluid @jrestrepoatfluid @kamadoatfluid @mnorenaatfluid @ralvarezatfluid
/sorts/ @jrestrepoatfluid @kamadoatfluid @acuberosatfluid
