# Default approvers
* @mnorenaatfluid @jrestrepoatfluid @ralvarezatfluid @kamadoatfluid

# Front approvers
/front/ @dacevedoatfluid @mnorenaatfluid @jrestrepoatfluid @kamadoatfluid
/mobile/ @dacevedoatfluid @mnorenaatfluid @jrestrepoatfluid @kamadoatfluid

# Back approvers
/django-apps/integrates-back-async/backend/authz/ @jrestrepoatfluid @mnorenaatfluid @kamadoatfluid

# Linter approvers
/build/include/linter-jobs.sh @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/app/static/graphics/.eslintrc @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/front/.eslintignore @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/front/.eslintrc.json @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/front/tslint.json @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid
/mobile/tslint.json @mnorenaatfluid @kamadoatfluid @jrestrepoatfluid

/forces/ @drestrepoatfluid @jrestrepoatfluid @kamadoatfluid
/skims/ @jrestrepoatfluid @kamadoatfluid
/sorts/ @jrestrepoatfluid @kamadoatfluid @acuberosatfluid
