<healthMonitoring heartbeatInterval="0" enabled="true">
 <providers>
  <add
   name="EventLogProvider"
   type="System.Web.Management.EventLogWebEventProvider"
   <!-- additional attributes here for some providers -->
  />
  <!-- additional <add> elements here -->
 </providers>
 <profiles>
   <add name="Critical" minInstances="1" maxLimit="Infinite" minInterval="00:01:00"
   custom="" />
 </profiles>
 <rules>
  <add
   name="Failure Audits Default"
   eventName="Failure Audits"
   provider="EventLogProvider"
   profile="Critical"
   <!-- additional attributes here -->
  />
 </rules>
 <eventMappings>
  <add
   name="Failure Audits"
   type="System.Web.Management.WebFailureAuditEvent"
   <!-- additional attributes here -->
  />
  <!-- additional <add> elements here -->
 </eventMappings>
</healthMonitoring>
