{% extends "base.html" %}

<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
<meta name="description"
	  content="Fluid Attacks services aim to detect and report all existing
	  vulnerabilities and security issues within an application.
	  Our professional team continuously develop their own tools and exploits to
	  ensure the detection of all security findings with no false positives.">
<meta name="keywords"
	  content="Fluid Attacks, Services, Ethical Hacking, Pentesting, Security,
	  Information.">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="bg-graylight flex-ns flex-wrap-ns justify-between-m bg-banner-sz coverm cover-s h-auto">
	<div class="ph5-ns ma-auto mw9 w-100-ns w-90 pv4-ns pv3">
		<a class="feature-button-l roboto fw1 fl f3-ns f5 no-underline c-fluid-bk"
			 href="{{ SITEURL }}/use-cases/{{ page.category }}/">
				<img
				class="w1 fl relative pv2-ns pv1 mr2 mirror-img"
				src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
				alt="Young hacker smiling">
				Back to {{ page.section }}
    </a>
    {% if not page.slug.endswith('critical-information/') %}
		<a class="feature-button-r roboto fw1 fr f3-ns f5 no-underline c-fluid-bk"
			 href="{{ SITEURL }}/{{ page.nextpage }}">
				<img
				class="w1 fr relative pv2-ns pv1 ml2"
				src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
				alt="Young hacker smiling">
				Next
    </a>
    {% endif %}
	</div>
</div>
<div class="bg-graylight flex-ns flex-wrap-ns justify-between-m bg-banner-sz coverm cover-s h-auto pb5">
	<div class="pb5 ph5-ns ma-auto mw9 ml-auto mr-auto">
		<div class="fr-l w-45-l w100-m w90-s center mt-6-l">
			<img
			src="{{ SITEURL }}/{{ page.url }}cover.png"
			alt="Young hacker smiling">
		</div>
		<div class="fl-l w-50-l w100-m w90-s center">
			<div class="roboto f1-l f2-m f3 b lh-title pt0-l pt3">
				{{ page.title }}
			</div>
			<div class="roboto fw1 f3-l f4-m f5 lh3">
				{{ page.content }}
			</div>
		</div>
	</div>
</div>
{% endblock content %}
