:local textarea {
  resize: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 1rem;
  max-width: 100%;
  min-width: 100%;
  color: #777;
  background-color: #fff;
  border: 2px solid #eaeaea !important;
}

:global .comment-nested {
  border: 1px solid gray;
  border-radius: 0.5rem;
  background-color: white;
  margin: 0.5rem 0.25rem 0.25rem 0.5rem;
  padding: 0.5rem;
}

:global .comment-nested-bg-enabled {
  background-color: #fafafa;
}

:global .comment-content {
  padding: 0.5rem 0;
  white-space: pre-line;
  word-break: break-word;
}

:global .comment-author {
  color: #ff3435;
  font-weight: bold;
}

:global .comment-datetime {
  color: #777;
  padding-left: 1rem;
  font-size: 0.9rem;
}

:global .comment-no-bullets ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

:global .comment-reply {
  background-color: inherit;
  color: #ff3435;
  font-weight: normal;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
