@import 'mixins';

.post-article {

  table {
    display: flex;
    max-width: 100%;
    overflow: auto;
  }

  img {
    max-width: 100%;
  }

  .post-article-content {
    background: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 22px;
    letter-spacing: 4px;
    padding: 80px;

    h1 {
      color: $blue;
      font-size: 26px;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    h2 {
      padding: 20px 0;
    }
  }

  section {
    margin: 0;
    padding: 0;
  }

  .meta {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      color: $gray-2;
      display: inline-block;
      font-size: 14px;
      letter-spacing: 1px;
      margin: 10px;

      a {
        color: $gray-2;
      }

      &:first-child {
        margin-left: 0;
      }

      img {
        margin-right: 10px;
        max-height: 18px;
      }
    }
  }
}

.tags {

  a {
    background: $green;
    border-radius: 5px;
    color: $white;
    display: inline-block;
    font-size: 12px;
    margin: 20px 20px 0 0;
    padding: 12px;
  }
}

.about-author {
  border-bottom: 1px solid $gray-2;
  padding: 50px 0;

  a {
    color: $blue-2;
    font-family: 'raleway-bold';
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }

  figure {
    border-radius: 50px;
    box-shadow: 0 0 50px $shadow-hard;
    height: 88px;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 88px;

    img {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
}

.list-lnk {
  background: $base;
  color: $blue-2;
  display: block;
  font-family: 'raleway-bold';
  font-size: 12px;
  letter-spacing: 2px;
  margin: 10px 0;
  padding: 15px;
  text-transform: uppercase;
}

.related {

  .related-title {
    font-family: 'raleway-bold';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 6px;
    margin: 50px 0;
    text-transform: uppercase;

    figure {
      float: left;
      margin-right: 15px;
    }
  }
}

.prev-next-articles {

  a {
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 20px $shadow-soft;
    color: $blue-2;
    display: block;
    margin: 20px 0 60px;
    padding: 15px;
    text-align: center;
    width: 100%;
  }
}
