@font-face {
  font-family: 'raleway-regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
  url('../../fonts/raleway/raleway-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'raleway-bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
  url('../../fonts/raleway/raleway-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'raleway-light';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
  url('../../fonts/raleway/raleway-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'raleway-medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
  url('../../fonts/raleway/raleway-medium-webfont.woff') format('woff');
}
