@import 'mixins';

.form-group  {
  margin: 30px 0;

  button {
    cursor: pointer;
  }
}

.input-group {
  border: 1px solid $white;
  border-radius: 5px;
  box-shadow: 0 0 20px $shadow-softness;

  input {
    border: 0;
    padding: 10px;
  }

  select {
    appearance: none;
    border: 0;
    height: 44px;
  }
}

.input-group-addon {
  &:not(:last-child) {
    align-items: center;
    background: $white;
    border: 0;
    color: $blue;
    display: flex;
    font-family: 'raleway-bold';
    font-size: 12px;
    letter-spacing: 3px;
    padding: 0 12px;
    text-transform: uppercase;
  }
}

.form-check {

  label {
    color: $gray-4;
    font-family: 'raleway-medium';
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 25px;
  }
}
