@import 'mixins';

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $base;
  color: $gray-4;
  font-family: 'raleway-regular';
  height: 100%;
  padding-top: 85px;
  width: 100%;

  &.page-home {
    padding-top: 0;
  }
}

header {
  background-image: url('../../images/blog/cover.jpg');
  background-size: cover;
  padding-bottom: 300px;
  padding-top: 70px;

  &.pelican-page {

    &:not(.header-home) {
      background-image: url('../../images/global/cover.jpg');
    }
  }

  h1 {
    color: $white;
    font-family: 'raleway-bold';
    font-size: 16px;
    letter-spacing: 8px;
  }
}

footer {
  background: $gray-3;
  border-bottom: 35px solid $footer-bottom;
  color: $white;
  padding: 80px 0;
  position: relative;
  text-transform: uppercase;

  ul {
    font-size: 11px;
    letter-spacing: 1px;
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;
    }

    a {
      color: $white;
      font-family: 'raleway-regular';
    }

    .base {
      color: $blue;
      font-family: 'raleway-bold';
    }
  }

  .go-top {
    font-size: 11px;
    letter-spacing: 4px;
    position: absolute;
    right: 12px;
    top: 90px;
    transform: rotate(-90deg);
  }

  .social {
    margin-top: 40px;
    text-align: center;

    li {
      display: inline-block;
      margin: 5px;
    }
  }
}

h1 {
  color: $blue;
  font-family: 'raleway-medium';
  font-size: 24px;
  letter-spacing: 4px;
  line-height: 35px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
  text-align: left;
  text-transform: uppercase;

  &::after {
    @include bottom-green-line(0);
  }

  &.article {
    margin: 90px 0 60px;
  }

  &.ico-top {
    padding-top: 65px;
  }

  &.ico-left {
    font-size: 16px;
    padding-left: 40px;

    &::before {
      content: '/';
      float: left;
    }

    &::after {
      margin: 0;
    }
  }

  &.text-center {
    &::after {
      margin: auto;
    }

    &.ico-top {
      background-position-x: center;
    }
  }
}

h2 {
  color: $blue;
  font-family: 'raleway-medium';
  font-size: 25px;
  letter-spacing: 4px;
  margin: auto;
  position: relative;

  &.text-center {
    &::after {
      @include bottom-green-line(auto);
    }
  }

  &.text-left {
    &::after {
      @include bottom-green-line(left);
    }
  }

}

h3 {
  font-family: 'raleway-bold';
  font-size: 14px;
  letter-spacing: 10px;
}

h4 {
  color: $gray-4;
  font-family: 'raleway-bold';
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 28px;
  margin: 0;
  padding: 30px 0 20px;
  text-align: center;

  span {
    display: block;
    font-family: 'raleway-light';
  }
}

h5 {
  color: $blue-2;
  font-family: 'raleway-bold';
  font-size: 14px;
  letter-spacing: 2px;
  margin: 35px 0;
  text-transform: uppercase;
}

p {
  font-family: 'raleway-regular';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 35px 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

section {
  padding: 40px 0;
}

figure {
  margin: 0;
}

dd {
  border-bottom: 1px dashed $gray-2;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.wrapper {
  margin-top: -310px;

  .page {
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 30px $shadow-soft;
    font-size: 22px;
    letter-spacing: 4px;
    padding: 60px;
  }
}
