@import 'mixins';

@media (max-width: 991px) {
  .main-navbar {

    &.nav-home {

      .navbar {
        background-color: $blue-2;
        transition: background .3s;
      }

      .bar {
        background-color: $white;
      }
    }

    &.scrolled {
      .navbar {
        background-color: $base;
      }

      .bar {
        background-color: $gray-4;
      }
    }
  }
}
