# List of ignored files/dirs by the new linter

src/scenes/Dashboard/**/*.*
!src/scenes/Dashboard/**/utils.ts
!src/scenes/Dashboard/**/hooks.ts
!src/scenes/Dashboard/*.*
!src/scenes/Dashboard/components/AddEnvironmentsModal/**
!src/scenes/Dashboard/components/AddFilesModal/**
!src/scenes/Dashboard/components/AddOrganizationModal/**
!src/scenes/Dashboard/components/AddProjectModal/**
!src/scenes/Dashboard/components/AddTagsModal/**
!src/scenes/Dashboard/components/AddUserModal/**
!src/scenes/Dashboard/components/APITokenModal/**
!src/scenes/Dashboard/components/Comments/**
!src/scenes/Dashboard/components/ContentTab/**
!src/scenes/Dashboard/components/DeleteGroupModal/**
!src/scenes/Dashboard/components/DeleteVulnerability/**
!src/scenes/Dashboard/components/EditableField/index.spec.tsx
!src/scenes/Dashboard/components/EventHeader/**
!src/scenes/Dashboard/components/FileOptionsModal/index.spec.tsx
!src/scenes/Dashboard/components/FindingActions/index.spec.tsx
!src/scenes/Dashboard/components/FindingHeader/**
!src/scenes/Dashboard/components/GenericForm/index.spec.tsx
!src/scenes/Dashboard/components/HorizontalBarIndicator/**
!src/scenes/Dashboard/components/Navbar/**/*.*
!src/scenes/Dashboard/components/NewsWidget/**
!src/scenes/Dashboard/components/RemediationModal/index.spec.tsx
!src/scenes/Dashboard/components/Vulnerabilities/**
!src/scenes/Dashboard/containers/ChartsGenericView/components/ChartCols/index.tsx
!src/scenes/Dashboard/containers/FindingContent/components/buttoncol/index.tsx
!src/scenes/Dashboard/containers/GroupScopeView/**
!src/scenes/Dashboard/containers/ProjectSettingsView/DeleteGroup/**
!src/scenes/Dashboard/containers/ProjectSettingsView/Unsubscribe/**
!src/scenes/Dashboard/containers/TrackingView/**
!src/scenes/Dashboard/containers/VulnerabilitiesView/**
src/**/*.css.d.ts
src/**/*.d.ts
