# List of ignored files/dirs by the new linter

src/scenes/Dashboard/**/*.*
!src/scenes/Dashboard/**/utils.ts
!src/scenes/Dashboard/**/hooks.ts
!src/scenes/Dashboard/*.*
!src/scenes/Dashboard/components/APITokenModal/**
!src/scenes/Dashboard/components/AddEnvironmentsModal/**
!src/scenes/Dashboard/components/NewsWidget/**
src/**/*.css.d.ts
src/**/*.d.ts
