# List of ignored files/dirs by the new linter

src/scenes/Dashboard/**/*.*
!src/scenes/Dashboard/**/utils.ts
!src/scenes/Dashboard/**/hooks.ts
!src/scenes/Dashboard/*.*
!src/scenes/Dashboard/components/**
!src/scenes/Dashboard/containers/ChartsForGroupView/**
!src/scenes/Dashboard/containers/ChartsForOrganizationView/**
!src/scenes/Dashboard/containers/ChartsForPortfolioView/**
!src/scenes/Dashboard/containers/ChartsGenericView/**
!src/scenes/Dashboard/containers/CommentsView/**
!src/scenes/Dashboard/containers/DescriptionView/**
!src/scenes/Dashboard/containers/FindingContent/components/buttoncol/index.tsx
!src/scenes/Dashboard/containers/GroupScopeView/**
!src/scenes/Dashboard/containers/ProjectSettingsView/DeleteGroup/**
!src/scenes/Dashboard/containers/ProjectSettingsView/Unsubscribe/**
!src/scenes/Dashboard/containers/TrackingView/**
!src/scenes/Dashboard/containers/VulnerabilitiesView/**
src/**/*.css.d.ts
src/**/*.d.ts
