:local .wFull {
  width: 100%;
}

:local .searchBar {
  composes: form-control from "../../utils/forms/index.css";
  height: 30px;
}

:local .tableOptions {
  margin-bottom: 8px;
  margin-top: 8px;
}

@media (max-width: 1920px) {
  :local .textMesure {
    max-width: 20em;
  }
}

@media (min-width: 1921px) {
  :local .textMesure {
    max-width: 35em;
  }
}

:local .sizePerPage {
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ff3435;
  border: 1px solid #ddd;
  margin-left: -1px;
}

:local .sizePerPage:hover {
  background-color: #eee;
}

:local .selectedSizePerPage {
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid;
  background-color: #ff3435;
  border-color: #ff3435;
  color: #fff;
  margin-left: -1px;
}
