<div class="overflow-hidden relative ma-auto w-100">
  <div class="customer-carousel">
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo01.png"
          alt="RSA logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo02.png"
          alt="Mazda logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo03.png"
          alt="Bancolombia logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo04.png"
          alt="Avianca logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo05.png"
          alt="Gesa logo">
      </a>
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo06.png"
          alt="Itau logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo07.png"
          alt="Interbank logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo08.png"
        alt="Manpower logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo09.png"
        alt="Banistmo logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo10.png"
          alt="Ecopetrol logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo11.png"
          alt="Sura logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo12.png"
          alt="Terpel logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo13.png"
          alt="Tecnoquimica logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo14.png"
          alt="Proteccion logo">
      </a>
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo15.png"
          alt="Banco General logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo16.png"
          alt="BCP logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo17.png"
        alt="Banco Industrial logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo18.png"
        alt="Berkeley logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo19.png"
        alt="Colmedica logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo20.png"
        alt="Ficohsa logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo21.png"
        alt="Tigo logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo22.png"
        alt="Tigo logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo01.png"
        alt="RSA logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo02.png"
          alt="Mazda logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo03.png"
          alt="Bancolombia logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo04.png"
          alt="Avianca logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo05.png"
          alt="Gesa logo">
      </a>
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo06.png"
          alt="Itau logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo07.png"
          alt="Interbank logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo08.png"
        alt="Manpower logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo09.png"
        alt="Banistmo logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo10.png"
          alt="Ecopetrol logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo11.png"
          alt="Sura logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo12.png"
          alt="Terpel logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo13.png"
          alt="Tecnoquimica logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo14.png"
          alt="Proteccion logo">
      </a>
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo15.png"
          alt="Banco General logo">
    </div>
    <div class="slide mh5 ">
        <img
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo16.png"
          alt="BCP logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo17.png"
        alt="Banco Industrial logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo18.png"
        alt="Berkeley logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo19.png"
        alt="Colmedica logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo20.png"
        alt="Ficohsa logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo21.png"
        alt="Tigo logo">
    </div>
    <div class="slide mh5 ">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo22.png"
        alt="Tigo logo">
    </div>
  </div>
</div>
