{% extends "base.html" %}
{% block meta %}
<meta name="description"
      content="{{ page.description }}">
<meta name="keywords"
      content="{{ page.keywords }}">
<meta name="url"
      property="og:url"
      content="{{ SITEURL }}/{{ page.url }}">
<meta name="title"
      property="og:title"
      content="{{ page.title }} | {{ SITENAME }}">
<meta name="description"
      property="og:description"
      content="{{ page.description }}">
<meta name="image"
      property="og:image"
      content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
<meta name="type"
      property="og:type"
      content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block content %}
<div class="mw-1366 ph-body flex flex-wrap center pt4-l contact-page mt-body">
  <div class="w-50-l w-100">
    <div class="slideshow-container">
      <div class="slideshow-inner">
        <div class="mySlide1 fadein">
          <img
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/contact-us/slide-1.png"
            alt="Fluid Attacks Team"/>
          </div>
          <div class="mySlide2 fadein dn">
            <img
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/contact-us/slide-2.png"
            alt="Fluid Attacks Team"/>
          </div>
          <div class="mySlide3 fadein dn">
            <img
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/contact-us/slide-3.png"
            alt="Fluid Attacks Team"/>
          </div>
        </div>
      </div>
      <div class="tc">
        <span class="dot1 h-slide-bt w2 ma0 bg-fluid-red hv-bt-fluid-rd dib slide-bt-trans pointer"></span>
        <span class="dot2 h-slide-bt w2 ma0 bg-fluid-gray hv-bt-fluid-rd dib slide-bt-trans pointer"></span>
        <span class="dot3 h-slide-bt w2 ma0 bg-fluid-gray hv-bt-fluid-rd dib slide-bt-trans pointer"></span>
      </div>
      {% assets output="static/js/contactSlides.min.js", "js/tmp/contactSlides.min.js" %}
      <script type="text/javascript"
              src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
      {% endassets %}
    </div>
  <div class="tc w-50-l w-100 items-center justify-center flex">
    <div class="pv0-l pv5 ph0-l ph2">
      <h1 class="neue fw7 c-fluid-bk f1-l f-title-s f-title-m ma0">{{ page.title }}</h1>
      <h2 class="roboto fw1 f4 ma0">Find all the vulnerabilities in your system</h2>
    </div>
  </div>
</div>
<div class="pb6-ns pb4 mw-1366 ph-body center flex">
  <div class="w-50-l db-l dn">
    <p class="roboto tl fw1 f4 lh-2 center w36-l">
      Since 2001, <b class="fw7">Fluid Attacks</b> has been developing technology
      focused on cybersecurity, offering ethical hacking and pentesting services
      to companies in the banking, financial, technology, healthcare, insurance,
      manufacturing, and airline industries, among others.
      Fluid Attacks" team helps its clients to manage their cybersecurity risks
      and certify that their systems, which are critical to their operations,
      are safe for their users.
    </p>
  </div>
  <div class="w-50-l w-100">
    <div class="contact-form w-100">
      <div id="crmWebToEntityForm" class="zcwf_lblLeft crmWebToEntityForm">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <form action="https://crm.zoho.com/crm/WebToLeadForm" name=WebToLeads4687720000000388007 method="POST" onSubmit="javascript:document.charset='UTF-8'; return checkMandatory4687720000000388007()" accept-charset="UTF-8">
          <input type='text' style='display:none;' name='xnQsjsdp' value='1a8b1be45eb673e71a5b1925197e4664b5207c89778ad1e7315be647827aaa2d'></input> 
          <input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
          <input type='text' style='display:none;' name='xmIwtLD' value='78c3d7dacbbcd07154bafdf9da4878771131756c5fc0387baa3f5706a0968b4b'></input> 
          <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
          <input type='text' style='display:none;' name='returnURL' value='https://fluidattacks.com/contact-us/thank-you/' > </input>

          <div class="w-50-l pv3 center">
            <label class="tl f5 c-fluid-bk roboto">Full Name</label>
            <input type="text"
                  id="Last_Name"
                  class="db roboto f5 w-100 h-form-field ma0 outline-transparent ba br2 bc-fluid-gray bg-transparent pl2"
                  name="Last Name"
                  maxlength="120" />
          </div>
          <div class="w-50-l pb3 center">
            <label class="tl f5 c-fluid-bk roboto">Email</label>
            <input type="text"
                  ftype="email"
                  id="Email"
                  class="db roboto f5 w-100 h-form-field ma0 outline-transparent ba br2 bc-fluid-gray bg-transparent pl2"
                  name="Email"
                  maxlength="100"
                  placeholder="Email" />
          </div>
          <div class="w-50-l pb3 center">
            <label class="tl f5 c-fluid-bk roboto">Mobile</label>
            <input id="Country"
                  name="Country"
                  maxlength="100"
                  type="hidden"
                  value=""/>
            <label for="COBJ1CF2"
                class="db">
            </label>
            <input  id="Mobile"
                    maxlength="30"
                    name="Mobile"
                    type="text"
                    class="db roboto f5 w-100 h-form-field ma0 outline-transparent ba br2 bc-fluid-gray bg-transparent pl2"
                    required
                    placeholder="Mobile" />
            <span id="valid-msg"
                  class="green fr fw8 dn">
                  Number is valid
            </span>
            <span id="error-msg"
                  class="c-fluid-red fr fw8 dn">
                  Number is not valid
            </span>
          </div>
          {% assets filters="uglifyjs", output="static/js/intlTelInput.min.js", "../node_modules/intl-tel-input/build/js/intlTelInput.js" %}
          <script type="text/javascript"
                  src="{{ SITEURL }}/{{ ASSET_URL }}">
          </script>
          {% endassets %}
          <div class="w-50-l pb3 center">
            <label class="tl f5 c-fluid-bk roboto">How can we help you?</label>
            <select id="LEADCF23"
                    name="LEADCF23"
                    class="gray db roboto f5 w-100 h-form-field ma0 outline-transparent ba br2 bc-fluid-gray bg-transparent pl2"
                    required>
              <option value="-None-">
                Select...</option>
              <option value="I want a service proposal">
                I want a service proposal</option>
              <option value="I&#x20;want&#x20;a&#x20;Demo">
                I want a Demo</option>
              <option value="I&#x20;am&#x20;looking&#x20;for&#x20;a&#x20;Job">
                I am looking for a job</option>
              <option value="I&#x20;want&#x20;to&#x20;be&#x20;a&#x20;partner">
                I want to be a partner</option>
            </select>
          </div>
          <div class="poi dn w-50-l pb3 center">
            <label class="tl f5 c-fluid-bk roboto">Products of interest</label>
            <select id="LEADCF24"
                    name="LEADCF24"
                    class="gray roboto f5 w-100 h-form-field ma0 outline-transparent ba br2 bc-fluid-gray bg-transparent pl2">
              <option value="-None-">Select...</option>
              <option value="Undetermined">
                Undetermined
              </option>
              <option value="One-Shot&#x20;Hacking">
                One-Shot Hacking
              </option>
              <option value="Continuous&#x20;Hacking">
                Continuous Hacking
              </option>
            </select>
            <span class="c-fluid-red fr fw8 form-error dn">
                  Please select an option
            </span>
          </div>
          <div  id="recapErr" style="font-size:12px;color:red;visibility:hidden;">
          Captcha validation failed. If you are not a robot then please try again.
          </div>
          <div class="tc  w-50-l center">
            <button id="modalBtn" class="hv-bt-fluid-rd bt-pd pv3 bt-trans white b roboto w-100 bannerbt bn br2 pointer">
              Submit
            </button>
          </div>
          <div id="contactModal" class="contact-modal dn fixed z-1 h-100 w-100 top-0 left-0 fadein">
            <span class="close-modal dn"></span>
            <div class="pt6">
              <div class="g-recaptcha ma-auto w6 center"
                  data-sitekey="6LdUZt8ZAAAAAIZuuUl4N3iIsL3FMevSSmuRSFmx"
                  data-theme="light"
                  data-callback="rccallback"
                  captcha-verified="false"
                  id="recap">
              </div>
              <div class="tc w-50-l center pv3">
                <input type="submit"
                      id="formsubmit"
                      class="formsubmit bn br2 bannerbt hv-bt-fluid-rd bt-pd pv3 bt-trans white b roboto pointer w6"
                      value="Send your request"
                      title="Submit"></input>
              </div>
            </div>
          </div>
          <script>
            var mndFileds=new Array('Company','Last Name','Mobile','LEADCF23');
            var fldLangVal=new Array('Email','Full name','Mobile','How can we help you');
            var name='';
            var email='';

            /* Do not remove this code. */
            function rccallback()
            {
              if(document.getElementById('recap')!=undefined){
                document.getElementById('recap').setAttribute('captcha-verified',true);
              }
              if(document.getElementById('recapErr')!=undefined && document.getElementById('recapErr').style.visibility == 'visible' ){
                document.getElementById('recapErr').style.visibility='hidden';
              }
            }
            function reCaptchaAlert()
            {
              var recap = document.getElementById('recap');
              if( recap !=undefined && recap.getAttribute('captcha-verified') == 'false')
              {
                document.getElementById('recapErr').style.visibility='visible';
                return false;
              }
              return true;
            }

            function validateEmail()
            {
              var emailFld = document.querySelectorAll('[ftype=email]');
              var i;
              for (i = 0; i < emailFld.length; i++)
              {
                var emailVal = emailFld[i].value;
                if((emailVal.replace(/^\s+|\s+$/g, '')).length!=0 )
                {
                  var atpos=emailVal.indexOf('@');
                  var dotpos=emailVal.lastIndexOf('.');
                  if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length)
                  {
                    alert('Please enter a valid email address. ');
                    emailFld[i].focus();
                    return false;
                  }
                }
              }
              return true;
            }

            function checkMandatory4687720000000388007() {
            for(i=0;i<mndFileds.length;i++) {
              var fieldObj=document.forms['WebToLeads4687720000000388007'][mndFileds[i]];
              if(fieldObj) {
              if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
              if(fieldObj.type =='file')
                {
                alert('Please select a file to upload.');
                fieldObj.focus();
                return false;
                }
              alert(fldLangVal[i] +' cannot be empty.');
                      fieldObj.focus();
                      return false;
              }  else if(fieldObj.nodeName=='SELECT') {
                    if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
                alert(fldLangVal[i] +' cannot be none.');
                fieldObj.focus();
                return false;
                }
              } else if(fieldObj.type =='checkbox'){
              if(fieldObj.checked == false){
                alert('Please accept  '+fldLangVal[i]);
                fieldObj.focus();
                return false;
                }
              }
              try {
                  if(fieldObj.name == 'Last Name') {
                name = fieldObj.value;
                  }
              } catch (e) {}
                    }
            }
            if(!reCaptchaAlert()){return false;}
              document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
            }

            function tooltipShow(el){
              var tooltip = el.nextElementSibling;
              var tooltipDisplay = tooltip.style.display;
              if(tooltipDisplay == 'none'){
                var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
                for(i=0; i<allTooltip.length; i++){
                  allTooltip[i].style.display='none';
                }
                tooltip.style.display = 'block';
              }else{
                tooltip.style.display='none';
              }
            }
          </script>
          <!-- Do not remove this --- Analytics Tracking code starts -->
          <script id='wf_anal' src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=78c3d7dacbbcd07154bafdf9da4878771131756c5fc0387baa3f5706a0968b4bgid1a8b1be45eb673e71a5b1925197e4664b5207c89778ad1e7315be647827aaa2dgid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513'></script>
          <!-- Do not remove this --- Analytics Tracking code ends. -->
        </form>
      </div>
    </div>
  </div>
</div>
{% assets output="static/js/form.min.js", "js/tmp/form.min.js" %}
<script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock content %}
<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
