<div class="bg-white">
  <div class="mw-1366 ph-body center df-l flex-wrap db-ml pb5-l pb5-m pb4 pt4-ns pt2 footer-component">
    <!-- company logo -->
    <div class="pt1 pt4-l w-100 center">
      <div class="tc">
        <p class="c-fluid-bk roboto b f-footer mv0 ml3 db-l dn">
          <img
          class="nb3"
          loading="lazy"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/mini-logo.png"
          alt="Fluid Attacks logo">
          Start with Fluid Attacks
        </p>
        <p class="c-fluid-bk roboto b f3 mt0 mh2 dn-l db pb2">
          <img
          class="nb3"
          loading="lazy"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/mini-logo.png"
          alt="Fluid Attacks logo">
          Contact us
        </p>
      </div>
      <div class="tc dib-l w-100 pv2">
        <img
        class="nb3 dib-l w4"
        loading="lazy"
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/owasp-logo.png"
        alt="OWASP logo">
        <p class="c-fluid-bk roboto b f-key-features fw7 mt0 mh2 pb4 dib-l">
          We are a proud corporate member of the OWASP Foundation
        </p>
      </div>
    </div>
    <div class="pb4 w-100 ml0-footer text-center-ml nowrap">
      <div class="pt4-l b dib-xl display-none v-top tl mr2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/products/" >
            Products
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/products/integrates/">
            Integrates
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/products/skims/">
            Skims
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/products/drills/">
            Drills
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/products/forces/">
            Forces
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/services/continuous-hacking/" >
            Services
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/services/continuous-hacking/">
            Continuous Hacking
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/services/one-shot-hacking/">
            One-shot Hacking
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/services/comparative/">
            Comparative
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/solutions/devsecops/" >
            Solutions
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/devsecops/">
            DevSecOps
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/security-testing/">
            Security Testing
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/pentesting/">
            Pentesting
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/ethical-hacking/">
            Ethical Hacking
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/red-teaming/">
            Red Teaming
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/attack-simulation/">
            Attack Simulation
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/about-us/" >
            About Us
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/clients/">
            Clients
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/certifications/">
            Certifications
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/differentiators/">
            Differentiators
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/values/">
            Values
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/reviews/">
            Reviews
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/resources/">
            Resources
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/about-us/events/">
            Events
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/about-us/people/">
            People
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/about-us/partners/">
            Partners
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/security/">
            Security
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/blog/" >
            Blog
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/careers/" >
            Careers
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/faq/" >
            FAQ
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="https://community.fluidattacks.com/" >
            Community
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/contact-us/" >
            Contact
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/subscription/" >
            Newsletter
          </a><br>
        </div>
      </div>
      <div class="dib-l fr-xl w-footer-form center">
        <div class="dib-l dn w-100 tc">
          <p class="roboto fw1 f3 c-fluid-bk">
            Contact Us
          </p>
        </div>
        <div class="contact-form w-100">
          <div>
            <form action="https://crm.zoho.com/crm/WebForm" name=WebForm4687720000000504044 method="POST" onSubmit="javascript:document.charset='UTF-8'; return checkMandatory4687720000000504044(); return validateForm()" accept-charset="UTF-8">
              <input type="text" style="display:none;" name="xnQsjsdp" value="1a8b1be45eb673e71a5b1925197e4664b5207c89778ad1e7315be647827aaa2d" />
              <input type="hidden" name="zc_gad" id="zc_gad" value="" />
              <input type="text" style="display:none;" name="xmIwtLD" value="78c3d7dacbbcd07154bafdf9da487877e22d1c6218228967e11c43d493492210" />
              <input type="text"  style="display:none;" name="actionType" value="Q3VzdG9tTW9kdWxlMQ==" />
              <input type="text" style="display:none;" name="returnURL" value="https://fluidattacks.com/contact-us/thank-you/" />
    
              <div class="pv3 center">
                <input type="text"
                      id="NAME"
                      class="db roboto f5 w-100 h2 ma0 outline-transparent bb-form bt-0 br-0 bl-0 bg-transparent pl2"
                      name="NAME"
                      maxlength="120"
                      placeholder="Full Name" />
              </div>
              <div class="pv3 center">
                <input type="text"
                      ftype="email"
                      id="Email"
                      class="db roboto f5 w-100 h2 ma0 outline-transparent bb-form bt-0 br-0 bl-0 bg-transparent pl2"
                      name="Email"
                      maxlength="100"
                      placeholder="Email" />
              </div>
              <div class="pv3 center">
                <input id="COBJ1CF6"
                      name="COBJ1CF6"
                      maxlength="255"
                      type="hidden"
                      value=""/>
                <label for="COBJ1CF2"
                    class="db">
                </label>
                <input  id="COBJ1CF2"
                        maxlength="30"
                        name="COBJ1CF2"
                        type="text"
                        class="db roboto f5 w-100 h2 ma0 outline-transparent bb-form bt-0 br-0 bl-0 bg-transparent pl2"
                        required
                        placeholder="Mobile" />
                <span id="valid-msg"
                      class="green fr fw8 dn">
                      Number is valid
                </span>
                <span id="error-msg"
                      class="c-fluid-red fr fw8 dn">
                      Number is not valid
                </span>
              </div>
              {% assets filters="uglifyjs", output="static/js/intlTelInput.min.js", "../node_modules/intl-tel-input/build/js/intlTelInput.js" %}
              <script type="text/javascript"
                      src="{{ SITEURL }}/{{ ASSET_URL }}">
              </script>
              {% endassets %}
              <div class="pv3 center">
                <select id="COBJ1CF5"
                        name="COBJ1CF5"
                        class="gray db roboto f5 w-100 h2 ma0 outline-transparent bb-form bt-0 br-0 bl-0 bg-transparent pl1"
                        required>
                  <option value="-None-">
                    How can we help you?</option>
                  <option value="I want a service proposal">
                    I want a service proposal</option>
                  <option value="I am looking for a job">
                    I am looking for a job</option>
                  <option value="I want a Demo">
                    I want a Demo</option>
                  <option value="I want to be a partner">
                    I want to be a partner</option>
                </select>
              </div>
              <div class="poi dn pv3 center">
                <select id="COBJ1CF3"
                        name="COBJ1CF3"
                        class="gray roboto f5 w-100 h2 ma0 outline-transparent bb-form bt-0 br-0 bl-0 bg-transparent pl1">
                  <option value="-None-">Products of interest:</option>
                  <option value="Undetermined">
                    Undetermined
                  </option>
                  <option value="One-Shot&#x20;Hacking">
                    One-Shot Hacking
                  </option>
                  <option value="Continuous&#x20;Hacking">
                    Continuous Hacking
                  </option>
                </select>
                <span class="c-fluid-red fr fw8 form-error dn">
                      Please select an option
                </span>
              </div>
              <div class="msg dn pv3 center">       
                <textarea  id="COBJ1CF4"
                          name="COBJ1CF4"
                          wrap="soft"
                          class="w-100 h4 center"
                          placeholder="Message"></textarea>
              </div>
              <div class="g-recaptcha ma-auto w6 center"
                  data-sitekey="6LdUZt8ZAAAAAIZuuUl4N3iIsL3FMevSSmuRSFmx"
                  data-theme="light"
                  data-callback="rccallback"
                  captcha-verified="false"
                  id="recap">
              </div>
              <div  id="recapErr" style="font-size:12px;color:red;visibility:hidden;">
              Captcha validation failed. If you are not a robot then please try again.
              </div>
                <div class="tc">
                  <input type="submit"
                        id="formsubmit"
                        class="formsubmit bn br2 bannerbt hv-bt-fluid-rd w-100 pv3 bt-trans white b roboto pointer"
                        value="Submit"
                        title="Submit">
                </div>
                <script>
                  var mndFileds=new Array("NAME","Email","COBJ1CF2","COBJ1CF5","COBJ1CF6");
                  var fldLangVal=new Array("Full name","Email","Mobile","How can we help you?","Country"); 
                  var name="";
                  var email="";
              
                /* Do not remove this code. */
                  function rccallback()
                {
                  if(document.getElementById("recap")!=undefined){
                    document.getElementById("recap").setAttribute("captcha-verified",true);
                  }
                  if(document.getElementById("recapErr")!=undefined && document.getElementById("recapErr").style.visibility == "visible" ){
                    document.getElementById("recapErr").style.visibility="hidden";
                  }
                }
                function reCaptchaAlert()
                {
                  var recap = document.getElementById("recap");
                  if( recap !=undefined && recap.getAttribute("captcha-verified") == "false")
                  {
                    document.getElementById("recapErr").style.visibility="visible";
                    return false;
                  }
                  return true;
                }
                function validateEmail()
                {
                  var emailFld = document.querySelectorAll("[ftype=email]");
                  var i;
                  for (i = 0; i < emailFld.length; i++)
                  {
                    var emailVal = emailFld[i].value;
                    if((emailVal.replace(/^\s+|\s+$/g, "")).length!=0 )
                    {
                      var atpos=emailVal.indexOf("@");
                      var dotpos=emailVal.lastIndexOf(".");
                      if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length)
                      {
                        alert("Please enter a valid email address. ");
                        emailFld[i].focus();
                        return false;
                      }
                    }
                  }
                  return true;
                }
              
                    function checkMandatory4687720000000504044() {
                  for(i=0;i<mndFileds.length;i++) {
                    var fieldObj=document.forms["WebForm4687720000000504044"][mndFileds[i]];
                    if(fieldObj) {
                    if (((fieldObj.value).replace(/^\s+|\s+$/g, "")).length==0) {
                      if(fieldObj.type =="file")
                      { 
                        alert("Please select a file to upload."); 
                        fieldObj.focus(); 
                        return false;
                      } 
                    alert(fldLangVal[i] +" cannot be empty."); 
                              fieldObj.focus();
                              return false;
                    }  else if(fieldObj.nodeName=="SELECT") {
                              if(fieldObj.options[fieldObj.selectedIndex].value=="-None-") {
                      alert(fldLangVal[i] +" cannot be none."); 
                      fieldObj.focus();
                      return false;
                        }
                    } else if(fieldObj.type =="checkbox"){
                        if(fieldObj.checked == false){
                      alert("Please accept  "+fldLangVal[i]);
                      fieldObj.focus();
                      return false;
                        } 
                      } 
                      try {
                          if(fieldObj.name == "Last Name") {
                      name = fieldObj.value;
                            }
                    } catch (e) {}
                      }
                  }
                  if(!validateEmail()){return false;}
                  
                  if(!reCaptchaAlert()){return false;}
                  document.querySelector(".crmWebToEntityForm .formsubmit").setAttribute("disabled", true);
                }
              
              function tooltipShow(el){
                var tooltip = el.nextElementSibling;
                var tooltipDisplay = tooltip.style.display;
                if(tooltipDisplay == "none"){
                  var allTooltip = document.getElementsByClassName("zcwf_tooltip_over");
                  for(i=0; i<allTooltip.length; i++){
                    allTooltip[i].style.display="none";
                  }
                  tooltip.style.display = "block";
                }else{
                  tooltip.style.display="none";
                }
              }
              </script>
                <!-- Do not remove this --- Analytics Tracking code starts --><script id="wf_anal" src="https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=78c3d7dacbbcd07154bafdf9da487877e22d1c6218228967e11c43d493492210gid1a8b1be45eb673e71a5b1925197e4664b5207c89778ad1e7315be647827aaa2dgid0553f79ba9ccf83e1be97f6851b4205dc78530f131c55496a36cdc928fa214e9gid14f4ec16431e0686150daa43f3210513"></script><!-- Do not remove this --- Analytics Tracking code ends. -->
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <div class="pt1 pt4-l w-100 center">
      <div class="tc">
        <div>
          <a href="https://clutch.co/profile/fluid-attacks#reviews" target="_blank" rel="noopener noreferrer">
            <img loading="lazy" src="{{ SITEURL }}/theme/images/clutch-review.png"
                alt="Clutch Review">
          </a>
        </div>
        <div class="social-media pt3">
          <a class="ph3 no-underline" href="https://www.instagram.com/fluidattacks/">
            <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-instagram.png"
              alt="Instagram logo">
          </a>
          <a class="pr3 no-underline" href="https://www.facebook.com/Fluid-Attacks-267692397253577/">
            <img loading="lazy" class="hv-fluid-rd w1" src="{{ SITEURL }}/theme/images/social-media/social-facebook.png"
              alt="Facebook logo">
          </a>
          <a class="pr3 no-underline" href="https://www.linkedin.com/company/fluidattacks/">
            <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-linkedin.png"
              alt="Linkedin logo">
          </a>
          <a class="pr3 no-underline" href="https://twitter.com/fluidattacks/">
            <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-twitter.png"
              alt="Twitter logo">
          </a>
          <a class="pr3 no-underline" href="https://www.youtube.com/c/fluidattacks/">
            <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-youtube.png"
              alt="Youtube logo">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb0-l mb0-m mb3 ph3 bg-white">
  <div class="tc nb3">
    <p class="c-fluid-gray b f6 fw2 roboto pv3 mv0">Copyright © 2020 Fluid Attacks, We hack your software. All rights reserved.</p>
  </div>
  <!-- status bar -->
  <div class="h2 bg-white b tc pb3">
    <a class="c-fluid-bk f6 fw2 no-underline mt2 roboto pl3 hv-fluid-dkred"
       href="http://status.fluidattacks.com/">
       Service status
    </a>
    <span class="c-fluid-gray f6"> - </span>
    <a class="c-fluid-bk f6 fw2 mt2 roboto no-underline hv-fluid-dkred"
       href="{{ SITEURL }}/terms-use/">
       Terms of Use
    </a>
    <span class="c-fluid-gray f6"> - </span>
    <a class="c-fluid-bk f6 fw2 mt2 roboto no-underline hv-fluid-dkred"
       href="{{ SITEURL }}/privacy/">
       Privacy Policy
    </a>
    <span class="c-fluid-gray f6"> - </span>
    <a class="c-fluid-bk f6 fw2 mt2 roboto no-underline hv-fluid-dkred"
       href="{{ SITEURL }}/cookie/">
       Cookie Policy
    </a>
  </div>
</div>
