:local .timelineContainer {
  /* stylelint-disable-next-line value-keyword-case */
  composes: timelineContainer from '../../../containers/TrackingView/index.css';
}

:local .timelineContainer::before {
  content: '';
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 2px;
  background: #dbdbdb;
  left: 105px;
  margin-left: -1px;
}

:local .content {
  composes: content from '../../TrackingItem/index.css';
}

:local .date {
  composes: date from '../../TrackingItem/index.css';
  width: 80px;
}

:local .container {
  composes: container from '../../TrackingItem/index.css';
  padding-left: 125px;
}

:local .container::before {
  background-color: #ededed;
  border: 2px solid #ccc;
  border-radius: 50px;
  content: '';
  height: 16px;
  left: 97px;
  position: absolute;
  top: 34.5px;
  width: 16px;
}

@media (min-width: 1320px) {
  :local .trackGraph {
    margin-left: 10%;
  }
}
