<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graphic</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700" rel="stylesheet">
    {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') }}">
    {% else %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}">
    {% endif %}

    <!-- Include C3 -->
    <link href="{{ c3css }}" rel="stylesheet">
    <script src="{{ c3js }}"></script>

    <!-- Include D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>

    <!-- Include graphic generator -->
    <link href="{{ url_for('static', path='/styles/graphic.css') | replace('http://', 'https://') }}" rel="stylesheet" type="text/css"  media="screen"/>
    <script src="{{ url_for('static', path=generator_src) | replace('http://', 'https://') }}"></script>
    {% if 'https' in url_for('static', path='/styles/generic_graphic.css') %}
      <link href="{{ url_for('static', path='/styles/generic_graphic.css') }}" rel="stylesheet" type="text/css"  media="screen"/>
    {% else %}
      <link href="{{ url_for('static', path='/styles/generic_graphic.css') | replace('http', 'https') }}" rel="stylesheet" type="text/css"  media="screen"/>
    {% endif %}
    <!-- Include Data Document -->
    <pre id="args" hidden>
      {{ args | tojson }}
    </pre>
  </head>
  <body onload="load()">
    <div id="root"></div>
  </body>
</html>
