:local .borderNone {
  border: none;
}

:local .wFull {
  width: 100%;
}

:local .tableWrapper table {
  border-spacing: 0;
  border: 1px solid #ddd;
  table-layout: auto !important;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

:local .tableHeader > th,
.tableBody > td {
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  white-space: pre-wrap;
}

:local .tableHeader {
  background-color: #898787;
  border: none;
  color: white;
}

:local .tableHeader > th {
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: 400;
  padding: 8px;
}

:local .tableBody {
  cursor: pointer;
}

:local .tableBody > td,
:local .tableBody > tr {
  vertical-align: middle;
  padding: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
}

:local .label {
  border-radius: 0;
  font-size: 90%;
  font-weight: bold;
  padding: 4px 7px;
}

:local .searchBar {
  composes: form-control from "../../utils/forms/index.css";
  height: 30px;
}

:local .exportCsv {
  composes: button from "../Button/index.css";
  margin-top: -5px;
  margin-left: 8px !important;
}

:local .tableModalContainer {
  text-align: left;
}

:local .buttonWrapper {
  display: inline-block;
}

:local .tableOptions {
  margin-bottom: 8px;
  margin-top: 8px;
}

@media (max-width: 1149px) {
  :local .exportCsv {
    margin-left: 5px;
  }
}
