:local .centerTitle {
  text-align: center;
}

:local .height160 {
  height: 160px;
}

:local .height80 {
  height: 80px;
}

:local .height320 {
  height: 320px;
}

:local .separatorTitleFromCharts {
  padding-top: 35px;
}
