.makes: &makes
  tags: [ci]
  image: "${CI_REGISTRY_IMAGE}/makes"
  needs: []
  interruptible: true
  script:
    - ./m "${CI_JOB_NAME% *}"
  variables:
    GIT_DEPTH: 5

.with_nix: &with_nix
  tags: [ci]
  image: "${CI_REGISTRY_IMAGE}/nix:${CI_JOB_NAME}"
  needs: []
  script:
    - ./build.sh "${CI_JOB_NAME% *}"
  interruptible: true
  variables:
    GIT_DEPTH: 5

.sorts_commit_pattern: &sorts_commit_pattern '$CI_COMMIT_TITLE =~ /^(all|sorts)/'

.sorts_in_dev_branch: &sorts_in_dev_branch
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: *sorts_commit_pattern

.sorts_in_dev_and_master_branch: &sorts_in_dev_and_master_branch
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: *sorts_commit_pattern

.sorts_in_master_branch: &sorts_in_master_branch
  resource_group: "${CI_JOB_NAME}"
  rules:
    - if: '$CI_COMMIT_BRANCH != "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: *sorts_commit_pattern

.sorts_in_master_branch_code_changes: &sorts_in_master_branch_code_changes
  resource_group: "${CI_JOB_NAME}"
  rules:
    - if: '$CI_COMMIT_BRANCH != "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: *sorts_commit_pattern
      changes:
        - "sorts/static/*"
        - "sorts/sorts/**/*"
        - "sorts/training/**/*"

makes.test.sorts:
  <<: *makes
  <<: *sorts_in_master_branch
  stage: test-code

sorts.lint:
  <<: *makes
  <<: *sorts_in_dev_branch
  stage: lint-code

sorts.test:
  <<: *makes
  <<: *sorts_in_dev_branch
  stage: test-code

sorts.infra.test:
  <<: *makes
  <<: *sorts_in_dev_branch
  stage: test-infra

sorts.infra.deploy:
  <<: *makes
  <<: *sorts_in_master_branch
  stage: deploy-infra

sorts.extract-features:
  <<: *makes
  <<: *sorts_in_master_branch_code_changes
  stage: test-code
  interruptible: false
  parallel: 15

sorts.train:
  <<: *makes
  <<: *sorts_in_master_branch_code_changes
  script:
    - ./m sorts.train && ./m sorts.tune
  stage: deploy-app
  interruptible: false
  needs: [sorts.extract-features]
