# SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>
#
# SPDX-License-Identifier: MPL-2.0

[importlinter]
  root_package = tap_checkly

[importlinter:contract:dag]
  name = root_dag
  type = layers
  layers =
    cli
    singer
    api2
  containers =
    tap_checkly
