:local .bgModal {
  background-color: #000;
  opacity: 0.5;
}

:local .modalDialog {
  width: 600px;
}

:local .modal {
  background-color: #f4f4f6;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  height: fit-content;
}

:global .largeModal {
  width: 850px;
}

:global .extraLargeModal {
  width: 1000px;
}

:global .graphicModal {
  width: 1200px;
}

:global .graphicModal-title {
  background-color: #fbfbfb !important;
}

@media (max-width: 900px) {
  :global .largeModal {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  :global .extraLargeModal {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  :global .graphicModal {
    width: 100%;
  }
}

@media (max-width: 650px) {
  :local .modalDialog {
    width: 100%;
  }
}
