# List of ignored files/dirs by the new linter

src/resources/
src/scenes/
src/utils/apollo.ts
src/utils/cvss.ts
src/utils/formatHelpers.ts
src/utils/validations.ts
src/utils/*.tsx
src/**/*.css.d.ts
src/**/*.d.ts
