/**/*.css.d.ts
/*.xlsx
/.coverage*
/.Redis
/.MinIO
/.DynamoDB
/.Storage
/analytics/generators/**/*.json
/app/static/dashboard
/back/packages/integrates-back/backend/reports/tpls/*.tpl
/build/coverage
/**/node_modules
/**/results_pdf/*.pdf
