/**/.expo/
/**/google-services.json
/**/*.css.d.ts
/**/*coverage*
/**/geckodriver.log
/**/node_modules
/**/results_pdf/*.pdf
/*.xlsx
/.Cache
/.DB
/.Storage
/analytics/collector/**/*.png
/analytics/generators/**/*.json
/app/static/dashboard
/back/packages/integrates-back/backend/reports/tpls/*.tpl
/deploy/permissions-matrix/**/*.html
