{% extends "index.html" %}

{% block customcss %}
{% assets filters="scss,cssmin", output="static/css/contact-us.min.css", "css/custom/pages/contact-us.scss" %}
	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %} 
{% endblock customcss %}

{% block title %}{{ SITENAME }} - {{ gettext('Contact us') }}{% endblock title %}

{% block header %}
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h1 class="ico-left ico ico-place">
					Contáctanos
				</h1>
			</div>
			<div class="col-lg-7 justify-content-end d-flex align-items-center">
				<ul class="offices">
					<li><a data-map="medellin" class="load-map active" href="javascript:;">Medellín</a></li>
					<li><a data-map="bogota" class="load-map" href="javascript:;">Bogotá</a></li>
					<li><a data-map="northcarolina" class="load-map" href="javascript:;">North Carolina</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock header %}

{% block content %}

<div class="wrapper bg-base">

	<section class="contact-us-section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-5">
					<h1 class="ico ico-top ico-contact-us">
						Contáctanos
					</h1>
					<p>
						Lorem Ipsum white-box methodology or code review, either on each application or the complete
					</p>

					<form>
						<div class="form-group">
							
							<div class="input-group">
								<div class="input-group-addon">Nombre:</div>
								<input required="required" type="text" class="form-control" name="name">
							</div>
						
						</div>

						<div class="form-group">
							
							<div class="input-group">
								<div class="input-group-addon">Teléfono:</div>
								<input required="required" type="text" class="form-control" name="phonenumber">
							</div>
						
						</div>

						<div class="form-group">
							
							<div class="input-group">
								<div class="input-group-addon">Email corporativo:</div>
								<input required="required" type="email" class="form-control" name="email">
							</div>
						
						</div>
						
						<div class="form-group">
							
							<div class="input-group">
								<div class="input-group-addon">Motivo:</div>
								<select required="required" name="subject" class="form-control">
								  <option selected value="">Seleccione</option>
								  <option value="Comercial">Comercial</option>
								  <option value="Empleo">Empleo</option>
								</select>
							</div>
						
						</div>
						

						<div class="form-group">
							
							<div class="input-group">
								<div class="input-group-addon">País:</div>
								<input type="text" required="required" name="country" class="form-control">
							</div>
						
						</div>

						<div class="form-group">
							
							<div class="input-group">
								<div class="input-group-addon">Mensaje:</div>
								<input type="text" class="form-control" required="required" name="message">
							</div>
						
						</div>	

						<div class="form-group row">
							<button type="submit" class="btn btn-green">{{ gettext('SEND') }}</button>
						</div>
						

						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" value="">
								Autorizo a FLUID para usar mi información personal en un futuro.
							</label>
						</div>
					</form>
				</div>
				<div class="col-lg-7 d-none d-lg-flex justify-content-end">
					<figure class="icon-page">
						<img class="img-fluid" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/contact-us/figure.png" alt="Contáctanos"/>
					</figure>
				</div>
			</div>
		</div>
	</section>

	<section class="map">
		<div class="data-map medellin">
			<div class="container">
				<div class="row g-map">
					<div class="col-md-12">
						<div class="col-md-12 iframe">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5018222236636!2d-75.57561538523105!3d6.197327695513531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e468287e3771c03%3A0xbcb5bb4181365fff!2sEdificio+Forum+Torre!5e0!3m2!1sen!2sco!4v1514988923691" width="100%" height="335" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h3>DIRECCIÓN:</h3>
						<p>
							43A N 8 Sur 15, Oviedo Tower,
							Oficina 513
						</p>
						<p>
							Poblado, Medellín, Colombia.
						</p>
						<p>
							Código postal: 050022
						</p>
					</div>
					<div class="col-md-4">
						<h3>TELÉFONOS:</h3>
						<p>
							Fijo: +57 (4) 444-26-37 
						</p>
						<p>
							Móvil: +57 314 878 1246
						</p>
					</div>
					<div class="col-md-4">
						<h3>E-MAIL:</h3>
						<p>
							fluid.gerencia@gmail.com
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="data-map bogota">
			<div class="container">
				<div class="row g-map">
					<div class="col-md-12">
						<div class="col-md-12 iframe">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6719132093513!2d-74.06464318584278!3d4.65247374337075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a4432fbed0d%3A0x3170793b0c8d6abd!2sedificio+villorio!5e0!3m2!1sen!2sco!4v1514989035468" width="100%" height="335" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h3>DIRECCIÓN:</h3>
						<p>
							Calle 66 N 11 – 50
							Oficina 502
						</p>
						<p>
							Chapinero, Bogotá, Colombia.
						</p>
						<p>
							Código postal: 110231
						</p>
					</div>
					<div class="col-md-4">
						<h3>TELÉFONOS:</h3>
						<p>
							Fijo: +57 (1) 466-16-73
						</p>
						<p>
							Móvil: +57 314 653 3428
						</p>
					</div>
					<div class="col-md-4">
						<h3>E-MAIL:</h3>
						<p>
							fluid.gerencia@gmail.com
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="data-map northcarolina">
			<div class="container">
				<div class="row g-map">
					<div class="col-md-12">
						<div class="col-md-12 iframe">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.724679933189!2d-78.48260168534088!3d35.65915433879097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac68eb7be5b635%3A0xa15c71b563be2b98!2sStallings+Mill+Apartment+Homes!5e0!3m2!1sen!2sco!4v1514989082010" width="100%" height="335" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h3>DIRECCIÓN:</h3>
						<p>
							159 Stallings Mill Loop
							Oficina 302
						</p>
						<p>
							Clayton, North Carolina, USA.
						</p>
						<p>
							Código postal: 27520
						</p>
					</div>
					<div class="col-md-4">
						<h3>TELÉFONOS:</h3>
						<p>
							Móvil: +1 919 208 8180
						</p>
					</div>
					<div class="col-md-4">
						<h3>E-MAIL:</h3>
						<p>
							fluid.gerencia@gmail.com
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="work-with-us">
		<div class="container">
			<div class="row justify-content-around">
				<div class="col-lg-5">
					<figure class="icon-page">
						<img class="img-fluid" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/contact-us/figure-work-with-us.png" alt="Trabaja con nosotros"/>
					</figure>
				</div>
				<div class="col-11 col-md-10 d-flex align-items-center">
					<div>
						<h1 class="ico ico-top ico-work-with-us">
							TRABAJA CON NOSOTROS
						</h1>
						<p>
							Using a white-box methodology or code review, either on each application or the complete suite of applications we detect security issues:
						</p>
						<a href="javascript:;" class="btn btn-green max-wid-100-p">DÉJANOS SABER DE TI</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
{% endblock content %}

{% block javascript %}
	<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/owl.carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/custom/contact.js"></script>
{% endblock javascript %}