# SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>
#
# SPDX-License-Identifier: MPL-2.0

[importlinter]
  root_package = code_etl

[importlinter:contract:root]
  name = root_dag
  type = layers
  layers =
    upload_repo
    amend
    compute_bills
    migration
    client
    mailmap
  containers =
    code_etl
