<div class="pa1 flex w-70 justify-center" style="font-size: 15px !important; text-align: center !important;">
  <a class="pa1 justify-center" href="https://www.linkedin.com/company/fluidattacks/" target="_blank"
    rel="noopener noreferrer">
    <img alt="LinkedIn" src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/6447a53b-96ec-f558-7dbb-2789d0093a37.png"
      style="display:block;" height="20" width="20">
  </a>
  <a class="pa1 justify-center" href="https://fluidattacks.com/" target="_blank" rel="noopener noreferrer">
    <img alt="Website" src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/e1b2db9f-ff6c-84fb-d909-1f0794313773.png"
      style="display:block;" height="20" width="20">
  </a>
  <a class="pa1 justify-center" href="https://www.instagram.com/fluidattacks/" target="_blank" rel="noopener noreferrer">
    <img alt="Instagram" src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/c61f0228-3d64-b5d1-30b0-2c663abd93af.png"
      style="display:block;" height="20" width="20">
  </a>
  <a class="pa1 justify-center" href="https://www.facebook.com/Fluid-Attacks-267692397253577/" target="_blank" rel="noopener noreferrer">
    <img alt="Facebook" src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/d14fa081-e1cf-226c-b49d-96c63d840b08.png"
      style="display:block;" height="20">
  </a>
  <a class="pa1 justify-center" href="https://twitter.com/fluidattacks" target="_blank" rel="noopener noreferrer">
    <img alt="Twitter" src="https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/04f07f69-e98a-3bf2-ebae-7c5f2cdd5f46.png"
      style="display:block;" height="20" width="20">
  </a>
</div>
<div class="pa1 flex w-100">
  <p class="pa1 justify-center" style="font-size: 15px !important; text-align: center !important; margin-bottom: 0 !important;">
    © {{ year }} Fluid Attacks · 95 3rd St, 2nd Floor - San Francisco, CA 94103 · USA
  </p>
</div>
