{# Generic Go to button: rounded and centered #}
{% macro go_to_button(text, url) %}
<div class="flex justify-center">
  <a id="download" class="pa3 dim justify-center" title="{{ text }}" href="{{ url }}" target="_blank" rel="noopener noreferrer">
    {{ text }}
  </a>
</div>
{% endmacro %}

{# Customized button for charts report use #}
{% macro charts_report_button(text, url) %}
<td style="text-align: -webkit-center;">
  <a id="download" class="pa3 dim fixed-w-150" title="{{ text }}" href="{{ url }}" target="_blank" rel="noopener noreferrer">
    {{ text }}
  </a>
</td>
{% endmacro %}

{# Image section for analytics report #}
{# Not the same as other imgs, due to a bug in safari with flexbox #}
{% macro analytics_image(url, size) %}
<div>
  <img alt="Analytics (charts) image" class="w-100"
    src="{{ url }}"
    width="{{ size }}"
    style="display:block;">
</div>
{% endmacro %}

{# Generic text area #}
{%+ macro text_area(text) %}
<div class="w-80 text-area">
  {% for line in text %}
  <div>{{ line }}</div>
  {% endfor %}
</div>
{% endmacro %}

{# Generic red banner #}
{% macro banner(icon_url, padding) %}
<table aria-hidden="true" style="
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/222436b8-0957-02df-7905-176379f344b5.png);
    table-layout: fixed;
    width: 100%;">
  <tr>
    <td style="text-align: center;">
      <table aria-hidden="true" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%;">
        <tr>
          <td style="text-align: center;">
            <table aria-hidden="true" style="width: 100%;">
              <tr>
                <td style="text-align: center;">
                  <div
                    style="border: 2px solid #ffffff; padding: {{ padding }}; border-radius: 50%; height: 78px; width: 78px; margin: 0 auto;">
                    <div class="icon">
                      <img
                        alt="Banner custom icon"
                        src="{{ icon_url }}"
                        style="height: 45px; vertical-align: center;">
                    </div>
                  </div>
                  <h3 style="text-align: center; color: #f4f4f6; font-weight: 700; padding: 10px 30px;">{{ caller() }}</h3>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endmacro %}

{# Custom banner with news icon #}
{% macro banner_news(text) %}
  {% call banner(
    'https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/905d41fe-7d2d-98f2-b103-1f57ed9c45b3.png',
    '13px 10px 0 8px'
    ) %}
    {{ text }}
  {% endcall %}
{% endmacro %}

{# Custom banner with finding icon #}
{% macro banner_finding(text) %}
  {% call banner(
    'https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/283b1305-0ab0-d9d0-6b65-a66b37726028.png',
    '15px 10px 0 13px'
    ) %}
    {{ text }}
  {% endcall %}
{% endmacro %}

{# Custom banner with group icon #}
{% macro banner_group(text) %}
  {% call banner(
    'https://mcusercontent.com/a32e6c9ce2902c975d3ea510c/images/20d48161-3617-0825-733c-08db696c7f2c.png',
    '15px 13px 0 13px'
    ) %}
    {{ text }}
  {% endcall %}
{% endmacro %}

{# Bulleted text area for findings #}
{%+ macro findings_area(list) %}
<div class="w-80 text-area">
  <ul>
  {% for finding in list %}
    <li>
      <a href="{{ finding['finding_url'] }}" target="_blank" rel="noopener noreferrer" style="color: #ff3435;">
        {{ finding['group'] }} - {{ finding['finding_name'] }}
      </a>
    </li>
  {% endfor %}
  <ul>
</div>
{% endmacro %}
