<!--
SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>

SPDX-License-Identifier: MPL-2.0
-->

{%+ macro header(title, subtitle) %}
<div class="dark-header">
  <div class="w-100 tc">
    <img
      alt="fluid logo dark"
      class="header-logo"
      src="https://res.cloudinary.com/fluid-attacks/image/upload/v1661980765/airs/fluid-attacks-logo-2022-light.png"
      style="margin-bottom: 10px !important;">
  </div>
  <p class="header-title w-100">{{ title }}</p>
  <p class="ma0 w-100" style="margin-bottom: 0 !important;">
    {{ subtitle }}
  </p>
</div>
{% endmacro %}

{# Generic Go to button: rounded and centered #}
{% macro go_to_button(text, url, type) %}
<div class="flex justify-center">
  <a class="main-button justify-center {{ type }}" title="{{ text }}" href="{{ url }}" target="_blank" rel="noopener noreferrer">
    {{ text }}
  </a>
</div>
{% endmacro %}

{# Customized button for charts report use #}
{% macro charts_report_button(text, url, type) %}
<td style="text-align: -webkit-center;">
  <a id="download" class="main-button fixed-w-150 {{ type }}" title="{{ text }}" href="{{ url }}" target="_blank" rel="noopener noreferrer">
    {{ text }}
  </a>
</td>
{% endmacro %}

{# Image section for analytics report #}
{# Not the same as other imgs, due to a bug in safari with flexbox #}
{% macro analytics_image(url, size) %}
<div>
  <img alt="Analytics (charts) image" class="w-100"
    src="{{ url }}"
    width="{{ size }}"
    style="display:block;">
</div>
{% endmacro %}

{# Generic text area #}
{%+ macro text_area(text) %}
<div class="w-80 text-area">
  {% for line in text %}
  <div>{{ line }}</div>
  {% endfor %}
</div>
{% endmacro %}

{# Generic red banner #}
{%- macro banner(icon_url) %}
    <div class="body-title">
      <p style="text-align: center; margin-bottom: 0; font-weight: bold;">
        <img
          alt="Banner custom icon"
          class="title-icon"
          src="{{ icon_url }}"
        >
        {{- caller() }}
      </p>
    </div>
{%- endmacro %}

{# Custom banner with news icon #}
{% macro banner_news(text) %}
  {% call banner(
    'https://res.cloudinary.com/fluid-attacks/image/upload/v1661810652/airs/icons/news.png',
    ) %}
    {{ text }}
  {% endcall %}
{% endmacro %}

{# Custom banner with finding icon #}
{% macro banner_finding(text) %}
  {% call banner(
    'https://res.cloudinary.com/fluid-attacks/image/upload/v1661810652/airs/icons/finding.png',
    ) %}
    {{ text }}
  {% endcall %}
{% endmacro %}

{# Custom banner with group icon #}
{%- macro banner_group(text) %}
  {%- call banner(
    'https://res.cloudinary.com/fluid-attacks/image/upload/v1661810652/airs/icons/group.png',
    ) %}
    {{ text }}
  {% endcall %}
{%- endmacro %}

{# Bulleted text area for findings #}
{%- macro findings_area(list) %}
      <div class="w-80 text-area">
        <ul>
        {%- for finding in list %}
          <li>
            <a href="{{ finding['finding_url'] }}"
              target="_blank"
              rel="noopener noreferrer"
              style="color: #ff3435;"
            >
              {{ finding['group'] }} - {{ finding['finding_name'] }}
            </a>
          </li>
        {%- endfor %}
        <ul>
      </div>
{%- endmacro %}
