# SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>
#
# SPDX-License-Identifier: MPL-2.0

[importlinter]
  root_package = job_last_success

[importlinter:contract:dag]
  name = root_dag
  type = layers
  layers =
    cli
    db_client
    conf
  containers =
    job_last_success
