:local textarea {
  resize: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 1rem;
  max-width: 100%;
  min-width: 100%;
  color: #777;
  border: 2px solid #eaeaea !important;
}

:global .comment-nested {
  background-color: white;
  margin: 0;
  padding: 0;
}

:global .comment-content {
  font-size: 1rem;
  white-space: pre-wrap;
  word-break: break-word;
}

/* Overrides antd lib class */
:global .ant-comment-nested {
  margin-left: 0;
}

/* Overrides antd lib class */
:global .ant-comment-content-author {
  justify-content: space-between;
}

:global .comment-author {
  color: #ff3435;
  font-size: 1rem;
  font-weight: bold;
}

:global .comment-datetime {
  color: #777;
  display: block;
  float: right;
  font-size: 0.9rem;
  font-weight: normal;
  padding-left: 1rem;
}

:global .comment-no-bullets ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

:global .comment-reply {
  background-color: inherit;
  color: #ff3435;
  font-size: 1rem;
  font-weight: normal;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
