{% extends "index.html" %}

{% block meta %}
  <meta name="description"
        content="Here you can find all the articles of the blog which are related to the
        category {{ category.name|replace('-', ' ')|capitalize }}. The articles are ordered according to their publishing date and may
        address different subjets related to the field of Information Security.">
  <meta name="keywords"
        content="Article, Category, Blog, Information, Security, Date">
{% endblock meta %}

{% block title %}{{ category.name|replace("-", " ")|capitalize }} | {{ AUTHOR }}{% endblock %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/blog/">
{% endblock canonical %}

{% block breadcrumb %}
<!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw9 ml-auto mr-auto">
      <ul class="dib list w-auto mh3-l pl0-l pl3 ml1">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
              href="{{ SITEURL }}/blog/">Blog</a>
        </li>
        <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/blog/categories/">
            Categories
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">{{ category.name|replace("-", " ")|capitalize }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}
