{% extends "base.html" %}
{% block meta %}
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9c4480b4-b8ae-44d8-9c6f-6300b86e9094" data-blockingmode="auto" type="text/javascript"></script>
<meta name="description"
      content="We're a pentesting and ethical hacking company
      that identifies and reports all your applications
      and software vulnerabilities ASAP.">
<meta name="keywords"
      content="{Fluid Attacks, Pentesting, Ethical Hacking, Security Testing, Cybersecurity">
{% endblock meta %}

{% block title %}Home | {{ SITENAME }}{% endblock title %}

{% block header %}

<div class="flex-ns flex-wrap-ns justify-between-m banner-bg bg-banner-sz coverm cover-s h50-l h6-m h40-s minh-100vh">
  <div class="ba1 mb3 relative dt-ns mt0-ns pr3-ns pl3-ns pt3 ma-auto pt6-l pt4 mw9 ml-auto mr-auto w-100">
    <!-- Banner Image-->
    <div class="fr-l w-45-l w100-m w90-s tc ml-auto mr-auto"
         data-aos="fade-right"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine"
         data-aos-duration="1500">
      <img class="new-banner"
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/turbine-main.png"
      alt="Young hacker smiling">
    </div>
    <!-- Banner title and text -->
    <div class="fl-l w-50-l w100-m w90-s mt3-l center pt0-ns pt4"
         data-aos="fade-zoom-in"
         data-aos-easing="ease-in-back"
         data-aos-delay="1000"
         data-aos-offset="0"
         data-aos-duration="500">
      <h1 class="c-fluid-bk fheader-l f-6-m fheader-s fheader-vl fw9 tl tc-m neue ma0">PENTEST</h1>
      <p class="c-fluid-bk roboto fw3 lh2 f-sub ma0 tl tc-m w-auto-ns nt4-ns">
        FOR YOUR SOFTWARE DEVELOPMENT LIFE CYCLE
      </p>
      <!-- Get a Demo button -->
      <div class="tl-l tc pt2-l pt5">
        <a class="no-underline" href="{{ SITEURL }}/contact-us/">
          <span class="dib br2 bannerbt hv-bt-fluid-rd ph4-l ph5 pv2 bt-trans white b roboto pointer mt2">
              Get a Demo
          </span>
        </a>
      </div>
      <!-- End Demo button -->
    </div>
  </div>
</div>

{% endblock header %}

{% block content %}

<div class="slideshow-container bg-quotes bg-banner-sz coverm cover-s">
  <div class="slideshow-inner justify-center items-center flex w-100">
    <div class="mySlides fadein pv6">
      <div>
        <h2 class="white center roboto w-100 tc pv0-l pv7 ph3 f1-l f2 lh-solid mw7">
          Comprehensive Hacking at the Speed of your Business
        </h2>
      </div>
    </div>
    <div class="mySlides fadein dn pv6">
      <div>
        <h2 class="white center roboto w-100 tc pv0-l pv7 ph3 f1-l f2 lh-solid mw7">
          Effective Automation and Human Intelligence
        </h2>
      </div>
    </div>
  </div>
  <div class="tc pv4">
    <span class="dot h-slide-bt w2 ma0 bg-fluid-gray dib slide-bt-trans"></span>
    <span class="dot h-slide-bt w2 ma0 bg-fluid-gray dib slide-bt-trans"></span>
  </div>
  {% assets output="static/js/contactSlides.min.js", "js/tmp/contactSlides.min.js" %}
  <script type="text/javascript"
          src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
  {% endassets %}
</div>
</div>
<div class="mw8 mr-auto ml-auto ph3">
  <div class="w-100">
    <div class="pv6 dt-ns ml-auto mr-auto">
      <div class="w-50-l fr-l tc">
        <img
        data-aos="zoom-in"
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/product-integrates.png"
        alt="Young hacker smiling">
      </div>
      <div class="w-45-l fl-l tl mw6">
        <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/integrates/integrates-logo.png"
        alt="integrates logo">
        <h3 class="c-fluid-bk roboto fw7 f4 mv0 tl-l tc">
          The Platform Element that Controls the Process to Achieve Remediation
        </h3>
        <p class="c-fluid-bk roboto fw1 f5 lh-2">
          <strong class="b">Integrates</strong> is a platform where vulnerabilities
          are reported, classified and prioritized.
          It also allows you to define their treatments,
          as well as check the status
          and progress of their remediation.
        </p>
        <a class="c-fluid-bk no-underline hv-fluid-dkred f5 roboto fw1" href="{{ SITEURL }}/products/integrates/">
          Learn More <span class="c-dkred">></span>
        </a>

      </div>
    </div>
    <div class="pv6 dt-ns ml-auto mr-auto">
      <div class="w-50-l fl-l tc">
        <img
        data-aos="zoom-in"
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/product-drills.png"
        alt="Young hacker smiling">
      </div>
      <div class="w-45-l fr-l tl mw6">
        <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/drills/drills-logo.png"
        alt="Drills logo">
        <h3 class="c-fluid-bk roboto fw7 f4 mv0 tl-l tc">
          The Human Element that Continuously Detects Vulnerabilities
        </h3>
        <p class="c-fluid-bk roboto fw1 f5 lh-2">
          <strong class="b">Drills</strong> uses the right combination
          of technology and human intelligence
          to find deep and zero-day vulnerabilities
          during the software development life cycle.
          Forget about false positives and false negatives!
        </p>
        <a class="c-fluid-bk no-underline hv-fluid-dkred f5 roboto fw1" href="{{ SITEURL }}/products/drills/">
          Learn More <span class="c-dkred">></span>
        </a>
      </div>
    </div>
    <div class="pv6 dt-ns ml-auto mr-auto">
      <div class="w-50-l fr-l tc">
        <img
        data-aos="zoom-in"
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/product-forces.png"
        alt="Young hacker smiling">
      </div>
      <div class="w-45-l fl-l tl mw6">
        <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/forces-logo.png"
        alt="Forces logo">
        <h3 class="c-fluid-bk roboto fw7 f4 mv0 tl-l tc">
          The Robot Element that Breaks the Build to Force Remediation
        </h3>
        <p class="c-fluid-bk roboto fw1 f5 lh-2">
          <strong class="b">Forces</strong> allows you to implement
          DevSecOps into your project.
          It breaks the build to force the remediation
          of confirmed deep, re-opened and new peripheral vulnerabilities.
          It can also verify your post-deploy production status.
        </p>
        <a class="c-fluid-bk no-underline hv-fluid-dkred f5 roboto fw1" href="{{ SITEURL }}/products/forces/">
          Learn More <span class="c-dkred">></span>
        </a>
      </div>
    </div>
    <div class="pv6 dt-ns ml-auto mr-auto">
      <div class="w-50-l fl-l tc">
        <img
        data-aos="zoom-in"
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/services/service-continuous.png"
        alt="Young hacker smiling">
      </div>
      <div class="w-45-l fr-l tl mw6">
        <h3 class="c-fluid-bk roboto f1-ns f2 fw7 mt0 pt3 tl-l tc">Continuous Hacking</h3>
        <p class="c-fluid-bk roboto fw1 f5 lh-2">
          Vulnerabilities and security issues are continuously detected
          and reported during the entire software development cycle.
          Fluid Attacks runs comprehensive testing
          through SAST, DAST, IAST and SCA techniques,
          detecting all vulnerabilities with no false positives.
        </p>
        <div class="dib-ns tc">
          <a class="c-fluid-bk no-underline hv-fluid-dkred f5 roboto fw1" href="{{ SITEURL }}/services/continuous-hacking/">
            Learn More <span class="c-dkred">></span>
          </a>
        </div>
        <div class="dib-ns ph3 tc pv0-ns pv3">
          <a href="{{ SITEURL }}/contact-us/">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">
              Get a Demo
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="pv6 dt-ns ml-auto mr-auto">
      <div class="w-50-l fr-l tc">
        <img
        data-aos="zoom-in"
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/services/service-one-shot.png"
        alt="Young hacker smiling">
      </div>
      <div class="w-45-l fl-l tl mw6">
        <h3 class="c-fluid-bk roboto f1-ns f2 fw7 mt0 pt3 tl-l tc">One-Shot Hacking</h3>
        <p class="c-fluid-bk roboto fw1 f5 lh-2">
          Fluid Attacks detects and reports vulnerabilities and security issues
          within one specific version of your applications.
          All existing vulnerabilities are identified
          without false positives among them,
          thanks to our hybrid approach (tools + human reasoning).
        </p>
        <div class="dib-ns tc">
          <a class="c-fluid-bk no-underline hv-fluid-dkred f5 roboto fw1" href="{{ SITEURL }}/services/one-shot-hacking/">
            Learn More <span class="c-dkred">></span>
          </a>
        </div>
        <div class="dib-ns ph3 tc pv0-ns pv3">
          <a href="{{ SITEURL }}/contact-us/">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">
              Get a Demo
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ebook section -->
<div class="bg-ebook">
  <div class="pv6">
    <h2 class="white center roboto w-100 tc f1 lh3 pl3-l ph3">
      Are you going fast in the wrong direction?<br>
      Hacking with speed and precision
    </h2>
    <div class="tc">
      <a href="https://fluidattacks.docsend.com/view/fcq5m7gihzrfz2fu?utm_source=SalesForce&utm_campaign=4bddad20be-CAMPAIGN_08%2F07_Fluid&utm_medium=email&utm_term=0_1885d82ba1-4bddad20be-251550621">
        <button class="bg-transparent pointer white pv2 ph4 roboto fw7 f5 mt3 dib bt-trans br2 b--white ba">Download eBook Now</button>
      </a>
    </div>
  </div>
</div>
<!-- About us section -->
<div class="pt5 pb6-ns mt5">
  <div class="tc mw7 center">
    <h2 class="c-fluid-bk roboto tc f1-ns lh3">
      Worldwide Hacking Experts
    </h2>
  </div>
  <div class="tc mw7 center pb4">
    <p class="roboto c-fluid-bk fw1 f5 lh-2 mt2 ph5-l">
      Since 2001, <b class="fw7">Fluid Attacks</b> has been developing
      cybersecurity products and providing solutions for clients in
      industries like technology, banking, finance, healthcare, insurance,
      airlines, and retail.
    </p>
    <a class="c-fluid-bk no-underline hv-fluid-dkred f5 roboto fw1" href="{{ SITEURL }}/about-us/">
      Learn More <span class="c-dkred">></span>
    </a>
  </div>
  {% include "clients-carousel.html" %}
</div>
<div class="asap-bg asap-bg-s coverm cover-s justify-center items-center flex bg-center">
  <p class="white f2-ns f3 tc roboto b mv0">
    We find all vulnerabilities and report them ASAP
  </p>

</div>
{% endblock content %}
 <!-- Cookie consent -->
 <script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
