{% extends "base.html" %}
{% block meta %}
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9c4480b4-b8ae-44d8-9c6f-6300b86e9094" data-blockingmode="auto" type="text/javascript"></script>
<meta name="description"
      content="We're a pentesting and ethical hacking company
      that identifies and reports all your applications
      and software vulnerabilities ASAP.">
<meta name="keywords"
      content="{Fluid Attacks, Pentesting, Ethical Hacking, Security Testing, Cybersecurity">
{% endblock meta %}

{% block title %}Home | {{ SITENAME }}{% endblock title %}

{% block header %}

<div class="flex-ns flex-wrap-ns justify-between-m banner-bg bg-banner-sz coverm cover-s h50-l h6-m h40-s mb5 pb5">
  <div class="ba1 mb3 relative dt-ns mt0-ns pr3-ns pl3-ns pt3 ma-auto pt6-l pt4 mw9 ml-auto mr-auto w-100">
    <!-- Banner Image-->
    <div class="fr-l w-45-l w100-m w90-s tc ml-auto mr-auto">
      <img loading="lazy" class="new-banner" id="turbine"
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/turbine-main.png"
      alt="Young hacker smiling">
    </div>
    <!-- Banner title and text -->
    <div class="fl-l w-50-l w100-m w90-s mt3-l center pt0-ns pt4">
      <h1 class="turbine-text c-fluid-bk fheader-l f-6-m fheader-s fheader-vl fw9 tl tc-m neue ma0">PENTEST</h1>
      <p class="turbine-text c-fluid-bk roboto fw3 lh2 f-sub ma0 tl tc-m w-auto-ns nt4-ns">
        FOR YOUR SOFTWARE DEVELOPMENT LIFE CYCLE
      </p>
      <!-- Get a Demo button -->
      <div class="turbine-text tl-l tc pt2-l pt5">
        <a class="no-underline" href="{{ SITEURL }}/contact-us/">
          <span class="dib br2 bannerbt hv-bt-fluid-rd ph4-l ph5 pv2 bt-trans white b roboto pointer mt2">
              Get a Demo
          </span>
        </a>
      </div>
      <!-- End Demo button -->
    </div>
  </div>
</div>

{% endblock header %}

{% block content %}

<div class="mw9 center pv5">
  <div class="tl pl3-l pr0-l">
    <h1 class="c-fluid-bk center roboto w-100 tc ph3-ns ph3 f1-l f2 lh-solid mw7">
      Comprehensive Hacking at the Speed of your Business
    </h1>
  </div>
  <div class="pt4 pb3 pl3-l">
    <h2 class="c-fluid-bk tl-l tc f1-l f2 roboto">
      Products
    </h2>
  </div>
  <div class="pl3-l pr0-l dib w-100">
    <div class="mh0-l center fl min-vh-height">
      <ul class="list fr center w-60-l w-100 ph0-l ph3">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/product-integrates.png"
          alt="Young hacker smiling">
        </li>
      </ul>
      <div class="parallax_integrates">
        <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
          <li>
            <h2 class="roboto f2-ns f3 c-fluid-bk strong mv0">
              The Platform Element
            </h2>
          </li>
          <li>
            <h3 class="roboto fw1 f3-ns f4 mt0">
              Control the Process to Achieve Remediation
            </h3>
          </li>
          <li>
            <p class="c-fluid-bk roboto fw1 tl f4 lh-2">
              <strong class="b">Integrates</strong> is a platform that stores vulnerabilities
              and gives you access to their evidence in different phases and in real time.
              You can easily and quickly classify and prioritize them,
              define their treatments, and check the status and progress of their
              remediation.
            </p>
            <a href="{{ SITEURL }}/products/integrates/">
              <button class="button-white tl roboto fw7">Go to Integrates</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mh0-l center fl min-vh-height">
      <ul class="list fr center w-60-l w-100 ph0-l ph3 pb4">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/product-drills.png"
          alt="Young hacker smiling">
        </li>
      </ul>
      <div class="parallax_drills">
        <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
          <li>
            <h2 class="roboto strong c-fluid-bk f2-ns f3 mv0">
              The Human Element
            </h2>
          </li>
          <li>
            <h3 class="roboto f3-ns f4 fw1 mt0">
              Continuous Detection of Vulnerabilities
            </h3>
          </li>
          <li>
            <p class="c-fluid-bk roboto fw1 tl f4 lh-2">
              <strong class="b">Drills</strong>, through the right combination
              of technology and human intelligence, finds deep and zero-day vulnerabilities
              during the software development life cycle.
              Forget about false positives and false negatives.
              <strong class="b">Drills</strong> includes SAST, DAST, IAST, and SCA techniques.
            </p>
            <a href="{{ SITEURL }}/products/drills/">
              <button class="button-white tl roboto fw7">Go to Drills</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mh0-l center fl min-vh-height">
      <ul class="list fr center w-60-l w-100 ph0-l ph3 pb4">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/product-forces.png"
          alt="Young hacker smiling">
        </li>
      </ul>
      <div class="parallax_forces">
        <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
          <li>
            <h2 class="roboto c-fluid-bk f2-ns f3 strong mv0">
              The Robot Element
            </h2>
          </li>
          <li>
            <h3 class="roboto f3-ns f4 fw1 mt0">
              Break the Build to Force Remediation
            </h3>
          </li>
          <li>
            <p class="c-fluid-bk roboto fw1 tl f4 lh-2">
              <strong class="b">Forces</strong> breaks the build
              to force remediation of confirmed deep vulnerabilities,
              re-opened vulnerabilities, and new peripheral vulnerabilities.
              It can also verify your post-deploy production status.
            </p>
            <a href="{{ SITEURL }}/products/forces/">
              <button class="button-white tl roboto fw7">Go to Forces</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Services -->
<div class="mw9 center pb5">
  <div class="pt4 pb3 pl3-l">
    <h2 class="c-fluid-bk tl-l tc f1-l f2 roboto">
      Services
    </h2>
  </div>
  <div class="pl3-l pr0-l dib w-100">
    <div class="mh0-l center fl min-vh-height">
      <ul class="list fr center w-60-l w-100 ph0-l ph3 pb4">
        <li>
          <img
          class="fr-l"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/services/service-continuous.png"
          alt="Young hacker smiling">
        </li>
      </ul>
      <div class="parallax_continuous">
        <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
          <li>
            <h2 class="roboto c-fluid-bk f2-ns f3 strong mv0">
              Continuous Hacking
            </h2>
          </li>
          <li>
            <p class="roboto fw1 tl f3-ns f5 lh-2">
              Vulnerabilities and security issues are continuously detected
              and reported during the entire software development cycle.
              Fluid Attacks runs comprehensive testing
              through SAST, DAST, IAST and SCA techniques,
              detecting all vulnerabilities with no false positives.
            </p>
          </li>
          <li class="pt4-l">
            <div class="dib ph2">
              <a href="{{ SITEURL }}/services/continuous-hacking/">
                <button class="button-white tl roboto fw7">Learn More</button>
              </a>
            </div>
            <div class="dib ph2">
              <a href="{{ SITEURL }}/contact-us/">
                <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">
                  Get a Demo
                </button>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="mh0-l center fl min-vh-height">
      <ul class="list fr center w-60-l w-100 ph0-l ph3 pb4">
        <li>
          <img
          class="fr"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/services/service-one-shot.png"
          alt="Young hacker smiling">
        </li>
      </ul>
      <div class="parallax_oneshot">
        <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
          <li>
            <h2 class="roboto c-fluid-bk f2-ns f3 strong mv0">
              One Shot Hacking
            </h2>
          </li>
          <li>
            <p class="roboto fw1 tl f3-ns f5 lh-2">
              Fluid Attacks detects and reports vulnerabilities within one
              specific version of your application. All existing vulnerabilities
              are detected with no false positives.
            </p>
          </li>
          <li class="pt4-l">
            <div class="dib ph2">
              <a href="{{ SITEURL }}/services/one-shot-hacking/">
                <button class="button-white tl roboto fw7">Learn More</button>
              </a>
            </div>
            <div class="dib ph2">
              <a href="{{ SITEURL }}/contact-us/">
                <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">
                  Get a Demo
                </button>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Ebook section -->
<div class="bg-dk-red">
  <div class="pv6">
    <h2 class="white center roboto w-100 tc f1 lh3 pl3-l ph3">
      Are you going fast in the wrong direction?<br>
      Hacking with speed and precision
    </h2>
    <div class="tc">
      <a href="https://fluidattacks.docsend.com/view/fcq5m7gihzrfz2fu?utm_source=SalesForce&utm_campaign=4bddad20be-CAMPAIGN_08%2F07_Fluid&utm_medium=email&utm_term=0_1885d82ba1-4bddad20be-251550621">
        <button class="bannerbt pointer white pv2 ph4 roboto fw7 f5 mt3 dib bt-trans br2 b--white ba">Download eBook Now</button>
      </a>
    </div>
  </div>
</div>
<!-- About us section -->
<div class="mw9 center h6 pt6 pb6-ns mt5">
  <div class="tl fl-l w-40-l">
    <h2 class="c-fluid-bk center roboto w-100 tl-l tc f1-ns lh3 pl3-l ph3">
      Worldwide Hacking Experts
    </h2>
  </div>
  <div class="pl3-l pr0-l dib w-100 pb4">
    <ul class="list fl-l w-40-l w-70-m w-100 pl0-l ph3 center tl-ns tc">
      <li>
        <p class="roboto fw1 tl f3-ns f5 lh-2 mt2">
          Since 2001, Fluid Attacks has been developing cybersecurity products
          and providing solutions for clients in industries like technology,
          banking, finance, healthcare, insurance, airlines and retail.
          Fluid Attacks' security experts work closely with organizations
          to ensure that their systems' vulnerabilities are recognized,
          with no false positives and no false negatives,
          and closed at high speed.
        </p>
      </li>
      <li class="pv4">
        <a class="feature-button-r roboto fw1 fl-l fr tracked-1 f3 no-underline c-lightblack hv-fluid-dkred"
           href="{{ SITEURL }}/about-us/">
          <img
          class="w1 fr relative pt2 mt1 ml2"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-btn.svg"
          alt="Young hacker smiling">
          Read more
        </a>
      </li>
    </ul>
    <ul class="list w-60-l w-70-m w-100 pl6-l flex-l dn center mt4">
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo01.png"
          alt="RSA logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo02.png"
          alt="Mazda logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo03.png"
          alt="Manpower logo">
      </li>
    </ul>
    <ul class="list w-60-l w-70-m w-100 pl6-l flex-l dn center">
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo04.png"
          alt="Kometsales logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo05.png"
          alt="Payvalida logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo06.png"
          alt="Libera logo">
      </li>
    </ul>
    <ul class="list w-60-l w-70-m w-100 pl6-l flex-l dn center">
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo07.png"
          alt="Berkeley logo">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo08.png"
          alt="Young hacker smiling">
      </li>
      <li class="w-30 tc">
        <img
          class="relative"
          src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted-by/logo09.png"
          alt="Young hacker smiling">
      </li>
    </ul>
  </div>
  {% include "clients-carousel.html" %}
</div>
<div class="asap-bg asap-bg-s coverm cover-s justify-center items-center flex bg-center">
  <p class="white f2-ns f3 tc roboto b mv0">
    We find all vulnerabilities and report them ASAP
  </p>

</div>
{% endblock content %}
 <!-- Cookie consent -->
 <script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
