<div class="cssmenu bg-white lh-solid h-navbar cover shadow-menu relative">
  <div class="b relative w-100 z-5 mw9 mr-auto ml-auto">
    <ul class="list ma0 pa0 overflow-hidden">
      <li class="fl">
        <a class="db tc pa1 no-underline" href="{{ SITEURL }}/">
          <img loading="lazy" class="h-logo ml3 mv2 pv2 absolute"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo-menu-new.svg" alt="Young hacker smiling">
        </a>
      </li>
      <li class="relative fr mv4-l mv3 mr5-l right-small pv3-l pv-4-m">
        <input type="checkbox" id="op" class="dn" />
        <div class="lower">
          <label for="op" class="pointer dib h2-l">
            <img loading="lazy" class="nt-menu-btn pv0-l pv1 w-menu-bt lower-img w2-l relative ph2" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/menu.svg"
              alt="Young hacker smiling">
            </label>
        </div>
        <div class="overlay overlay-hugeinc bg-white fixed w-100 h-100 top-0 left-0 z-100 overflow-y-auto">
          <div class="mw9 tr ml-auto mr-auto ph3">
            <label for="op" class="mr5-l right-small">
              <img
                loading="lazy"
                class="lower-img w2-l w-menu-bt mv4-l pv2-l mv3 pv-4-m right-0 pointer z-100 relative"
                src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cross.png"
                alt="Young hacker smiling">
            </label>
          </div>
          <nav class="h-auto tc t-50 ty-50 absolute right-0 left-0 pv4 mh-100">
            <ul class="o-40 menu-trans dib h-100 list ma0 pa0 relative tl w-auto minw-menu">
              <div class="products-menu h-maxcontent">
                <li class="db pb3">
                  <input class="dn" type="checkbox" name="products" id="products-title">
                  <label for="products-title" class="pointer hv-fluid-rd f3 c-fluid-bk fw3 menu-txt-trans roboto">
                    Products <div class="dib w1"><img loading="lazy" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-down.svg" alt="arrow down"></div></label>
                  </a>
                  <div class="products-list pv2 dn">
                    <ul class="list bg-graylight">
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto pv"
                           href="{{ SITEURL }}/products/integrates/">
                            Integrates
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/products/drills/">
                            Drills
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/products/forces/">
                            Forces
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </div>
              <div class="usecases-menu h-maxcontent">
                <li class="db pb3">
                  <input class="dn" type="checkbox" name="usecases" id="usecases-title">
                  <label for="usecases-title" class="pointer hv-fluid-rd f3 c-fluid-bk fw3 menu-txt-trans roboto">
                    Services <div class="dib w1"><img loading="lazy" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-down.svg" alt="arrow down"></div></label>
                  </a>
                  <div class="usecases-list pv2 dn">
                    <ul class="list bg-graylight">
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/services/continuous-hacking/">
                          Continuous Hacking
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/services/one-shot-hacking/">
                           One-shot Hacking
                          </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </div>
              <div class="aboutus-menu h-maxcontent">
                <li class="db pb3">
                  <input class="dn" type="checkbox" name="about-us" id="aboutus-title">
                  <label for="aboutus-title" class="pointer hv-fluid-rd f3 c-fluid-bk fw3 menu-txt-trans roboto">
                    About Us <div class="dib w1"><img loading="lazy" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-down.svg" alt="arrow down"></div></label>
                  </a>
                  <div class="aboutus-list pv2 dn">
                    <ul class="list bg-graylight">
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto pv"
                           href="{{ SITEURL }}/about-us/certifications/">
                            Certifications
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/about-us/differentiators/">
                            Differentiators
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/about-us/values/">
                            Values
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/about-us/reviews/">
                            Reviews
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/resources/">
                            Resources
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/about-us/events/">
                            Events
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/about-us/people/">
                            People
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/about-us/partners/">
                            Partners
                        </a>
                      </li>
                      <li class="pv2">
                        <a class="hv-fluid-rd f4 c-fluid-bk fw1 no-underline menu-txt-trans roboto"
                           href="{{ SITEURL }}/security/">
                            Security
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </div>
              <li class="db pb3 mb5">
                <a href="{{ SITEURL }}/blog/"
                   class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">
                  Blog
                </a>
              </li>
              <li class="db pb3">
                <a href="{{ SITEURL }}/contact-us/"
                   class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">
                  Contact
                </a>
              </li>
              <li class="db pb3">
                <a href="{{ SITEURL }}/careers/"
                    class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">
                  Careers
                </a>
              </li>
              <li class="db pb3">
                <a href="{{ SITEURL }}/faq/"
                   class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">
                  FAQ
                </a>
              </li>
              <li class="db pb3">
                <a href="https://community.fluidattacks.com/"
                   class="hv-fluid-rd f3 c-fluid-bk fw3 no-underline menu-txt-trans roboto">
                  Community
                </a>
              </li>
              <li>
                <!-- social media -->
                <div class="divsocial tl flex pt4 pb3">
                  <a class="pr3 no-underline" href="https://www.instagram.com/fluidattacks/">
                    <img loading="lazy" src="{{ SITEURL }}/theme/images/social-media/social-instagram.png"
                      alt="Instagram logo">
                  </a>
                  <a class="pr3 no-underline" href="https://www.facebook.com/Fluid-Attacks-267692397253577/">
                    <img loading="lazy" src="{{ SITEURL }}/theme/images/social-media/social-facebook.png"
                      alt="Facebook logo">
                  </a>
                  <a class="pr3 no-underline" href="https://www.linkedin.com/company/fluidattacks/">
                    <img loading="lazy" src="{{ SITEURL }}/theme/images/social-media/social-linkedin.png"
                      alt="Linkedin logo">
                  </a>
                  <a class="pr3 no-underline" href="https://twitter.com/fluidattacks">
                    <img loading="lazy" src="{{ SITEURL }}/theme/images/social-media/social-twitter.png"
                      alt="Twitter logo">
                  </a>
                  <a class="pr3 no-underline" href="https://www.youtube.com/c/fluidattacks/">
                    <img loading="lazy" src="{{ SITEURL }}/theme/images/social-media/social-youtube.png"
                      alt="Youtube logo">
                  </a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </li>
      <!-- Searching features -->
      <li class="relative fr mt-menu mr4 mv4-l pv3-l pv-4-m">
        <label for="tipue_search_input"
          class="search-box-label">
          <span>
            <img class="search-icon relative w-search-icon z-2 pointer ph2-l h-search-icon pv1-l"
                src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/search.svg"
                alt="Magnifying glass">
          </span>
        </label>
      </li>
      <li class="relative fr mt-menu mr3 mv4-l pv3-l pv-4-m db-l dn">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/contact-us/">
          <button class="outline-transparent fw7 br2 ph2 pv1 bg-white bc-fluid-red ba hv-fluid-rd hv-fluid-bd bt-trans c-dkred pointer">CONTACT</button>
        </a>
      </li>
      <li class="db-ns dn relative fr mt-menu mr3 pr2 mv4-l mv3 pv3-l pv-4-m">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="https://fluidattacks.com/integrates">
          <button class="outline-transparent fw7 bn ph0 pv1 hv-fluid-rd bg-transparent pointer">LOGIN</button>
        </a>
      </li>
      <li class="db-xl display-none relative fr mt-menu mr3 pr2 mv4-l mv3 pv3-l pv-4-m">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/blog/">
          <button class="outline-transparent fw7 bn ph0 pv1 hv-fluid-rd bg-transparent pointer">BLOG</button>
        </a>
      </li>
      <li class="db-xl display-none relative fr mt-menu mr3 pr2 mv4-l mv3 pv3-l pv-4-m">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/resources/">
          <button class="outline-transparent fw7 bn ph0 pv1 hv-fluid-rd bg-transparent pointer">RESOURCES</button>
        </a>
      </li>
      <li class="db-l dn fr mt-menu mr3 pr2 mv4-l mv3 pv3-l pv-4-m products-index">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/products/">
          <button class="outline-transparent fw7 bn ph0 pv1 hv-fluid-rd bg-transparent pointer">
            PRODUCTS<div class="dib w1"><i class="fas fa-angle-down"></i></div>
          </button>
        </a>
        <div class="products-content roboto br3 br--bottom pt4 fadein">
          <a class="f-key-features fw4" href="{{ SITEURL }}/products/integrates/">Integrates</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/products/drills/">Drills</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/products/forces/">Forces</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/products/rules/">Rules</a>
        </div>
      </li>
      <li class="db-l dn fr mt-menu mr3 pr2 mv4-l mv3 pv3-l pv-4-m usecases-index">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/services/continuous-hacking/">
          <button class="outline-transparent fw7 bn ph0 pv1 hv-fluid-rd bg-transparent pointer">
            SERVICES<div class="dib w1"><i class="fas fa-angle-down"></i></div>
          </button>
        </a>
        <div class="usecases-content roboto br3 br--bottom pt4 fadein">
          <a class="f-key-features fw4" href="{{ SITEURL }}/services/continuous-hacking/">Continuous Hacking</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/services/one-shot-hacking/">One-shot Hacking</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/services/comparative/">Comparative</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="mw9 ml-auto mr-auto">
  <form action="{{ SITEURL }}/search.html">
    <div class="search-div search roboto h2 w-100 bg-graylight tr dn h3">
      <input type="text"
            name="q"
            id="tipue_search_input"
            pattern="[a-zA-Z0-9 ]*"
            title="Only alphanumeric characters"
            class="search-input dn h3 bn br1 h-search bg-graylight outline-transparent f5 mr0"
            placeholder="Enter your search...">
    </div>
  </form>
</div>