{% extends "base.html" %}

{% block customcss %}
{% assets filters="scss", output="static/css/archives.min.css", "css/custom/blog.scss","css/custom/archives.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %} 
{% endblock customcss %}

{% block title %}{{ SITENAME }} - {{ gettext('Archives') }}{% endblock %}

{% block header %}
<div class="container extend">
    <div class="row">
        <div class="col-md-12">
            <h1 class="ico-left article ico ico-blog">
                {{ gettext('Archives for') }} {{ SITENAME }}
            </h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="wrapper main">
    <div class="page container">
        <div class="row archives">
            <div class="col-md-12">
                <dl>
                    {% for article in dates %}
                        <dt>{{ article.locale_date }}</dt>
                        <dd>
                            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock content %}