{% extends "base.html" %}

{% block customcss %}
{% assets filters="scss,cssmin", output="static/css/blog-article.min.css", "css/custom/blog.scss", "css/custom/article.scss" %}
	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %} 
{% endblock customcss %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}"/>{% endblock canonical %}
{% block title %}{{ SITENAME }}&nbsp;|&nbsp; {{ article.title }}{% endblock title %}

{% block header %}
<div class="container">
	<div class="row">
		<div class="col-md-12 pad-0">
			<h1 class="ico-left article ico ico-blog">
				{{ article.category|replace("-", " ") }}
			</h1>
			{% if  article.featured_image %}
			<figure class="cover">
				<img src="{{ SITEURL }}/blog/{{ article.slug }}/{{ article.featured_image }}" alt="Cover">
			</figure>
			{% endif %}
		</div>
	</div>
</div>
{% endblock header %}

{% block content %}
<!-- Post Content -->
<div class="container post-article">
	<div class="row">
		<div class="col-md-12 post-article-content">
			<h1 class="post-title">{{ article.title }}</h1>
			
			{% if article.headline %}
			<h3 class="subheading">{{ article.headline }}</h3>
			{% endif %}

			<main class="content" role="main">
				<article>
					{% import 'translations.html' as translations with context %}
					{{ translations.translations_for(article) }}
					{{ article.content }}
				</article>
			</main>

			<ul class="meta">
				<li>
					<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blog/ico-author.png" alt="{{ gettext('Author') }}"/>
					{% for author in article.authors %} <a href="../../{{ author.url }}"> {{ author }} </a> {% endfor %}
				</li>
				<li>
					<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blog/ico-comment.png" alt="{{ gettext('Comment') }}"/>
					<a href="./#disqus_thread">{{ gettext('Comment') }}</a>
				</li>
				<li>
					<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blog/ico-category.png" alt="{{ gettext('Cateogry') }}"/>
					<a href="../../category/{{ article.category }}.html">{{ article.category|replace("-", " ") }}</a>
				</li>
				<li>
					<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blog/ico-date.png" alt="{{ gettext('Date') }}"/>
					<a>{{ article.locale_date }}</a>
				</li>
			</ul>

		</div>
	</div>



	{% if article.tags %}
	<div class="row tags">
		{% for tag in article.tags %}
		<a href="../../{{ tag.url }}">{{ tag | escape }}</a>
		{% endfor %}
	</div>
	{% endif %}

	<div class="row about-author">
		<div class="col-md-2">
			<figure>
				<img src="../../images/authors/{{ article.writer }}.png" alt="{{ gettext('Author') }}">
			</figure>
		</div>
		<div class="col-md-10">
			<a href="../../{{ article.author.url }}">{{article.name}}</a>
			<p>
				{{article.about1}} <br/>
				{{article.about2}}
			</p>
		</div>
	</div>


	{% if article.related_posts %}
	<section class="related">
		<div class="row">
			<div class="col-md-12">
				<h1 class="ico-left ico ico-related related-title">
					{{ gettext('Related') }}
		        </h1>
			</div>
		</div>
		<div class="row">
			{% for related_post in article.related_posts %}
			<div class="col-12 col-md-6 col-lg-4">            
				<div class="post">
					
					<a class="headline" href="{{ SITEURL }}/{{ related_post.url }}" rel="bookmark" title="Permalink to {{ related_post.title|striptags }}">

						<h2>{{ related_post.title }}</h2>

						<figure>
							{% if related_post.featured_image %}            
							<img src="{{ SITEURL }}/blog/{{ related_post.slug }}/{{ related_post.featured_image }}" alt="related_post.title"/>
							{% endif %}
						</figure>
					</a>

					{% if SHOW_FULL_ARTICLE %}
						{{ related_post.content }}
					{% else %}
						<p>
						{% if related_post.has_summary %}
							{{ related_post.summary }}
						{% elif related_post.summary %}
							{{ related_post.summary|striptags|truncate(135) }}
						{% endif %}
						</p>                    
					{% endif %}

					<div class="data row">
						<div class="col-md-6">
							<figure>
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blog/ico-author.png" alt="{{ gettext('Author') }}"/>
							</figure>
							{% for author in related_post.authors %}
								<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
							{% endfor %}
						</div>
						<div class="col-md-6">
							<figure>
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blog/ico-date.png" alt="{{ gettext('Date') }}"/>
							</figure>
							{{related_post.date.strftime('%Y / %m / %d')}}
						</div>
					</div>

					<a class="btn btn-green btn-center btn-small read-more" href="{{ SITEURL }}/{{ related_post.url }}">Read More</a>
					
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	{% endif %}

	{% if article.modified %}
	<span class="meta">{{ gettext('Updated on') }} {{ article.locale_modified }}</span>
	{% endif %}

	{% if article.share_post and article.status != 'draft' %}
	<div>
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a37e74c4b1448ce"></script>
	</div>
	{% endif %}

	<div class="row prev-next-articles">
	
		{% if article.prev_article %}

		<div class="col-md-6">
			<a href="../../{{ article.prev_article.url}}">
				<< {{ article.prev_article.title }}
			</a>
		</div>

		{% endif %}

		{% if article.next_article %}

		<div class="col-md-6">
			<a href="../../{{ article.next_article.url}}">
			{{ article.next_article.title }} >>
			</a>
		</div>

		{% endif %}
	</div>

	{% if DISQUS_SITENAME and SITEURL %}
	<div class="comments">
	<h3>{{ gettext('Leave a comment') }}</h3>
	<div id="disqus_thread"></div>
	{% if DEFAULT_LANG == "es" %}
	<script type="text/javascript">
	var disqus_config = function () {
	this.page.identifier = "{{ article.slug }}";
	this.page.url = "{{ SITEURL }}/{{ article.url }}";
	this.language = "es_AR";
	};
	(function() {
	var d = document, dsq = d.createElement('script');
	dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
	dsq.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(dsq);
	})();
	</script>
	{% else %}
	<script type="text/javascript">
	var disqus_config = function () {
	this.page.identifier = "{{ article.slug }}";
	this.page.url = "{{ SITEURL }}/{{ article.url }}";
	};
	(function() {
	var d = document, dsq = d.createElement('script');
	dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
	dsq.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(dsq);
	})();
	</script>
	{% endif %}
	</div>
	<script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
	{% endif %}

</div>
{% endblock content %}