<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Script to include Google Analytics --> 
	{% assets filters="uglifyjs", output="static/js/analytics.min.js", "js/plugins/analytics/analytics.js" %}
	<script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
	{% endassets %}
	{% if GOOGLE_SITE_VERIFICATION %}
	<meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}">
	{% endif %}
	<title>{% block title %}{{ SITENAME }}{% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{% endif %}{% endblock title %}</title>
	{% block canonical %}{% endblock canonical %}
	<link rel="shortcut icon" type="image/x-icon" href="https://secure.gravatar.com/blavatar/f82913ee12d603d8a6a348614916a1d9?s=32" sizes="16x16" />
	<link rel="icon" type="image/x-icon" href="https://secure.gravatar.com/blavatar/f82913ee12d603d8a6a348614916a1d9?s=32" sizes="16x16" />
	<link rel="apple-touch-icon-precomposed" href="https://secure.gravatar.com/blavatar/f82913ee12d603d8a6a348614916a1d9?s=114" />
	{% for name,link in SOCIAL if name in ['rss', 'rss-square'] %}
	<link href="{{ link }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
	{% else %}
	{% if FEED_ALL_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
	{% endif %}
	{% if FEED_ALL_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
	{% endif %}
	{% if FEED_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
	{% endif %}
	{% if FEED_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}
	{% if CATEGORY_FEED_ATOM and category %}
	<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
	{% endif %}
	{% if CATEGORY_FEED_RSS and category %}
	<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
	{% endif %}
	{% if TAG_FEED_ATOM and tag %}
	<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
	{% endif %}
	{% if TAG_FEED_RSS and tag %}
	<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
	{% endif %}
	{% endfor %}
	<!-- PLUGINS CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" crossorigin="anonymous">
	<!-- Compress and Minify CSS files and bundle from SASS files -->  
	{% assets filters="cssmin", output="static/css/style.min.css", "bundle" %}
	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	{% endblock head %}
	{% block customcss %}{% endblock customcss %}
	{% assets filters="scss", output="static/css/responsive.css", "css/custom/responsive-pages.scss", "css/custom/responsive.scss", "css/custom/responsive-mobile.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}
	{% if page %}{% if page.slug == 'home/' %}
	{% assets filters="scss", output="static/css/responsive-home.css", "css/custom/responsive-home.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}
	{% endif %}{% endif %}
	{% block opengraph %}
	{% for admin in FACEBOOK_ADMINS %}
	<meta property="fb:admins" content="{{ admin }}" >
	{% endfor %}
	{% for LOC in LOCALE %}
	<meta property="og:locale" content="{{ LOC }}">
	{% endfor %}
	<meta property="og:site_name" content="{{ SITENAME }}">
	{% endblock opengraph %}
	{% block twitter_card %}
	{% for name,link in SOCIAL if name in ['twitter'] %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
	<meta name="twitter:title" content="{{ SITENAME }}">
	<meta name="twitter:description" content="{{ SITESUBTITLE|default('View the blog.') }}">
	{% if HEADER_COVER %}
	<meta name="twitter:image" content="{{ SITEURL }}/{{ HEADER_COVER }}">
	{% else %}
	<meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
	{% endif %}
	{% endfor %}
	{% endblock twitter_card %}
	{% if FAVICON %}
	<link rel="icon" href="/{{FAVICON}}">
	{% endif %}
	<!--
	<script src="https://app.likeparrot.com/private/integration/likeparroti.js" type="text/javaScript"></script><link id="estilos_likeparrot_chat_externo" rel="stylesheet" media="all" type="text/css" href="https://app.likeparrot.com/private/integration/estilos/estilos.css"/><script type="text/javaScript">likeparrotu="6c777899b023a1f0b79aa11288df0d7a"; likeparrotdom="7766f1450ba08bc33b04e752ffedc071"; </script>
	-->
</head>
	<body{% if page %} class="page-{{ page.slug|replace('/', '') }}"{% endif %}>
		{% include 'navigationbar.html' %}
		<header class="{% if page %}pelican-page{% if page.slug == 'home/' %} header-home{% endif %}{% endif %}{% if page_name == 'index' %} blog-index{% endif %}">
		{% block header %}{% endblock header %}
		</header>
		{% block content %}{% endblock content %}
		<footer>
			{% include 'footer.html' %}
		</footer>
		<!-- jQuery, Bootstrap Core and Menu -->
		{% assets filters="uglifyjs", output="static/js/theme.min.js", "js/plugins/jquery/jquery.min.js", "js/plugins/popper/popper.min.js", "js/plugins/bootstrap/bootstrap.min.js", "js/custom/global.js" %}
		<script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
		{% endassets %}
		{% block javascript %}{% endblock javascript %}
	</body>
</html>