{% extends "index.html" %}

{% block customcss %}
{% assets filters="scss", output="static/css/article.min.css", "css/custom/article.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %} 
{% endblock customcss %}

{% block title %}{{ SITENAME }} - {{ gettext('Categories') }}{% endblock %}

{% block header %}
<div class="container extend">
	<div class="row">
		<div class="col-md-12">
			<h1 class="ico-left article ico ico-blog">
				{{ gettext('Categories') }}:
			</h1>
		</div>
	</div>
</div>
{% endblock header %}

{% block content %}
<div class="wrapper main">
	<div class="page container">
		<div class="row">
		
			{% for category, articles in categories|sort %}
			<div class="col-md-6">
				<a class="list-lnk" href="{{ category.url }}" rel="bookmark">
					{{ category|replace("-", " ") }} ({{ articles|count }})
				</a>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock content %}