<a class="go-top" href="#">Subir</a>
<div class="container">
	<div class="row">
		<div class="col-12 col-sm-6 col-lg-3">
			<ul>
				<li>
					<a class="base" href="{{ SITEURL }}{{ gettext('/about-us') }}">{{ gettext('About Us') }}</a>
					<ul>
						<li><a href="{{ SITEURL }}{{ gettext('/about-us') }}">{{ gettext('Who we are?') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/about-us') }}">{{ gettext('What we do?') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/about-us') }}">{{ gettext('Why Fluid?') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/about-us') }}">{{ gettext('Our Team') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/about-us') }}">{{ gettext('Work with us') }}</a></li>
					</ul>
				</li>
				<li>
					<a href="{{ SITEURL }}{{ gettext('/clients') }}">{{ gettext('Clients') }}</a>
					<ul>
						<li><a href="{{ SITEURL }}{{ gettext('/clients') }}">{{ gettext('Companies') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/clients') }}">{{ gettext('Satisfaction') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/clients') }}">{{ gettext('Testimonials') }}</a></li>
					</ul>
				</li>
				<li>
					<a class="base" href="{{ SITEURL }}">Blog</a>
					<ul>
						<li><a href="{{ SITEURL }}">{{ gettext('News') }}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<ul>
				<li>
					<a class="base" href="{{ SITEURL }}{{ gettext('/solutions') }}">{{ gettext('Services') }}</a>
					<ul>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}">{{ gettext('Security application tests') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}">{{ gettext('Infraestructure security tests') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}">{{ gettext('Source code analysis') }}</a></li>
					</ul>
				</li>
				<li>
					<a class="base" href="{{ SITEURL }}{{ gettext('/solutions') }}">{{ gettext('Products') }}</a>
					<ul>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}">FluidIntegrates</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}">FluidAsserts</a></li>
					</ul>
				</li>
				<li>
					<a class="base" href="{{ SITEURL }}{{ gettext('/solutions') }}">{{ gettext('By experience') }}</a>
					<ul>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis{{ gettext('/web-apps') }}">{{ gettext('Web applications') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis{{ gettext('/mobile-apps') }}">{{ gettext('Mobile applications') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis/cloud">{{ gettext('Cloud') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis{{ gettext('/corporative-infrastructure') }}">{{ gettext('Corporative infrastructure') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis{{ gettext('/critical-infrastructure') }}">{{ gettext('Critical infrastructure') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}/expertis/iot">IOT</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<ul>
				<li>
					<a class="base" href="{{ SITEURL }}{{ gettext('/solutions') }}">{{ gettext('By sector') }}</a>
					<ul>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}{{ gettext('/financial') }}">{{ gettext('Financial') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}{{ gettext('/communication') }}">{{ gettext('Communication') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}{{ gettext('/commercial') }}">{{ gettext('Commercial') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}{{ gettext('/technology') }}">{{ gettext('Technology') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}{{ gettext('/energetic') }}">{{ gettext('Energetic') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}/industrial">Industrial</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}{{ gettext('/transport') }}">{{ gettext('Transport') }}</a></li>
					</ul>
				</li>
				<li>
					<a class="base" href="{{ SITEURL }}{{ gettext('/solutions') }}">{{ gettext('Methodology') }}</a>
					<ul>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}{{ gettext('/project-methodology') }}">{{ gettext('By project') }}</a></li>
						<li><a href="{{ SITEURL }}{{ gettext('/solutions') }}{{ gettext('/concurrent-methodology') }}">{{ gettext('Concurrent') }}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-lg-2">
			<a class="btn btn-outline" href="{{ SITEURL }}{{ gettext('/contact-us') }}">{{ gettext('Contact us') }}</a>
			<ul class="social">
				<li>
					<a href="https://www.facebook.com/fluidsignal/" target="_blank">
						<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/global/social-fb.png" alt="Facebook"/>
					</a>
				</li>
				<li>
					<a href="https://co.linkedin.com/in/fluidsignal" target="_blank">
						<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/global/social-in.png" alt="LinkedIn"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-right">
			<a href="{{ SITEURL }}/home">
				<img alt="Fluid" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/global/logo-white.png"/>
			</a>
		</div>
	</div>
</div>