{% extends "base.html" %}

{% block customcss %}
{% assets filters="scss,cssmin", output="static/css/blog.min.css", "css/custom/blog.scss" %}
	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %} 
{% endblock customcss %}

{% block header %}
	<h1 class="text-center ico ico-top ico-blog text-green pad-top-55">
		Blog
	</h1>
	<p class="text-center text-white">
		{{ gettext('Let´s talk about security, tell us what do you think?') }}
	</p>
{% endblock header %}

{% block content %}
	<div class="wrapper category main">
		<div class="container">
			<div class="row">

				{% set var = 0 %} {% for article in articles_page.object_list %} 

				{% set var = var + loop.index %}

				<div class="col-12 col-md-6 col-lg-4">
					<div class="post">
						
						<a class="headline" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">

							<h2>{{ article.title }}</h2>

							<figure>
								{% if article.featured_image %}            
								<img src="{{ SITEURL }}/blog/{{ article.slug }}/{{ article.featured_image }}" alt="{{ article.title }}"/>
								{% endif %}
							</figure>
						</a>

						{% if SHOW_FULL_ARTICLE %}
							{{ article.content }}
						{% else %}
							<p>
							{% if article.has_summary %}
								{{ article.summary }}
							{% elif article.summary %}
								{{ article.summary|striptags|truncate(135) }}
							{% endif %}
							</p>                    
						{% endif %}

						<div class="data row">
							<div class="col-md-6">
								<figure>
									<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blog/ico-author.png" alt="{{ gettext('Author') }}"/>
								</figure>
								{% for author in article.authors %}
									<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
								{% endfor %}
							</div>
							<div class="col-md-6">
								<figure>
									<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blog/ico-date.png" alt="{{ gettext('Date') }}"/>
								</figure>
								{{article.date.strftime('%Y / %m / %d')}}
							</div>
						</div>

						<a class="btn btn-green btn-center btn-small read-more" href="{{ SITEURL }}/{{ article.url }}">{{ gettext('Read More') }}</a>
						
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{% include "pagination.html" %}
{% endblock content %}