{% extends "base.html" %}

{% block customcss %}
{% assets filters="scss,cssmin", output="static/css/kb.min.css", "css/custom/article.scss", "css/custom/pages/kb.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %} 
{% endblock customcss %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/kb/"/>{% endblock canonical %}
{% block title %}{{ SITENAME }}{% endblock title %}

{% block header %}
<div class="container extend">
	<div class="row">
		<div class="col-md-12">
			<h1 class="ico-left article ico ico-blog">
				Knowledge Base
			</h1>
		</div>
	</div>
</div>
{% endblock header %}

{% block content %}
<div class="wrapper main">
    <div class="page container">
    	<div class="row">
    		<div class="col-md-12">

    			<div class="accordion kb-accordion" id="accordion" role="tablist">

					{% for page in pages if page.kb %}
					{% if loop.first %}
					
					<div class="card">
						<div class="card-header" role="tab" id="heading-tab-{{ loop.index }}">
							<a data-toggle="collapse" href="#tab-{{ loop.index }}" role="button" aria-expanded="true" aria-controls="tab-{{ loop.index }}">
								{{ page.category }}{% set cat = page.category %}
							</a>
						</div>
						<div id="tab-{{ loop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading-tab-{{ loop.index }}" data-parent="#accordion">
							<div class="card-body">
								<ul>
									{% for kbarticle in pages if kbarticle.kb and kbarticle.category == cat%}
									<li><a href="../{{ kbarticle.slug }}">{{ kbarticle.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					{% else %}
					{% if page.category != loop.previtem.category %}
					
					<div class="card">
						<div class="card-header" role="tab" id="heading-tab-{{ loop.index }}">
							<a data-toggle="collapse" href="#tab-{{ loop.index }}" role="button" aria-expanded="true" aria-controls="tab-{{ loop.index }}">
								{{ page.category }}{% set cat = page.category %}
							</a>
						</div>
						<div id="tab-{{ loop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading-tab-{{ loop.index }}" data-parent="#accordion">
							<div class="card-body">
								<ul>
									{% for kbarticle in pages if kbarticle.kb and kbarticle.category == cat%}
									<li><a href="../{{ kbarticle.slug }}">{{ kbarticle.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					{% endif %}
					{% endif %}
					{% endfor %}

				</div>

			</div>
		</div>
	</div>
</div>
{% assets filters="uglifyjs", output="static/js/kb.min.js", "js/kb.js" %}
<script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %} 
{% endblock content %}