{% extends "base.html" %}

{% block customcss %}
{% assets filters="scss,cssmin", output="static/css/content.min.css", "css/custom/pages/content.scss" %}
	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %} 
{% endblock customcss %}

{% block title %}{{ SITENAME }} - {{ gettext('Mobile Apps') }}{% endblock title %}

{% block header %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="ico-left ico ico-experience">
          {{ page.title }}
        </h1>
      </div>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="wrapper">
    <section class="top-article">
      <div class="page container">
        <div class="row">
          <div class="col-lg-5">
            <figure class="icon-page icon-mobile-app">
	      <img class="img-fluid" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/figure-web-app.png" alt="Aplicaciones móviles">
            </figure>
            {{ page.content }}
          </div>
        </div>
      </div>
    </section>
    {% if page.objectives %}
      {% for obj_page in pages if obj_page.slug == "objetivos/" %}
        <section class="objectives">
          <div class="container">
            <div class="row mar-bot-50">
              <div class="col-md-12">
                <h1 class="text-center">
                  {{ obj_page.title }}
                </h1>
              </div>
            </div>
            <div class="row">
              {{ obj_page.content }}
            </div>
          </div>
        </section>
      {% endfor %}
    {% endif %}
    {% if page.criteria %}
      {% for crit_page in pages if crit_page.slug == "criterio/" %}
        <section class="criteria">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-white mar-top-30">
                <div class="row">
                  <div class="col-lg-6">
                    <h1>{{ crit_page.title }}</h1>
                    {{ crit_page.content }}
                  </div>
                  <div class="col-lg-6 d-none d-lg-flex">
                    <figure class="icon-security">
                      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/content/figure-security.png" alt="Shield with lock symbol">
                    </figure	>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endfor %}
    {% endif %}
    {% if page.criteria %}
      {% for success_page in pages if success_page.slug == "casos-exito/" %}
        <div class="success-cases">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-center ico ico-top ico-success-cases">{{ success_page.title }}</h1>
                {{ success_page.content }}
              </div>
            </div>
            <div class="row mar-bot-50">
              <div class="col-md-12">
                {% include "success-cases.html" %}
              </div>
            </div>
          </div>
        </div>
	<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/owl.carousel/owl.carousel.js"></script>
	<script type="text/javascript">

	/* Carousels */

	$('#brands-carousel').owlCarousel({
 	  loop: true,
	  margin: 10,
	  nav: false,
	  responsive:{
	    0:{
	      items:1
	    },
	    600:{
	      items:3
	    },
	    1000:{
	      items:4
	    }
	  }
	});
		
	</script>
      {% endfor %}
    {% endif %}
    {% if page.proposal %}
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mar-50-0">
            <a class="btn btn-green max-wid-max" href="javascript:;">Solicite una propuesta</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content%}
