{% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
	<!-- Pager -->
	<div class="container">
		
		<div class="row {% if articles_page.has_next() %} justify-content-end{% endif %}">
			
			{% if articles_page.has_previous() %}
			<div class="col-md-6">
				<a class="btn btn-page btn-page-prev" href="{{ SITEURL }}/{{ articles_previous_page.url }}"> &larr; {{ gettext('Previous') }}</a>
			</div>
			{% endif %}
			{% if articles_page.has_next() %}
			<div class="col-md-6">
				<a class="btn btn-page btn-page-next" href="{{ SITEURL }}/{{ articles_next_page.url }}">{{ gettext('Next') }} &rarr;</a>
			</div>
			{% endif %}

		</div>

		<div class="row">

			<div class="col-md-12 text-center">
				<div class="page-info">
					{{ gettext('Page') }} {{ articles_page.number }} {{ gettext('of') }} {{ articles_paginator.num_pages }}
				</div>
			</div>

		</div>

	</div>
{% endif %}
