{% extends "index.html" %}
{% block title %}{{ SITENAME }} {{ gettext('Search') }} {% endblock %}

{% block customcss %}
{% assets filters="scss,cssmin", output="static/css/search.min.css", "css/custom/search.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %} 
{% endblock customcss %}

{% block header %}
<div class="container extend">
    <div class="row">
        <div class="col-md-12">
            <h1 class="ico-left article ico ico-blog">
                {{ gettext('Results') }}
            </h1>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}

<div class="wrapper main">
	<div class="page container">
		<div class="row">

			<div class="col-md-12">
				<div class="tipue_search">
					<form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
						<input class="form-control" type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required="">
					</form>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="tipue_search_content"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
{% assets filters="uglifyjs", output="static/js/tipuesearch.min.js", "tipuesearch/tipuesearch.js", "tipuesearch/tipuesearch_set.js" %}
<script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
<script>  
$(document).ready(function() {
$('#tipue_search_input').tipuesearch({
'show': 10,
'mode': 'json',
'contentLocation': '{{ SITEURL }}/tipuesearch_content.json',
'descriptiveWords': '50',
});
});
</script>
{% endassets %} 
{% endblock %}