<a class="brands-carousel-back carousel-control" href="javascript:;" data-carousel="#brands-carousel" data-direction="next">
  <figure>
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/home/carousel-controls-back-black.png" alt="Atrás" data-carousel="#brands-carousel" data-direction="prev"/>
  </figure>
</a>

<a class="brands-carousel-next carousel-control" href="javascript:;" data-carousel="#brands-carousel" data-direction="next">
  <figure>
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/home/carousel-controls-next-black.png" alt="Siguiente" data-carousel="#brands-carousel" data-direction="next"/>
  </figure>
</a>

<div id="brands-carousel" class="brands-carousel owl-carousel owl-theme">
  <div class="item">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/clients/logos/asb-logo.png" alt="Asb"/>
  </div>
  <div class="item">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/clients/logos/aval-logo.png" alt="Aval"/>
  </div>
  <div class="item">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/clients/logos/banistmo-logo.png" alt="Banistmo"/>
  </div>
  <div class="item">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/clients/logos/celsia-logo.png" alt="Celsia"/>
  </div>
  <div class="item">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/clients/logos/sura-logo.png" alt="Sura"/>
  </div>
  <div class="item">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/clients/logos/corona-logo.png" alt="Corona"/>
  </div>
  <div class="item">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/clients/logos/manuelita-logo.png" alt="Manuelita"/>
  </div>
  <div class="item">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/clients/logos/une-logo.png" alt="Une"/>
  </div>
  <div class="item">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pages/clients/logos/grupo-exito-logo.png" alt="Grupo Exito"/>
  </div>
</div>
