.makes: &makes
  tags: [autoscaling]
  image: "${CI_REGISTRY_IMAGE}/makes"
  needs: []
  interruptible: true
  script:
    - ./m "${CI_JOB_NAME% *}"
  variables:
    GIT_DEPTH: 5

.docs_commit_pattern: &docs_commit_pattern '$CI_COMMIT_TITLE =~ /^(all|docs)/'

.docs_in_dev_branch: &docs_in_dev_branch
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *docs_commit_pattern

.docs_in_master_branch: &docs_in_master_branch
  resource_group: "${CI_JOB_NAME}"
  rules:
    - if: '$CI_COMMIT_BRANCH != "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *docs_commit_pattern

docs.deploy.dev:
  <<: *makes
  <<: *docs_in_dev_branch
  stage: deploy-app
  script: ./m docs.deploy dev
  environment:
    name: docs/${CI_COMMIT_REF_NAME}
    url: https://docs-dev.fluidattacks.com/${CI_COMMIT_REF_NAME}/

docs.deploy.prod:
  <<: *makes
  <<: *docs_in_master_branch
  stage: deploy-app
  script: ./m docs.deploy prod
  environment:
    name: docs/${CI_COMMIT_REF_NAME}
    url: https://docs.fluidattacks.com/

docs.infra.apply:
  <<: *makes
  <<: *docs_in_master_branch
  stage: deploy-infra

docs.infra.test:
  <<: *makes
  <<: *docs_in_dev_branch
  stage: test-infra
