port 443
proto tcp-server
dev tun443
ca /etc/openvpn/certs/ca.crt
cert /etc/openvpn/certs/vpn.fluid.la.crt
key /etc/openvpn/certs/vpn.fluid.la.key
dh /etc/openvpn/certs/dh4096.pem
tls-auth /etc/openvpn/certs/ta.key 0
server 192.168.255.0 255.255.255.128
push "dhcp-option DNS 192.168.100.2"
cipher AES-256-CBC
keepalive 10 60
persist-key
persist-tun
log openvpn.log
status openvpn-status.log
verb 3
