:local .groupsInput input {
  background: unset;
  border: none;
  border-left: 1px solid lightgray;
  border-bottom: none;
  border-right: none;
}

:local .groupsInput span:focus {
  outline: none;
}
