---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: machine-report-${NAME}
  namespace: prod-integrates
spec:
  replicas: 1
  selector:
    matchLabels:
      app: machine-report-${NAME}
  strategy:
    rollingUpdate:
      maxSurge: 10%
      maxUnavailable: 10%
  template:
    metadata:
      labels:
        app: machine-report-${NAME}
        # This ensures that the resource is updated on every apply
        uuid: ${UUID}
    spec:
      serviceAccountName: prod-integrates
      nodeSelector:
        worker_group: prod_integrates
      containers:
        - name: machine-report
          image: ghcr.io/fluidattacks/makes:22.11
          imagePullPolicy: Always
          command: [sh]
          args:
            - -c
            - m gitlab:fluidattacks/universe@${CI_COMMIT_SHA} /integrates/jobs/server
          env:
            - name: MAKES_K8S_COMPAT
              value: "1"
          resources:
            # Ensure your request and limit fits in the node:
            #   kubectl get node --selector=worker_group=prod_integrates
            #   kubectl describe node <node>
            #
            # You can have 1 pod per node, or 2, or 3, etc..
            #
            # Debug if pods were actually able to use the node:
            #   kubectl get pod -n prod-integrates
            #   kubectl describe pod -n prod-integrates <pod>
            requests:
              cpu: 1000m
              memory: 6000Mi
            limits:
              cpu: 2000m
              memory: 6500Mi
          envFrom:
            - secretRef:
                name: integrates-${NAME}
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: false
