$darkblue: rgba(29, 79, 114, 1);
$darkgray: rgba(102, 102, 102, 1);
$fluid-black: rgba(39, 39, 39, 1);
$lightblack: rgba(34, 34, 34, 1);
$fluid-dark-red: rgba(203, 50, 51, 1);
$fluid-gray: rgba(176, 176, 176, 1);
$fluid-light-gray: rgba(241, 241, 241, 1);
$fluid-red: rgba(255, 52, 53, 1);
$lightblue: rgba(0, 133, 161, 1);
$lightgray: rgba(211, 211, 211, 1);
$graylight: rgba(248, 249, 249, 1);
$lightergray: rgba(238, 238, 238, 1);
$shadowgray: rgba(170, 170, 170, 1);
$textblack: rgba(48, 48, 48, 1);
$tooltipblack: rgba(68, 68, 68, 1);
$white: rgba(255, 255, 255, 1);
$transparent: rgba(0, 0, 0, 0);
$black: rgba(0, 0, 0, 1);
$blue: rgba(83, 150, 234, 1);
$blue2: rgba(25, 116, 186, 1);
$middleblack: rgba(85, 85, 85, 1);
$greenyellow: rgba(173, 255, 47, 1);
$button-hover: rgba(255, 52, 53, 1);
$button-red: rgba(191, 38, 38, 1);
$shadowblack: rgba(0, 0, 0, .2);
$nearwhite: rgba(246, 246, 246, 1);
$headergray: rgba(230, 228, 228, 1);
$bordertable: rgba(0, 0, 0, .1);
//Monokai theme colors
$codeblack: rgba(39, 40, 43, 1);
$codebrown: rgba(117, 113, 94, 1);
$codedarkred: rgba(30, 0, 16, 1);
$codegray: rgba(242, 242, 242, 1);
$codegreen: rgba(166, 226, 46, 1);
$codelightblue: rgba(102, 217, 239, 1);
$codelightred: rgba(249, 38, 114, 1);
$codepink: rgba(150, 0, 80, 1);
$codepurple: rgba(174, 129, 255, 1);
$codeyellow: rgba(230, 219, 116, 1);

// Tachyons custom classes:

.bg-fluid-red { background-color: $fluid-red;}
.bg-fluid-gray { background-color: $fluid-gray;}
.bg-fluid-lightgray { background-color: $lightergray; }
.bg-fluid-black { background-color: $fluid-black; }
.bg-tooltip { background-color: $tooltipblack; }
.bg-code-bk { background-color: $codeblack; }
.bg-code-dkred { background-color: $codedarkred; }
.bc-lightergray { border-color: $lightergray; }
.bc-fluid-gray { border-color: $fluid-gray; }
.bc-fluid-red { border-color: $button-red; }
.bg-dk-red { background-color: $button-red;}
.bg-graylight { background-color: $graylight; }
.minw-100 { min-width: 100%; }
.ma-auto { margin: auto; }
.w-32 { width: 32%; }
.montsy { font-family: 'Montserrat'; }
.sans-pro { font-family: 'Source Sans Pro'; }
.roboto { font-family: 'Roboto', sans-serif; }
.neue { font-family: neue-haas-grotesk-display, sans-serif; }
.mono { font-family: 'Overpass Mono', monospace; }
.mono2 { font-family: monospaced; }
.c-black { color: $black; }
.c-fluid-bk { color: $fluid-black; }
.c-fluid-red { color: $fluid-red; }
.c-fluid-dkred { color: $fluid-dark-red; }
.c-dkred { color: $button-red; }
.c-fluid-gray { color: $fluid-gray; }
.c-fluid-dkblue { color: $darkblue; }
.c-codegray { color: $codegray; }
.c-codebrown { color: $codebrown; }
.c-codegreen { color: $codegreen; }
.c-codelightblue { color: $codelightblue; }
.c-codepurple { color: $codepurple; }
.c-codepink { color: $codepink; }
.c-codelightred { color: $codelightred; }
.c-codeyellow { color: $codeyellow; }
.c-dkgrey { color: $darkgray; }
.c-lightblack { color: $lightblack; }
.c-lightergray { color: $lightergray; }
.grayscale { filter: grayscale(100);}
.hv-fluid-dkred { &:hover { color: $fluid-dark-red;} }
.hv-fluid-bk { &:hover { color: $fluid-black;} }
.hv-fluid-bd { &:hover { border-color: $button-hover;} }
.hv-fluid-lb { &:hover { color: $lightblue; }}
.hv-bt-fluid-rd { &:hover { background-color: $button-hover; } }
.hv-fluid-rd { &:hover { color: $button-hover; } }
.hideme { visibility: hidden; }
.fluid-bullet { list-style-image: url('../../images/bullet2.png');}
.bullet-inside { list-style-position: inside; }
.h-banner { height: 15em; }
.w-banner { width: 20em; }
.minh-nav { min-height: 5em; }
.h-search { height: 2.5em; }
.w6 { width: 19em; }
.w-products { width: 31.25rem; }
.w-maxcontent { width: max-content; }
.mt8 { margin-top: 20rem; }
.bannerbt { background-color: $button-red; }
.bt-pd { padding: .625rem 2.5rem; }
.bt-trans { transition: all .3s ease;}
.menu-txt-trans { transition: color .2s; }
.ptdemo { padding-top: 6rem; }
.rep-bd { border: .063rem solid $fluid-light-gray; }
.rep-shadow { box-shadow: -.188rem -.125rem .3rem $fluid-light-gray; }
.wr-bdr { border-bottom-right-radius: .938rem; }
.wr-bdl { border-top-left-radius: .938rem; }
.wr-sz { height: 5.625rem; width: 5.625rem; }
.accordion-item h4:not(:active) ~ .accordion-content { display: none; }
.ch-w { max-width: 95ch; }
.anchor-pos { top: -50vh; }
.bl-hidden { border-left-style: hidden; }
.ba-hidden { border-style: hidden; }
.tooltip { &:hover { .tooltip-text { visibility: visible; } } }
.anchor-sign { &::before { content: '\0023'; } }
.banner-bg { background-image: url('../../images/cover-main.png'); }
.asap-bg { background-image: url('../../images/background-asap.png'); height: 25rem; }
.continuous-bg { background-image: url('../../images/use-cases/continuous/main-continuous-hacking.png'); }
.one-shot-bg { background-image: url('../../images/use-cases/one-shot/main-one-shot.png'); }
.products-bg { background-image: url('../../images/products/products-cover.png'); }
.integrates-bg { background-image: url('../../images/products/integrates/integrates-cover.png'); }
.drills-bg { background-image: url('../../images/products/drills/drills-cover.png'); }
.forces-bg { background-image: url('../../images/products/forces/forces-cover.png'); }
.thank-you-bg { background-image: url('../../images/contact-us/bg-thank-you-page.png'); }
.careers-main-bg { background-image: url('../../images/careers/hero-main-1.png'); }
.b-max { font-weight: 999; }
.nb-6 { margin-bottom: -6rem;}
.lower-img { &:hover { transform: scale(1.1);
    transition: transform .25s ease-in-out; } }
.scale-all { &:hover { transform: scale(1.1);
    transition: transform .25s ease-in-out;} }
.pointer {cursor: pointer; }
.z-100 { z-index: 100; }
.menu-txt { &:hover {color: $fluid-black; }
  &:focus { color: $fluid-black; } }
.menu-trans { transform: translateY(-25%) rotateX(35deg);
  transition: transform .5s, opacity .5s; }
.t-50 { top: 50%; }
.ty-50 { transform: translateY(-50%); }
.mt-menu { margin-top: 1.25rem; }
.f-small { font-size: .8rem; }
.w2-5 { width: 2.25rem; }
.f-footer { font-size: 1.65rem; }
.lh-2 { line-height: 2; }
.lh2 { line-height: 2rem; }
.fw-max { font-weight: 999; }
.line-menu { display: none; }
.w-image { width: 37em; }
.fadein { animation: fadein .5s; }
.mt-menu-bt { margin-top: .1rem; }
.item-carousel { width: 24rem; }
.h-small { height: .5rem; }
.h-cont-bar { height: .6rem; }
.h-bar { height: .5rem; }
.mirror-img { transform: scaleX(-1); }
.feature-button-l { &:hover { transform: translateX(-1rem);
  transition: all ease-in-out .5s; } }
.feature-button-r { &:hover { transform: translateX(1rem);
  transition: all ease-in-out .5s; } }
.f-sub { font-size: 1.9rem; }
.right-small { right: .6rem; }
.nbs {margin-bottom: -.15rem; }
.banner-height { height: 350px; }
.lh3 { line-height: 3rem; }
.w-small {width: .5rem; }
.hv-svg-red { &:hover { fill: $button-hover; } }
.mb-products { margin-bottom: 6.25rem; }
.f-benefits { font-size: 2.375rem; }
.f-benefits-p { font-size: 1.875rem; }
.f-key-features { font-size: 1.125rem; }
.lh-key-features { line-height: 2.25rem; }
.bb-form { border-bottom: 1px solid $lightblack; }
.h-slide-bt { height: .188rem; }
.slide-bt-trans { transition: background-color 0.6s ease; }
.ph-bt { padding-left: 4.25rem; padding-right: 4.25rem; }
.pv-bt { padding-top: .75rem; padding-bottom: .75rem; }
.h-maxcontent { height: max-content; }
.mw-banner { max-width: 56.25rem; }

// Tachyons custom responsive classes

// Small screens
@media screen and (max-width: 30em) {
  .contact-pd { padding: .75rem 7.65rem; }
  .footer-bt{ padding: .75rem 5.6rem; }
  .mr-3-s { margin-right: 3rem; }
  .f-small-s { font-size: .6rem; }
  .f4-s { font-size: 1.5rem; }
  .h40-s { height: 40rem; }
  .h-menu-s { height: 6rem; }
  .w-logo { width: 10rem; }
  .pv-4-m { padding-bottom: 1.6rem; padding-top: 1.6rem; }
  .w90-s { width: 90%; }
  .fheader-s { font-size: 4.5rem; }
  .cover-s { background-size: cover; }
  .shadow-menu { box-shadow: 0 8px 6px -6px $shadowblack; }
  .w-100-s { width: 100%; }
  .asap-bg-s { background-image: url('../../images/bg-asap-mobile.png'); height: 25rem; }
  .nt-menu { margin-top: -.125rem; }
  .tracked-1 { letter-spacing: .06rem; }
  .w-products { width: 20rem; }
  .f-title-s { font-size: 2rem; }
  .banner-height { height: 12.5rem; }
}
//medium resolutions
@media screen and (min-width: 30em) and (max-width: 60em) {
  .nt-menu { margin-top: -.125rem; }
  .two-columns-m { column-count: 2; }
  .mr-5-m { margin-right: 4rem; }
  .f-title-m { font-size: 2rem; }
  .w100-m { width: 100%; }
  .pv-3-m { padding-bottom: 1.3rem; padding-top: 1.3rem; }
  .pv-4-m { padding-bottom: 1.6rem; padding-top: 1.6rem; }
  .w-logo { width: 10rem; }
  .coverm { background-size: cover; }
  .w-products { width: 20rem; }
}

//Large screens
@media screen and (min-width: 60em) {
  .h-28em-l { height: 28em; }
  .h-banner-l { height: 20em; }
  .three-columns-l { column-count: 3; }
  .hover-white-l { &:hover { color: $white; }}
  .new-banner { width: 40em; }
  .mr-13-l { margin-right: 13rem; }
  .f-title-l { font-size: 2rem; }
  .h50-l { height: 50rem; }
  .w-45-l { width: 45%; }
  .w-50-l { width: 50%; }
  .h-menu { height: 9rem; }
  .fheader-l { font-size: 9.5vw; }
  .bg-banner-sz { background-size: 100% 100%; }
  .w-15-l { width: 15%; }
  .w40-l { width: 40rem; }
  .mt-6-l { margin-top: .6rem; }
  .nl-3 { margin-left: -3rem; }
  .mv-menu { margin-top: 1.875rem; margin-bottom: 1.875rem; }
  .w36-l{ width: 36rem; }
}

//Very large screens
@media screen and (min-width: 120em) {
  .fheader-vl { font-size: 10rem; }
  .new-banner { width: 40em; }
}
// End Tachyons

// How continuous hacking works section
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

//scss-lint:disable IdSelector
#op1:checked~.index1 {
  color: $fluid-black;
  font-size: 1.25rem;
  font-weight: 400;
  margin-left: -.5rem;
  transition: .25s;

  .line-menu {
    animation: fadein .7s;
    display: block;
    float: left;
  }
}

//scss-lint:disable IdSelector
#op2:checked~.index2 {
  color: $fluid-black;
  font-size: 1.25rem;
  font-weight: 400;
  margin-left: -.5rem;
  transition: .25s;

  .line-menu {
    animation: fadein .7s;
    display: block;
    float: left;
  }
}

//scss-lint:disable IdSelector
#op3:checked~.index3 {
  color: $fluid-black;
  font-size: 1.25rem;
  font-weight: 400;
  margin-left: -.5rem;
  transition: .25s;

  .line-menu {
    animation: fadein .7s;
    display: block;
    float: left;
  }
}

#op5:checked~.index5 {
  border-bottom: .125rem solid $fluid-black;
  color: $fluid-black;
  padding-bottom: .2rem;
  transition: .25s;
}

#op6:checked~.index6 {
  border-bottom: .125rem solid $fluid-black;
  color: $fluid-black;
  padding-bottom: .2rem;
  transition: .25s;
}

// New menu component

.lower~.overlay-hugeinc {
  opacity: 0;
  transition: opacity .5s, visibility 0s .5s;
  visibility: hidden;
}

//scss-lint:disable IdSelector
#op:checked~.overlay-hugeinc {
  opacity: 1;
  transition: opacity .5s;
  visibility: visible;
}

//scss-lint:disable IdSelector MergeableSelector
#op:checked~.overlay-hugeinc nav ul {
  opacity: 1;
  transform: rotateX(0deg);
}

//scss-lint:disable IdSelector MergeableSelector
#op:not(:checked)~.overlay-hugeinc nav ul {
  transform: translateY(25%) rotateX(-35deg);
}

.carousel.active {
  cursor: grabbing;
}

.carousel::-webkit-scrollbar {
  width: 12px;
}

.carousel::-webkit-scrollbar-track {
  display: none;
}

.carousel::-webkit-scrollbar-thumb {
  display: none;
}

// Carousel for the Trusted by section

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-200px * 9)); }
}
.customer-carousel { animation: scroll 40s linear infinite;
  display: flex;
  width: calc(200px * 18);
}

.active-slide,
.dot:hover {
  background-color: $button-hover
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.menu-careers::-webkit-scrollbar-track {
  display: none;
}

.menu-careers::-webkit-scrollbar-thumb {
  display: none;
}

.menu-careers::-webkit-scrollbar {
  width: 12px;
}


// Styles for articles

.internal {
  font-weight: 600;
  text-align: left;

  b, strong {
    font-weight: 600;
  }

  code {
    background-color: $lightergray;
    border-radius: 3px;
    font-size: 18px;
    font-family: monospace;
    padding: 5px;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  a {
    text-decoration: underline;
    color: $fluid-black;
  }

  p {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .imageblock .content img {
    display: block;
    margin: auto;
  }

  .imageblock .title {
    font-size: .875rem;
    font-weight: 400;
    padding-bottom: 4rem;
  }

  blockquote {
    background-color: $nearwhite;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding: 1.5rem;
  }
  table {
    border-collapse: collapse;
    border-color: $bordertable;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    thead {
      background-color: $headergray;
    }
    tbody tr {
      background-color: $fluid-light-gray;
    }

    tbody tr:nth-child(even){
      background-color: $graylight;
    }
  }
}
