.footer {
 background:#1A7EBA;
 padding:20px 0;
 border-top:2px solid #14598e;
}
.widget h2 {
 cursor:pointer;  
 font-size:18px;
 font-weight:bold;
 padding-bottom:5px;
 font-family: "Ubuntu",sans-serif;
}
.widget h2 a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.widget h2 a:hover{
    color:#ddd;
}
  
@media only screen and (max-width: 800px) {    
     .widget_content{
        display:none;
    }
    .active .widget_content{
    	display:inline;	
    }
    .widget h2 { 
        text-align: center;
    }   
    .active.widget h2:after {
        content:"\2039";    
        background:#ccc;
    }
}
