@media (max-width: 480px)
  .intro-header
    margin-bottom: 0px
  #contbody
    margin-top: 0px
  #divindex
    padding-right: 1%
    padding-left: 1%
    margin-left: 0
    margin-right: 0
  table
    border-collapse: collapse
    tr
      .tdview
        width: 100%
        display: block
        margin-left: 0
        margin-right: 0
        margin-bottom: 0%
  #divarticle
    article
      h1
        text-align: center
        color: #1d4f72
      .related
        table
          border-spacing: 20px
          tr
            td
              display: table-footer-group
              text-align-center

@media (min-width: 480px) and (max-width: 860px)
  .intro-header
    margin-bottom: 0px
  #contbody
    margin-top: 0px
  #divindex
    padding-right: 1%
    padding-left: 1%
    margin-left: 0
    margin-right: 0
  table
    border-collapse: collapse
    tr
      .tdview
        width: 100%
        display: block
        margin-left: 0
        margin-right: 0
        margin-bottom: 0%
  #divarticle
    article
      h1
        text-align: center
        color: #1d4f72
      .related
        table
          border-spacing: 20px
          tr
            td
              display: table-footer-group
              text-align-center
  #divpage
    margin-left: 0
    margin-right: 0
    #tblent
      margin-top: 10px
      .trent
        display: none
      .ent2
        display: block
        width: 100%
        text-align: left
        margin-left: 0px
      .tdent
        display: block
        width: 100%
        margin-left: 0px
        margin-top: -30px
        text-align: justify
        font-size: 16px
    #tdmax
      display: none
    #tdresponsive
      display: table-cell
      #tblocation
        .maps
          text-align: center

@media (min-width: 860px)
  .intro-header
    margin-bottom: 0px
  #contbody
    margin-top: 0px
    width: 100%
  .col-md-offset-1
    margin-left: 0
  .col-md-10
    width: 100%
  #divindex
    padding-right: 1%
    padding-left: 1%
    margin-left: 0
    margin-right: 0
  table
    border-spacing: 20px
    tr
      .tdview
        margin-left: 0
        margin-right: 0
        margin-bottom: 0%
        .post-preview
          text-align: center
          #aautor
            font-size: 12px
          span
            font-size: 12px
    .footer
      #navfoot
        text-align: right
  #divarticle
    article
      h1
        text-align: center
        color: #1d4f72
      .related
        table
          tr
            td
              width: auto	
              text-align-center
              img
                max-width: 100%
      .footer
      #navfoot
        text-align: right
  #divpage
    margin-left: 0
    margin-right: 0
    .imgethical
      width: 100%
    #tblent
      .trent
        .tdent
          text-align: center
      #tblocation
        .maps
          text-align: center
    .footer
      #navfoot
        text-align: right
