@media only screen and (max-width: 768px)
  .intro-header
    background-size: 100% 60%
    .post-heading
      padding: 0
      h1
        font-size: 20px
      .meta
        font-size: 14px
  .row
    margin-bottom: 0
  #rowart
    margin-bottom: -95%
  #roweth
    margin-bottom: -90%
  table
    border-collapse: collapse
    width: 100%
    margin-top: -40px
    tr .tdview
      height: 550px
      width: 100%
      display: block
      margin-left: 1px
      .divread
        bottom: 30px
  .post-preview
    > a
      > .post-title
        font-size: 20px        
      font-size: 14px
    .imgprev
      width: 15px
    > span
      font-size: 13px
    .article-summary
      font-size: 16px
      margin-top: 10px
      bottom: 55px
  #divarticle
    margin-top: -10%
    padding-left: 10px
    padding-top: 10px
    padding-right: 5px
    h2
      font-size: 24px
    ul
      margin-left: -15px
    #imgwriter
      float: none
  .related
    table
      border-collapse: collapse
      margin-top: 10px
      tr
        td
          display: block
          margin: 10px
          padding: 5px
          width: 95%
  .tags
    margin: 5px
  .next
    margin-top: 10px
    background-color: #fff
    tr
      td
        display: block
        width: 95%
        margin: 5px
        background-color: #1d4f72
        padding: 10px
  #divpage
    margin-top: -35px
    article
      margin-left: 20px
      margin-right: 20px
      margin-top: -15px
      padding: 0px
      font-size: 16px
      h2
        font-size: 24px
      ul
        margin-left: -15px
      #tblent
        .trent
          display: none
        .ent2
          display: block
        .tdent
          display: block
    
