html, body, #root {
  font-family: Source Sans Pro, sans-serif;
  color: #333;
}

.c3 svg {
  font-family: Source Sans Pro, sans-serif;
  font-size: 13px;
  color: #333;
}

.c3-legend-item {
  font-size: 14px;
}

.report-mode {
  font-size: 18px;
}

.report-bg-change {
  background-color: #e9e9ed;
}

.report-title {
  font-weight: bold;
}

.report-title-pad {
  padding-top: 18px;
}

.report-footer {
  font-size: 16px;
  padding-left: 16px;
}

p, ol, ul {
  margin-block-end: 0rem !important;
}

.c3-area {
  opacity: 1 !important;
}
