/*
 * SPDX-FileCopyrightText: 2022 Fluid Attacks <development@fluidattacks.com>
 *
 * SPDX-License-Identifier: MPL-2.0
 */

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.c3 svg {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #333;
}

.c3-legend-item {
  font-size: 14px;
}

.exposed-over-time-cvssf-area {
  opacity: 1 !important;
  fill: #fda6ab !important;
}

.exposed-over-time-cvssf-line {
  stroke-width: 3px !important;
}

.c3-text {
  transform: translate(0, 15px);
  fill: white !important;
}

.exposureTrendsByCategories {
  fill: black !important;
}
