// Color Variables
$button-red: rgba(191, 38, 38, 1);
$button-hover: rgba(255, 52, 53, 1);
$darkshadow: rgba(176, 176, 176, 0.3);
$fluid-black: rgba(39, 39, 39, 1);
$fluid-red: rgba(255, 52, 53, 1);
$fluid-gray: rgba(176, 176, 176, 1);
$fluid-dark-red: rgba(203, 50, 51, 1);
$white: rgba(255, 255, 255, 1);

// Rules
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Color classes
.bc-fluid-red { border-color: $button-red; }
.c-dkred { color: $button-red; }
.c-fluid-bk { color: $fluid-black; }
.c-fluid-gray { color: $fluid-gray; }

// Fonts
.roboto { font-family: 'Roboto', sans-serif; }

// Font Sizes
.f-18 { font-size: 1.125rem; }

// Height Classes
.h-navbar { height: 6.5rem; }
.h-5 { height: 5rem; }

// Hover changes classes
.hv-fluid-bd { &:hover { border-color: $button-hover;} }
.hv-fluid-rd { &:hover { color: $button-hover; } }
.hv-fluid-dkred { &:hover { color: $fluid-dark-red;} }

// Width and Max Width classes
.mw-1366 { max-width: 1366px; }

// Padding classes
.ph-body { padding: 0 1.875rem; }

// Transitions
.t-all-5 { transition: all 0.5s; }
.t-all-3-ease { transition: all 0.3s ease;}

// Media queries
@media screen and (min-width: 60em) {
  .ph-body { padding: 0 3.75rem; }
}

// Animations
.fadein { animation: fadein 0.5s; }

.solutions-index:hover .solutions-content {
  display: block;
}

.usecases-index:hover .usecases-content {
  display: block;
}

// Custom elements

.usecases-content,
.solutions-content {
  background-color: #fff;
  box-shadow: 0 20px 20px $darkshadow;
  display: none;
  min-width: 160px;
  position: absolute;

  a {
    color: $fluid-black;
    display: block;
    float: none;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;

    &:hover {
      color: $fluid-red;
    }
  }
}

.breadcrumb {
  background-color: $fluid-black;
  font-family: 'Roboto', sans-serif;
  margin-top: 6.5rem;
  padding-bottom: 0;
  padding-top: 0;
}

// stylelint-disable-next-line selector-class-pattern
.breadcrumb__list {
  font-size: 0.75rem;
  margin: 5px auto !important;
  max-width: 1366px;
  padding: 15px 1.875rem !important;
  text-align: left;

  @media screen and (min-width: 60em) {
    font-size: 0.875rem;
    padding: 15px 3.75rem !important;
  }
}

// stylelint-disable-next-line selector-class-pattern
.breadcrumb__link {
  color: $fluid-gray;
  &:hover { color: $white; }
}

// stylelint-disable-next-line selector-class-pattern
.breadcrumb__separator {
  color: $fluid-gray;
}
