.makes: &makes
  tags: [autoscaling]
  image: "${CI_REGISTRY_IMAGE}/makes"
  needs: []
  interruptible: true
  script:
    - ./m "${CI_JOB_NAME% *}"
  variables:
    GIT_DEPTH: 5

.melts_commit_pattern: &melts_commit_pattern '$CI_COMMIT_TITLE =~ /^(all|melts)/'

.in_dev_branch_melts: &in_dev_branch_melts
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: *melts_commit_pattern

.in_master_branch_melts: &in_master_branch_melts
  rules:
    - if: '$CI_COMMIT_BRANCH != "master"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: *melts_commit_pattern

.test_melts_template: &test_melts_template
  <<: *makes
  stage: test-code
  variables:
    SERVICES: s3
    HOSTNAME_EXTERNAL: localstack
  services:
    - name: localstack/localstack
      alias: localstack

makes.test.melts:
  <<: *makes
  <<: *in_master_branch_melts
  stage: test-code

melts.test:
  <<: *makes
  <<: *in_dev_branch_melts
  <<: *test_melts_template
  stage: test-code
  tags: [autoscaling-large]
