<VirtualHost *:80>
	ServerName integrates.fluid.la
	ServerAdmin engineering@fluid.la

	DocumentRoot /var/www/fluidintegrates/fluidintegrates
	WSGIScriptAlias / /var/www/fluidintegrates/fluidintegrates/wsgi.py
	
	ErrorLog /var/log/apache2/error.log
	CustomLog /var/log/apache2/custom.log combined
</VirtualHost>
