{% extends "base.html" %}

{% block meta %}
  <meta name="description" content="{{ gettext('Archives-metadescription') }}.">
  <meta name="keywords" content="{{ gettext('Archives-keywords') }}">
{% endblock meta %}

{% block title %}
  {% if DEFAULT_LANG == "en" %}
{{ gettext('Archives-title') }} | {{ SITENAME }}
  {% else %}
{{ gettext('Archives-title') }} | {{ AUTHOR }}
  {% endif %}
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading ma-auto ch-w">
          <h1>{{ gettext('Arcives-msg-1') }} {{ SITENAME }}</h1>
        </div>
      </div>
    </div>
  </div>
  <dl>
    {% for article in dates %}
      <dt>{{ article.locale_date }}</dt>
      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
  </dl>
  <hr>
{% endblock content %}
