{% extends "base.html" %}

{% block meta %}
  <meta name="keywords" content="{{ gettext('Here you can find the latest articles posted to the blog, which are related to the field of Information Security. These articles may aim to share an opinion about a security matter, to solve a challenge related to this very subject or may just offer general information') }}.">
  <meta name="description" content="{{ gettext('Information, Security, Archives, Latest, Articles, Blog') }}">
{% endblock meta %}

{% block title %}
  {% if DEFAULT_LANG == "en" %}
{{ gettext('Blog Archives') }} | {{ SITENAME }}
  {% else %}
{{ gettext('Blog Archives') }} | {{ AUTHOR }}
  {% endif %}
{% endblock %}

{% block header %}
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{ gettext('Archives for') }} {{ SITENAME }}</h1>
        </div>
      </div>
    </div>
  </div>
  <dl>
    {% for article in dates %}
      <dt>{{ article.locale_date }}</dt>
      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
  </dl>
  <hr>
{% endblock content %}
