{% extends "index.html" %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}"/>{% endblock canonical %}
{% block title %}{{ SITENAME }}&nbsp;|&nbsp; {{ article.title }}{% endblock title %}

{% block header %}
  <!-- Page Header -->
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
    <a href="../../"><img src="../../{{ THEME_STATIC_DIR }}/images/fluid.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
{% endblock header %}

{% block content %}
  <!-- Post Content -->
  <div class="divarticle">
    <article>
      <h1>{{ article.title }}</h1>
      {% if article.headline %}
        <h3 class="subheading">{{ article.headline }}</h3>
      {% endif %}
      <table class="meta-table">
        <tr>
          <td class="meta-data">
            {% for author in article.authors %}
              <img src="../../{{ THEME_STATIC_DIR }}/images/user.png" alt="{{ gettext('User icon') }}"><a href="../../{{ author.url }}">{{ author }}</a>
            {% endfor %}<br/>
          </td>
          <td class="meta-data"> 
            <img src="../../{{ THEME_STATIC_DIR }}/images/comment.png" alt="{{ gettext('Dialog box icon') }}"><a href="./#disqus_thread">{{ gettext('Comment') }}</a><br/>
          </td>
          <td class="meta-data">
            <img src="../../{{ THEME_STATIC_DIR }}/images/folder.png" alt="{{ gettext('Folder icon') }}"><a href="../../category/{{ article.category }}.html">{{ article.category }}</a><br/>
          </td>
	  <td class="meta-data">
            <img src="../../{{ THEME_STATIC_DIR }}/images/calendar2.png" alt="{{ gettext('Calendar icon') }}"><p>{{ article.locale_date }}</p><br/>
          </td>
        </tr>  
      </table>
      {% if article.modified %}
        <span class="meta">{{ gettext('Updated on') }} {{ article.locale_modified }}</span>
      {% endif %}
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
      {{ article.content }}	
      <br/>
      <div class="authorimg">
        <img class="imgwriter" src="../../images/authors/{{ article.writer }}.png" alt="{{ gettext('Author picture') }}">
      </div>
      <table class="authorinfo">
        <tr><td>
            <p class="writer"><a href="../../{{ article.author.url }}">{{article.name}}</a></p>
        </td></tr>
        <tr><td>
          <p>{{article.about1}}</p>
        </td></tr>
        <tr><td>
          <p>{{article.about2}}</p>
        </td></tr>
      </table>

      {% if article.share_post and article.status != 'draft' %}
        <section>
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a37e74c4b1448ce"></script>
        </section>	
      {% endif %}
      <br/>
      {% if article.related_posts %}		
        <h4>{{ gettext('Related') }}</h4>
          <section class="sect-related">
            {% for related_post in article.related_posts %}
              <div class="related">	
	        <img src="../{{ related_post.slug }}{{ related_post.featured_image }}" alt="related_post.alt"><br> 
	        <a href="../../{{ related_post.url }}">{{ related_post.title }}</a>
	      </div>
            {% endfor %}
         </section>
       {% endif %}
       <hr>
       {% if article.tags %}
         <section>
           <div class="tags">
             <p>{% for tag in article.tags %}
               <a href="../../{{ tag.url }}">{{ tag | escape }}</a>
             {% endfor %}</p>
           </div>
         </section>
       {% endif %}
       <br />
       <div class="article-nav">
         <div class="prev-article">
           {% if article.prev_article %}
             <a href="../../{{ article.prev_article.url}}"><< {{ article.prev_article.title }}</a>
           {% endif %}
         </div>
         <div class="next-article">
           {% if article.next_article %}
             <a href="../../{{ article.next_article.url}}">{{ article.next_article.title }} >></a>
           {% endif %}
         </div>
       </div>
       <br />	
       {% if DISQUS_SITENAME and SITEURL %}
         <hr class="hrcoments">
         <div class="comments">
           <h3>{{ gettext('Leave a comment') }}</h3>
           <div id="disqus_thread"></div>
           {% if DEFAULT_LANG == "es" %}
             <script type="text/javascript">
               var disqus_config = function () {
                 this.page.identifier = "{{ article.slug }}";
                 this.page.url = "{{ SITEURL }}/{{ article.url }}";
                 this.language = "es_AR";
               };
               (function() {
                 var d = document, dsq = d.createElement('script');
                 dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                 dsq.setAttribute('data-timestamp', +new Date());
                 (d.head || d.body).appendChild(dsq);
               })();
             </script>
           {% else %}
             <script type="text/javascript">
               var disqus_config = function () {
                 this.page.identifier = "{{ article.slug }}";
                 this.page.url = "{{ SITEURL }}/{{ article.url }}";
               };
               (function() {
                 var d = document, dsq = d.createElement('script');
                 dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                 dsq.setAttribute('data-timestamp', +new Date());
                 (d.head || d.body).appendChild(dsq);
               })();
             </script>
           {% endif %}
         </div>
         <script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
       {% endif %}
     </article>
   </div>	
{% endblock content %}
