  {% extends "index.html" %}

<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
  <meta name="description"
        content="{{ article.description }}">
  <meta name="keywords"
        content="{{ article.keywords }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ article.url }}cover.png">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if article.title|length < 23 %}
{{ article.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if article.title|length < 11 %}
{{ article.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ article.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}
  <link rel="canonical"
        href="{{ SITEURL }}/{{ article.url }}">
{% endblock canonical %}

{% block breadcrumb%}
  <div class="navcontent-container">
    <div class="navcontent-info">
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="{{ SITEURL }}/">
               <strong>{{ gettext('Breadcrumb-0') }}</strong>&nbsp;</a>
            <span>&gt;</span>
          </li>
          <li>
            <a href="{{ SITEURL }}/blog/">
               &nbsp;<strong>Blog</strong>&nbsp;</a>
            <span>&gt;</span>
          </li>
          <li>
            <a href="{{SITEURL}}/{{ category.url }}../">
               &nbsp;<strong>{{ gettext('Articles-breadcrumb-1') }}</strong>&nbsp;</a>
            <span>&gt;</span>
          </li>
          <li>
            <a href="{{ SITEURL }}/{{ category.url }}">
               &nbsp;{{ article.category|replace("-", " ")|capitalize }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
{% block content %}
  <!-- Post Content -->
  <div class="pa3">
    <article>
      <div class="df-l">
        <!-- Article Cover -->
        <div class="relative w-50-l fl-l pt3">
          <img src="{{ SITEURL }}/{{ article.url}}{{ article.image }}"
               alt="{{ article.alt }}"
               class="rep-img ma-auto bottom-0 top-0">
        </div>
        <!-- Article Title -->
        <div class="w-50-l fl-l">
          <h1 class="tc tl-l pb3 mb0">{{ article.title }}</h1>
          {% if article.subtitle %}
          <!-- Article subtitle -->
            <span class="db tc tl-l i b f5 mt0">{{ article.subtitle }}</span>
          {% endif %}
          <br>
          <!-- Article Description -->
          <div class="tc tl-l i f5 pb4-l">
            {{ article.description }}
          </div>
        </div>
      </div>
      <table class="meta-table collapse mt2 mb2 w-100-ns bg-white dt-ns ">
        <tr>
          <!-- Metadata: Author, Comment, Tags, Date -->
          <td class="db dtc-ns pl4-l">
            {% for author in article.authors %}
              <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/user.png"
                   alt="{{ gettext('Articles-icon-alt-1') }}">
                   <a class="c-fluid-bk f5 ml1 relative tc ttc hv-fluid-dkred"
                      href="../../{{ author.url }}">
                      {{ author }}</a>
            {% endfor %}<br/>
          </td>
          <td class="db dtc-ns pl4-l">
              <img src="{{ SITEURL}}/{{ THEME_STATIC_DIR }}/images/comment.png"
                   alt="{{ gettext('Articles-icon-alt-2') }}">
                   <a class="c-fluid-bk f5 ml1 relative tc ttc hv-fluid-dkred"
                      href="./#disqus_thread">
                      {{ gettext('Articles-icon-msg-1') }}</a><br/></td>
          <td class="db dtc-ns pl4-l">
              <img src="{{ SITEURL}}/{{ THEME_STATIC_DIR }}/images/folder.png"
                   alt="{{ gettext('Articles-icon-alt-3') }}">
                   <a class="c-fluid-bk f5 ml1 relative tc ttc hv-fluid-dkred"
                      href="../../{{ category.url }}">
                      {{ article.category|replace("-", " ") }}</a><br/></td>
          <td class="db dtc-ns pl4-l">
              <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/calendar2.png"
                   alt="{{ gettext('Articles-icon-alt-4') }}">
                   <p class="di f5 ml2 relative">
                      {{ article.locale_date }}</p><br/></td>
        </tr>
      </table>
      <br>
      {{ article.content }}
      <br/>
      <div class="authorimg">
        <img class="imgwriter fl"
             src="{{ SITEURL }}/images/authors/{{ article.writer }}.png"
             alt="{{ gettext('Articles-author-alt') }}">
      </div>
      <table class="authorinfo relative w-80 left-1">
        <tr><td>
            <p class="writer">
               <a href="{{ SITEURL }}/{{ article.author.url }} "
                  class ="c-fluid-bk hv-fluid-dkred">
                  {{article.name}}</a></p>
        </td></tr>
        <tr><td>
          <p>{{article.about1}}</p>
        </td></tr>
        <tr><td>
          <p>{{article.about2}}</p>
        </td></tr>
      </table>
      <br/>
      <hr class="c-fluid-gray">
      {% if article.related_posts %}
        <h4>{{ gettext('Articles-related-sect') }}</h4>
          <section class="sect-related">
            {% for related_post in article.related_posts %}
              <div class="dit w-32 w-33-l">
                   <img class="mt2 mb2"
                        src="{{ SITEURL }}/{{ related_post.url }}{{ related_post.featured_image }}"
                        alt="related_post.alt"><br>
                        <a href="{{ SITEURL }}/{{ related_post.url }}"
                           class= "c-fluid-bk montsy b hv-fluid-dkred">
                           {{ related_post.title }}</a>
              </div>
            {% endfor %}
         </section>
       {% endif %}
       {% if article.tags %}
         <section>
           <!-- Tags -->
           <div class="tags mt3 overflow-hidden">
             <p>{% for tag in article.tags %}
               <a class="bg-fluid-red white fl montsy b ttc f6 pt1 pb1 pr2 pl2 mb3 mr1 pointer hv-fluid-dkred"
                  href="{{ SITEURL }}/{{ tag.url }} ">
                  {{ tag | escape }}</a>
             {% endfor %}</p>
           </div>
         </section>
       {% endif %}
       <hr class="c-fluid-gray" >
       <br />
       <!-- Article Nav -->
       <div class="mb5 montsy">
         <!-- prev article -->
         <div class="dib vtop w-40 fl">
           {% if article.prev_article %}
             <a class="c-fluid-red hv-fluid-dkred"
                href="{{ SITEURL }}/{{ article.prev_article.url}}">
                &lt;&nbsp;{{ article.prev_article.title }}</a>
           {% endif %}
         </div>
         <!-- next article -->
         <div class="dib vtop w-40 tr fr">
           {% if article.next_article %}
             <a class="c-fluid-red hv-fluid-dkred"
                href="{{ SITEURL }}/{{ article.next_article.url}}">
                {{ article.next_article.title }}&nbsp;&gt;</a>
           {% endif %}
         </div>
       </div>
       <br />
       {% if DISQUS_SITENAME and SITEURL %}
         <div class="comments">
           <div id="disqus_thread"></div>
           {% if DEFAULT_LANG == "es" %}
             <script type="text/javascript">
               var disqus_config = function () {
                 this.page.identifier = "{{ article.slug }}";
                 this.page.url = "{{ SITEURL }}/{{ article.url }}";
                 this.language = "es_AR";
               };
               (function() {
                 var d = document, dsq = d.createElement('script');
                 dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                 dsq.setAttribute('data-timestamp', +new Date());
                 (d.head || d.body).appendChild(dsq);
               })();
             </script>
           {% elif DEFAULT_LANG == "en" %}
             <script type="text/javascript">
               var disqus_config = function () {
                 this.page.identifier = "{{ article.slug }}";
                 this.page.url = "{{ SITEURL }}/{{ article.url }}";
               };
               (function() {
                 var d = document, dsq = d.createElement('script');
                 dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                 dsq.setAttribute('data-timestamp', +new Date());
                 (d.head || d.body).appendChild(dsq);
               })();
             </script>
           {% endif %}
         </div>
         <script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
       {% endif %}
       <script type="application/ld+json">
         {
           "@context": "http://schema.org",
           "@type": "BlogPosting",
           "headline": "{{ article.title }}",
           "author": "{{ article.name }}",
           "datePublished": "{{ article.locale_date }}",
           "publisher": [{
             "@type": "Organization",
             "name": "{{ AUTHOR}}",
             "logo": "{{ SITEURL }}/theme/images/fluid-logo.png"
           }],
           "mainEntityOfPage": "{{ SITEURL }}/{{ article.url }}",
           "image": "{{ SITEURL }}/{{ article.url }}{{ article.image }}"
         }
       </script>
       <script type="application/ld+json">
         {
           "@context": "http://schema.org",
           "@type": "BreadcrumbList",
           "itemListElement": [{
             "@type": "ListItem",
             "position": 1,
             "item": {
               "@id": "{{ SITEURL }}/",
               "name": "{{ gettext('Breadcrumb-0') }}"
             }
           },{
             "@type": "ListItem",
             "position": 2,
             "item": {
               "@id": "{{ SITEURL }}/blog/",
               "name": "Blog"
             }
           },{
             "@type": "ListItem",
             "position": 3,
             "item": {
               "@id": "{{SITEURL}}/{{ category.url }}../",
               "name": "{{ gettext('Articles-breadcrumb-1') }}"
             }
           },{
             "@type": "ListItem",
             "position": 4,
             "item": {
               "@id": "{{ SITEURL }}/{{ category.url }}",
               "name": "{{ article.category|capitalize }}"
             }
           }]
         }
       </script>
     </article>
   </div>
{% endblock content %}
