{% extends "base.html" %}

{% block meta %}
  <meta name="description"
        content="{{ gettext('Authors-metadescription') }}.">
  <meta name="keywords"
        content="{{ gettext('Authors-keywords') }}">
{% endblock meta %}

{% block title %}{{ gettext('Authors-title') }} | {{ SITENAME }}{% endblock title %}

{% block canonical %}
  <link rel="canonical"
        href="{{ SITEURL }}/blog/">
{% endblock canonical %}


{% block breadcrumb%}
  <!-- navcontent-container -->
  <div class="pv0 ph2 shadow-4">
    <!-- navcontent-info -->
    <div class="df ma-auto">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100 ma-auto">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
               <strong>{{ gettext('Breadcrumb-0') }}</strong>&nbsp;</a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/blog/">
               &nbsp;<strong>Blog</strong>&nbsp;</a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">
               &nbsp;{{ gettext('Authors-breadcrumb-1') }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
{% block content %}
  <div class="divpage">
    <article class="ma-auto tl-ns tc mw8">
      <h1 class="tc">
        {{ gettext('Authors-header') }}:
      </h1>
      <div class="ml6-l ml4-m">
        <ul class="fluid-bullet three-columns-l two-columns-m bullet-inside">
          {% for author, articles in authors|sort %}
            <li class="pv2">
              <a href="{{SITEURL}}/{{ author.url }}"
                 rel="bookmark">
                <p class="di ttc">
                  {{ author }} ({{ articles|count }})
                </p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </article>
  </div>
{% endblock content %}
