{% extends "index.html" %}

{% block meta %}
  <meta name="description"
        content="{{ gettext('Category-metadescription-1') }} {{ category.name|replace('-', ' ')|capitalize }}. {{ gettext('Category-metadescription-2') }}.">
  <meta name="keywords"
        content="{{ gettext('Category-keywords') }}">
{% endblock meta %}

{% block title %}{{ category.name|replace("-", " ")|capitalize }} | {{ AUTHOR }}{% endblock %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/blog/">
{% endblock canonical %}

{% block breadcrumb %}
  <div class="navcontent-container">
    <div class="navcontent-info">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>{{ gettext('Breadcrumb-0') }}</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/blog/">
              &nbsp;<strong>Blog</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="../">
              &nbsp;<strong>{{ gettext('Category-breadcrumb-1') }}</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">&nbsp;{{ category.name|replace("-", " ")|capitalize }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
