{% extends "index.html" %}

{% block meta %}
  <meta name="keywords" content="TODO">
  <meta name="description" content="TODO">
{% endblock meta %}

{% block title %}{{ gettext('Articles in the category') }} {{ category.name|replace("-", " ") }} | FLUID{% endblock %}

{% block header %}
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
    <a href="../"><img src="../{{ THEME_STATIC_DIR }}/images/fluid.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
  <div class="list-title">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{ gettext('Category') }}: {{ category.name|replace("-", " ") }} </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}
