{% extends "base.html" %}

{% block meta %}
  <meta name="keywords" content="{{ gettext('Here you can find the list of categories used to classify the articles of the blog. They are all related to the field of Information Security and may range from an opinion related to a certain topic, or a solution to a challenge, all the way to just general information') }}">
  <meta name="description" content="Category, Classify, Articles, Blog, Information, Security">
{% endblock meta %}

{% block title %}{{ gettext('Categories') }} | {{ SITENAME }}{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ gettext('categories') }}/">{% endblock canonical %}

{% block language %}
  {% if DEFAULT_LANG == "en" %}
    <link rel="alternate" href="{{ SITEURL }}/blog/categories/" hreflang="en-us" />
    <link rel="alternate" href="{{ SUBSITEURL }}/blog/{{ gettext('categories') }}/" hreflang="es" />
  {% else %}
    <link rel="alternate" href="{{ SITEURL }}/blog/categorias/" hreflang="es" />
    <link rel="alternate" href="{{ SUBSITEURL }}/blog/{{ gettext('categorias') }}/" hreflang="en-us" />
  {% endif %}
{% endblock language %}

{% block header %}
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
{% endblock header %}

{% block content %}
  <div class="divpage">
    <article>
      <div class="breadcrumbs">
        <ul>
          <li><a href="{{ SITEURL }}/">{{ gettext('Home') }} >>&nbsp;</a></li>
          <li><a href="{{ SITEURL }}/blog/">Blog</a></li>
        </ul>
      </div>
      <h1>{{ gettext('Categories') }}:</h1>
      <div class="preamble">
        <div class="itemlist">
          <ul>
            {% for category, articles in categories|sort %}
              <li>
                <a href="{{ SITEURL }}/{{ category.url }}" rel="bookmark">
                  <p>{{ category.name|replace("-", " ") }} ({{ articles|count }})</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </article>
  </div>
{% endblock content %}
