{% extends "base.html" %}

{% block meta %}
  <meta name="description"
        content="Here you can find the list of categories used to classify the articles of
        the blog. They are all related to the field of Information Security and
        may range from an opinion related to a certain topic, or a solution to a
        challenge, all the way to just general information">
  <meta name="keywords"
        content="Category, Classify, Articles, Blog, Information, Security">
{% endblock meta %}

{% block title %} Categories | {{ SITENAME }}{% endblock %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/blog/">
{% endblock canonical %}

{% block breadcrumb%}
  <!-- navcontent-container -->
  <div class="pv0 ph2 shadow-4">
    <!-- navcontent-info -->
    <div class="df ma-auto">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100 ma-auto">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>Home</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/blog/">&nbsp;<strong>Blog</strong>&nbsp;</a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">&nbsp; Categories</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
{% block content %}
  <div class="divpage">
    <article class="ma-auto tl-ns tc mw8">
      <h1 class="tc">Categories:</h1>
      <div class="ml6-l ml4-m">
        <ul class="fluid-bullet three-columns-l two-columns-m bullet-inside">
          {% for category, articles in categories|sort %}
            <li class="pv2">
              <a href="{{ SITEURL }}/{{ category.url }}"
                   rel="bookmark">
                <p class="di ttc">
                   {{ category.name|replace("-", " ") }} ({{ articles|count }})
                </p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </article>
  </div>
{% endblock content %}
