{% extends "base.html" %}

{% block meta %}
  <meta name="keywords" content="TODO">
  <meta name="description" content="TODO">
{% endblock meta %}

{% block title %}{{ gettext('Categories') }} | {{ SITENAME }}{% endblock %}

{% block header %}
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="../"><img src="../{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
{% endblock header %}

{% block content %}
  <div class="divpage">
    <article>
      <div class="breadcrumbs">
        <ul>
          <li><a href="../">{{ gettext('Home') }}</a></li>
        </ul>
      </div>
      <h1>{{ gettext('Categories') }}:</h1>
      <div class="preamble">
        <div class="itemlist">
          <ul>
            {% for category, articles in categories|sort %}
              <li>
                <a href="../{{ category.url }}" rel="bookmark">
                  <p>{{ category.name|replace("-", " ") }} ({{ articles|count }})</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </article>
  </div>
{% endblock content %}
