{% extends "index.html" %}

{% block meta %}
  <meta name="description"
        content="Here you can find all the articles of the blog which are related to the
        category {{ category.name|replace('-', ' ')|capitalize }}. The articles are ordered according to their publishing date and may
        address different subjets related to the field of Information Security.">
  <meta name="keywords"
        content="Article, Category, Blog, Information, Security, Date">
{% endblock meta %}

{% block title %}{{ category.name|replace("-", " ")|capitalize }} | {{ AUTHOR }}{% endblock %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/blog/">
{% endblock canonical %}

{% block breadcrumb %}
  <!-- navcontent-container -->
  <div class="pv0 ph2 shadow-4">
    <!-- navcontent-info -->
    <div class="df ma-auto">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100 ma-auto">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>Home</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/blog/">
              &nbsp;<strong>Blog</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="../">
              &nbsp;<strong>Categories</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">&nbsp;{{ category.name|replace("-", " ")|capitalize }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
