{% extends "base.html" %}

{% block meta %}
  <meta name="keywords" content="{{ gettext('An error occured. The page you requested does not exist or is not available at the moment. Here you can find links to most of the relevant content of the website') }}.">
  <meta name="description" content="{{ gettext('Error, Request, Page, Availability, Links, Content') }}">
{% endblock meta %}

{% block title %}
  {% if DEFAULT_LANG == "en" %}
{{ gettext('The page was not found') }} | {{ SITENAME }}
  {% else %}
{{ gettext('The page was not found') }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/error/">{% endblock canonical %}

{% block language %}
  {% if DEFAULT_LANG == "en" %}
    <link rel="alternate" href="{{ SITEURL }}/error/" hreflang="en-us" />
    <link rel="alternate" href="{{ SUBSITEURL }}/error/" hreflang="es-co" />
  {% else %}
    <link rel="alternate" href="{{ SITEURL }}/error/" hreflang="es-co" />
    <link rel="alternate" href="{{ SUBSITEURL }}/error/" hreflang="en-us" />
  {% endif %}
{% endblock language %}

{% block header %}
  <!-- Page Header -->
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
{% endblock header %}

{% block content %}
  <div class="divpage">
    <article>
      <h1>ERROR 404: {{ gettext('PAGE NOT FOUND') }}</h1>
      <p>{{ gettext('Click the flag to view this page in spanish') }}
        <span>
          <a href="{{ SITEURL }}/../{{ gettext('es') }}/error/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ gettext('es') }}.png" alt="gettext('Spain flag') }}"></a>
        </span>
      </p>
      <p>{{ gettext('It seems nothing was found in this address. Try searching or browsing to one of the following links') }}:</p>
      <h2>{{ gettext('Services') }}</h2>
        <ul class="ulist">  
          {% for page in pages if page.category.name == gettext('services') %}
            <li>
              <p><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></p>
            </li>
          {% endfor %}
        </ul>
        <h2>{{ gettext('Products') }}</h2>
        <ul class="ulist">  
          {% for page in pages if page.category.name == gettext('products') %}
            <li>
              <p><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></p>
            </li>
          {% endfor %}
        </ul>
        <h2>{{ gettext('Recent Blog Entries') }}</h2> 
        {% set recent = articles if not all_articles else all_articles %}
        <ul class="ulist">
          {% for article in recent %}
            {% if loop.index <= 6 %}
              <li>
                <p><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></p>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
  	<h2>{{ gettext('Blog Categories') }}</h2>
        <ul class="ulist">  
          {% for category, articles in categories %}
            <li>
              <p><a href="{{ SITEURL }}/{{ category.url }}">{{ category|capitalize }}</a></p>
            </li>
          {% endfor %}
        </ul>
        <h2>{{ gettext('Careers') }}</h2>
        <ul class="ulist">  
          {% for page in pages if page.category.name == gettext('careers') %}
            <li>
              <p><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></p>
            </li>
          {% endfor %}
        </ul>
    </article>
  </div>
{% endblock content %}
