{% extends "base.html" %}

{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
  <div class="pv0 ph2 shadow-4">
    <!-- navcontent-info -->
    <div class="df ma-auto">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100 ma-auto">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>Home</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/careers/">
              <strong>Careers</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">&nbsp;{{ page.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}

{% block content %}
  <div class="divpage mb4">
    <article class="ma-auto tl mw8">
      <h1 class="tc pb4">
        {{ page.title }}
      </h1>
      {{ page.content }}
      {% for faqpage in pages if faqpage.faq %}
      {% if loop.first %}
      <a class="defends-category bg-white bb b--light-silver flex black w-100 pointer ttc">
        <h2 class="w6">
          {{ faqpage.category|replace('-', ' ') }}
        </h2>
      </a>
      {% set cat = faqpage.category %}
      <div class="defendspanel overflow-hidden bg-white mb2">
        <div class="pl4-l">
          {{ faqpage.content }}
        </div>
      </div>
      {% else %}
      {% if faqpage.category != loop.previtem.category %}
      <a class="defends-category bg-white bb b--light-silver flex black w-100 pointer ttc mb3">
        <h2 class="w6 tj">
          {{ faqpage.category|replace('-', ' ') }}
        </h2>
      </a>
      {% set cat = faqpage.category %}
      <div class="defendspanel overflow-hidden bg-white mb2">
        <div class="pl4-l">
          {{ faqpage.content }}
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% assets output="static/js/faq.min.js", "js/tmp/defends.min.js", "js/tmp/faqContent.min.js" %}
        <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
      {% endassets %}
    </article>
  </div>
{% endblock content %}
