<div class="footer">
  <div class="divcompany">
    <div class="divlogo">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png" alt="{{ gettext('Footer-logo-1') }}">
    </div>
    <div class="divsocial">
      <a href="https://twitter.com/fluidsignal"><img src="{{ SITEURL }}/theme/images/social-media/twitterwhite.png" alt="{{ gettext('Footer-logo-2') }}"></a>
      <a href="https://www.facebook.com/fluidsignal/"><img src="{{ SITEURL }}/theme/images/social-media/facebookwhite.png" alt="{{ gettext('Footer-logo-3') }}"></a>
      <a href="https://plus.google.com/+FluidLa"><img src="{{ SITEURL }}/theme/images/social-media/gpluswhite.png" alt="{{ gettext('Footer-logo-4') }}"></a>
      <a href="https://co.linkedin.com/in/fluidsignal"><img src="{{ SITEURL }}/theme/images/social-media/linkedinwhite.png" alt="{{ gettext('Footer-logo-5') }}"></a>
      <a href="https://www.youtube.com/user/fluidsignal"><img src="{{ SITEURL }}/theme/images/social-media/youtubewhite.png" alt="{{ gettext('Footer-logo-6') }}"></a>
    </div>
  </div>
  <div class="navfoot">
    <div class="colfoot">
      <a href="{{ SITEURL }}/"><h3>{{ gettext('Footer-header-1') }}</h3></a>
      <a href="{{ SITEURL }}/#{{ gettext('Footer-link-1.1') }}">{{ gettext('Footer-subtitle-1.1') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-1.2') }}/">{{ gettext('Footer-subtitle-1.2') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-1.3') }}/">{{ gettext('Footer-subtitle-1.3') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-1.4') }}/">{{ gettext('Footer-subtitle-1.4') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-1.5') }}/">{{ gettext('Footer-subtitle-1.5') }}</a><br>
      <a href="{{ SITEURL }}/../en/contact-us/">{{ gettext('Footer-subtitle-1.6') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-1.7') }}/">{{ gettext('Footer-subtitle-1.7') }}</a>
    </div>
    <div class="colfoot">
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-1') }}/"><h3>{{ gettext('Footer-header-2') }}</h3></a>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-1') }}/{{ gettext('Footer-link-2.1') }}/">{{ gettext('Footer-subtitle-2.1') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-1') }}/{{ gettext('Footer-link-2.2') }}/">{{ gettext('Footer-subtitle-2.2') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-1') }}/faq/">FAQ</a>
    </div>
    <div class="colfoot">
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/"><h3>{{ gettext('Footer-header-3') }}</h3></a>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/integrates/">Integrates</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/asserts/">Asserts</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/rules/">Rules</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/defends/">Defends</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/commands/">Commands</a>
    </div>

    <div class="colfoot">
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-4') }}/"><h3>{{ gettext('Footer-header-5') }}</h3></a>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-4') }}/{{ gettext('Footer-link-5.1') }}/">{{ gettext('Footer-subtitle-5.1') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-4') }}/{{ gettext('Footer-link-5.2') }}/">{{ gettext('Footer-subtitle-5.2') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-4') }}/{{ gettext('Footer-link-5.3') }}/">{{ gettext('Footer-subtitle-5.3') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-4') }}/{{ gettext('Footer-link-5.4') }}/">{{ gettext('Footer-subtitle-5.4') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-4') }}/{{ gettext('Footer-link-5.5') }}/">{{ gettext('Footer-subtitle-5.5') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-4') }}/industrial/">Industrial</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-4') }}/{{ gettext('Footer-link-5.7') }}/">{{ gettext('Footer-subtitle-5.7') }}</a>
    </div>

    <div class="colfoot">
      <a href="{{ SITEURL }}/blog/"><h3>Blog</h3></a>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-3.1') }}/">{{ gettext('Footer-subtitle-3.1') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-3.2') }}/">{{ gettext('Footer-subtitle-3.2') }}</a><br>
      <a href="{{ SITEURL }}/blog/{{ gettext('Footer-link-3.3') }}/">{{ gettext('Footer-subtitle-3.3') }}</a><br>
      <a href="{{ SITEURL }}/blog/{{ gettext('Footer-link-3.4') }}/">{{ gettext('Footer-subtitle-3.4') }}</a><br>
      <a href="{{ SITEURL }}/blog/{{ gettext('Footer-link-3.5') }}/">{{ gettext('Footer-subtitle-3.5') }}</a><br>
      <a href="{{ SITEURL }}/../en/format/">{{ gettext('Footer-subtitle-3.6') }}</a>
    </div>
    <div class="colfoot">
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-3') }}/"><h3>{{ gettext('Footer-header-4') }}</h3></a>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-3') }}/{{ gettext('Footer-link-4.1') }}/">{{ gettext('Footer-subtitle-4.1') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-3') }}/{{ gettext('Footer-link-4.2') }}/">{{ gettext('Footer-subtitle-4.2') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-3') }}/{{ gettext('Footer-link-4.3') }}/">{{ gettext('Footer-subtitle-4.3') }}</a><br>
	  <a href="{{ SITEURL }}/{{ gettext('Footer-cat-3') }}/{{ gettext('Footer-link-4.4') }}/">{{ gettext('Footer-subtitle-4.4') }}</a><br>
	  <a href="{{ SITEURL }}/{{ gettext('Footer-cat-3') }}/{{ gettext('Footer-link-4.5') }}/">{{ gettext('Footer-subtitle-4.5') }}</a><br>
	  <a href="{{ SITEURL }}/{{ gettext('Footer-cat-3') }}/{{ gettext('Footer-link-4.6') }}/">{{ gettext('Footer-subtitle-4.6') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-3') }}/faq/">FAQ</a><br>
    </div>

  </div>
</div>
