<div class="footer">
  <div class="divcompany">
    <div class="divlogo">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png" alt="{{ gettext('FLUID logo') }}">
    </div>
    <div class="divsocial">
      <a href="https://twitter.com/fluidsignal"><img src="{{ SITEURL }}/theme/images/social-media/twitterwhite.png" alt="{{ gettext('Twitter logo') }}"></a>
      <a href="https://www.facebook.com/fluidsignal/"><img src="{{ SITEURL }}/theme/images/social-media/facebookwhite.png" alt="{{ gettext('Facebook logo') }}"></a>
      <a href="https://plus.google.com/+FluidLa"><img src="{{ SITEURL }}/theme/images/social-media/gpluswhite.png" alt="{{ gettext('Google Plus logo') }}"></a>
      <a href="https://co.linkedin.com/in/fluidsignal"><img src="{{ SITEURL }}/theme/images/social-media/linkedinwhite.png" alt="{{ gettext('LinkedIn logo') }}"></a>
      <a href="https://www.youtube.com/user/fluidsignal"><img src="{{ SITEURL }}/theme/images/social-media/youtubewhite.png" alt="{{ gettext('YouTube logo') }}"></a>
    </div>
  </div>
  <div class="navfoot">
    <div class="colfoot">
      <a href="{{ SITEURL }}/"><h3>{{ gettext('About Us') }}</h3></a>
      <a href="{{ SITEURL }}/#{{ gettext('customers') }}">{{ gettext('Customers') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('values') }}">{{ gettext('Values') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('location') }}/">{{ gettext('Location') }}</a><br>
      <a href="{{ SITEURL }}/../en/contact-us/">{{ gettext('Contact Us') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('terms-use') }}/">{{ gettext('Terms of Use') }}</a>
    </div>
    <div class="colfoot">
      <a href="{{ SITEURL }}/{{ gettext('services') }}/"><h3>{{ gettext('Services') }}</h3></a>
      <a href="{{ SITEURL }}/{{ gettext('services') }}/{{ gettext('one-shot-hacking') }}/">{{ gettext('One-Shot Hacking') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('services') }}/{{ gettext('continuous-hacking') }}/">{{ gettext('Continuous Hacking') }}</a>
    </div>
    <div class="colfoot">
      <a href="{{ SITEURL }}/{{ gettext('products') }}/"><h3>{{ gettext('Products') }}</h3></a>
      <a href="{{ SITEURL }}/{{ gettext('products') }}/fluidintegrates/">FLUIDIntegrates</a><br>
      <a href="{{ SITEURL }}/{{ gettext('products') }}/fluidasserts/">FLUIDAsserts</a><br>
      <a href="{{ SITEURL }}/{{ gettext('products') }}/fluidcommands/">FLUIDCommands</a><br>
      <a href="{{ SITEURL }}/kb/">FLUIDHardens</a>
    </div>
    <div class="colfoot">
      <a href="{{ SITEURL }}/blog/"><h3>Blog</h3></a>
      <a href="{{ SITEURL }}/{{ gettext('style') }}/">{{ gettext('Style') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('topics') }}/">{{ gettext('Topics') }}</a><br>
      <a href="{{ SITEURL }}/blog/{{ gettext('tags') }}/">{{ gettext('Tags') }}</a><br>
      <a href="{{ SITEURL }}/blog/{{ gettext('authors') }}/">{{ gettext('Authors') }}</a>
    </div>
    <div class="colfoot">
      <a href="{{ SITEURL }}/{{ gettext('careers') }}/"><h3>{{ gettext('Careers') }}</h3></a>
      <a href="{{ SITEURL }}/{{ gettext('careers') }}/{{ gettext('reasons') }}/">{{ gettext('Reasons') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('careers') }}/{{ gettext('positions') }}/">{{ gettext('Positions') }}</a><br>
      <a href="{{ SITEURL }}/{{ gettext('careers') }}/{{ gettext('terms') }}/">{{ gettext('Terms') }}</a><br>
	  <a href="{{ SITEURL }}/{{ gettext('careers') }}/faq/">FAQ</a><br>
    </div>
  </div>
</div>
