<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<div class="bg-fluid-red minw-100 flex-l">
  <!-- company logo -->
  <div class="divcompany pt3 pt4-l pl3-l">
    <div class="divlogo tc">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png"
           alt="Fluid Attacks logo" class="w5-m">
    </div>
    <!-- social media -->
    <div class="divsocial flex justify-center pt4 pb3">
      <a class="pr3"
         href="https://twitter.com/fluidattacks">
        <img class="grow-large w2"
             src="{{ SITEURL }}/theme/images/social-media/twitter.png"
             alt="Twitter logo">
      </a>
      <a class="pr3"
         href="https://www.facebook.com/Fluid-Attacks-267692397253577/">
        <img class="grow-large w2"
             src="{{ SITEURL }}/theme/images/social-media/facebook.png"
             alt="Facebook logo">
      </a>
      <a class="pr3"
         href="https://www.linkedin.com/company/fluidattacks/">
        <img class="grow-large w2"
             src="{{ SITEURL }}/theme/images/social-media/linkedin.png"
             alt="LinkedIn logo">
      </a>
      <a class="pr3"
         href="https://www.youtube.com/user/fluidsignal">
        <img class="grow-large w2"
             src="{{ SITEURL }}/theme/images/social-media/youtube.png"
             alt="YouTube logo">
      </a>
    </div>
  </div>
  <!-- footer menu -->
  <div class="pb4 flex flex-wrap w-100-l">
    <div class="colfoot pt4-l b w-50 w-33-m w-20-l">
      <div class="ma-auto-l ml4">
        <a href="{{ SITEURL }}/about-us/" >
          <h3 class="white f3 mt0-l hv-fluid-bk">
              About Us
          </h3>
        </a>
        <a class="white f5 hv-fluid-bk"
          href="{{ SITEURL }}/values/">
          Values
        </a><br>
        <a class="white f5 hv-fluid-bk"
          href="{{ SITEURL }}/events/">
          Events
        </a><br>
        <a class="white f5 hv-fluid-bk"
          href="{{ SITEURL }}/people/">
          People
        </a><br>
        <a class="white f5 hv-fluid-bk"
          href="{{ SITEURL }}/partners/">
          Partners
        </a><br>
        <a class="white f5 hv-fluid-bk"
          href="{{ SITEURL }}/location/">
          Location
        </a><br>
        <a class="white f5 hv-fluid-bk"
          href="{{ SITEURL }}/contact-us/">
          Contact Us
        </a><br>
        <a class="white f5 hv-fluid-bk"
          href="{{ SITEURL }}/reviews/">
          Reviews
        </a><br>
      </div>
    </div>
    <div class="colfoot pt4-l b w-50 w-33-m w-20-l">
      <div class="ma-auto-l ml4">
        <a href="{{ SITEURL }}/services/">
          <h3 class="white f3 mt0-l hv-fluid-bk">
              Services
          </h3>
        </a>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/services/one-shot-hacking/">
           One-Shot Hacking
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/services/continuous-hacking/">
           Continuous Hacking
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/services/differenciators/">
           Differenciators
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/services/comparative/">
           Comparative
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/services/certifications/">
           Certifications
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/services/faq/">
           FAQ
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/categories/attacks/">
           Attacks
        </a>
      </div>
    </div>
    <div class="colfoot pt4-l b w-50 w-33-m w-20-l">
      <div class="ma-auto-l ml4">
        <a href="{{ SITEURL }}/products/">
          <h3 class="white f3 mt0-l hv-fluid-bk">
              Products
          </h3>
        </a>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/products/integrates/">
           Integrates
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/products/asserts/">
           Asserts
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/products/rules/">
           Rules
        </a><br>
      </div>
    </div>
    <div class="colfoot pt4-l b w-50 w-33-m w-20-l">
      <div class="ma-auto-l ml4">
        <a href="{{ SITEURL }}/blog/">
          <h3 class="white f3 mt0-l hv-fluid-bk" >
              Blog
          </h3></a>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/subscription/">
           Subscribe
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/blog/categories/">
           Categories
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/blog/tags/">
           Tags
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/blog/authors/">
           Authors
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/topics/">
           Topics
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/style/">
           Style
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/format/">
           Format
        </a>
      </div>
    </div>
    <div class="colfoot pt4-l b w-50 w-33-m w-20-l">
      <div class="ma-auto-l ml4">
        <a href="{{ SITEURL }}/careers/">
           <h3 class="white f3 mt0-l hv-fluid-bk">
               Careers
           </h3>
        </a>
        <a class="white f5 hv-fluid-bk"
           href="https://community.fluidattacks.com/">
           Community
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/careers/reasons/">
           Reasons
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/careers/openings/">
           Openings
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/careers/terms/">
           Terms
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/careers/knowledge-test/">
           Knowledge Test
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/careers/technical-challenges/">
           Challenges
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/careers/immersion/">
           Immersion
        </a><br>
        <a class="white f5 hv-fluid-bk"
           href="{{ SITEURL }}/careers/faq/">
           FAQ
        </a><br>
      </div>
    </div>
  </div>
</div>
<!-- status bar -->
<div class="h2 bg-white b hv-fluid-dkred">
  <a class="c-fluid-bk f5 mt2 pl3"
     href="http://status.fluidattacks.com/">
     Service status
  </a>
  <span> - </span>
  <a class="c-fluid-bk f5 mt2"
     href="{{ SITEURL }}/terms-use/">
     Terms of Use
  </a>
</div>
