{% for hardenspage in pages if hardenspage.hardens %}
  {% if loop.first %}
    <a class="hardens-category">
      <h2>{{ hardenspage.category }}</h2>
    </a>
    {% set cat = hardenspage.category %}
    <div class="hardenspanel">
      {% for hardensarticle in pages if hardensarticle.hardens and hardensarticle.category == cat%}
        <a href="../{{ hardensarticle.slug }}"><h3>{{ hardensarticle.title }}</h3></a>
      {% endfor %}
    </div>  
  {% else %}
    {% if hardenspage.category != loop.previtem.category %}
      <a class="hardens-category">
        <h2>{{ hardenspage.category }}</h2>
      </a>
      {% set cat = hardenspage.category %}
      <div class="hardenspanel">
        {% for hardensarticle in pages if hardensarticle.hardens and hardensarticle.category == cat%}
          <a href="../{{ hardensarticle.slug }}"><h3>{{ hardensarticle.title }}</h3></a>
        {% endfor %}
      </div>  
    {% endif %}
  {% endif %}
{% endfor %}
{% assets filters="uglifyjs", output="static/js/hardens.min.js", "js/hardens.js" %}
  <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
