{% extends "base.html" %}

{% block meta %}
  <meta name="description" content="{{ gettext('Home-metadescription') }}.">
  <meta name="keywords" content="{{ gettext('Home-keywords')}}.">
{% endblock meta %}

{% block title %}{{ gettext('Home-title') }}2 | {{ SITENAME }}{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/home/">{% endblock canonical %}

{% block language %}
  <link rel="alternate" href="{{ SITEURL }}/home/" hreflang="en-us" />
{% endblock language %}

{% block header %}
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->        
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="{{ gettext('Header-img-alt') }}"></a>
  {% endif %}   
    </header>
{% endblock header %}

{% block content %}
  <div class="divindex">
    {% for page in pages if page.home %}
      <div class="blog-post">
        <div class="post-preview">                 
          <img src="../{{ page.slug }}{{ page.image }}" alt="{{ page.alt }}">
          <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title|striptags }}">
            <h2 class="post-title">
              {{ page.title }}
            </h2>
          </a>
          <p class="article-summary">
            {% if page.has_summary %}
              {{ page.summary }}
            {% elif page.summary %}
              {{ page.summary|striptags|truncate(320) }}
            {% endif %}
          </p>
          <br><br>
          <div class="divread consult">
            <a class="button" href="{{ SITEURL }}/{{ page.url }}">{{ gettext('Home-msg-btn') }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
