{% extends "base.html" %}

{% block meta %}
  <meta name="keywords" content="{{ gettext('We are a company specialized in Ethical Hacking over Applications and Infrastructure. We are hackers who develop our own tools and exploits, with the aim of identifying all the vulnerabilities of your applications and report them as soon as possible') }}.">
  <meta name="description" content="{{ gettext('FLUID, Ethical Hacking, Vulnerability, Diagnosis, Application, Infrastructure')}}.">
{% endblock meta %}

{% block title %}{{ gettext('Home') }}2 | {{ SITENAME }}{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/"/>{% endblock canonical %}

{% block header %}
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->        
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
    </header>
{% endblock header %}

{% block content %}
  <div class="divindex">
    {% for page in pages if page.home %}
      <div class="blog-post">
        <div class="post-preview">                 
          <img src="../{{ page.slug }}{{ page.image }}" alt="{{ page.alt }}">
          <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title|striptags }}">
            <h2 class="post-title">
              {{ page.title }}
            </h2>
          </a>
          <p class="article-summary">
            {% if page.has_summary %}
              {{ page.summary }}
            {% elif page.summary %}
              {{ page.summary|striptags|truncate(320) }}
            {% endif %}
          </p>
          <br><br>
          <div class="divread consult">
            <a class="button" href="{{ SITEURL }}/{{ page.url }}">{{ gettext('Consult Service') }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
