{% extends "base.html" %}

{% block meta %}
  <meta name="description" content="{{ gettext('Index-metadescription') }}">
  <meta name="keywords" content="{{ gettext('Index-keywords') }}">
{% endblock meta %}

{% block title %}
{{ gettext('Index-title') }} | {{ SITENAME }}
{% endblock %}

{% block header %}
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->        
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="{{ gettext('Header-img-alt') }}"></a>
  {% endif %}   
    </header>
{% endblock header %}

{% block content %}
  <div class="divindex">
    {% for article in articles_page.object_list %}
      <div class="blog-post">
        <div class="post-preview">
          {% if  article.featured_image %}            
             <img src="{{ SITEURL }}/blog/{{ article.slug }}{{ article.featured_image }}" alt="{{ article.alt }}">
          {% endif %}
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
            <h1 class="post-title">
              {{ article.title }}
              {% if article.subtitle %}
              : {{ article.subtitle }}
              {% endif %}
            </h1>
          </a>
          <img class="imgprev" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icon.png" alt="{{ gettext('Index-icon-alt-1') }}">
          {% for author in article.authors %}
            <a class="aautor" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
          &nbsp;&nbsp;<img class="imgprev" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/folder.png" alt="{{ gettext('Index-icon-alt-2') }}">
          <a class="aautor" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category|replace("-", " ") }}</a>
          &nbsp;&nbsp;<img class="imgprev" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/tags.png" alt="{{ gettext('Index-icon-alt-3') }}">
          {% for tag in article.tags %}
            {% if loop.last %}
              <a class="aautor" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% else %}
              <a class="aautor" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }},&nbsp;</a>
            {% endif %}
          {% endfor %}
          <p class="article-summary">
            {% if article.has_summary %}
              {{ article.summary }}
            {% elif article.summary %}
              {{ article.summary|striptags|truncate(320) }}
            {% endif %}
          </p>
          <br><br>
          <div class="divread">
            <a class="button" href="{{ SITEURL }}/{{ article.url }}">{{ gettext('Index-msg-btn') }} >></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% include "pagination.html" %}
{% endblock content %}
