{% for kbpage in pages if kbpage.kb %}
  {% if loop.first %}
    <a class="kb-category">
      <h2>{{ kbpage.category }}</h2>
    </a>
    {% set cat = kbpage.category %}
    <div class="kbpanel">
      {% for kbarticle in pages if kbarticle.kb and kbarticle.category == cat%}
        <a href="../{{ kbarticle.slug }}"><h3>{{ kbarticle.title }}</h3></a>
      {% endfor %}
    </div>  
  {% else %}
    {% if kbpage.category != loop.previtem.category %}
      <a class="kb-category">
        <h2>{{ kbpage.category }}</h2>
      </a>
      {% set cat = kbpage.category %}
      <div class="kbpanel">
        {% for kbarticle in pages if kbarticle.kb and kbarticle.category == cat%}
          <a href="../{{ kbarticle.slug }}"><h3>{{ kbarticle.title }}</h3></a>
        {% endfor %}
      </div>  
    {% endif %}
  {% endif %}
{% endfor %}
{% assets filters="uglifyjs", output="static/js/kb.min.js", "js/kb.js" %}
  <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
