{% extends "base.html" %}

{% block meta %}
  <meta name="description" content="{{ gettext('Landing-metadescription') }}.">
  <meta name="keywords" content="{{ gettext('Landing-keywords')}}.">
{% endblock meta %}

{% block title %}{{ gettext('Landing-title') }} | {{ SITENAME }}{% endblock title %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/">{% endblock canonical %}

{% block language %}
  {% if DEFAULT_LANG == "en" %}
    <link rel="alternate" href="{{ SITEURL }}/" hreflang="en-us" />
    <link rel="alternate" href="{{ SUBSITEURL }}/" hreflang="es" />
  {% elif DEFAULT_LANG == "es" %}
    <link rel="alternate" href="{{ SITEURL }}/" hreflang="es" />
    <link rel="alternate" href="{{ SUBSITEURL }}/" hreflang="en-us" />
  {% endif%}
{% endblock language %}

{% block content %}
<div class="home">
  <div class="purpose-sec">
    <div class="purpose-txt">
      <h1>{{ gettext('Index-header-0') }}</h1>
      <p>{{ gettext('Index-msg-0') }}</p>
    </div>
    <div class="purpose-img">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/purpose-1.svg" alt="{{ gettext('Purpose-img-alt-1') }}">
      <p>{{ gettext('Purpose-msg-1') }}</p>
    </div>
    <div class="purpose-img">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/purpose-2.svg" alt="{{ gettext('Purpose-img-alt-2') }}">
      <p>{{ gettext('Purpose-msg-2') }}</p>
    </div>
    <div class="purpose-img">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/purpose-3.svg" alt="{{ gettext('Purpose-img-alt-3') }}">
      <p>{{ gettext('Purpose-msg-3') }}</p>
    </div>

  </div>
  <div class="services">
    <h1>{{ gettext('Index-header-1') }}</h1>
    <p>{{ gettext('Index-msg-1') }} </p>
    <div class="serv-offer">
      <div class="serv">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/service-1.svg" alt="{{ gettext('Index-img-alt') }}">
        <h1><a href="{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-1') }}/"><strong>{{ gettext('Index-header-2') }}</strong></a></h1>
      </div>
      <div class="serv">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/service-2.svg" alt="{{ gettext('Index-img-alt') }}">
        <h1><a href="{{SITEURL}}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-2') }}/"><strong>{{ gettext('Index-header-3') }}</strong></a></h1>
      </div>
    </div>
    <p>{{ gettext('Serv-txt') }} <a href="{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-3') }}/"><strong>{{ gettext('Index-header-3.1') }}</strong></a></p>
    <div class="serv-form">
    </div>
  </div>
  <div class="tecniques-sec">
  <div class="tecniques">
    <h1>{{ gettext('Index-tst-1') }}</h1>
    <p>{{ gettext('Index-tstmsg-1') }}</p>
  </div>
  <div class="tecniques">
    <ul>
      <li><h4>{{ gettext('Index-itm1') }}</h4></li>
      <li><h4>{{ gettext('Index-itm2') }}</h4></li>
      <li><h4>{{ gettext('Index-itm3') }}</h4></li>
    </ul>
  </div>
  </div>
  <div class="products">
    <div class="product-header">
    <h1>{{ gettext('Navb-opt-3') }}</h1>
    <p>{{ gettext('Product-msg') }}</p>
    </div>
    <div class="product">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/product-1.svg" alt="{{ gettext('Product-img-alt-1') }}">
     <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/rules/"><span>Rules</span></a><br>
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}">
    </div>
    <div class="product">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/product-2.svg" alt="{{ gettext('Product-img-alt-2') }}">
     <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/defends/"><span>Defends</span></a><br>
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}">
    </div>
    <div class="product">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/product-3.svg" alt="{{ gettext('Product-img-alt-3') }}">
     <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/integrates/"><span>Integrates</span></a><br>
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}">
    </div>
    <div class="product">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/product-4.svg" alt="{{ gettext('Product-img-alt-4') }}">
     <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/asserts/"><span>Asserts</span></a><br>
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}">
    </div>
    <div class="product">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/product-5.svg" alt="{{ gettext('Product-img-alt-5') }}">
     <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/commands/"><span>Commands</span></a><br>
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}">
    </div>
  </div>
  <div class="testing">
    <h1>{{ gettext('Testing-hdr') }}</h1>
    <p>{{ gettext('Testing-msg') }}</p>
    <h4>{{ gettext('Testing-subtitle-1') }}</h4>
    <table class="tbl-testing">
      <tr>
        <th class="firstcell">{{ gettext('Table1x1-msg') }}</th>
        <th>DXST</th>
        <th>SAST</th>
        <th>IAST</th>
        <th>SCA</th>
        <th>SecDevOps</th>
      </tr>
      <tr>
        <td>{{ gettext('Table2x1-msg') }}</td>
        <td></td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td></td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
      </tr>
      <tr>
        <td class="graytd">{{ gettext('Table3x1-msg') }}</td>
        <td class="graytd"></td>
        <td class="graytd"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td class="graytd"></td>
        <td class="graytd"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td class="graytd"></td>
      </tr>
      <tr>
        <td >{{ gettext('Table4x1-msg') }}</td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td></td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td></td>
      </tr>
      <tr>
        <td class="graytd">{{ gettext('Table5x1-msg') }}</td>
        <td class="graytd"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td class="graytd"></td>
        <td class="graytd"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td class="graytd"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td class="graytd"></td>
      </tr>
      <tr>
        <td>{{ gettext('Table6x1-msg') }}</td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td></td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
        <td><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"></td>
      </tr>
    </table>
      <div class="tst-ftr-1">
        <p>{{ gettext('tst-ftr-msg-2') }}</p>
        <p>{{ gettext('tst-ftr-msg-3') }}</p>
        <p>{{ gettext('tst-ftr-msg-4') }}</p>
        <p>{{ gettext('tst-ftr-msg-5') }}</p>
      </div>
      <div class="tst-ftr-2">
        <p>{{ gettext('tst-ftr-msg-6') }}</p>
        <p>{{ gettext('tst-ftr-msg-7') }}</p>
        <p>{{ gettext('tst-ftr-msg-8') }}</p>
        <p>{{ gettext('tst-ftr-msg-9') }}</p>
      </div>
      <div class="tst-diagram">
        <h4>{{ gettext('Testing-subtitle-2') }}</h4>
      </div>
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/table2.png" alt="{{ gettext('Tst-table-alt-2') }}">
  </div>
  <div class="benefits">
    <div class="benefit-header">
      <h1>{{ gettext('Index-bnft-header') }}</h1>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-1.svg" alt="{{ gettext('Index-img-alt-2') }}">
     <span>1</span>
     <p>{{ gettext('Index-bnft-1') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-2.svg" alt="{{ gettext('Index-img-alt-3') }}">
     <span>2</span>
     <p>{{ gettext('Index-bnft-2') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-3.svg" alt="{{ gettext('Index-img-alt-4') }}">
     <span>3</span>
     <p>{{ gettext('Index-bnft-3') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-4.svg" alt="{{ gettext('Index-img-alt-5') }}">
     <span>4</span>
     <p>{{ gettext('Index-bnft-4') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-5.svg" alt="{{ gettext('Index-img-alt-6') }}">
     <span>5</span>
     <p>{{ gettext('Index-bnft-5') }}</p>
    </div>
  </div>
  <div class="benefit-ftr">
      <p>{{ gettext('Bnft-footmsg') }} <a href="{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Footer-link-2.3') }}/"><span>{{ gettext ('Footer-link-2.3') }}</span></a> <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg" alt="{{ gettext('Product-img-alt-6') }}"> </p>
  </div>
  <div class="customers">
    <h1>{{ gettext('Index-header-4') }}</h1>
    <div class="paragraph cstmr-msg">
      <p>{{ gettext('Index-msg-2') }}</p>
    </div>
    <div class="paragraph">
      <p>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/bancolombia-logo.png" alt="Bancolombia"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/aval-logo.png" alt="Aval"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/bbva-logo.png" alt="BBVA"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/colpatria-logo.png" alt="Colpatria"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/banistmo-logo.png" alt="Banistmo"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/pacifico-logo.png" alt="Banco del Pacífico"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/banesco-logo.png" alt="Banesco"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/agromercantil-logo.png" alt="Banco Agromercantil"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/agricola-logo.png" alt="Banco Agrícola"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/sura-logo.png" alt="Sura"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/proteccion-logo.png" alt="Protección"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/une-tigo-logo.png" alt="Tigo Une"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/claro-logo.png" alt="Claro"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/internexa-logo.png" alt="Internexa"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/xm-logo.png" alt="XM"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/grupo-argos-logo.png" alt="Grupo Argos"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/corona-logo.png" alt="Corona"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/manuelita-logo.png" alt="Manuelita"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/grupo-exito-logo.png" alt="Grupo Exito"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/avianca-logo.png" alt="Avianca"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/francol-logo.png" alt="La Francol"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/rsa-logo.png" alt="RSA"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/themissinglink-logo.png" alt="The Missing Link"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/komet-logo.png" alt="Kometsales"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/creative-logo.png" alt="Cre8tive"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/teraport-logo.png" alt="Teraport"></span>
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/s4n-logo.png" alt="S4N"></span>
      </p>
    </div>
  </div>
  <div class="contact-sec">
    <div class="contact-txt">
      <p>{{ gettext('Contact-txt') }}</p>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-1.6') }}/" class="button">{{ gettext('Footer-subtitle-1.6') }}</a>
    </div>
    <div class="contact-img">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/contact.svg" alt="{{ gettext('Contact-img-alt') }}">
    </div>
  </div>
</div>

{% endblock content %}
