{% extends "base.html" %}

{% block meta %}
  <meta name="description" content="{{ gettext('Landing-metadescription') }}.">
  <meta name="keywords" content="{{ gettext('Landing-keywords')}}.">
{% endblock meta %}

{% block title %}{{ gettext('Landing-title') }} | {{ SITENAME }}{% endblock title %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/">{% endblock canonical %}

{% block content %}

<div class="home">
  <div class="services">
    <h1>{{ gettext('Index-header-1') }}</h1>
    <div class="serv-offer">
      <div class="serv">
        <h3><a href="{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-1') }}/"><strong>{{ gettext('Index-header-2') }}</strong></a></h3>
        <p>{{ gettext('Index-text-1') }} <br>  </p>
        <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-1') }}'">{{ gettext('btn-text-1') }}</button>
      </div>
      <div class="serv">
        <h3><a href="{{SITEURL}}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-2') }}/"><strong>{{ gettext('Index-header-3') }}</strong></a></h3>
        <p>{{ gettext('Index-text-2') }} <br> </p>
        <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-2') }}'">{{ gettext('btn-text-1') }}</button>
      </div>
    </div>
    <p>{{ gettext('Serv-txt') }} <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-3') }}'">{{ gettext('Index-header-3.1') }}</button> page.</p>
    <div class="serv">
    </div>
  </div>
  <div class="trusted">
    <p>Trusted by: </p>
    <div class="owl-carousel" >
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/mazda-logo.png" alt="Mazda logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/manpower-logo.png" alt="Manpower logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/rsa-logo.png" alt="RSA logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/avianca-logo.png" alt="Avianca logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/exito-logo.png" alt="Éxito logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/coordinadora-logo.png" alt="Coordinadora logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/banpacifico-logo.png" alt="Banco del Pacífico logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/vm2020-logo.png" alt="VM2020 logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/koombea-logo.png" alt="Koombea logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/lafrancol-logo.png" alt="Lafrancol logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/sura-logo.png" alt="Sura logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/banesco-logo.png" alt="Banesco logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/gana-logo.png" alt="Gana logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/tigoune-logo.png" alt="Tigo UNE logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/ficohsa-logo.png" alt="Ficohsa logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/cadena-logo.png" alt="Cadena logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/coninsa-logo.png" alt="Coninsa logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/berkeley-logo.png" alt="Berkeley logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/bcp-logo.png" alt="BCP logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/proteccion-logo.png" alt="Protección logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/corona-logo.png" alt="Corona logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/banindustrial-logo.png" alt="Manuelita logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/intergrupo-logo.png" alt="Intergrupo logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/arus-logo.png" alt="ARUS logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/seti-logo.png" alt="Seti logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/biva-logo.png" alt="BIVA logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/ach-logo.png" alt="ACH logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/banmultiple-logo.png" alt="Banco Múltiple logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/s4n-logo.png" alt="Seven4n logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/coopcentral-logo.png" alt="Coopcentral logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/ceiba-logo.png" alt="Ceiba Software logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/guarumo-logo.png" alt="Guarumo logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/cfa-logo.png" alt="CFA logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/velez-logo.png" alt="Velez logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/internexa-logo.png" alt="Internexa logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/practisys-logo.png" alt="Practi Sistemas logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/servinteg-logo.png" alt="Servinteg logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/deceval-logo.png" alt="Deceval logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/uccorp-logo.png" alt="UCCORP logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/serempre-logo.png" alt="Serempre logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/enterdev-logo.png" alt="Enterdev logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/ingeneo-logo.png" alt="Ingenep logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/its-logo.png" alt="ITS logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/quipux-logo.png" alt="Quipux logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/soe360-logo.png" alt="SOE 360 logo"></div>
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/suam-logo.png" alt="SUAM logo"></div>
        {% assets filters="uglifyjs" , output="static/js/carousel.min.js" , "js/carousel.js"  %}
        <script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
        {% endassets %}
    </div>
  </div>
  <div class="products">
    <h1>{{ gettext('Navb-opt-3') }}</h1>
    <div class="product big-span">
     <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/integrates/"><span>{{ gettext('service-title-1') }}</span></a><br>
     <p>{{ gettext('product-desc-1') }}</p>
     <div class="high-res-text fluid-bullet">
       <p> {{ gettext('product-desc-extra-1') }} </p>
       <ul>
         <li>{{ gettext('product-desc-item-1') }}</li>
         <li>{{ gettext('product-desc-item-2') }}</li>
         <li>{{ gettext('product-desc-item-3') }}</li>
         <li>{{ gettext('product-desc-item-4') }}</li>
       </ul>
     </div>
    <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/integrates'">{{ gettext('btn-text-1') }}</button>
    <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Footer-link-1.6') }}'">Get a Demo</button>
    </div>
    <div class="product hide-on-small">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products.png" alt="{{ gettext('Product-img-alt-1') }}">
    </div>
  </div>
  <div class="product-footer big-span">
    <div class="red-margin">
      <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/asserts/"><span>{{ gettext('service-title-2') }}</span></a><br>
      <p>{{ gettext('product-desc-2') }}</p>
      <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/asserts'">{{ gettext('btn-text-1') }}</button>
  </div>
  </div>
  <div class="benefits">
    <div class="benefit-header">
      <h1>{{ gettext('Index-bnft-header') }}</h1>
      <p>{{ gettext('Index-bnft-text') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-4.svg" alt="{{ gettext('Index-img-alt-5') }}">
     <span>1</span>
     <p>{{ gettext('Index-bnft-1') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-2.svg" alt="{{ gettext('Index-img-alt-3') }}">
     <span>2</span>
     <p>{{ gettext('Index-bnft-2') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-1.svg" alt="{{ gettext('Index-img-alt-2') }}">
     <span>3</span>
     <p>{{ gettext('Index-bnft-3') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-3.svg" alt="{{ gettext('Index-img-alt-4') }}">
     <span>4</span>
     <p>{{ gettext('Index-bnft-4') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-5.svg" alt="{{ gettext('Index-img-alt-6') }}">
     <span>5</span>
     <p>{{ gettext('Index-bnft-5') }}</p>
    </div>
  </div>
  <div class="benefit-ftr">
      <p>{{ gettext('Bnft-footmsg') }} <button class="fluid-button" onclick="window.location.href='{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Footer-link-2.3') }}/'" >{{ gettext ('Footer-link-2.3') }}</button> </p>
  </div>
  <div class="customers">
    <h1>{{ gettext('Index-header-4') }}</h1>
    <div class="paragraph cstmr-msg">
      <p>{{ gettext('Index-msg-2') }}</p>
    </div>
    <div class="paragraph">
      <p>
        {% set customers = ["Bancolombia" , "Grupo AVAL", "BBVA" ,  "Colpatria", "Banistmo", "Banco del Pacifico", "Banesco",
        "Banco Agromercantil", "Banco Agricola" , "Sura", "Proteccion", "Tigo UNE", "Claro", "Internexa", "XM", "Grupo ARGOS",
        "Corona", "Manuelita", "Grupo EXITO", "Avianca", "Abbott", "RSA", "The Missing Link", "Kometsales", "Koombea",
        "Creative Software","Teraport", "S4N"]  %}
        {% for customer in customers %}
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/{{ customer|lower|replace (' ','-') }}-logo.png" alt="{{ customer}} Logo"></span>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="contact-sec">
    <div class="contact-txt">
      <p>{{ gettext('Contact-txt') }}</p>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-1.6') }}/" class="button">{{ gettext('Footer-subtitle-1.6') }}</a>
    </div>
    <div class="contact-img">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/contact.svg" alt="{{ gettext('Contact-img-alt') }}">
    </div>
  </div>
</div>

{% endblock content %}
