{% extends "base.html" %}

{% block meta %}
  <meta name="description" content="{{ gettext('Landing-metadescription') }}.">
  <meta name="keywords" content="{{ gettext('Landing-keywords')}}.">
{% endblock meta %}

{% block title %}{{ gettext('Landing-title') }} | {{ SITENAME }}{% endblock title %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/">{% endblock canonical %}

{% block content %}

<div class="home">
  <div class="services">
    <h1>{{ gettext('Index-header-1') }}</h1>
    <div class="serv-offer">
      <div class="serv">
        <h3><a href="{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-1') }}/"><strong>{{ gettext('Index-header-2') }}</strong></a></h3>
        <p>{{ gettext('Index-text-1') }} <br>  </p>
        <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-1') }}'">{{ gettext('btn-text-1') }}</button>
      </div>
      <div class="serv">
        <h3><a href="{{SITEURL}}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-2') }}/"><strong>{{ gettext('Index-header-3') }}</strong></a></h3>
        <p>{{ gettext('Index-text-2') }} <br> </p>
        <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-2') }}'">{{ gettext('btn-text-1') }}</button>
      </div>
    </div>
    <p>{{ gettext('Serv-txt') }} <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Index-serv-3') }}'">{{ gettext('Index-header-3.1') }}</button> page.</p>
    <div class="serv">
    </div>
  </div>
  <div class="trusted">
    <p>Trusted by: </p>
    <div class="owl-carousel owl-theme" >
      {% set trusted = [ "Mazda", "Manpower", "RSA", "Avianca", "Bancolombia", "Exito", "Coordinadora", "Banco del Pacifico", "VM2020", "Koombea",
                         "LaFrancol", "Manuelita", "Sura", "Banesco", "Semana", "Gana", "Tigo UNE", "Ficohsa", "Banistmo", "Decameron",
                         "Cadena", "Helpharma", "Coninsa", "Berkeley", "BCP", "Proteccion", "Corona", "Banco Industrial", "Intergrupo",
                         "Ubidots", "Bancamia", "ARUS", "Seti", "Kometsales" , "BIVA", "ACH", "Banco Multiple", "Sodimac", "Credibanco",
                         "S4N", "Coopcentral", "Ceiba", "Interpagos", "Guarumo", "CFA", "Inteligo", "Validda", "Velez", "GreenSQA", "Grupo Uribe",
                         "Internexa", "Simplexity", "Corredor Empresarial", "Practi Sistemas", "Servinteg",
                         "Deceval", "UCCORP", "Serempre", "Enterdev", "Ingeneo", "Libera", "ITS", "Quipux", "SOE360", "SUAM" ] %}
      {% for company in trusted %}
        <div class="item"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/trusted/{{ company|lower|replace(' ', '-') }}-logo.png" alt="{{company }} Logo"></div>
      {% endfor %}
        {% assets filters="uglifyjs" , output="static/js/carousel.min.js" , "js/carousel.js"  %}
        <script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
        {% endassets %}
    </div>
  </div>
  <div class="products">
    <h1>{{ gettext('Navb-opt-3') }}</h1>
    <div class="product big-span">
     <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/integrates/"><span>{{ gettext('service-title-1') }}</span></a><br>
     <p>{{ gettext('product-desc-1') }}</p>
    <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/integrates'">{{ gettext('btn-text-1') }}</button>
    <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Footer-link-1.6') }}'">Get a Demo</button>
    <a href="{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/asserts/"><span>{{ gettext('service-title-2') }}</span></a><br>
    <p>{{ gettext('product-desc-2') }}</p>
    <button class="fluid-button" onclick="window.location='{{ SITEURL }}/{{ gettext('Footer-cat-2') }}/asserts'">{{ gettext('btn-text-1') }}</button>
    </div>
    <div class="product hide-on-small">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products.png" alt="{{ gettext('Product-img-alt-1') }}">
    </div>
  </div>
  <div class="benefits">
    <div class="benefit-header">
      <h1>{{ gettext('Index-bnft-header') }}</h1>
      <p>{{ gettext('Index-bnft-text') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-4.svg" alt="{{ gettext('Index-img-alt-5') }}">
     <span>1</span>
     <p>{{ gettext('Index-bnft-1') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-2.svg" alt="{{ gettext('Index-img-alt-3') }}">
     <span>2</span>
     <p>{{ gettext('Index-bnft-2') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-1.svg" alt="{{ gettext('Index-img-alt-2') }}">
     <span>3</span>
     <p>{{ gettext('Index-bnft-3') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-3.svg" alt="{{ gettext('Index-img-alt-4') }}">
     <span>4</span>
     <p>{{ gettext('Index-bnft-4') }}</p>
    </div>
    <div class="benefit">
     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/benefit-5.svg" alt="{{ gettext('Index-img-alt-6') }}">
     <span>5</span>
     <p>{{ gettext('Index-bnft-5') }}</p>
    </div>
  </div>
  <div class="benefit-ftr">
      <p>{{ gettext('Bnft-footmsg') }} <button class="fluid-button" onclick="window.location.href='{{ SITEURL }}/{{ gettext('Index-cat-1') }}/{{ gettext('Footer-link-2.3') }}/'" >{{ gettext ('Footer-link-2.3') }}</button> </p>
  </div>
  <div class="customers">
    <h1>{{ gettext('Index-header-4') }}</h1>
    <div class="paragraph cstmr-msg">
      <p>{{ gettext('Index-msg-2') }}</p>
    </div>
    <div class="paragraph">
      <p>
        {% set customers = ["Bancolombia" , "Grupo AVAL", "BBVA" ,  "Colpatria", "Banistmo", "Banco del Pacifico", "Banesco",
                            "Banco Agromercantil", "Banco Agricola" , "Sura", "Proteccion", "Tigo UNE", "Claro", "Internexa",
                            "XM", "Grupo ARGOS", "Corona", "Manuelita", "Grupo EXITO", "Avianca", "Abbott", "RSA", "The Missing Link",
                            "Kometsales", "Koombea", "Creative Software","Teraport", "S4N"]  %}
        {% for customer in customers %}
        <span><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/customers/{{ customer|lower|replace (' ','-') }}-logo.png" alt="{{ customer}} Logo"></span>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="contact-sec">
    <div class="contact-txt">
      <p>{{ gettext('Contact-txt') }}</p>
      <a href="{{ SITEURL }}/{{ gettext('Footer-link-1.6') }}/" class="button">{{ gettext('Footer-subtitle-1.6') }}</a>
    </div>
    <div class="contact-img">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/contact.svg" alt="{{ gettext('Contact-img-alt') }}">
    </div>
  </div>
</div>

{% endblock content %}
