{% extends "base.html" %}

{% block meta %}
<meta name="description"
      content="{{ page.description }}">
<meta name="keywords"
      content="{{ page.keywords }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}


{% block canonical %}
  <link rel="canonical"
        href="{{ SITEURL }}/{{ page.url }}">
{% endblock canonical %}

{% block breadcrumb%}
  <!-- navcontent-container -->
  <div class="pv0 ph2 shadow-4">
    <!-- navcontent-info -->
    <div class="df ma-auto">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100 ma-auto">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>{{ gettext('Breadcrumb-0') }}</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">&nbsp;{{ page.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}

{% block content %}
<article>
  <h1>{{ page.title }}</h1>
  <!-- HQ -->
  <div class="w-100 montsy pb5">
    <h3>Headquarters</h3>
    <h3>United states</h3>
    <p class="ma-auto w6 tl f4 pl4">
      <strong>Address:</strong><br>
      795 Folsom Street, 1st Floor<br>
      San Francisco, CA.<br>
      94107<br>
      <strong>Phone:</strong><br>
      +1.415.404.2154<br>
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.3408293963926!2d-122.40267868429898!3d37.78205157975815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808581e4f940cf09%3A0xec702c15a40a8dc8!2sFluid%20Attacks!5e0!3m2!1ses-419!2sco!4v1570482192267!5m2!1ses-419!2sco"
            frameborder="0"
            allowfullscreen
            class="dib">
    </iframe>
  </div>

  <!-- Branches -->
<div class="w-100 w-75-l ma-auto">
  <div class="w-100 w-50-l montsy pb5 fl bg-white">
    <h3>Bogotá</h3>
    <p class="ma-auto w6 tl f4 pl4">
      <strong>Address:</strong><br>
      Carrera 19 N 84 - 17<br>
      Almaru Country Building, 204<br>
      Antiguo Country, Bogotá <br>
      Colombia <br>
      110231<br>
      <strong>Phone:</strong><br>
      +57.(1).402.91.62 <br>
      +57.300.216.8029 <br>
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.1424811058334!2d-74.05850607077637!3d4.670495599787971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b76eb8baffb%3A0x288ac4b1a1204a8!2sFluid%20Attacks!5e0!3m2!1ses-419!2sco!4v1570481814770!5m2!1ses-419!2sco"
          frameborder="0"
          class="dib"
          allowfullscreen>
    </iframe>
  </div>

  <div class="w-100 w-50-l montsy pb5 fl bg-white">
    <h3>Medellín</h3>
    <p class="ma-auto w6 tl f4 pl4">
      <strong>Address:</strong><br>
      Carrera 43 N 9 Sur - 195 <br>
      Square Building, 736 <br>
      El Poblado, Medellín <br>
      Colombia <br>
      050022<br>
      <strong>Phone:</strong><br>
      +57.(4).444.26.37 <br>
      +57.300.216.8029 <br>
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2471.0417545082346!2d-75.57660051445326!3d6.19506444897147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa4cb42bcd405aaa9!2sFluid%20Attacks!5e0!3m2!1ses-419!2sco!4v1570480885369!5m2!1ses-419!2sco"
           frameborder="0"
           class="dib"
           allowfullscreen>
    </iframe>
  </div>
</div>
<!-- Contact Form -->
<div class="pb4 w-100 pt2 dib">
  <p class="tc b pb3">{{ gettext('contact-text') }}</p>
  {% include "contact.html" %}
</div>
</article>
{% endblock content %}
