<table class="tbborder">
  <tbody>
    <tr>
      <td class="tdmax">
        <div>
          <table class="tblocation">
            <tbody>
              <tr>
                <th class="thlocation">
                  <h1>Medellín</h1> 
                </th>
                <th class="thlocation">
                  <h1>Bogotá</h1>    
                </th>
                <th class="thlocation">
                  <h1>Clayton</h1>  
                </th>             
              </tr>
              <tr>
                <td class="tdlocation">
                  <span>{{ gettext('Land line') }}: +57 (4) 444-26-37</span><br/> 
                  <span>{{ gettext('Mobile') }}: +57 314 878 1246</span><br/>
                  <span>Calle 7 Sur 42 &#8211; 70</span><br/>
                  <span>{{ gettext('Forum Building') }},</span><br/>
                  <span>{{ gettext('Office') }} 2003,</span><br/>
                  <span>{{ gettext('Postal Code') }} 050022</span><br/>
                  <span>Poblado, Medellín, Colombia.</span>
                </td>
                <td class="tdlocation">
                  <span>{{ gettext('Land line') }}: +57 (1) 466-16-73</span><br/>
                  <span>{{ gettext('Mobile') }}: +57 314 653 3428</span><br/>
                  <span>Carrera 11 N 71 &#8211; 41</span><br/>
                  <span>{{ gettext('Avenida Chile Building') }},</span><br/>
                  <span>{{ gettext('Office') }} 602</span><br/>
                  <span>{{ gettext('Postal Code') }} 110231</span><br/>
                  <span>Chapinero, Bogotá, Colombia.</span>
                </td>
                <td  class="tdlocation">
                  <span>{{ gettext('Mobile') }}: +1 919 208 8180</span><br/>
                  <span>159 Stallings Mill Loop,</span><br/>
                  <span>{{ gettext('Office')}} 302</span><br/>
                  <span>{{ gettext('Postal Code') }} 27520</span><br/>
                  <span>Clayton, North Carolina, USA.</span>
                </td>
              </tr>
              <tr>
                <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5018222236636!2d-75.57561538523105!3d6.197327695513531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e468287e3771c03%3A0xbcb5bb4181365fff!2sEdificio+Forum+Torre!5e0!3m2!1sen!2sco!4v1514988923691" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></td>
                <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.647548926837!2d-74.061627150199!3d4.656785343318136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5b5630f1f3%3A0xf439d72dd756c156!2sCra.+11+%2371-41%2C+Bogot%C3%A1!5e0!3m2!1sen!2sco!4v1519846591294" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></td>
                <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.724679933189!2d-78.48260168534088!3d35.65915433879097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac68eb7be5b635%3A0xa15c71b563be2b98!2sStallings+Mill+Apartment+Homes!5e0!3m2!1sen!2sco!4v1514989082010" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
      <td class="tdresponsive">
        <div>
          <table class="tblocation">
            <tbody>
              <tr>
                <th class="thlocation">
                  <h1>Medellín</h1> 
                </th>
              </tr>
              <tr>
                <td class="tdlocation">
                  <span>{{ gettext('Land line') }}: +57 (4) 444-26-37 </span><br/>
                  <span>{{ gettext('Mobile') }}: +57 314 878 1246</span><br/>
                  <span>Calle 7 Sur 42 &#8211; 70</span><br/>
                  <span>{{ gettext('Forum Building') }},</span><br/>
                  <span>{{ gettext('Office') }} 2003,</span><br/>
                  <span>{{ gettext('Postal Code') }} 050022</span><br/>
                  <span>Poblado, Medellín, Colombia.</span><br/>      
                </td>
              </tr>
              <tr>
                <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5018222236636!2d-75.57561538523105!3d6.197327695513531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e468287e3771c03%3A0xbcb5bb4181365fff!2sEdificio+Forum+Torre!5e0!3m2!1sen!2sco!4v1514988923691" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></td>
              </tr>
              <tr>
                <th class="thlocation">
                  <h1>Bogotá</h1>    
                </th>
              </tr>
              <tr>
                <td class="tdlocation">
                    <span>{{ gettext('Land line') }}: +57 (1) 466-16-73</span><br/>
                    <span>{{ gettext('Mobile') }}: +57 314 653 3428</span><br/>
                    <span>Carrera 11 N 71 &#8211; 41</span><br/>
                    <span>{{ gettext('Avenida Chile Building') }},</span><br/>
                    <span>{{ gettext('Office') }} 602</span><br/>
                    <span>{{ gettext('Postal Code') }} 110231</span><br/>
                    <span>Chapinero, Bogotá, Colombia.</span>
                </td>
              </tr>
              <tr>
                <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.647548926837!2d-74.061627150199!3d4.656785343318136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5b5630f1f3%3A0xf439d72dd756c156!2sCra.+11+%2371-41%2C+Bogot%C3%A1!5e0!3m2!1sen!2sco!4v1519846591294" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></td>
              </tr>
              <tr>
                <th class="thlocation">
                  <h1>Clayton</h1>  
                </th>
              </tr>
              <tr>
                <td  class="tdlocation">
                  <span>{{ gettext('Mobile') }}: +1 919 208 8180</span><br/>
                  <span>159 Stallings Mill Loop,</span><br/>
                  <span>{{ gettext('Office')}} 302</span><br/>
                  <span>{{ gettext('Postal Code') }} 27520</span><br/>
                  <span>Clayton, North Carolina, USA.</span>               
                </td>
              </tr>
              <tr>
                <td class="maps"><div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.724679933189!2d-78.48260168534088!3d35.65915433879097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac68eb7be5b635%3A0xa15c71b563be2b98!2sStallings+Mill+Apartment+Homes!5e0!3m2!1sen!2sco!4v1514989082010" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
