<div class="menubar">
  <div class="searchbar">
    <form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
      <div class="langbutton">
        {% if lang_siteurls %}
          {% for lang, url in lang_siteurls.items() %}
            <span><a href="{{ url }}/" {% if lang == DEFAULT_LANG %} class="language"{% endif %}>{{ lang }} </a></span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="search">
        <input type="text" name="q" id="tipue_search_input" class="search-box" placeholder="{{ gettext('Search this site...') }}">
        <label for="tipue_search_input" class="search-box-label">
          <span class="search-icon"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/search.png" alt="{{ gettext('Magnifying glass') }}"></span>
        </label>
      </div>
    </form>
  </div>
  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png" class="fluid-screw" alt="{{ gettext('FLUID screw logo') }}">
  <div class='cssmenu'>
    <ul class="m-closed">
      <li><a href="{{ SITEURL }}/" class="m-link">{{ gettext('Home') }}</a></li>
      <li class='active'><a href="{{ SITEURL }}/{{ gettext('services') }}/" class="m-link">{{ gettext('Services') }}</a>
        <ul class="sm-closed">
          <li><a href="{{ SITEURL }}/{{ gettext('services') }}/{{ gettext('one-shot-hacking') }}/" class="sm-link">{{ gettext('One-Shot Hacking') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('services') }}/{{ gettext('continuous-hacking') }}/" class="sm-link">{{ gettext('Continuous Hacking') }}</a></li>
        </ul>
      </li>
      <li><a href="{{ SITEURL }}/{{ gettext('products') }}/" class="m-link">{{ gettext('Products') }}</a>
        <ul class="sm-closed">
          <li><a href="{{ SITEURL }}/{{ gettext('products') }}/integrates/" class="sm-link">Integrates</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('products') }}/asserts/" class="sm-link">Asserts</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('products') }}/commands/" class="sm-link">Commands</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('products') }}/hardens/" class="sm-link">Hardens</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('products') }}/rules/" class="sm-link">Rules</a></li>
        </ul>
      </li>
      <li><a href="{{ SITEURL }}/#{{ gettext('customers') }}" class="m-link">{{ gettext('Customers') }}</a></li>
      <li><a href="{{ SITEURL }}/{{ gettext('careers') }}/" class="m-link">{{ gettext('Careers') }}</a></li>
      <li><a href="{{ SITEURL }}/hardens/" class="m-link">Hardens</a></li>
      <li><a href="{{ SITEURL }}/rules/" class="m-link">Rules</a></li>
      <li class='active'><a href="{{ SITEURL }}/blog/" class="m-link">Blog</a></li>
    </ul>
  </div>
</div>
