<div class="menubar">
  <div class="searchbar">
    <form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
      <div class="langbutton">
        {% if SUBSITE_LANG %}
          {% for lang, url in SUBSITE_LANG.items() %}
            <span><a href="{{ url }}/" {% if lang == DEFAULT_LANG %} class="language"{% endif %}>{{ lang }} </a></span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="search">
        <input type="text" name="q" id="tipue_search_input" class="search-box" placeholder="{{ gettext('Navb-search-msg') }}">
        <label for="tipue_search_input" class="search-box-label">
          <span class="search-icon"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/search.png" alt="{{ gettext('Navb-img-alt-1') }}"></span>
        </label>
      </div>
    </form>
  </div>
  <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo2.png" class="fluid-screw" alt="{{ gettext('Navb-logo') }}"></a>
  <div class='cssmenu'>
    <ul class="m-closed">
      <li class='active'><a href="{{ SITEURL }}/{{ gettext('Navb-cat-1') }}/" class="m-link">{{ gettext('Navb-opt-2') }}</a>
        <ul class="sm-closed">
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-1') }}/{{ gettext('Navb-link-2.1') }}/" class="sm-link">{{ gettext('Navb-opt-2.1') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-1') }}/{{ gettext('Navb-link-2.2') }}/" class="sm-link">{{ gettext('Navb-opt-2.2') }}</a></li>
        </ul>
      </li>
      <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-2') }}/" class="m-link">{{ gettext('Navb-opt-3') }}</a>
        <ul class="sm-closed">
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-2') }}/integrates/" class="sm-link">Integrates</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-2') }}/asserts/" class="sm-link">Asserts</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-2') }}/rules/" class="sm-link">Rules</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-2') }}/defends/" class="sm-link">Defends</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-2') }}/commands/" class="sm-link">Commands</a></li>
        </ul>
      </li>
      <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-4') }}" class="m-link">{{ gettext('Navb-opt-4') }}</a>
        <ul class="sm-closed">
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-4') }}/{{ gettext('Navb-link-4.1') }}/" class="sm-link">{{ gettext('Navb-opt-4.1') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-4') }}/{{ gettext('Navb-link-4.2') }}/" class="sm-link">{{ gettext('Navb-opt-4.2') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-4') }}/{{ gettext('Navb-link-4.3') }}/" class="sm-link">{{ gettext('Navb-opt-4.3') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-4') }}/{{ gettext('Navb-link-4.4') }}/" class="sm-link">{{ gettext('Navb-opt-4.4') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-4') }}/{{ gettext('Navb-link-4.5') }}/" class="sm-link">{{ gettext('Navb-opt-4.5') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-4') }}/{{ gettext('Navb-link-4.6') }}/" class="sm-link">{{ gettext('Navb-opt-4.6') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('Navb-cat-4') }}/{{ gettext('Navb-link-4.7') }}/" class="sm-link">{{ gettext('Navb-opt-4.7') }}</a></li>
        </ul>
      </li>
      <li><a href="{{ SITEURL }}/{{ gettext('Navb-link-5') }}/" class="m-link">{{ gettext('Navb-opt-5') }}</a></li>
      <li class='active'><a href="{{ SITEURL }}/blog/" class="m-link">Blog</a></li>
    </ul>
  </div>
</div>
