<div class="menubar">
  <div class="searchbar">
    <form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
      <div class="langbutton">
        {% if lang_siteurls %}
          {% for lang, url in lang_siteurls.items() %}
            <span><a href="{{ url }}/" {% if lang == DEFAULT_LANG %} class="language"{% endif %}>{{ lang }} </a></span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="search">
        <input type="text" name="q" id="tipue_search_input" class="search-box" placeholder="{{ gettext('Search this site...') }}">
        <label for="tipue_search_input" class="search-box-label">
          <span class="search-icon"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/search.png" alt="{{ gettext('Magnifying glass') }}"></span>
        </label>
      </div>
    </form>
  </div>
  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/screw.png" class="fluid-screw" alt="{{ gettext('FLUID screw logo') }}">
  <div class='cssmenu'>
    <ul class="m-closed">
      <li><a href="https://{{ gettext('fluid.la') }}" class="m-link">{{ gettext('Home') }}</a></li>
      <li class='active'><a href="{{ SITEURL }}/{{ gettext('services') }}/" class="m-link">{{ gettext('Services') }}</a>
        <ul class="sm-closed">
          <li><a href="{{ SITEURL }}/{{ gettext('services') }}/{{ gettext('application-hacking') }}/" class="sm-link">{{ gettext('Application Hacking') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('services') }}/{{ gettext('network-hacking') }}/" class="sm-link">{{ gettext('Network Hacking') }}</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('services') }}/{{ gettext('code-analysis') }}/" class="sm-link">{{ gettext('Code Analysis') }}</a></li>
        </ul>
      </li>
      <li><a href="{{ SITEURL }}/{{ gettext('products') }}/" class="m-link">{{ gettext('Products') }}</a>
        <ul class="sm-closed">
          <li><a href="{{ SITEURL }}/{{ gettext('products') }}/fluidintegrates/" class="sm-link">FLUIDIntegrates</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('products') }}/fluidasserts/" class="sm-link">FLUIDAsserts</a></li>
          <li><a href="{{ SITEURL }}/{{ gettext('products') }}/fluidcommands/" class="sm-link">FLUIDCommands</a></li>
        </ul>
      </li>
      <li><a href="https://fluid.la/{{ gettext('#lp-pom-block-876') }}" class="m-link">{{ gettext('Customers') }}</a></li>
      <li><a href="{{ SITEURL }}/{{ gettext('careers') }}/" class="m-link">{{ gettext('Careers') }}</a></li>
      <li><a href="{{ SITEURL }}/kb/" class="m-link">KB</a></li>
      <li class='active'><a href="{{ SITEURL }}/" class="m-link">Blog</a></li>
    </ul>
  </div>
</div>
