{% extends "new-base.html" %}

<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
<meta name="description"
      content="{{ gettext('Landing-metadescription') }}.">
<meta name="keywords"
      content="{{ gettext('Landing-keywords')}}.">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}


{% block canonical %}
  <link rel="canonical"
        href="{{ SITEURL }}/new-landing.html">
{% endblock canonical %}

{% block content %}
<div class="bg-dk-red mb4 pb3">
  <div class="mb3 mw9 tc mr-auto ml-auto flex-l flex-wrap pv4 pv0-ns w-80-l">
    <ul class="list pv4-ns ph2 pl4-ns">
      <li><p class="white f-title-l f-title-m f4-s tl-ns roboto b">Fluid Attacks Offices</p></li>
    </ul>
    <ul class="list pv4-ns pv1 ph4 mh4">
      <li>
        <p class="white f-title-l f-title-m f4-s tl roboto">United States</p>
      </li>
      <li>
        <p class="white ma-auto tl f7 f6-ns fw2 roboto lh-2">
          795 Folsom Street, 1st Floor<br>
          San Francisco, CA.<br>
          94107<br>
          +1.415.404.2154<br>
        </p>
      </li>
    </ul>
    <ul class="list pv4-ns pv1 ph4 mh4">
      <li>
        <p class="white f-title-l f-title-m f4-s tl roboto">Colombia</p>
      </li>
      <li>
        <p class="white ma-auto tl f6-ns f7 fw2 roboto lh-2">
          Carrera 19 N 84 - 17<br>
          Almaru Country Building, 204<br>
          Antiguo Country, Bogotá <br>
          +57.300.216.8029 <br>
        </p>
      </li>
    </ul>
    <ul class="list pv4-ns pv1 ph4 mh4">
      <li>
        <p class="c-dkred f-title-l f-title-m f4-s roboto db-l dn">Colombia</p>
      </li>
      <li>
        <p class="white ma-auto tl f7 f6-ns fw2 roboto mb4 lh-2">
          Carrera 43 N 9 Sur - 195 <br>
          Square Building, 736 <br>
          El Poblado, Medellín <br>
          +57.300.216.8029 <br>
        </p>
      </li>
    </ul>
    <div class="dn-ns tc">
      <span class="bg-white contact-pd c-dkred b roboto pointer mt2 ba bc-fluid-red"
            onclick="window.location='{{ SITEURL }}/contact-us/'">
            Contact us today
      </span>
    </div>
  </div>
</div>
{% endblock content %}
