<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<div class="mw9 flex-l ml-auto mr-auto mb5-l mb5-m mb4 pt4">
  <!-- company logo -->
  <div class="pt3 pt4-l pl3-l w-auto-l w-auto-m w-70 mr-auto ml-auto">
    <div>
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/footer-logo.png"
        alt="{{ gettext('Footer-logo-1') }}" class="w2-5 fl ml3 nl3-ns">
      <div class="ml4-l ml4-m">
        <p class="c-fluid-bk roboto b f3-ns mt0 ml2 db-l db-m dn">Ready to start with Fluid Attacks?</p>
        <p class="c-fluid-bk roboto b f3-ns f4 mt0 ml2 dn-l dn-m db tc">Ready to start?</p>
        <p class="c-fluid-bk roboto nt3-l nt3-m f6 ml2 tl-l tl-m tc fw2">Get in touch with us right now!</p>
      </div>
    </div>
  </div>
  <div class="pb4 flex-l flex-m flex-wrap w-100-l w-100-m dn mr-auto ml-auto">
    <div class="pt4-l b mr2 ml2">
      <div class="ma-auto-l">
        <a class="c-fluid-bk f5 mt0-l no-underline hv-fluid-dkred"
          href="#" >
          Services
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Continuous Hacking
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          One-shot Hacking
        </a><br>
      </div>
    </div>
    <div class="pt4-l b mr2 ml2">
      <div class="ma-auto-l ml2">
        <a class="c-fluid-bk f5 mt0-l no-underline hv-fluid-dkred"
          href="#" >
          Products
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Fixes
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Skims
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Drills
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Forces
        </a><br>
      </div>
    </div>
    <div class="pt4-l b mr2 ml2">
      <div class="ma-auto-l ml2">
        <a class="c-fluid-bk f5 mt0-l no-underline hv-fluid-dkred"
          href="#" >
          Careers
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Openings
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Terms
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Knowledge Test
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Challenges
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
        href="#">
          Immersion
        </a><br>
      </div>
    </div>
    <div class="pt4-l b mr2 ml2">
      <div class="ma-auto-l ml2">
        <a class="c-fluid-bk f5 mt0-l no-underline hv-fluid-dkred"
          href="#" >
          About Us
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Certifications
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Diferentiators
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Values
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
          href="#">
          Reviews
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
        href="#">
          Resources
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
        href="#">
          Events
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
        href="#">
          People
        </a><br>
        <a class="c-fluid-gray f6 no-underline hv-fluid-bk"
        href="#">
          Partners
        </a><br>
      </div>
    </div>
    <div class="pt4-l b mr2 ml2">
      <div class="ma-auto-l ml2">
        <a class="c-fluid-bk f5 mt0-l no-underline hv-fluid-dkred"
          href="#" >
          Blog
        </a><br>
        <a class="c-fluid-bk f5 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          FAQ
        </a><br>
        <a class="c-fluid-bk f5 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          Community
        </a><br>
        <a class="c-fluid-bk f5 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          Contact
        </a><br>
        <a class="c-fluid-bk f5 mt0-l no-underline hv-fluid-dkred"
        href="#" >
          Newsletter
        </a><br>
      </div>
    </div>
  </div>
</div>
<div class="mb0-l mb0-m mb3">
  <div class="tc nb3">
    <p class="c-fluid-gray b f-small f-small-s">{{ gettext('New-Footer-stat-msg-1') }}</p>
  </div>
  <!-- status bar -->
  <div class="h2 bg-white b tc">
    <a class="c-fluid-gray f-small f-small-s no-underline mt2 pl3 hv-fluid-dkred"
       href="http://status.fluidattacks.com/">
       {{ gettext('Footer-stat-msg-1') }}
    </a>
    <span class="c-fluid-gray f-small f-small-s"> - </span>
    <a class="c-fluid-gray f-small f-small-s mt2 no-underline hv-fluid-dkred"
       href="{{ SITEURL }}/{{ gettext('Footer-status-link-1') }}/">
       {{ gettext('Footer-stat-msg-2') }}
    </a>
  </div>
</div>
