<div class="b relative w-100 z-5 h4-l mw9 mr-auto ml-auto ">
  <div class="cssmenu bg-white lh-solid h-menu-s cover mv0 h-menu shadow-menu">
    <ul class="list ma0 pa0 overflow-hidden h4">
      <li class="fl">
        <a class="db tc pa1 no-underline" href="{{ SITEURL }}/new/">
          <img class="w5-l w-logo ml5-l ml4 mv3 absolute"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo-menu-new.svg" alt="{{ gettext('Header-img-alt') }}">
        </a>
      </li>
      <li class="relative fr mr-13-l dn-ns mt-menu mr5-m mr-5-s mv4-l pv3">
        <a class="db tc pa1 no-underline c-fluid-bk f5 fw1 menu-txt-trans roboto hv-fluid-rd" href="#">Login</a>
      </li>
      <li class="relative fr mr-13-l mt-menu mr5-m mr-5-s mv4-l pv3-ns">
        <a class="db-ns dn tc pa1 no-underline c-fluid-bk f5 fw4 menu-txt-trans roboto hv-fluid-rd" href="#">LOGIN</a>
      </li>
      <li class="relative fr mt-menu mr4 mv4-l pv3-ns">
        <a class="db-ns dn tc pa1 no-underline c-fluid-bk f5 fw4 menu-txt-trans roboto hv-fluid-rd" href="#">CONTACT</a>
      </li>
      <li class="fr">
        <input type="checkbox" id="op" class="dn" />
        <div class="lower w1 absolute right-1 mr6-l">
          <label for="op" class="w1 absolute right-1 pointer z-100 mv4-l pv3-l mv3 pv-4-m">
            <img class="lower-img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/menu.svg"
              alt="{{ gettext('Header-img-alt') }}">
            </label>
        </div>
        <div class="overlay overlay-hugeinc bg-white fixed w-100 h-100 top-0 left-0 z-100">
          <label for="op" class="w1 nt1 absolute right-1 top-2 pointer mr6-l">
            <img class="lower-img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cross.png"
              alt="{{ gettext('Header-img-alt') }}">
          </label>
          <nav class="h-50 relative tc t-50 ty-50 ">
            <ul class="o-40 menu-trans dib h-100 list ma0 pa0 relative">
              <li class="db h2">
                <a href="#" class="menu-txt f3 c-fluid-gray fw3 no-underline menu-txt-trans roboto">Products</a>
              </li>
              <li class="db h2">
                <a
                  href="{{ SITEURL }}/new/use-cases/"
                  class="menu-txt f3 c-fluid-gray fw3 no-underline menu-txt-trans roboto">
                  Use Cases
                </a>
              </li>
              <li class="db h2">
                <a href="#" class="menu-txt f3 c-fluid-gray fw3 no-underline menu-txt-trans roboto">About Us</a>
              </li>
              <li class="db h2 mb5">
                <a href="#" class="menu-txt f3 c-fluid-gray fw3 no-underline menu-txt-trans roboto">Blog</a>
              </li>
              <li class="db h2">
                <a href="#" class="menu-txt f3 c-fluid-gray fw3 no-underline menu-txt-trans roboto">Contact</a>
              </li>
              <li class="db h2">
                <a href="#" class="menu-txt f3 c-fluid-gray fw3 no-underline menu-txt-trans roboto">Careers</a>
              </li>
              <li class="db h2">
                <a href="#" class="menu-txt f3 c-fluid-gray fw3 no-underline menu-txt-trans roboto">FAQ</a>
              </li>
              <li class="db h2">
                <a href="#" class="menu-txt f3 c-fluid-gray fw3 no-underline menu-txt-trans roboto">Community</a>
              </li>
              <li>
                <!-- social media -->
                <div class="divsocial flex justify-center pt4 pb3">
                  <a class="pr3" href="https://twitter.com/fluidattacks">
                    <img class="grow-large w2 grayscale" src="{{ SITEURL }}/theme/images/social-media/twitter.png"
                      alt="{{ gettext('Footer-logo-2') }}">
                  </a>
                  <a class="pr3" href="https://www.facebook.com/Fluid-Attacks-267692397253577/">
                    <img class="grow-large w2 grayscale" src="{{ SITEURL }}/theme/images/social-media/facebook.png"
                      alt="{{ gettext('Footer-logo-3') }}">
                  </a>
                  <a class="pr3" href="https://www.linkedin.com/company/fluidattacks/">
                    <img class="grow-large w2 grayscale" src="{{ SITEURL }}/theme/images/social-media/linkedin.png"
                      alt="{{ gettext('Footer-logo-5') }}">
                  </a>
                  <a class="pr3" href="https://www.youtube.com/user/fluidsignal">
                    <img class="grow-large w2 grayscale" src="{{ SITEURL }}/theme/images/social-media/youtube.png"
                      alt="{{ gettext('Footer-logo-6') }}">
                  </a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </li>
    </ul>
  </div>
</div>
