{% extends "index.html" %}

{% block meta %}
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.description }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if page.defends %}
{{ page.title }} | {{ page.category|capitalize }}
  {% set TITLE = 1 %}
  {% endif %}
  {% if DEFAULT_LANG == "en" and not TITLE %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% else %}
    {% if page.title|length < 11 and not TITLE %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">{% endblock canonical %}

{% block language %}
  {% if DEFAULT_LANG == "en" %}
    <link rel="alternate" href="{{ SITEURL }}/{{ page.url }}" hreflang="en-us" />
    {% if page.translate %}
      <link rel="alternate" href="{{ SUBSITEURL }}/{{ page.translate }}" hreflang="es" />
    {% endif %}
  {% else %}
    <link rel="alternate" href="{{ SITEURL }}/{{ page.url }}" hreflang="es" />
    {% if page.translate %}
      <link rel="alternate" href="{{ SUBSITEURL }}/{{ page.translate }}" hreflang="en-us" />
    {% endif %}
  {% endif %}
{% endblock language %}

{% block header %}
  <!-- Page Header -->
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
{% endblock header %}

{% block content %}   
  <div class="divpage">         
    <article>
      <div class="nav-info">
        <div class="breadcrumbs">
          <ul>
            <li><a href="{{ SITEURL }}/">{{ gettext('Home') }} >>&nbsp;</a></li>
              {% if page.defends %}
                <li><a href="{{ SITEURL }}/defends/">Defends >>&nbsp;</a></li>
                <li><a href="{{ SITEURL }}/defends/#{{ page.category.name }}">{{ page.category }}</a></li>
              {% elif "misc" not in page.category.name %}
                {% if page.category2 %}
                  <li><a href="{{ SITEURL }}/{{ page.category.name }}">{{ page.category }} >>&nbsp;</a></li>
                  <li><a href="{{ SITEURL }}/{{ page.category.name }}/{{ page.category2 }}/">{{ page.category2|replace('-', ' ') }}</a></li>
                {% else %}
                  <li><a href="{{ SITEURL }}/{{ page.category.name }}">{{ page.category }}</a></li>
                {% endif %}
              {% endif %}
          </ul>
        </div>
        {% if DEFAULT_LANG == "en" %}
          {% if page.translate %}
            <div class="translate">
              <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/es.png" alt="Spain flag"><a href="{{ SUBSITEURL }}/{{ page.translate }}" class="button">Translate >></a>
            </div>
          {% endif %}
        {% else %}
          {% if page.translate %}
            <div class="translate">
              <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/en.png" alt="Bandera de Estados Unidos"><a href="{{ SUBSITEURL }}/{{ page.translate }}" class="button">Traducir >></a>
            </div>
          {% endif %}
        {% endif %}
      </div>
      <h1>{{ page.title }}</h1>
      {{ page.content }}
      {% if page.location %}
        {% include 'location.html' %}
      {% endif %}
      {% if page.defendsindex %}
        {% include 'defends.html'%}
      {% endif %}
      <br>
      {% if page.defends %}
        {% for defendspage in pages if defendspage.defends and defendspage.category == page.category %}
          {% if defendspage.slug == page.slug and (loop.previtem != undefined or loop.nextitem != undefined) %}
            <div class="article-nav">
              <div class="prev-article">
                {% if loop.previtem != undefined %}
                  <div><a href="../../../{{ loop.previtem.slug }}"><< {{ loop.previtem.title }}</a></div>
                {% endif %}
              </div>
              <div class="next-article">
                {% if loop.nextitem != undefined %}
                  <div><a href="../../../{{ loop.nextitem.slug }}">{{ loop.nextitem.title }} >></a></div>
                {% endif %}
              </div>
            </div>
            <br>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if page.toc %}
        {% assets filters="uglifyjs", output="static/js/toc.min.js", "js/toc.js" %}
      	  <script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    	{% endassets %} 
      {% endif %}
      {% if DISQUS_SITENAME and SITEURL and 	page.defends %}
        <hr class="hrcoments">
        <div class="comments">
          <h3>{{ gettext('Leave a comment') }}</h3>
          <div id="disqus_thread"></div>
          {% if DEFAULT_LANG == "es" %}
            <script type="text/javascript">
              var disqus_config = function () {
                this.page.identifier = "{{ page.slug }}";
                this.page.url = "{{ SITEURL }}/{{ page.url }}";
                this.language = "es_AR";
              };
              (function() {
                var d = document, dsq = d.createElement('script');
                dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                dsq.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(dsq);
              })();
            </script>
          {% else %}
            <script type="text/javascript">
              var disqus_config = function () {
                this.page.identifier = "{{ page.slug }}";
                this.page.url = "{{ SITEURL }}/{{ page.url }}";
              };
              (function() {
                var d = document, dsq = d.createElement('script');
                dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                dsq.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(dsq);
              })();
            </script>
          {% endif %}
        </div>
        <script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
      {% endif %}
    </article>
  </div>	
{% endblock content %}
