{% extends "index.html" %}

{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" and not TITLE %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 and not TITLE %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/{{ page.url }}">
{% endblock canonical %}

{% block breadcrumb%}
  <!-- navcontent-container -->
  <div class="pv0 ph2 shadow-4">
    <!-- navcontent-info -->
    <div class="df ma-auto">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100 ma-auto">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>{{ gettext('Breadcrumb-0') }}</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          {% if page.rulesindex %}
            <li class="dib mt0" >
              <a class="c-fluid-bk hv-fluid-dkred"
                 href=".">&nbsp;{{ page.title }}</a>
            </li>
          {% endif %}
          {% if page.defends %}
          <li class="dib mt0" >
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/defends/">&nbsp;
               <strong>Defends</strong>&nbsp;
            </a>
          </li>
          <span class="c-fluid-red v-mid b">&gt;</span>
          <li class="dib mt0" >
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/defends/#{{ page.category.name }}">&nbsp;
               <strong>{{ page.category|capitalize }}</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          {% endif %}
          {% if "misc" not in page.category.name and not page.defends %}
            <li class="dib mt0" >
              <a class="c-fluid-bk hv-fluid-dkred"
                 href="{{ SITEURL }}/{{ page.category.name }}/">
                 &nbsp;<strong>{{ page.category|capitalize }}</strong>&nbsp;
              </a>
              <span class="c-fluid-red v-mid b" >&gt;</span>
            </li>
            {% if page.category2 %}
              <li class="dib mt0" >
                <a href="{{ SITEURL }}/{{ page.category.name }}/{{ page.category2 }}/">
                    &nbsp;<strong>{{ page.category2|replace('-', ' ') }}</strong>&nbsp;
                </a>
                <span class="c-fluid-red v-mid b" >&gt;</span>
              </li>
            {% endif %}
            <li class="dib mt0" >
              <a class="c-fluid-bk hv-fluid-dkred"
                 href=".">&nbsp;{{ page.title }}</a>
            </li>
          {% elif not page.rulesindex %}
            <li class="dib mt0" >
              <a class="c-fluid-bk hv-fluid-dkred"
                 href=".">&nbsp;{{ page.title }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
{% block content %}
  <div class="divpage">
    <article class="ma-auto tl mw8">
      <h1 class="tc" >{{ page.title }}</h1>
      {% if page.subtitle %}
        <span class="subtitle">
          <strong>{{ page.subtitle }}</strong>
        </span>
      {% endif %}
      {% if page.rules %}
        <div class="description">
          {{ page.description }}
        </div>
      {% endif %}
      {{ page.content }}
      <br>
      {% if page.rules %}
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "{{ page.title }}",
            "author": "{{ AUTHOR }}",
            "publisher": [{
              "@type": "Organization",
              "name": "{{ AUTHOR}}",
              "logo": "{{ SITEURL }}/theme/images/fluid-logo.png"
            }],
            "mainEntityOfPage": "{{ SITEURL }}/{{ page.url }}"
          }
        </script>
      {% endif %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{ SITEURL }}/",
              "name": "{{ gettext('Breadcrumb-0') }}"
            }
        {% if "misc" not in page.category.name %}
          {% if page.category2 %}
          },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ SITEURL }}/{{ page.category.name }}/",
              "name": "{{ page.category|capitalize }}"
            }
          },{
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "{{ SITEURL }}//{{ page.category.name }}/{{ page.category2 }}/",
              "name": "{{ page.category2|capitalize }}/"
            }
          {% else %}
          },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ SITEURL }}/{{ page.category.name }}/",
              "name": "{{ page.category|capitalize }}"
            }
          {% endif %}
        {% endif %}
          }]
        }
      </script>
    </article>
  </div>
{% endblock content %}
