{% extends "index.html" %}

{% block meta %}
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if page.defends %}
{{ page.title }} | {{ page.category|capitalize }}
  {% set TITLE = 1 %}
  {% endif %}
  {% if DEFAULT_LANG == "en" and not TITLE %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 and not TITLE %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">{% endblock canonical %}

{% block breadcrumb%}
  <div class="navcontent-container">
    <div class="navcontent-info">
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="{{ SITEURL }}/"><strong>{{ gettext('Breadcrumb-0') }}</strong>&nbsp;</a>
            <span>&gt;</span>
          </li>
          {% if page.defendsindex or page.rulesindex %}
            <li>
              <a href=".">&nbsp;{{ page.title }}</a>
            </li>
          {% endif %}
          {% if page.defends %}
            <li>
              <a href="{{ SITEURL }}/defends/">&nbsp;<strong>Defends</strong>&nbsp;</a>
              <span>&gt;</span>
            </li>
            <li>
              <a href="{{ SITEURL }}/defends/#{{ page.category.name }}">&nbsp;{{ page.category|capitalize }}</a>
            </li>
          {% elif "misc" not in page.category.name %}
            <li>
              <a href="{{ SITEURL }}/{{ page.category.name }}/">&nbsp;<strong>{{ page.category|capitalize }}</strong>&nbsp;</a>
              <span>&gt;</span>
            </li>
            {% if page.category2 %}
              <li>
                <a href="{{ SITEURL }}/{{ page.category.name }}/{{ page.category2 }}/">&nbsp;<strong>{{ page.category2|replace('-', ' ') }}</strong>&nbsp;</a>
                <span>&gt;</span>
              </li>
            {% endif %}
            <li>
              <a href=".">&nbsp;{{ page.title }}</a>
            </li>
          {% elif not page.defendsindex and not page.rulesindex %}
            <li>
              <a href=".">&nbsp;{{ page.title }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
{% block content %}
  <div class="divpage">
    <article>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
        <span class="subtitle"><strong>{{ page.subtitle }}</strong></span>
      {% endif %}
      {% if page.rules or page.defends %}
        <div class="description">
          {{ page.description }}
        </div>
      {% endif %}
      {{ page.content }}
      {% if page.defendsindex %}
        {% include 'defends.html'%}
      {% endif %}
      <br>
      {% if page.defends %}
        {% for defendspage in pages if defendspage.defends and defendspage.category == page.category %}
          {% if defendspage.slug == page.slug and (loop.previtem != undefined or loop.nextitem != undefined) %}
            <div class="article-nav">
              <div class="prev-article">
                {% if loop.previtem != undefined %}<a href="../../../{{ loop.previtem.slug }}">&lt;&nbsp;{{ loop.previtem.title }}</a>
                {% endif %}
              </div>
              <div class="next-article">
                {% if loop.nextitem != undefined %}<a href="../../../{{ loop.nextitem.slug }}">{{ loop.nextitem.title }}&nbsp;&gt;</a>
                {% endif %}
              </div>
            </div>
            <br>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if page.toc %}
        {% assets filters="uglifyjs", output="static/js/toc.min.js", "js/toc.js" %}
          <script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
      {% endassets %}
      {% endif %}
      {% if DISQUS_SITENAME and SITEURL and   page.defends %}
        <hr class="hrcoments">
        <div class="comments">
          <h3>{{ gettext('Page-disqus-sect') }}</h3>
          <div id="disqus_thread"></div>
          {% if DEFAULT_LANG == "es" %}
            <script type="text/javascript">
              var disqus_config = function () {
                this.page.identifier = "{{ page.slug }}";
                this.page.url = "{{ SITEURL }}/{{ page.url }}";
                this.language = "es_AR";
              };
              (function() {
                var d = document, dsq = d.createElement('script');
                dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                dsq.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(dsq);
              })();
            </script>
          {% elif DEFAULT_LANG == "en" %}
            <script type="text/javascript">
              var disqus_config = function () {
                this.page.identifier = "{{ page.slug }}";
                this.page.url = "{{ SITEURL }}/{{ page.url }}";
              };
              (function() {
                var d = document, dsq = d.createElement('script');
                dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                dsq.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(dsq);
              })();
            </script>
          {% endif %}
        </div>
        <script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
      {% endif %}
      {% if page.rules or page.defends %}
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "{{ page.title }}",
            "author": "{{ AUTHOR }}",
            "publisher": [{
              "@type": "Organization",
              "name": "{{ AUTHOR}}",
              "logo": "{{ SITEURL }}/theme/images/fluid-logo.png"
            }],
            "mainEntityOfPage": "{{ SITEURL }}/{{ page.url }}"
          }
        </script>
      {% endif %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{ SITEURL }}/",
              "name": "{{ gettext('Breadcrumb-0') }}"
            }
        {% if page.defends %}
          },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ SITEURL }}/defends/",
              "name": "Defends"
            }
          },{
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "{{ SITEURL }}/defends/#{{ page.category.name }}/",
              "name": "{{ page.category|capitalize }}"
            }
        {% elif "misc" not in page.category.name %}
          {% if page.category2 %}
          },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ SITEURL }}/{{ page.category.name }}/",
              "name": "{{ page.category|capitalize }}"
            }
          },{
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "{{ SITEURL }}//{{ page.category.name }}/{{ page.category2 }}/",
              "name": "{{ page.category2|capitalize }}/"
            }
          {% else %}
          },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ SITEURL }}/{{ page.category.name }}/",
              "name": "{{ page.category|capitalize }}"
            }
          {% endif %}
        {% endif %}
          }]
        }
      </script>
    </article>
  </div>
{% endblock content %}
