{% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
    <!-- Pager -->
    <ul class="pager">
        <li class="next">
            {% if articles_page.has_previous() %}
                <a href="{{ articles_previous_page.url }}"> &larr; {{ gettext('Previous') }}</a>
            {% endif %}
            {% if articles_page.has_next() %}
                <a href="{{ articles_next_page.url }}">{{ gettext('Next') }} &rarr;</a>
            {% endif %}
        </li>
    </ul>
    {{ gettext('Page') }} {{ articles_page.number }} {{ gettext('of') }} {{ articles_paginator.num_pages }}<br/>
    <br/>
{% endif %}
