{% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
  <!-- Pager -->
    <ul class="pager">
      <li class="next di">
        {% if articles_page.has_previous() %}
          <a href="{{ SITEURL }}/{{ articles_previous_page.url }} " class="c-fluid-red montsy hv-fluid-bk">&lt; {{ gettext('Pagination-prev') }}</a>
        {% endif %}
        {% for page_num in range(articles_paginator.num_pages) %}
          {% if loop.first %}
            <a href='{{ SITEURL }}/blog/index.html' class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-red montsy hv-fluid-bk ">{{ page_num + 1 }}</a>
          {% else %}
            <a href='{{ SITEURL }}/blog/index{{ page_num + 1 }}.html' class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-red montsy hv-fluid-bk">{{ page_num + 1 }}</a>
          {% endif %}
        {% endfor %}
        {% if articles_page.has_next() %}
          <a href="{{ SITEURL }}/{{ articles_next_page.url }} " class="c-fluid-red montsy hv-fluid-bk" >{{ gettext('Pagination-nxt') }} &gt;</a>
        {% endif %}
      </li>
    </ul>
    <br/>
{% endif %}
