{% extends "base.html" %}

{% block meta %}
<meta name="description"
      content="{{ page.description }}">
<meta name="keywords"
      content="{{ page.keywords }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
  <div class="pv0 ph2 shadow-4">
    <!-- navcontent-info -->
    <div class="df ma-auto">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100 ma-auto">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>Home</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">&nbsp;{{ page.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}

{% block canonical %}
  <link rel="canonical"
        href="{{ SITEURL }}/{{ page.url }}">
{% endblock canonical %}

{% block content %}
  <article class="ma-auto tl mw8 pb4">
    <h1 class="tc pb3">
      {{ page.title }}
    </h1>
    <div class="expall hover-bg-light-gray flex">
      <h3 class="w-90">Expand all</h3>
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg"
           alt="Fluid Arrow">
    </div>
    <div class="collall hover-bg-light-gray flex">
      <h3 class="w-90 dn">Collapse all</h3>
      <img class="dn" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg"
           alt="Fluid Arrow">
    </div>
    {% set categorder = ["credentials", "authentication", "authorization", "session", "privacy", "data", "source", "system", "files", "logs", "emails", "services", "certificates", "cryptography", "architecture", "networks", "virtualization", "mobile", "social"] %}
    {% for categ in categorder %}
      <div class="rulescat hover-bg-light-gray flex">
        <h3 class="w-90">{{ categ |replace('-', ' ') | capitalize }}</h3>
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow.svg"
             alt="Fluid Arrow">
      </div>
      <div class="ruleslist dn">
      {% for ruleart in pages if ruleart.rules and not ruleart.extended and ruleart.category == categ %}
        <ul class="pl4">
           <li>
             <a class="f4 montsy"
                href="../{{ ruleart.slug }}">
                {{ ruleart.title }}
             </a><br>
           </li>
         </ul>
      {% endfor %}
      </div>
    {% endfor %}
    {% assets output="static/js/rules.min.js", "js/tmp/rules.min.js" %}
      <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    {% endassets %}
    <p class="pt4"> Looking for more security checks? Take a look at our
      <button class="bg-fluid-red white br3 pointer montsy f4 b pt2 pb2 pl2 pr2"
              onclick="window.location.href='{{ SITEURL }}/rules/out-of-scope/'" >
                Out of Scope Security Rules
      </button>
    </p>
  </article>
{% endblock content %}
