{% extends "base.html" %}

{% block meta %}
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
{% endblock canonical %}

{% block breadcrumb%}
  <div class="navcontent-container">
    <div class="navcontent-info">
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="{{ SITEURL }}/"><strong>{{ gettext('Breadcrumb-0') }}
            </strong>&nbsp;</a>
            <span>&gt;</span>
          </li>
          <li>
            <a href="a">&nbsp;{{ page.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
{% block content %}
  <div class="divpage">
    <article>
      <h1>{{ page.title }}</h1>
        {{ page.content }}
        <br/>
        <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"
          method="POST" onsubmit="return validateForm()" class="salesforce">
          <input type=hidden name="oid" value="00D1I000001dGP6"/>
          <input type=hidden name="retURL" value="https://fluidattacks.com"/>
          <label for="first_name" class="form-label">First Name:</label>
          <input  id="first_name" maxlength="40" name="first_name" size="20" type="text" class="form-input"/><br>
          <label for="last_name" class=form-label> Last Name:</label>
          <input  id="last_name" maxlength="40" name="last_name" size="20" type="text" class="form-input"/><br>
          <label for="email" class="form-label">
            {{ gettext('Form-field-2') }}</label>
          <input  id="email" maxlength="80" name="email" size="20" type="text"
            class="form-input" required />
          <br>
          <input id="country" maxlength="40" name="country" size="20"
            type="hidden" value=""/>
          <label for="mobile" class="form-label">
            {{ gettext('Form-field-3')}}</label>
          <input  id="mobile" maxlength="40" name="local_mobile" size="20"
            type="text" class="form-input" required >
          <span id="valid-msg" class="intl-valid hide">
            {{ gettext('Form-number-valid') }}</span>
          <span id="error-msg" class="intl-error  hide">
            {{ gettext('Form-number-not-valid') }}</span>
          {% assets filters="uglifyjs", output="static/js/intlTelInput.min.js", "/app/node_modules/intl-tel-input/build/js/intlTelInput.js" %}
            <script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
          {% endassets %}
          {% assets filters="uglifyjs", output="static/js/form.min.js", "js/form.js" %}
              <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
          {% endassets %}
          <br>
          <label for="Subject" class="form-label">
            {{ gettext('Form-field-4') }}</label>
          <select  id="00N1I00000NEIK7" name="00N1I00000NEIK7" title="Necesidad"
            class="form-input" onchange="selectedValue()" required>
            <option value=""></option>
            <option value="Quiero una propuesta de servicios">
              {{ gettext('Form-field-5') }}</option>
            <option value="Estoy buscando trabajo">
              {{ gettext('Form-field-6') }}</option>
            <option value="Otro">{{ gettext('Form-field-7') }}</option>
          </select>
          <br>
          <script type="text/javascript">
            function selectedValue() {
              var opt = document.getElementById("00N1I00000NEIK7");
              var sel = opt.options[opt.selectedIndex].value;
              var poi = document.getElementById("poi")
              var selpoi = document.getElementById("00N1I00000Lfv4l")
              if (sel != "Quiero una propuesta de servicios"){
                poi.style.display="none";
                selpoi.style.display="none";
              }
              else {
                poi.style.display="block";
                selpoi.style.display="block";
              }
            }
          </script>
          <label id="poi" class="form-label hidden">Products of Interest:</label>
          <select  id="00N1I00000Lfv4l" name="00N1I00000Lfv4l" title="Producto de interes" class="form-input hidden">
            <option value="">--None--</option><option value="Indeterminado">Undetermined</option>
            <option value="Puntual">One-Shot Hacking</option>
            <option value="Continuas">Continuous Hacking</option>
          </select>
          <span class="intl-error hide form-error">Please select an option</span>
          <br>
          <label>Message:</label><br>
          <textarea  id="00N1I00000O9iJ6" name="00N1I00000O9iJ6" wrap="soft" class="msg-field"></textarea><br>
          <br>
          <div class="form-button">
            <input type="submit" name="submit" class="form-submit"/>
          </div>
        </form>
      <br>
    </article>
  </div>
{% endblock content %}
