{% extends "base.html" %}

<!-- Tachyons stylesheet -->
<link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/{{ page.url }}">
{% endblock canonical %}

{% block breadcrumb%}
  <!-- navcontent-container -->
  <div class="pv0 ph2 shadow-4">
    <!-- navcontent-info -->
    <div class="df ma-auto">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100 ma-auto">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>{{ gettext('Breadcrumb-0') }}</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">&nbsp;{{ page.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
{% block content %}
  <div class="divpage">
    <article class="ma-auto tl mw7">
      <h1 class="tc">{{ page.title }}</h1>
        <p class="tc">{{ gettext('contact-text') }}</p>
        <br/>
        <script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
        <script>
          function timestamp() {
            var response = document.getElementById("g-recaptcha-response");
            if (response == null || response.value.trim() == "") {
              var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());
              document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems);
            }
          }
          setInterval(timestamp, 500);
        </script>
        <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"
              method="POST"
              onsubmit="return validateForm()"
              class="salesforce">
          <input type=hidden
                 name='captcha_settings'
                 value='{"keyname":"Fluidattacks","fallback":"true","orgId":"00D1I000001dGP6","ts":""}'>
          <input type=hidden
                 name="oid"
                 value="00D1I000001dGP6"/>
          <input type=hidden
                 name="retURL"
                 value="{{ SITEURL }}/{{ gettext('Footer-link-1.6') }}/{{ gettext('Ack-page') }}/"/>
          <div class="w-100 w-50-l fl pr2">
            <label for="first_name"
                   class="form-label">
                   First Name:
            </label>
            <input  id="first_name"
                    maxlength="40"
                    name="first_name"
                    size="20"
                    type="text"
                    class="form-input"
                    required /><br>
          </div>
          <div class="w-100 w-50-l fl">
            <label for="last_name"
                   class=form-label>
                   Last Name:
            </label>
            <input  id="last_name"
                    maxlength="40"
                    name="last_name"
                    size="20"
                    type="text"
                    class="form-input"
                    required /><br>
          </div>
          <div class="w-100 w-50-l fl pr2 pb3">
            <label for="email"
                   class="form-label">
                   {{ gettext('Form-field-2') }}
            </label>
              <input  id="email"
                      maxlength="80"
                      name="email"
                      size="20"
                      type="text"
                      class="form-input"
                      required />
          </div>
          <div class="w-100 w-50-l fl pb3">
            <input id="country"
                   maxlength="40"
                   name="country"
                   size="20"
                   type="hidden"
                   value="">
            <label for="mobile"
                   class="form-label">
                   {{ gettext('Form-field-3')}}
            </label>
              <input  id="mobile"
                      maxlength="40"
                      name="local_mobile"
                      size="20"
                      type="text"
                      class="form-input"
                      required />
              <span id="valid-msg"
                    class="intl-valid hide">
              {{ gettext('Form-number-valid') }}</span>
              <span id="error-msg"
                    class="intl-error  hide">
              {{ gettext('Form-number-not-valid') }}</span>
          </div>
          {% assets filters="uglifyjs", output="static/js/intlTelInput.min.js", "/app/node_modules/intl-tel-input/build/js/intlTelInput.js" %}
            <script type="text/javascript"
                    src="{{ SITEURL }}/{{ ASSET_URL }}">
            </script>
          {% endassets %}
          {% assets filters="uglifyjs", output="static/js/form.min.js", "js/form.js" %}
              <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
          {% endassets %}
          <label for="Subject"
                 class="form-label tc">
                 {{ gettext('Form-field-4') }}
          </label>
          <select  id="00N1I00000NEIK7"
                   name="00N1I00000NEIK7"
                   title="Necesidad"
                   class="form-input"
                   onchange="selectedValue()"
                   required>
            <option value=""></option>
            <option value="Quiero una propuesta de servicios">
              {{ gettext('Form-field-5') }}</option>
            <option value="Estoy buscando trabajo">
              {{ gettext('Form-field-6') }}</option>
          </select>
          <br>
          <script type="text/javascript">
            function selectedValue() {
              var opt = document.getElementById("00N1I00000NEIK7");
              var sel = opt.options[opt.selectedIndex].value;
              var poi = document.getElementById("poi")
              var selpoi = document.getElementById("00N1I00000Lfv4l")
              if (sel != "Quiero una propuesta de servicios"){
                poi.style.display="none";
                selpoi.style.display="none";
              }
              else {
                poi.style.display="block";
                selpoi.style.display="block";
              }
            }
          </script>
          <label id="poi"
                 class="form-label hidden">
                 Products of Interest:
          </label>
          <select  id="00N1I00000Lfv4l"
                   name="00N1I00000Lfv4l"
                   title="Producto de interes"
                   class="form-input hidden">
            <option value="Indeterminado">
                    Undetermined
            </option>
            <option value="Puntual">
                    One-Shot Hacking
            </option>
            <option value="Continuas">
                    Continuous Hacking
            </option>
          </select>
          <span class="intl-error hide form-error">
                Please select an option
          </span>
          <br>
          <label>Message:</label><br>
          <textarea  id="00N1I00000O9iJ6"
                     name="00N1I00000O9iJ6"
                     wrap="soft"
                     class="msg-field">
          </textarea><br>
          <br>
          <script src="https://www.google.com/recaptcha/api.js?hl=en"
                  async
                  defer>
          </script>
          <div class="g-recaptcha"
               data-sitekey="6LduWqYUAAAAAArX5eMR9xBwFuQK291lVGoXfHHA"></div>
          <br>
          <div class="form-button">
            <input type="submit"
                   name="submit"
                   class="form-submit"
                   value="Send"/>
          </div>
        </form>
      <br>
    </article>
  </div>
{% endblock content %}
