{% extends "index.html" %}
{% block title %}{{ gettext('Search') }} | {{ SITENAME }}{% endblock %}

{% block meta %}
  <meta name="keywords" content="{{ gettext('This page shows the results of the requested search. It lists links to all the pages that contain the string searched. If the string was not found, no articles will be listed, try browsing using the menu or the footer') }}.">
  <meta name="description" content="{{ gettext('Results, Search, Pages, String, Links, Request') }}">
{% endblock meta %}

{% block language %}
  {% if DEFAULT_LANG == "en" %}
    <link rel="alternate" href="{{ SITEURL }}/search.html" hreflang="en-us" />
    <link rel="alternate" href="{{ SUBSITEURL }}/search.html" hreflang="es" />
  {% else %}
    <link rel="alternate" href="{{ SITEURL }}/search.html" hreflang="es" />
    <link rel="alternate" href="{{ SUBSITEURL }}/search.html" hreflang="en-us" />
  {% endif %}
{% endblock language %}

{% block header %}
  <!-- Search PLugin -->
  {% assets filters="uglifyjs", output="static/js/tipuesearch.min.js", "/app/js/tipuesearch/tipuesearch.js", "/app/js/tipuesearch/tipuesearch_set.js" %}
    <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
  {% endassets%}
  <!-- Page Header -->
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="Young hacker smiling"></a>
  {% endif %}   
  </header>
{% endblock header %}

{% block content %}
  <div class="divpage">
    <article>
      <div class="breadcrumbs">
        <ul>
          <li><a href="{{ SITEURL }}/">{{ gettext('Home') }}</a></li>
        </ul>
      </div>
      <div id="tipue_search_content"></div>
    </article>
  </div>
  <script>  
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'show': 10,
        'mode': 'json',
        'contentLocation': '{{ SITEURL }}/tipuesearch_content.json',
        'descriptiveWords': '50',
      });
    });
  </script>
{% endblock %}
