{% extends "index.html" %}

{% block meta %}
  <meta name="description" content="{{ gettext('Search-metadescription') }}.">
  <meta name="keywords" content="{{ gettext('Search-keywords') }}">
{% endblock meta %}

{% block title %}{{ gettext('Search-title') }} | {{ SITENAME }}{% endblock %}

{% block language %}
  {% if DEFAULT_LANG == "en" %}
    <link rel="alternate" href="{{ SITEURL }}/search.html" hreflang="en-us" />
    <link rel="alternate" href="{{ SUBSITEURL }}/search.html" hreflang="es" />
  {% elif DEFAULT_LANG == "es" %}
    <link rel="alternate" href="{{ SITEURL }}/search.html" hreflang="es" />
    <link rel="alternate" href="{{ SUBSITEURL }}/search.html" hreflang="en-us" />
  {% endif %}
{% endblock language %}

{% block content %}
  <div class="divpage">
    <article>
      <div class="nav-info">
        <div class="breadcrumbs">
          <ul>
            <li><a href="{{ SITEURL }}/">{{ gettext('Breadcrumb-0') }}</a></li>
          </ul>
        </div>
      </div>
      <div id="tipue_search_content"></div>
    </article>
  </div>
  <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'show': 10,
        'mode': 'json',
        'contentLocation': '{{ SITEURL }}/tipuesearch_content.json',
        'descriptiveWords': '50',
      });
    });
  </script>
{% endblock %}
