{% extends "index.html" %}

{% block meta %}
  <meta name="description" content="{{ gettext('Tag-metadescription-1') }} {{ tag|capitalize }}. {{ gettext('Tag-metadescription-2') }}.">
  <meta name="keywords" content="{{ gettext('Tag-keywords') }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if tag.name|length < 20 %}
{{ gettext('Tag-title') }} {{ tag|capitalize }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ gettext('Tag-title') }} {{ tag|capitalize }} | {{ AUTHOR }}
  {% endif %}
{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ tag.url }}">{% endblock canonical %}

{% block language %}
  {% if DEFAULT_LANG == "en" %}
    <link rel="alternate" href="{{ SITEURL }}/{{ tag.url }}" hreflang="en-us" />
    <link rel="alternate" href="{{ SUBSITEURL }}/blog/etiquetas/{{ tag }}/" hreflang="es" />
  {% elif DEFAULT_LANG == "es" %}
    <link rel="alternate" href="{{ SITEURL }}/{{ tag.url }}" hreflang="es" />
    <link rel="alternate" href="{{ SUBSITEURL }}/blog/tags/{{ tag }}/" hreflang="en-us" />
  {% endif %}
{% endblock language %}

{% block header %}
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png');" >-->
    <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-{{ DEFAULT_LANG }}.png" alt="{{ gettext('Header-img-alt') }}"></a>
  {% endif %}
  </header>
  <div class="list-title">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <div class="nav-info">
            <div class="breadcrumbs">
              <ul>
                <li><a href="{{ SITEURL }}/">{{ gettext('Breadcrumb-0') }} >>&nbsp;</a></li>
                <li><a href="{{ SITEURL }}/blog/">Blog >>&nbsp;</a></li>
                <li><a href="../">{{ gettext('Tag-breadcrumb-1') }}</a></li>
              </ul>
            </div>
          </div>
          <h1>{{ tag }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}
