{% extends "index.html" %}

{% block meta %}
  <meta name="keywords" content="TODO">
  <meta name="description" content="TODO">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if tag.name|length < 25 %}
{{ gettext('Tag') }} {{ tag }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% else %}
    {% if tag.name|length < 11 %}
{{ gettext('Tag') }} {{ tag }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ gettext('Tag') }} {{ tag }} | FLUID
  {% endif %}
{% endblock %}

{% block header %}
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
    <a href="../../"><img src="../../{{ THEME_STATIC_DIR }}/images/fluid.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
  <div class="list-title">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <div class="breadcrumbs">
            <ul>
              <li><a href="../../">{{ gettext('Home') }}</a></li>
              <li><a href="../">{{ gettext('Tags') }}</a></li>
              <li><a href="./#">{{ tag }}</a></li>
            </ul>
          </div>
          <h1>{{ tag }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}
