{% extends "index.html" %}

{% block meta %}
  <meta name="description"
        content="{{ gettext('Tag-metadescription-1') }} {{ tag|capitalize }}. {{ gettext('Tag-metadescription-2') }}.">
  <meta name="keywords"
        content="{{ gettext('Tag-keywords') }}">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if tag.name|length < 20 %}
{{ tag|capitalize }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ tag|capitalize }} | {{ AUTHOR }}
  {% endif %}
{% endblock %}

{% block canonical %}
  <link rel="canonical"
        href="{{ SITEURL }}/blog/">
{% endblock canonical %}

{% block breadcrumb %}
  <div class="navcontent-container">
    <div class="navcontent-info">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>{{ gettext('Breadcrumb-0') }}</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/blog/">
              &nbsp;<strong>Blog</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="../">
              &nbsp;<strong>{{ gettext('Tag-breadcrumb-1') }}</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">&nbsp;{{ tag }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
