{% extends "base.html" %}

{% block meta %}
  <meta name="keywords" content="TODO">
  <meta name="description" content="TODO">
{% endblock meta %}

{% block title %}{{ gettext('Tags') }} | {{ SITENAME }}{% endblock %}

{% block header %}
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
    <a href="../"><img src="../{{ THEME_STATIC_DIR }}/images/fluid.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
{% endblock header %}

{% block content %}
  <div class="divpage">
    <article>
      <div class="breadcrumbs">
        <ul>
          <li><a href="../">{{ gettext('Home') }}</a></li>
          <li><a href="./#">{{ gettext('Tags') }}</a></li>
        </ul>
      </div>
      <h1>{{ gettext('Tags') }}:</h1>
      <div class="preamble">
        <ul class="tagcloud">
          {% for tag in tag_cloud %}
            <li class="tag-{{ tag.1 }}">
              <a href="{{ SITEURL }}/{{ tag.0.url }}">
                {{ tag.0 }}
                {% if TAG_CLOUD_BADGE %}
                  <span class="badge">{{ tag.2 }}</span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </article>
  </div>
{% endblock content %}
