{% extends "base.html" %}

{% block title %}{{ gettext('Tags') }} | {{ SITENAME }}{% endblock %}

{% block header %}
  {% include "navigationbar.html" %}
  {% if HEADER_COVER %}
    <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
  {% elif HEADER_COLOR %}
    <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
  {% else %}
    <header class="intro-header"> <!--style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid.png');" >-->
    <a href="../{{ DEFAULT_LANG }}/"><img src="{{ THEME_STATIC_DIR }}/images/fluid.png" alt="{{ gettext('Young hacker smiling') }}"></a>
  {% endif %}   
  </header>
{% endblock header %}

{% block content %}
  <div class="divpage">
    <article>
      <h1>{{ gettext('Tags') }}:</h1>
      <div class="preamble">
        <div class="itemlist">
          <ul>
            {%- for tag, articles in tags|sort %}
              <li>
                <a href="{{ tag.url }}">
                  <p>{{ tag }} ({{ articles|count }})</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </article>
  </div>
{% endblock content %}
