{% extends "base.html" %}

{% block meta %}
  <meta name="description"
        content="{{ gettext('Tags-metadescrition') }}">
  <meta name="keywords"
        content="{{ gettext('Tags-keywords') }}">
{% endblock meta %}

{% block title %}{{ gettext('Tags-title') }} | {{ SITENAME }}{% endblock %}

{% block canonical %}
  <link rel="canonical"
       href="{{ SITEURL }}/blog/">
{% endblock canonical %}

{% block breadcrumb%}
  <!-- navcontent-container -->
  <div class="pv0 ph2 shadow-4">
    <!-- navcontent-info -->
    <div class="df ma-auto">
      <div class="montsy f6-l f7 tl ttc w-70-l w-100 ma-auto">
        <ul class="dib list w-100">
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/">
              <strong>{{ gettext('Breadcrumb-0') }}</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href="{{ SITEURL }}/blog/">
              &nbsp;<strong>Blog</strong>&nbsp;
            </a>
            <span class="c-fluid-red v-mid b">&gt;</span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-bk hv-fluid-dkred"
               href=".">&nbsp;{{ gettext('Tag-breadcrumb-1') }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}
{% block content %}
  <div class="divpage">
    <article class="ma-auto tl mw7">
      <h1 class="tc">{{ gettext('Tags-header') }}:</h1>
      <div class="preamble">
        <ul class="tagcloud">
          {% for tag in tag_cloud %}
            <li class="tag-{{ tag.1 }}">
              <a href="{{ SITEURL }}/{{ tag.0.url }}">
                {{ tag.0 }}
                {% if TAG_CLOUD_BADGE %}
                  <span class="badge">{{ tag.2 }}</span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </article>
  </div>
{% endblock content %}
